[2020-01-18 02:33] pigeonflight opened #4 "Refactor the code to use Provider"
Rationale:
Provider is a good solution for managing state

[2020-01-18 02:34] pigeonflight opened #5 "Notes on tasks don't persist"
![image](https://user-images.githubusercontent.com/31827/72657340-27cc2780-3971-11ea-9dc6-c03674e8d696.png)

[2020-01-18 02:46] pigeonflight opened #6 "Implement CI/CD for the repository"
We need to ensure that the repo has automated testing (we could look at codemagic https://codemagic.io/, since they allow open source projects for free)

[2020-01-18 02:47] pigeonflight commented on #6
- [ ] - implement automated tests
- [ ] - connect to codemagic

[2020-01-18 13:12] HowardJTJ opened #7 "Snackbar confirmation on forms needs to be addressed"
Users need to be informed as to the status of their form completion when registering, adding or modifying an activity/responsibility and any other use case

[2020-01-18 13:14] HowardJTJ opened #8 "Display user details on activities and responsibilities their assigned to"

[2020-01-18 13:15] HowardJTJ opened #9 "Complete user detail CRUD functionality"

[2020-01-18 13:16] HowardJTJ opened #10 "Re-implement protected routes and screens"
Users should have the correct authorization to view particular screens and data.

[2020-01-18 13:20] HowardJTJ opened #11 "UX | Rephrase running titles and headers"
Particular instances of the app may be a bit ambiguous to the user. This can be mitigated by having more informative titles and headings within various forms and even screens. Most notably, these concerns stem from:
- Add Activity Form
- Add Responsibility Form

[2020-01-18 13:21] HowardJTJ opened #12 "Implement user image upload"

[2020-01-18 13:24] HowardJTJ opened #13 "Refactor form widget implentation"
Forms should be extracted from the main page widget

[2020-01-18 13:28] #13 closed

[2020-01-18 13:31] HowardJTJ opened #14 "Start tracking back-end issues"
Currently, back-end specific issues and code are being tracked separately from the main application. Integrate the back-end into the current working repo

[2020-01-19 03:50] palisadoes opened #15 "App must gracefully fail if access to the API is interrupted"

[2020-01-19 03:51] palisadoes opened #16 "All data transferred between the app and API must be encrypted"

[2020-01-19 04:11] palisadoes opened #17 "Document how to install talawa (End user)"
Make the process visible in `read the docs`

[2020-01-19 04:12] palisadoes opened #18 "Document how to install talawa (Developer)"
Needs to include:

1. How to setup the API
2. How to install the IDE environment
3. How to execute code

[2020-01-19 04:14] #14 closed

[2020-01-20 15:44] palisadoes opened #19 "Automate installation for the end user"

[2020-01-20 16:16] palisadoes opened #20 "Integrate Socket Channels for Activities and their Notes"

[2020-01-20 16:18] palisadoes commented on #5
Depends on #20 and #4

[2020-01-20 16:20] palisadoes opened #21 "In-App notifications on Activity Notes"
Depends on #20

[2020-01-20 16:38] palisadoes commented on #8
Depends on #4

[2020-01-20 17:03] palisadoes opened #22 "Migrate Flutter APP to root directory"

[2020-01-21 18:18] #4 closed

[2020-01-23 14:19] HowardJTJ opened #23 "Allow users to only see activities their assigned to"

[2020-01-23 14:20] HowardJTJ opened #24 "Implement Groups"
-

[2020-03-27 11:44] pigeonflight opened #25 "Add timestamps to messages/notes"
This can be displayed similarly to the way Slack does it:

- Messages, displayed in groups by day
- Time displayed in the user's timezone
![image](https://user-images.githubusercontent.com/31827/77752818-4c3e2300-6ff6-11ea-8b3d-10a9d65de6bb.png)

[2020-03-27 11:45] pigeonflight opened #26 "Sync unsent messages"
Messages that are sent when there is not connection should be synced once a connection comes back.

[2020-03-27 11:45] pigeonflight opened #27 "Implement message notifications"
When a message is sent, all "members" of that "note" should be notified.

[2020-03-27 11:46] pigeonflight opened #28 "Navigate to user info from individual message"
It should be possible to navigate to a user's info when viewing an individual message.

[2020-04-06 17:17] Deandrew007 opened #29 "After creating an account you are not automatically logged in"

[2020-04-06 17:34] Deandrew007 commented on #12
Ideally, would you want the user uploading profile pic done from here?
![Screenshot_20200406-122833](https://user-images.githubusercontent.com/16479694/78587663-e2e2bf00-7802-11ea-8009-fad63fa5c127.png)

[2020-04-06 19:12] #5 closed

[2020-04-06 19:12] #7 closed

[2020-04-06 19:12] #9 closed

[2020-04-06 19:12] #10 closed

[2020-04-06 19:12] #11 closed

[2020-04-06 19:12] #15 closed

[2020-04-06 19:12] #17 closed

[2020-04-06 19:12] #18 closed

[2020-04-06 19:12] #19 closed

[2020-04-06 19:12] #20 closed

[2020-04-06 19:16] HowardJTJ commented on #12
Yes, currently, there is the user's first initial acting as a placeholder for a user's image. This also has to be handled on the back end as well in regards to caching and retrieving said images.

[2020-04-07 03:09] Deandrew007 opened #30 "cannot scroll the list of users in add activity, nor able to scroll outside to the Save details button"
I was stuck due to not being able to scroll the list of users in add activity or scroll outside of the listview to the Save details button

[2020-04-07 06:10] Deandrew007 commented on #30
I was stuck due to not being able to scroll the list of users in add activity or scroll outside of the listview to the Save details button
Wrapping the ListView.builder from add_activity_form.dart in a container and adding a height constraint fixed the issue.

[2020-04-17 02:54] palisadoes opened #31 "Check for connectivity on all requests"

[2020-04-17 02:54] palisadoes opened #32 "Display new notes on activities"
Created on behalf of David Bain

[2020-04-17 02:55] palisadoes opened #33 "Send media via notes"

[2020-04-17 02:55] palisadoes opened #34 "Relate notes to responsibilities"

[2020-04-17 02:55] palisadoes opened #35 "Revamp note UI"

[2020-05-11 02:18] Laurell876 opened #36 "Add users to activities after creating activity"

[2020-05-11 02:19] Laurell876 opened #37 "Notes screen stuck on spinner (loading widget)"
Error in console: no such table: Note

[2020-05-11 02:25] Laurell876 opened #38 "Responsibilities link not working in sidebar"

[2020-05-11 03:01] Laurell876 opened #39 "Search screen pops up instead of responsibility detail screen"
If you click on on a responsibility item on the roles and responsibilities page, a search screen pops up instead of a responsibility detail page

[2020-05-11 03:03] Laurell876 opened #40 "No option to delete responsibility"

[2020-05-11 03:08] Laurell876 opened #41 "Display user names instead of email addresses on add activity screen"

[2020-05-24 20:57] Deandrew007 opened #42 "Sign up Screen"
Create/Modify Screen and functionality to validate and verify user sign up

[2020-05-24 20:58] Deandrew007 opened #43 "User Login Screen"
Create/Modify Screen and functionality to validate and verify user login

[2020-05-24 21:00] Deandrew007 opened #44 "Join existing organization"
Allow users to join an organization upon sign up by displaying existing organizations for users to select from

[2020-05-24 21:01] Deandrew007 opened #45 "Create Organization"
Create/modify screen and functionality to allow users to create an organization upon sign up

[2020-05-24 21:04] Deandrew007 opened #46 "Switching organizations"
Screen and functionality that allows users to switch between organization. Allow users to switch organization(s). Users should be able to switch between all the organizations they have joined

[2020-05-24 21:06] Deandrew007 opened #47 "Populate app with data regarding organization selected"
Changing the data in the app regarding the organization selected ie Main feed, events, groups etc.

[2020-05-24 21:10] Deandrew007 opened #48 "Joining new organization or create even after user registration process"
Ability to join new organization or create. (Users should have access to this even after gone through registration process)

[2020-05-24 21:12] Deandrew007 opened #49 "Allow an Organizational Creator admin to add an organizational admin"
Screen and functionality for an Organizational Creator Admin to add an organizational admin

[2020-05-24 21:13] Deandrew007 opened #50 "Allow Organizational Creator Admin to remove an organizational admin"
Screen and functionality for an Organizational Creator Admin to remove an organizational admin

[2020-05-24 23:09] Deandrew007 opened #51 "Allow an Organizational creator admin to delete an organization"
Screen and functionality for an OCA to delete an organization

[2020-05-24 23:12] Deandrew007 opened #52 "allow admins to accept or decline requests to join organizations"
Screen and functionality to allow admins to accept or decline requests to join organizations

[2020-05-24 23:13] Deandrew007 opened #53 "allow admins to remove group chats"
Screen and functionality allowing admins to remove group chats

[2020-05-24 23:14] Deandrew007 opened #54 "functionality for admins to remove events"
3.	Screen and functionality for admins to remove events

[2020-05-24 23:16] Deandrew007 opened #55 "functionality allowing admins to remove posts"
Screen and functionality allowing admins to remove posts

[2020-05-24 23:17] Deandrew007 opened #56 "allow admins to remove members from the organization"
Screen and functionality that allows admins to remove members from the organization

[2020-06-16 05:31] #42 closed

[2020-06-16 05:31] #43 closed

[2020-07-24 17:36] #44 closed

[2020-07-24 17:36] #45 closed

[2020-08-07 23:44] #46 closed

[2020-08-07 23:44] #47 closed

[2020-08-07 23:44] #48 closed

[2020-08-12 22:06] #51 closed

[2020-08-16 18:38] #52 closed

[2020-09-02 02:39] #56 closed

[2020-09-07 04:56] palisadoes opened #70 "Update contributors"

[2020-09-23 14:37] #29 closed

[2020-09-23 14:37] #30 closed

[2020-09-23 14:37] #49 closed

[2020-09-23 14:38] #50 closed

[2020-09-23 14:38] #54 closed

[2020-09-23 14:38] #55 closed

[2020-09-23 14:39] #53 closed

[2020-09-23 14:43] #6 closed

[2020-09-23 14:43] #8 closed

[2020-09-23 14:43] #12 closed

[2020-09-23 14:43] #16 closed

[2020-09-23 14:43] #21 closed

[2020-09-23 14:43] #22 closed

[2020-09-23 14:43] #23 closed

[2020-09-23 14:43] #24 closed

[2020-09-23 14:43] #25 closed

[2020-09-23 14:43] #27 closed

[2020-09-23 14:43] #31 closed

[2020-09-23 14:43] #32 closed

[2020-09-23 14:43] #33 closed

[2020-09-23 14:43] #35 closed

[2020-09-23 14:43] #36 closed

[2020-09-23 14:43] #37 closed

[2020-09-23 14:43] #38 closed

[2020-09-23 14:43] #39 closed

[2020-09-23 14:43] #40 closed

[2020-09-23 14:43] #41 closed

[2020-09-23 14:43] #70 closed

[2020-09-23 15:18] Deandrew007 opened #72 "user should be allowed to search for the organization first thing upon opening the app"

[2020-09-23 15:19] Deandrew007 opened #73 "the api is then switched to the url being used based on the url of the organization"

[2020-09-23 15:32] Deandrew007 opened #74 "user creates an account for that org or log into an existing"

[2020-09-23 15:35] Deandrew007 opened #75 "user is navigated to the homepage of the app with the data for the org, as per usual"

[2021-03-09 19:09] pratikbaid3 opened #76 "Migrate packages and refactor code for flutter 2"
Currently some of the packages do not support null safety and also flutter has deprecated the use of RaisedButton. I'd like to work on fixing these issues so the it is compatible with flutter 2.

[2021-03-09 20:07] i-anuragmishra opened #77 "App has Depreciated member 'showSnackBar' and Non Responsive API ."
The app contains many **Depreciated members and API** which needs to be replaced as they are depreciated and no longer supported in flutter. i would like to work on this @palisadoes @Deandrew007 . Can you assign me this issue.

[2021-03-10 02:38] arteevraina opened #81 "Add workflow for CI / CD using Github Actions."
Adding CI / CD workflow will help to improve the code quality in the future and will help to keep the code consistent.
If this issue is approved, I would like to work on this.

[2021-03-10 06:42] sssash18 opened #83 "Not able to login in app"
While completing the registration process in a correct manner , a unhandled exception toast appears.Here is the video:

https://user-images.githubusercontent.com/57896905/110587420-ad282200-8199-11eb-96e1-890b9706c1af.mp4

[2021-03-10 08:38] Bhavay192 commented on #72
Hey @Laurell876 , I would like to work on this issue , Can u please help me with it .

[2021-03-10 13:18] i-anuragmishra commented on #77
The issue also mentions the Dedicated and non responsive API. which  #78 does not resolve so i think still need to wait for maintainers to comment.

[2021-03-10 13:22] i-anuragmishra commented on #83
hey @sssash18  does the flutter version you are using >2.0.1 . Coz some people might have error even in the build. Also , i guess this could be dues to some problem with the API(#77  ) that app uses.

[2021-03-10 13:32] Swayam221 commented on #83
I would like to work on this issue.

[2021-03-10 13:33] utkarshshendge commented on #83
@i-anuragmishra exactly, few files are missing. @sssash18 Could you please mention your flutter version.

[2021-03-10 13:49] sssash18 commented on #83
Its 1.22.6

[2021-03-10 13:54] i-anuragmishra commented on #83
yeah. i guessed so. Because app as some deprecated features which prevents it from building with flutter current stable SDK version (2.0.1). I request you ( @sssash18 ) to update your Flutter SDK to the same.

[2021-03-10 13:56] sssash18 commented on #83
Yeah sure, So that means first we have to resolve the depreciated features and also the exception occuring to something wrong from API side . Am I correct ?

[2021-03-10 13:57] Swayam221 opened #84 "Add a CONTRIBUTING.md File for the repository"
We can have a CONTRIBUTING.md file for this repository to outline the contributing guidelines that interested contributors should follow.
I would like to work on this issue.

[2021-03-10 13:59] Swayam221 opened #85 "Create Slack/discord etc. Channels for the repository"
Slack/discord channels etc. (on other platforms) for this repo can be created where fellow contributors and mentors can discuss ideas and interact about anything related to the project.

[2021-03-10 14:04] utkarshshendge opened #86 "[widgets/about_tile.dart] 'colors' property in FlutterLogo is now removed."
From official flutter [docs](https://flutter.dev/brand) ,"Don’t alter, distort, or modify the Flutter trademarks in any way. This includes varying the spelling of the “Flutter” name, or displaying the Flutter logo with color variations or unapproved visual elements."

Google changed their polices!
The constructor they're using had colors property in it, which is now removed.

[2021-03-10 14:09] MohitPatni0731 commented on #85
What will be the name of Discord Server or Slack Channel

[2021-03-10 14:27] cyber-venom003 commented on #85
@MohitPatni0731 I guess Palisadoes Foundation would work well.

[2021-03-10 14:42] MohitPatni0731 commented on #85
I have created the Discord Server . Let me know if you want to add any more channels.
Here is the link - https://discord.gg/6XjNFurP

[2021-03-10 15:21] sumitra19jha opened #89 "[pages/events/events.dart] onDaySelected property is missing Holiday List"
This is preventing my application from opening.
I am working on it.

[2021-03-10 15:28] Swayam221 opened #90 "Missing Dependency lipsum in pubspec.yaml file."
The file file views/pages/newsArticle.dart has imported lipsum as
import 'package:lipsum/lipsum.dart' as lipsum;
but the dependency for the same is missing in pubspec.yaml

[2021-03-10 15:40] Swayam221 opened #92 "Missing Files"
I have noticed the project is trying to import many files which are missing.
here is the list of the files I have noticed are missing:

1. model/activity.dart
2. resposibility.dart
3. view_models/vm_add_activity.dart
4. views/widgets/common-sacffold.dart
5. views/widgets/checkbox_user_title.dart
6. views/widgets/chat_message.dart
7. controllers/responsibilty_controller.dart
8. controllers/user-con

[2021-03-10 15:58] MohitPatni0731 commented on #85
Hey
I am not able to join the mailing list I don't know why, So can you send the invite link in the mailing list.
https://discord.gg/JUgwyeqQ

[2021-03-10 16:05] cyber-venom003 commented on #85
https://www.freelists.org/list/palisadoes

[2021-03-10 16:26] cyber-venom003 commented on #85
Your email account which you have used during registration.

[2021-03-10 16:43] utkarshshendge commented on #92
@Swayam221 Thanks for this.

[2021-03-10 18:17] sudo-vergil opened #94 "Everyone please maintain contributing etiquette."
### Please follow good contributing practices.
#### Create an issue first.
#### Before creating an PR see if an issue exists, and if someone is requesting to work on the issue.
#### Do not create a pull request if a similar PR is present.
#### Support each other, contribution taken as competition will not do any benefit to the organization as well as to contributors.

I can see that there are 2-3

[2021-03-11 00:08] infiniteoverflow opened #95 "Update .gitignore"
I completely understand this is a very basic contribution any developer can make. I just came across some directories in the repo such as .vscode which could be ignored next time a commit is made to the repo.

[2021-03-11 03:56] utkarshshendge commented on #94
Thanks for mentioning #87 @sudo-vergil .

[2021-03-11 05:11] jordanliu commented on #76
Hey @pratikbaid3, we definitely do plan on migrating to v2 but we first need to get talawa's current state stable enough before an upgrade.

[2021-03-11 05:12] jordanliu commented on #84
Hey @Swayam221, thank you for suggesting but we've created a PR #97 for this already.

[2021-03-11 05:12] #84 closed

[2021-03-11 05:14] jordanliu commented on #85
Hey @MohitPatni0731 @cyber-venom003 @Swayam221- we have a slack channel for Palisadoes, here's the invite link: https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-nk79xxlg-OxTdlrD7RLaswu8EO_Q5rg

[2021-03-11 05:14] #85 closed

[2021-03-11 05:53] #95 closed

[2021-03-11 06:08] infiniteoverflow opened #98 "Insecure HTTP not allowed by App"
Since we are using the URL: http://calico.palisadoes.org/talawa/, which uses an HTTP Connection, by default the app prevents using its services.

It returns an exception :
`ClientException: Unhandled Failure Bad state: Insecure HTTP is not allowed by platform: http://calico.palisadoes.org/talawa/`

I have a workaround for this using which we can ignore this error and use its services until we migr

[2021-03-11 06:37] sumitra19jha commented on #94
Sure @sudo-vergil. Will take care of that, from next time. I was more focused onDaySelected function in the PR but i will close this PR for now.

[2021-03-11 07:10] yasharth291 opened #99 "The UI of the app is great but needs some changes"
will you please consider me to so this and contribute for the talawa projects. i will change some minor differences in the app UI

[2021-03-11 07:18] yasharth291 opened #100 "Custom made Widgets are missing"
![Capture](https://user-images.githubusercontent.com/55004621/110750137-0a8aa480-8268-11eb-8927-76424c6e4e40.JPG)
here custom made Activity is missing

[2021-03-11 07:19] yasharth291 commented on #98
@jordanliu  may be i can help you with this by making a ssl certificate by openssl and converting the http server to https server

[2021-03-11 07:58] sumitra19jha opened #101 "Url entry TextFormField Enhancement"
https://user-images.githubusercontent.com/35868598/110753851-17f65d80-826d-11eb-8e0d-5a9cde837de8.mp4

A user opens the app and type the url. By mistake the user  entered the wrong url. Upon the modification of the url the URL Saved RaisedButton is not modifying accordingly to show the new Url entered is Saved.

[2021-03-11 08:24] yasharth291 commented on #99
i want to eagerly work on this

[2021-03-11 08:27] yasharth291 opened #102 "Table calendar not working"
![Capture](https://user-images.githubusercontent.com/55004621/110757702-b1c00980-8271-11eb-877c-b3cd31c37635.JPG)
as you can see the table calendar is not working i would like to work on it along with the change in the UI

[2021-03-11 08:29] yasharth291 opened #103 "[Enhancement] Not proper comments to understand the code"
I would like to work on it and make the project look more readable along with the changes in UI can you please assign me this

[2021-03-11 08:35] sumitra19jha opened #104 "No Response for non-existing Url"
### Description
No response from snackbar in case of non-existing(non-registered) url.
The exception has not been handled properly.

![Screenshot 2021-03-11 at 1 55 41 PM](https://user-images.githubusercontent.com/35868598/110758707-d36dc080-8272-11eb-91c1-4ad853a498fb.png)

### Steps to produce the Issue:
1. Open App.
2. Type any non-existing URL of your choice.
3. The Input will be accepted and

[2021-03-11 08:35] CoderMayhem opened #105 "SignUp error in mobile app(Code of 2020-Q4 branch)"
**Issue Description:**
In the registration screen when the user tries to sign up an error is thrown. Sometimes the app stops responding.

**Identified Errors**
There are two errors being thrown : one is a render overflow error and other is a `Unhandled Failure FormatException` .

**Screenshot**

https://user-images.githubusercontent.com/56952811/110758592-b0431100-8272-11eb-9959-8e1ca77e8839.mp4

[2021-03-11 08:41] sumitra19jha commented on #104
I would like to work on this issue.
https://user-images.githubusercontent.com/35868598/110759341-82aa9780-8273-11eb-9212-0d5e4afcbc58.mp4

[2021-03-11 08:42] sumitra19jha commented on #104
https://user-images.githubusercontent.com/35868598/110759604-cdc4aa80-8273-11eb-8a2b-faf7eb33aa9b.mp4

[2021-03-11 08:45] sumitra19jha commented on #102
Hi @yasharth291
This issue has already been addressed #89

[2021-03-11 08:47] yasharth291 commented on #102
oh ok

[2021-03-11 08:47] #102 closed

[2021-03-11 09:04] arteevraina commented on #81
@jordanliu Cool ! Sending a patch for this one :)

[2021-03-11 10:05] sumitra19jha commented on #101
Form is wrapping the textformfield widget which saves its content only during first click. After the first click the SetUrl Button Text is modified and prevent the form to get updated.
![Screenshot 2021-03-11 at 3 32 20 PM](https://user-images.githubusercontent.com/35868598/110770529-6d3b6a80-827f-11eb-9398-0da6fc98b426.png)

[2021-03-11 10:06] sumitra19jha commented on #101
I am working on this issue.

[2021-03-11 11:42] Swayam221 opened #108 "Not all paths return a String in controllers/auth_controllers login function"
I would like to work on this.

[2021-03-11 12:27] sumitra19jha commented on #99
Hi @yasharth291
I agree with you that the app Ui can be optimised further. Even I am also very excited in optimising the app. We can enhance both user interface and user experience. If it's ok with you, we can discuss here. Do let me know!!!

[2021-03-11 12:30] cyber-venom003 commented on #99
Hi @sumitra19jha and @yasharth291 . I'm also experienced in UI/UX optimisation, if it is okay, we can discuss this collaboratively over slack channels.

[2021-03-11 12:31] yasharth291 commented on #99
yeah we can but there is no response from the owners

[2021-03-11 12:42] i-anuragmishra commented on #77
Hey @jordanliu since i opened it and **the PR mentioned doesn't fixes it properly or is not made according to open source contribution guidelines. **
**can this issue be please assigned to me?**

[2021-03-11 12:48] sumitra19jha commented on #99
Hi, thats great.

As others members are not currently active on slack channel, i think it will be much better if we can discuss it here. Maybe some of the other fellow contributes mite also be interested in it and can put their thoughts here.

One of the thing that can be change is Create account and login button. I think that either we should make them invisible or use light colour button while t

[2021-03-11 12:49] sumitra19jha commented on #99
We can come up with a solution and then can ask them to put their suggestions.

[2021-03-11 12:49] yasharth291 commented on #99
but the project is not working because some files are missing

[2021-03-11 12:55] sumitra19jha commented on #99
@yasharth291
You can start working on the optimisation of login Page.
You might be facing issue with the opening of app because of the flutter logo issue.
You can refer to the PR of issue #86 to fix this

[2021-03-11 13:06] yasharth291 commented on #99
ok i will see it

[2021-03-11 13:08] yasharth291 commented on #99
we should connect on some of the platform

[2021-03-11 13:10] cyber-venom003 commented on #99
I guess, that discord server made by a contributor would work well?? Or we can connect together on a Slack group in same server.

[2021-03-11 13:13] yasharth291 commented on #99
yeah lets connect on slack

[2021-03-11 14:23] Swayam221 opened #109 "Switching from the login to the signup page while typing causes renderflex overflow (2020-Q4 branch)"
https://user-images.githubusercontent.com/68892315/110801103-e39d9400-82a2-11eb-8d15-b79accccdd8c.mp4

Notice the black and yellow lines near the keyboard, just as the witch is made.
![Films   TV 11-03-2021 19_52_25](https://user-images.githubusercontent.com/68892315/110801597-6aeb0780-82a3-11eb-92e9-5280a460f67e.png)

I would like to work on this issue. @jordanliu please assign it to me.

[2021-03-11 14:27] adithyaakrishna commented on #109
@Swayam221 Its the same on iOS too, and on different devices the overflow also changed
![image](https://user-images.githubusercontent.com/23498248/110802173-f369a800-82a3-11eb-9ef3-62aaab10b223.png)

[2021-03-11 14:33] Swayam221 commented on #109
@adithyaakrishna thanks for mentioning. I am working on it.

[2021-03-11 14:39] jordanliu commented on #98
@infiniteoverflow @yasharth291 we're working on this, the ssl cert should be up by tonight

[2021-03-11 14:39] #98 closed

[2021-03-11 14:39] i-anuragmishra opened #110 "Establishing a new branch with code refactored to current Stable version of Flutter. (2.0.1)"
I would like mentors to refactor the code of the app to new stable and supported version of flutter (2.0.1). So that people can work on the Bug fixing that will be. **Because fixing bug and creating issues on outdated version of flutter won't matter as some of them would be fixed when we migrate to newer verion.** I suggest to @heyjordn ,that it would be better that we create separate branch for t

[2021-03-11 14:45] jordanliu opened #111 "Code Stability"
Currently, talawa's codebase is unstable. We're actively working on it to be stable enough for contributions, we're aiming to have it stable by Saturday - March 13.

We appreciate all the feedback and effort to contribute!

[2021-03-11 14:46] jordanliu commented on #110
Hey @i-anuragmishra, please see #111

[2021-03-11 14:46] #110 closed

[2021-03-11 14:50] jordanliu commented on #99
@yasharth291 @sumitra19jha @cyber-venom003 For all those who are interested, please join our Slack - https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-nk79xxlg-OxTdlrD7RLaswu8EO_Q5rg and join the #talawa-design channel to contribute to the UI/UX of the app

[2021-03-11 14:50] #99 closed

[2021-03-11 14:50] jordanliu commented on #100
Duplicate of #92

[2021-03-11 14:50] #100 closed

[2021-03-11 14:54] Saibaba-Alapati commented on #111
Files missing. Pod install fails and android emulator clean exit

[2021-03-11 14:55] #94 closed

[2021-03-11 14:55] heyjordn commented on #75
Not enough details provided. Closing

[2021-03-11 14:55] #75 closed

[2021-03-11 14:56] #74 closed

[2021-03-11 15:11] yasharth291 commented on #103
can you please assign me this

[2021-03-11 15:15] yasharth291 commented on #103
@heyjordn @jordanliu

[2021-03-11 15:52] Swayam221 opened #112 "Keybaord doesnt dismiss automatically when navigating to a different page"
https://user-images.githubusercontent.com/68892315/110814673-adb2dc80-82af-11eb-9d8d-7840e37fc2be.mp4

we can see that the keyboard remains open and doesn't dismiss.
I would like to work on this.

[2021-03-11 17:40] yasharth291 opened #114 "Adding Contributing.md in the repository to remembers the contributors."

[2021-03-11 18:32] yasharth291 opened #116 "No option to autofill the given credentials in the login and signup page."

[2021-03-11 18:40] yasharth291 commented on #116
the pull request #117  is the pull request regarding this issue. Could you please review it.

[2021-03-11 18:42] yasharth291 commented on #114
pull request #115  is regarding this issue could you please review it.

[2021-03-11 21:15] AniketSindhu opened #118 "Textfield's icon and border not visible when out of focus due to background picture in register and login page."
<img src="https://user-images.githubusercontent.com/57598532/110855160-01d3b600-82dc-11eb-8f4a-3a447f5b1bc8.png" width="200">    &nbsp;   <img src="https://user-images.githubusercontent.com/57598532/110855200-0f893b80-82dc-11eb-8698-897aca1645de.png" width="200">

[2021-03-11 21:19] adithyaakrishna commented on #118
@AniketSindhu I guess this is related to #99
As the icons and background deal are a part of the whole UI

[2021-03-11 21:26] adithyaakrishna opened #119 "How about if we can add Social Media Authentication to the app?"
**Description:** Adding Social Media (Google/FB/Twitter) SignIn or SignUp for the application

**Why:** I would say adding this feature would simplify the whole SignUp & Login Process as we can get different parameters from the auth provider like UserName, Email, ProfilePic etc along with reducing the time for the SignIn/SignUp Process

If this Idea is approved, I would love to Implement the same

[2021-03-11 21:44] yasharth291 commented on #118
yeah i think @AniketSindhu  you can close your issue as it is duplicate of #99

[2021-03-11 21:46] AniketSindhu commented on #118
Where is that design channel ??

[2021-03-11 21:48] yasharth291 commented on #118
slack

[2021-03-11 21:48] sumitra19jha opened #120 "Documentation for Setting up the Project"
The documentation will explain how to integrate backend, to make sure app runs.

[2021-03-11 21:49] yasharth291 commented on #119
As the Project is under migration phase so adding some new feature should be avoided till then.

[2021-03-11 21:51] AniketSindhu commented on #118
yes i dont see the design channel there
![image](https://user-images.githubusercontent.com/57598532/110859794-fc796a00-82e1-11eb-8a70-3ecb02a01e0f.png)

[2021-03-11 21:51] yasharth291 commented on #120
its already done #18  see this please close it as it is duplicate

[2021-03-11 21:52] adithyaakrishna commented on #119
Yeah, that's totally understandable but I thought this would be a nice feature/enhancement which can be implemented in the future 👀

[2021-03-11 21:52] yasharth291 commented on #109
we should use `Media.Query( ) `  for the same

[2021-03-11 21:53] yasharth291 commented on #109
or we can use padding and margins according to the screen size

[2021-03-11 21:54] adithyaakrishna commented on #118
Click on add channel, you will get the option

[2021-03-11 21:54] yasharth291 commented on #119
yeah i think mentors will like it. But we don't have hosted backend for this i don't think its good to implement now.

[2021-03-11 21:57] yasharth291 opened #121 "Making the Docker Container for the project."
I think it is difficult for everyone to read documents and set system environment instead we can add the docker container in it.

[2021-03-11 21:57] sumitra19jha commented on #120
Actually, it's more sort of configuring backend and app together. Rather than app only.

[2021-03-11 21:58] sumitra19jha commented on #120
`Documentation for Setting up the Project

* Backend Setup
* Frontend Setup
* Url Entry

## Backend Setup

Go to [Talawa-Api Backend](https://github.com/PalisadoesFoundation/talawa-api) and follow the procedure to configure it on your system.
If you are running MongoDB locally on your system then only MONGO_DB env variable is necessary. You can also use the hosted instamce of mongodb using atlas b

[2021-03-11 21:58] yasharth291 commented on #120
see the #17  and #18

[2021-03-11 21:59] yasharth291 commented on #120
its both done

[2021-03-11 21:59] AniketSindhu commented on #118
thanks closing the issue

[2021-03-11 21:59] yasharth291 commented on #120
and if you are telling about the backend then this is not the right repo for this may be you can raise this issue in the api repo of talwa

[2021-03-11 22:01] sumitra19jha commented on #120
No i am saying that inorder for the app to communicate to the backend the configuration system is missing and most of our fellow contributors are actually facing this issue. Through this documentation, I just want to make sure their hurdle is removed so that they can contribute as much as possible.

[2021-03-11 22:04] yasharth291 commented on #120
yeah it is better to raise this issue in second repo of the talwa. As it is main concern of the backend. Things related to the frontend should be here. I guess.

[2021-03-11 22:04] yasharth291 commented on #120
https://github.com/PalisadoesFoundation/talawa-api

you can raise the same issue here it will be more important there

[2021-03-11 22:05] sumitra19jha commented on #120
Ok, i will raise one issue there too. But let it be here also as it would be easier for others to configure the app.

[2021-03-11 22:08] yasharth291 commented on #111
Some of the Widgets which are deprecated should be changed and i really really want to contribute for the same. Could you please assign me the same.

[2021-03-11 22:09] yasharth291 commented on #120
Letting it here is your choice. I was just giving advice.

[2021-03-11 22:34] yasharth291 commented on #121
#117  will do it along with the autofill option

[2021-03-12 03:58] cyber-venom003 commented on #119
@yasharth291 I guess API is deployed at following links:
[code]
This snippet was in 2020-Q4 branch in lib/Utils/globals.dart

[2021-03-12 04:45] cyber-venom003 commented on #119
This implementation would require much work on backend side i guess.

[2021-03-12 05:42] Swayam221 commented on #109
For now I have wrapped it in a single child scroll view widget. 😅

[2021-03-12 05:53] Swayam221 commented on #114
@yasharth291 I think PR #97 is related to this as well?

[2021-03-12 06:02] adithyaakrishna commented on #120
@sumitra19jha This is a great one, but can you create a discussion regarding the same if its okay with you?

[2021-03-12 06:43] #114 closed

[2021-03-12 06:44] yasharth291 commented on #119
not at all google signup facebook signup doesn't require the backend involvement

[2021-03-12 06:48] yasharth291 commented on #109
yeah but it will not work for the longer phones with other aspect rartios

[2021-03-12 07:39] Swayam221 commented on #109
The overflow is actually being caused by the keyboard remaining open, if the keyboard is dismissed, the widget doesn't cause this error. If i use MediaQuery to set the container height, it might still cause the same problem with a lesser overflow but might not solve the problem. So, i guess scrollview is better?

[2021-03-12 07:47] yasharth291 opened #126 "[Enhancement] Add the CODE_OF_CONDUCT in the project to make the project better."

[2021-03-12 08:06] kartik-pant-23 opened #127 "Code requires formatting, for readability."
**Description**
A code that is well formatted with proper indentation in accordance with conventional guidelines, is more readable. Going through the code, I found it as an enhancement, for all of us out there.

**Am I doing this?**
I have formatted the code and will be making a pull request for the same.

[2021-03-12 08:10] yasharth291 commented on #127
#103  please close this issue as it is duplicate of #103

[2021-03-12 08:10] yasharth291 commented on #127
@kartik-pant-23

[2021-03-12 08:11] yasharth291 commented on #127
and you should close your pr as well because it has merge conflicts.

[2021-03-12 08:13] kartik-pant-23 commented on #127
I have formatted the code and probably i was on different branch while working, which seems to bring those conflicts. Adding comments and refactoring the indentations, doesn't seem similar though.

[2021-03-12 08:14] yasharth291 commented on #127
it is same as making code easy to understand. It is duplicate of #103

[2021-03-12 08:17] kartik-pant-23 commented on #127
Are you one of the maintainers? Can you guide me how to go about the missing files in master branch. I was on a different branch while making the pull request, which caused conflicts.

[2021-03-12 08:21] yasharth291 commented on #127
please read the issues before i am mentioning the issue about it #92

[2021-03-12 08:26] kartik-pant-23 commented on #127
Thank you.

[2021-03-12 08:27] yasharth291 commented on #127
now you can close this issue as it is duplicate and you can delete the pr as well. You have to wait till #92  is closed

[2021-03-12 08:37] EmperorYP7 commented on #127
@yasharth291 Chill out! 😆

[2021-03-12 08:37] yasharth291 commented on #127
@EmperorYP7  it is creating spam issues 👍🏻

[2021-03-12 08:38] kartik-pant-23 commented on #127
PR has been closed, because it was having issues with the current codebase

[2021-03-12 08:39] yasharth291 commented on #127
ok thanks for cooperation

[2021-03-12 08:39] kartik-pant-23 commented on #127
Thanks to you for helping like a maintainer.

[2021-03-12 08:41] yasharth291 commented on #127
no problem but i am not maintainer xD

[2021-03-12 08:53] sumitra19jha commented on #120
Hi @adithyaakrishna
The documentation has been added to [talawa-api](https://github.com/PalisadoesFoundation/talawa-api).So, we will not be using it here :)

[2021-03-12 08:53] #120 closed

[2021-03-12 09:11] kartik-pant-23 commented on #127
Glad you understood, can totally understand this enthusiasm.

[2021-03-12 09:50] droy312 commented on #112
When `sign up` button is pressed user `FocusScope.of(context).unfocus()` to dismiss keyboard programmatically.

User `SingleChildScrollView` in Create Account page because there is an overflow error when the keyboard appears.

[2021-03-12 09:54] yasharth291 commented on #112
#113  this pull request has completed it.

[2021-03-12 10:00] droy312 commented on #109
When keyboard is open user this to know the height of the keyboard `MediaQuery.of(context).viewInsets.bottom`.
Make a container with height equals Device Height - Keyboard Height and add the `Create Account` button and the Logo inside this container.
Wrap this container with a `SingleChildScrollView` widget.
Hope this helps.

[2021-03-12 10:06] Swayam221 commented on #112
@yasharth291 @droy312  #113 only fixes the renderflow error. This issue is for a different bug. Thankyou for suggestions!😄

[2021-03-12 10:14] Swayam221 commented on #109
@droy312 Thankyou for the suggestion. The presence of the keyboard with the mainscreen() widget is actually a bug which will be solved by a PR related to issue #112 .

[2021-03-12 10:48] SriramPatibanda opened #129 "Upgrade the project to Android Embedding v2"
The current app uses an older version of Android Embedding which will be deprecated soon. The app needs to be migrated to Android embedding v2 in order to use the new Android plugin development APIs.

[2021-03-12 10:49] SriramPatibanda commented on #129
I'm willing to work on this issue. Kindly assign it to me @palisadoes .

[2021-03-12 10:52] yasharth291 commented on #129
sorry to say but maintainers are already working on it.
so this issue is duplicate of this #111. Please close this issue to create spam issues. @SriramPatibanda

[2021-03-12 10:53] yasharth291 commented on #129
you can mention you ideas in #111

[2021-03-12 10:58] SriramPatibanda commented on #129
Hey there! Thank you for letting me know this. Does the organization have an IRC or Slack where discussions happen?

[2021-03-12 11:00] yasharth291 commented on #129
yeah you should mail the maintainer and they will send it.

[2021-03-12 11:00] yasharth291 commented on #129
now if the doubt is clear you can close this issue☺️☺️

[2021-03-12 11:01] #129 closed

[2021-03-12 11:01] SriramPatibanda commented on #129
The issue is a duplicate of #111 . Hence it is closed.

[2021-03-12 11:55] sumitra19jha opened #130 "Created Events list screen Error"
The event creation is denied due to date format issue
[code]

[2021-03-12 11:55] sumitra19jha commented on #130
I am working on it.

[2021-03-12 12:20] adithyaakrishna commented on #119
I think it would be great if we move the talk to the discussions #122

[2021-03-12 13:06] CoderMayhem commented on #105
@jordanliu is this branch linked to a functioning backend? I am not able to determine if the sign up error is due to app code or backend error.

[2021-03-12 13:31] Raunakk02 commented on #77
Hey! I would like to work on this issue. Can you please assign this issue to me?

[2021-03-12 13:40] i-anuragmishra commented on #77
hey @Raunakk02  please look at the above comments and follow guidelines for contribution. This issue has been created by me and the as regular SOP i have already asked the maintainers for assignment . Please look into #94 for the Contributing Guideline. Also there is a existing PR regarding this.

[2021-03-12 14:11] AbdulMalikDev opened #132 "Errors in setup"
Hi i'm a 3rd year Computer Science student from India.

I'm facing a few errors in setting up the dev environment, would be really grateful if someone could help me out here.

The first step i did was clone the project as mentioned

[code]

Got all packages

[code]

Errors im facing are mostly about missing imports. Many files dont seem to be existing in the path that are mentioned in the imports.

[2021-03-12 14:50] Raunakk02 opened #133 "Import errors and missing packages/dart files"
Greetings to everyone!

I just cloned the repo on my local machine and I am facing the following issue after cloning the repo -
**Steps to reproduce:**

1.  Cloning and changing to the project on the local machine:

     git clone https://github.com/PalisadoesFoundation/talawa.git
     cd talawa

2.  Installing the packages

     flutter pub get

**Found Error**

In most of the files under `talawa

[2021-03-12 14:51] AbdulMalikDev commented on #109
Wrapping the Row widget in a FittedBox solved the issue for me. Good thing i searched whether this issue was already created before posting a new one as mentioned in the guidelines.

[2021-03-12 14:57] Swayam221 commented on #133
Hey @Raunakk02 ! you must be using the master branch. Switch to 2020-Q4. Also, if not already, please join the slack channel to interact and discuss issues with us all https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-nk79xxlg-OxTdlrD7RLaswu8EO_Q5rg

[2021-03-12 15:54] AbdulMalikDev commented on #132
@SriramPatibanda Consider giving a like to this issue ( by pressing the smiley button on the top right ) to increase visibility of this issue.

[2021-03-12 16:16] utkarshshendge commented on #132
@AbdulMalikDev maintainers are working on it and its expected to be fixed by 14th march.
see #111

[2021-03-12 16:17] utkarshshendge commented on #133
@Raunakk02 maintainers are working on it #111

[2021-03-12 16:18] yasharth291 commented on #133
#92 duplicate he should close this.

[2021-03-12 16:19] yasharth291 commented on #132
#92  same

[2021-03-12 16:31] sidx8 opened #134 "The app is using an older version of android embedding which is going to be depreciated"
flutter is going to deprecate the android embedding which we are currently using in favor of the latest version we should probably migrate it to the latest version and if so I would like to work on it
![talwadart](https://user-images.githubusercontent.com/43761908/110969011-34ce8600-837e-11eb-98d9-a014b10eb917.png)

[2021-03-12 16:32] yasharth291 commented on #134
Please do not duplicate the issues. This issue is same as #111

[2021-03-12 16:33] #134 closed

[2021-03-12 16:33] sidx8 commented on #134
@yasharth291 sorry I did not notice it was already there

[2021-03-12 16:56] Raunakk02 commented on #133
Thanks for your help! Closing this issue now

[2021-03-12 16:56] #133 closed

[2021-03-12 17:02] yasharth291 opened #135 "Adding Camera option in the signup page for taking the image."
As i saw there is only photo gallery option in the section of taking the profile photo a enhancement in the project will be to have camera and drive option as well along with them. @jordanliu @heyjordn

[2021-03-12 17:43] yasharth291 commented on #135
it is implemented in the pull request #117

[2021-03-12 17:47] sumitra19jha commented on #130
Pull Request is made #136

[2021-03-13 00:16] #86 closed

[2021-03-13 05:36] yasharth291 commented on #116
@heyjordn @jordanliu @DeltaHarbinger  could anyone of you label it and see the PR #117  regarding it please

[2021-03-13 05:37] yasharth291 commented on #135
@heyjordn @jordanliu @DeltaHarbinger could anyone of you label it and see the PR #139  regarding it please

[2021-03-13 05:37] yasharth291 commented on #121
@heyjordn @jordanliu @DeltaHarbinger could anyone of you label it and see the PR #117 regarding it please

[2021-03-13 05:38] yasharth291 commented on #126
@heyjordn @jordanliu @DeltaHarbinger could anyone of you label it

[2021-03-13 05:58] AniketSindhu commented on #118
Merged #124

[2021-03-13 05:58] #118 closed

[2021-03-13 09:39] pr4nshul commented on #111
![Screenshot (186)](https://user-images.githubusercontent.com/51524156/111026014-fed8e280-840d-11eb-9786-2c4dbbdf8df8.png)

While trying to the run the code on my device , I faced the following issue. In addition to that alot of red line indicating errors in the code showed up even after I ran pub get. Can someone help me out?
As you can see below:

![Screenshot (187)](https://user-images.githubus

[2021-03-13 09:40] yasharth291 commented on #111
run the second branch Q4-2020

[2021-03-13 09:57] pr4nshul opened #142 "Overflowing widget issue + unexpected character"
![Screenshot_20210313-152044](https://user-images.githubusercontent.com/51524156/111026499-90495400-8410-11eb-9880-9072775e8b0a.png)

I tried to sign up and used basic characters as my password and username. An exception was thrown and that exception widget was overflowing. I would like to work on this issue.

![Screenshot (188)](https://user-images.githubusercontent.com/51524156/111026508-9a6b528

[2021-03-13 09:58] pr4nshul commented on #142
I used a dot(.) in my email , and my password didn't have any special characters just capital and small letters and a number.

[2021-03-13 10:00] pr4nshul commented on #142
Also when you click sign up , the keyboard doesn't disappear hence the exception is not easily visible to the user at once.

[2021-03-13 10:14] yasharth291 commented on #142
please read the closed issues these all are over @pr4nshul  please close it as it is duplicate

[2021-03-13 10:16] yasharth291 opened #143 "Making indicator for strong password"
writing regex for the strong password will help it to become stronger

[2021-03-13 10:19] yasharth291 commented on #143
@DeltaHarbinger @heyjordn @jordanliu

[2021-03-13 10:25] pr4nshul commented on #142
Ok , so how do I register. Because right now I can't I have tried various permutations.

[2021-03-13 10:26] yasharth291 commented on #142
first you have to go to the another branch of the same which is 2020-Q4

and then set up the backend locally and then signup

[2021-03-13 10:26] yasharth291 commented on #142
if your doubt is clear you can close this issue

[2021-03-13 10:26] pr4nshul commented on #72
I would also like to contribute in it , we can give users the option whether they want to checkout the organizations or login. That can act like a anonymous login .

[2021-03-13 10:32] pr4nshul commented on #142
Well, this is 2020-Q4 branch. Although I haven't setup backend locally. Do you have any steps for doing the same?

[2021-03-13 10:32] yasharth291 commented on #142
yeah read the documentation in the talawa-api

[2021-03-13 10:33] yasharth291 commented on #142
and please close this issue as it is duplicate

[2021-03-13 10:34] #142 closed

[2021-03-13 10:44] pr4nshul commented on #112
I opened a similar issue, 30 min back and closed it as it was a duplicate to this one. I would like to work on this, I want to know this though, does this issue persist only on the signup and login page or throughout the application.

[2021-03-13 10:45] yasharth291 commented on #112
its resolved @pr4nshul  see the pull request #141

[2021-03-13 10:48] Sagar2366 commented on #72
@Bhavay192 are you working on it ? If not, @pr4nshul you can raise PR for this issue.

[2021-03-13 11:03] pr4nshul commented on #72
Ok, I am going to wait for @Bhavay192 to respond within 12 hours, else I will start with it. Although @Sagar2366 do you want me to work from branch master or 2020-Q4. As I should mention right now the code on the master branch has a lot of errors and can't be compiled. It's expected to be resolved by 14th March.

[2021-03-13 12:29] Bhavay192 commented on #72
@Sagar2366 and @pr4nshul  I'm surely working on this issue to make it work properly :)

[2021-03-13 13:53] Raunakk02 commented on #77
Sure @i-anuragmishra, I asked it to assign this issue to me because I was working on this earlier. But I think I will now wait for the PR to be merged first.

[2021-03-13 14:08] yasharth291 commented on #121
@heyjordn @jordanliu  @DeltaHarbinger you could close this issue as the PR related to it has been merged in the branch.

[2021-03-13 14:10] yasharth291 commented on #116
@heyjordn  @DeltaHarbinger @jordanliu this issue has also being resolved by the pr i have merged into

[2021-03-13 14:45] CoderMayhem opened #146 "Adding Hide/Show Password feature in the Login and Register Forms"
A button needed which can hide and show password as per requirement in the Login and Register form fields.

#145 opened for this.

[2021-03-13 15:11] heyjordn commented on #146
Ok thanks! Will review shortly

[2021-03-13 15:15] yasharth291 commented on #143
#144  i have made a proposal for the same @DeltaHarbinger you can tell me if i have to do some changes on it.

[2021-03-13 15:17] yasharth291 commented on #135
the enhancement is made with the request merged #139

[2021-03-13 15:29] heyjordn commented on #135
Thanks! Closing.

[2021-03-13 15:29] #135 closed

[2021-03-13 15:37] yasharth291 commented on #121
@heyjordn  this is also completed by merging the pr #117  you can close this one as well

[2021-03-13 15:45] Sagar2366 commented on #121
Closing this issue as it is fixed as part of https://github.com/PalisadoesFoundation/talawa/pull/117

[2021-03-13 15:45] #121 closed

[2021-03-13 16:29] Swayam221 commented on #112
@heyjordn please review #141

[2021-03-13 16:30] Swayam221 commented on #109
@heyjordn Please review #113

[2021-03-13 16:31] Swayam221 commented on #109
@heyjordn  I am closing this issue since the PR #113 has been merged.

[2021-03-13 16:32] #109 closed

[2021-03-13 16:33] yasharth291 commented on #126
@DeltaHarbinger  please see this

[2021-03-13 16:49] heyjordn commented on #73
Closing. Not enough details

[2021-03-13 16:49] #73 closed

[2021-03-13 18:44] Raunakk02 opened #149 "Gradle error during project build"
Hey everyone!

I was facing this issue of Gradle error while building my project:

![build_error](https://user-images.githubusercontent.com/56073198/111040295-5b60ef80-8458-11eb-883a-560af40c8615.PNG)

I figured out that the problem was caused by the Gradle and Kotlin versions in the project.

Here is the screenshot of the original `talawa/android/build.gradle` file:

![android_build gradle - old]

[2021-03-13 19:23] yasharth291 commented on #149
which branch you were working on?

[2021-03-13 19:24] yasharth291 commented on #149
if it was on the main branch then you have to remove your pr as it is under maintenance and a big thing is going to be merged. it is better to work on Q4-2020

[2021-03-13 19:42] Raunakk02 commented on #149
I was working on 2020-Q4 branch.

[2021-03-13 20:28] yasharth291 commented on #149
there was no such error with me
i also worked on the same branch. So you should see your system problems first because it is not a problem with the repo
![Capture](https://user-images.githubusercontent.com/55004621/111043469-c286a000-8468-11eb-815a-6610a3180478.JPG)

[2021-03-13 20:30] yasharth291 commented on #149
@Raunakk02  its better to close the pull as well as the issue as it is not the problem of the repo but the problem of your environment.

[2021-03-13 21:05] yasharth291 opened #152 "Still some depreciated things in the code after migration to v 2.0"
![Capture](https://user-images.githubusercontent.com/55004621/111044330-e26c9280-846d-11eb-8c39-2241b0b4854d.JPG)
this is one of the example where the code is being depreciated. The code has to be changed a few little times.

[2021-03-13 21:10] DeltaHarbinger commented on #149
Hey @Raunakk02, this was fixed in a major update to the master branch. The Gradle version actually needed to be higher than the one shown in your pull request. Please pull master and see if everything is alright with you now

[2021-03-13 21:10] #149 closed

[2021-03-13 21:10] yasharth291 opened #153 "Renderflex Overflow after clicking signup"
![Capture](https://user-images.githubusercontent.com/55004621/111044419-9e2dc200-846e-11eb-893d-6ca061a138be.JPG)
there was a renderflex after clicking the signup button.

[2021-03-13 21:27] yasharth291 opened #154 "No autofill in the login page and the organization page."
the autofill in the signup page is working fine and same autofill should be added to login page and the organization page as well

[2021-03-13 21:42] Swayam221 opened #155 "Login and create create account buttons do not work (discussion)"
Login and create create account buttons do not work on master branch.

https://user-images.githubusercontent.com/68892315/111050883-3e86e500-8475-11eb-8092-82c5ed20d5db.mp4
Im actually trying to click the create an account and login buttons (the on tap is not visible) .

[2021-03-13 21:42] yasharth291 opened #156 "Permission to be added for the camera to be recognized for a physical device"
The camera using for the profile picture is cannot be found for the physical device. please @DeltaHarbinger label it as a bug

[2021-03-13 21:44] Swayam221 opened #157 "Renderflex overflow after clicking login (master branch)"
https://user-images.githubusercontent.com/68892315/111050960-bd7c1d80-8475-11eb-881f-759d65e2a2f4.mp4

Renderflex oveflow can be seen in the toast message.

[2021-03-13 21:52] Sagar2366 commented on #155
@Swayam221 do you see any error on login or signup ? Share the screenshot, that would help to understand issue better.

[2021-03-13 21:54] yasharth291 commented on #155
yeah he is saying true the buttons on the main page are not working

[2021-03-13 21:55] yasharth291 commented on #156
#158  solves this

[2021-03-13 22:02] yasharth291 commented on #154
@Sagar2366 @heyjordn @jordanliu @DeltaHarbinger

[2021-03-13 22:02] yasharth291 commented on #152
@Sagar2366

[2021-03-13 22:02] yasharth291 commented on #153
@Sagar2366

[2021-03-13 22:12] adithyaakrishna commented on #155
It's not an error, when the org url is given, and it successfully sets the url to execute graphql queries, the login and create account buttons comes up

[2021-03-13 22:28] Swayam221 commented on #112
@DeltaHarbinger @jordanliu Please review #160 which fixes this issue.

[2021-03-13 22:38] Swayam221 commented on #155
@adithyaakrishna You're right! but it does seem a bit odd that a user will have to set a url first and then click the create an account button if the pages are actually scrollable.

[2021-03-13 22:40] yasharth291 commented on #156
this issue is resolved and can be closed now @heyjordn

[2021-03-13 22:40] Swayam221 commented on #155
Can we let the URL be be decided on the login and register pages separately? @jordanliu @DeltaHarbinger

[2021-03-13 22:42] #156 closed

[2021-03-13 22:44] Sagar2366 commented on #143
Closing this issue as fixed in https://github.com/PalisadoesFoundation/talawa/pull/158

[2021-03-13 22:44] #143 closed

[2021-03-13 22:47] Sagar2366 commented on #132
@AbdulMalikDev try cloning latest master. Let us know if you still get same issue.

[2021-03-13 22:47] yasharth291 commented on #152
i think there should be some discussion regarding it. please anyone label it as enhancement and discussion

[2021-03-13 22:48] #112 closed

[2021-03-13 22:48] Sagar2366 commented on #90
Closing this issue as fixed in https://github.com/PalisadoesFoundation/talawa/pull/151

[2021-03-13 22:48] #90 closed

[2021-03-13 23:32] DeltaHarbinger commented on #130
Hey @sumitra19jha, I made a comment on your PR. You'll have to pull the most up-to-date version of master and re-implement your changes there. There were a lot of changes that conflicted with existing PRs.

[2021-03-13 23:36] #153 closed

[2021-03-13 23:41] sumitra19jha commented on #130
Sure. I am working on it

[2021-03-13 23:50] AniketSindhu opened #163 "getting FToast issues in the master branch."
![image](https://user-images.githubusercontent.com/57598532/111052845-cde7c480-8484-11eb-8ba1-99ae8060c588.png)
getting this error in multiple files.

[2021-03-13 23:55] #157 closed

[2021-03-14 00:11] DeltaHarbinger commented on #155
We could make it so that the buttons aren't shown until a URL is provided, or that the user may press the button but is then prompted for a URL. Do either of those sound good?

[2021-03-14 00:12] sumitra19jha commented on #130
@DeltaHarbinger I created a PR based on the very recent changes

[2021-03-14 00:55] #130 closed

[2021-03-14 01:23] #89 closed

[2021-03-14 01:40] sumitra19jha opened #168 "Adding Pagination in Join Organization Page"
By adding the pagination we can reduce the screen loading time.

[2021-03-14 01:41] DeltaHarbinger commented on #168
This seems interesting. I'm looking forward to seeing your implementation.

[2021-03-14 01:41] DeltaHarbinger commented on #163
This issue is now fixed. Thanks @AniketSindhu

[2021-03-14 01:41] #163 closed

[2021-03-14 01:46] DeltaHarbinger commented on #154
It seems like autofill has been added to the login page already. Can you confirm it isn't on the organization page?

[2021-03-14 01:47] sumitra19jha opened #169 "Search box not working in Create or Join Organisation Page"
The search box is not working. Also in the search box, as users enter string the result should be displayed based on:
1. name
2. description
3. category

[2021-03-14 01:49] DeltaHarbinger commented on #146
Hey @CoderMayhem, I made a comment on the pull request you created. Take a look as it requires attention

[2021-03-14 01:50] sumitra19jha commented on #168
I am excited to for this @DeltaHarbinger.
Today I just completed its backend part. Waiting for @Laurell876 to review and merge my PR so that i can begin the frontend implementation also.

[2021-03-14 01:51] DeltaHarbinger commented on #132
Hello @AbdulMalikDev, @SriramPatibanda, and @utkarshshendge. We merged #151 to master which seems to fix most problems. Check it out, we haven't heard of anyone having problems building since then

[2021-03-14 01:51] #132 closed

[2021-03-14 01:53] DeltaHarbinger commented on #127
Hey @kartik-pant-23, we recently merged #151 which includes a number of fixes on the master branch. Everyone seems to be able to build now. I agree with your analysis that a lot of the code isn't formatted properly, so feel free to pull the major changes on master and make a pull request with any changes related to this issue.

[2021-03-14 01:55] sumitra19jha opened #170 "Error while creating the organization"
While creating the organization following errors where observed:

[code]

I am working on this

[2021-03-14 01:59] #101 closed

[2021-03-14 02:02] DeltaHarbinger opened #171 "Issue when creating account"
Issue when creating an account. Possibly happens when a weak password is used (6 characters, all common letters)

[2021-03-14 02:02] DeltaHarbinger commented on #171
![Screenshot_20210313-210032.jpg](https://user-images.githubusercontent.com/23224397/111055009-6b200a00-843f-11eb-9753-b6f5f0e60e5a.jpg)

[2021-03-14 02:04] sumitra19jha opened #172 "Adding loading Spinner to join button"
As the user press the `join` button, to make the app user interface responsive, the presence of a loading spinner at the `join` button after the dialogue box will make the page transition experience better for the user.

[2021-03-14 02:05] DeltaHarbinger commented on #169
@sumitra19jha Thanks for pointing this out.

[2021-03-14 02:06] sumitra19jha commented on #171
Can I look into this @DeltaHarbinger ?

[2021-03-14 02:07] AniketSindhu commented on #155
@DeltaHarbinger I think showing buttons after adding url will be better. Should I start working on that or anyone else handling this issue?

[2021-03-14 02:08] DeltaHarbinger commented on #171
Yes @sumitra19jha, you're free to look into this. I just saw this issue, so I'm not sure if the actual issue is caused by the front or back end, but we can at least see that the message overflows in the box in flutter, and it need stock be fixed

[2021-03-14 02:08] DeltaHarbinger commented on #171
I'll assign it to you @sumitra19jha

[2021-03-14 02:08] sumitra19jha commented on #171
ok @DeltaHarbinger

[2021-03-14 02:10] DeltaHarbinger commented on #155
@Swayam221 was the original person to open this issue.

@Swayam221, are you already attempting something, or should I assign @AniketSindhu

[2021-03-14 02:15] DeltaHarbinger commented on #111
Hey @pr4nshul, the master branch should be able to be built on any device now. No need to use the Q4 branch anymore

[2021-03-14 02:15] #111 closed

[2021-03-14 02:28] sumitra19jha opened #173 "Less scrolling space in organization list page"
The top widget has been fixed in organisation page causing the lesser availability of space for scrolling.
As the orientation of device changes the scrolling space becomes very small.

https://user-images.githubusercontent.com/35868598/111055350-fe3a5d80-849a-11eb-818d-95151f9fd0cc.mp4

I am working on this

[2021-03-14 02:31] sumitra19jha commented on #169
You're welcome.
Also @DeltaHarbinger, Can we have a filter button on the page?
The filter button will order list by:
1. name
2. category
3. date

[2021-03-14 02:38] sumitra19jha opened #174 "[Bug] Update Profile Page Creation"
### Description
The implementation for the [update profile page](https://github.com/PalisadoesFoundation/talawa/blob/master/lib/views/pages/organization/profile_page.dart) needs to be created as it is missing in the list tile.

[code]

### Steps to produce the issue:
1. Login/Signup
2. Press Profile Bottom Navigation Button
3. Press Update Profile

Issue here is: Nothing will happen.

### Changes

[2021-03-14 02:44] sumitra19jha opened #175 "[Enhancement] Overflow Snackbar in Switch organization"
### Description
The issue is observed in log while opening the Profile Page. The fact this issue occurs is because the user is not part of any organization at all. When user navigate to the profile screen, a query is being made using the organization_id whose value is null at the time of call leading to this issue.

**Observed Behaviour**
![WhatsApp Image 2021-03-14 at 8 13 17 AM](https://user-ima

[2021-03-14 02:49] Sagar2366 commented on #155
@DeltaHarbinger, first option sounds good to me. We should show buttons after url is provided and it's valid.

[2021-03-14 03:04] #116 closed

[2021-03-14 03:08] DeltaHarbinger commented on #155
@Sagar2366 sounds good.

@AniketSindhu, if @Swayam221 doesn't respond as to whether or not he wants to tackle the issue, I'll assign it to you instead

[2021-03-14 03:13] sumitra19jha opened #176 "Leave Organization button edge case error"
If user is not a part of any organization then a `snackbar` should be created informing, `user is not a part of any organisation`. Currently, Alert Dialogue is displayed asking for the permission to leave even if user is added to no organisation at all.

![WhatsApp Image 2021-03-14 at 8 41 21 AM](https://user-images.githubusercontent.com/35868598/111055966-2dec6400-84a1-11eb-971d-06a069217701.jpeg

[2021-03-14 03:17] cyber-venom003 commented on #176
@sumitra19jha Are you working on this?? Or can I try to solve this??

[2021-03-14 03:29] sumitra19jha commented on #171
![Screenshot 2021-03-14 at 8 49 37 AM](https://user-images.githubusercontent.com/35868598/111056167-072f2d00-84a3-11eb-8477-4b0f940cad02.png)

[2021-03-14 03:33] sumitra19jha commented on #171
PR #177 created to resolve the issue

[2021-03-14 03:40] cyber-venom003 opened #178 "file_picker Plugin deprecation warning"
The current hosted version of file_picker on [pub.dev](https://pub.dev/packages/file_picker/install) is 3.0.0, but Talawa app uses 2.0.7.
Update it and do the needful changes in complete codebase.
![issue_1](https://user-images.githubusercontent.com/58390399/111056476-10b99480-84a5-11eb-9e11-d95103d67328.PNG)

@DeltaHarbinger @Deandrew007 @heyjordn Please assign it to me so that I can work on this

[2021-03-14 03:40] sumitra19jha opened #179 "Remove Members Screen Enhancement"
When trying to `remove member` from a created organization, if the user hasn't been given the access to do soo then a `snackbar` can appear at bottom displaying the permission status of user.

Currently, on selecting the member the dialogue box appear and nothing happens afterwards.
This enhancement will increase app user experience.

Working on this.

[2021-03-14 03:43] sumitra19jha commented on #176
Hi, @cyber-venom003 ,
I am currently working on some other issue. I will be very happy, if you can devotee your time in this issue.

[2021-03-14 03:45] yasharth291 opened #180 "[Bug] Alert for not putting URL in the first page"
i have signed up without putting the URL of the organization the home screen is stuck on loading.

[2021-03-14 03:45] cyber-venom003 commented on #176
Sure @sumitra19jha . I'm working on this :)

[2021-03-14 03:46] sumitra19jha commented on #176
Great

[2021-03-14 03:49] sumitra19jha opened #181 "[Enhancement] Members Screen Optimization for better User experience"
### Issue Description
The tab lacks:
1. Pagination
2. Searchbox
3. filterlist

Due to the lack of these features the user experience with the member screen is not up to the mark.

### Observed Behaviour
![WhatsApp Image 2021-03-14 at 9 15 12 AM](https://user-images.githubusercontent.com/35868598/111056587-28454d00-84a6-11eb-93e3-4b17dab4fa8c.jpeg)

### Expected Behaviour
Presence of SearchBox and

[2021-03-14 03:53] yasharth291 opened #182 "Can't Login"
signup is working but the login button is not working
![Capture](https://user-images.githubusercontent.com/55004621/111056671-f1236b80-84a6-11eb-8fbf-4e6427f570c3.JPG)

[2021-03-14 03:55] yasharth291 commented on #178
i already opened the same issue and wanted to work for it #152

[2021-03-14 03:58] yasharth291 commented on #178
@Sagar2366  please can you help us

[2021-03-14 04:03] adithyaakrishna commented on #172
@sumitra19jha Are you working on this issue?

[2021-03-14 04:06] Swayam221 opened #183 "Issue on signup"
Signup without setting an org causes error on join org page

https://user-images.githubusercontent.com/68892315/111057288-4b72fb00-84ac-11eb-9e7c-7c8e0bf22a68.mp4

I signed-up without setting any URL.

[2021-03-14 04:07] sumitra19jha commented on #172
No @adithyaakrishna I am not currently working on this issue. You can go ahead :)

[2021-03-14 04:11] yasharth291 opened #184 "[BUG] Cant see news feed option when joined an organization"
when i joined the organization there is no option to see the news feed
![Capture](https://user-images.githubusercontent.com/55004621/111056937-64c67800-84a9-11eb-8b1f-a12df4222a34.JPG)

[2021-03-14 04:12] yasharth291 opened #185 "[BUG] Profile picture cannot be changed after signup"
there is no way we can change the profile picture after signup. clicking the profile picture doesn't work at all

[2021-03-14 04:12] Swayam221 opened #186 "[proposal]Email/account verification on signup"
As of now anyone can create an account with a fake email address. We can include verification so that only verified emails can be allowed full use of the application.

[2021-03-14 04:16] yasharth291 opened #187 "[Enhancement] Cant send message in the event ."
when i tried sending message in the event the button didn't work

[2021-03-14 04:18] yasharth291 opened #188 "[Bug] Register for event doesn't work"
when clicked on register for event the screen only loads. And stucks at a place.

[2021-03-14 04:19] adithyaakrishna commented on #172
Thanks Man💯
Do Lmk if I can work on some others too :)

[2021-03-14 04:20] yasharth291 opened #189 "[Bug] While creating an event the app doesn't show what is required and if left the server gives error"
when i was creating an event i left the description and other things empty there was no error coming for me in the app but console was not allowing it.

[2021-03-14 04:20] Sagar2366 commented on #180
I think this issue will fix it - https://github.com/PalisadoesFoundation/talawa/issues/155

[2021-03-14 04:20] yasharth291 opened #190 "[Enhancement] giving minimum word limit to ever thing"
Description
There is no limit on the text currently and to make it more optimized we need to limit the text.

I am adding letter limit to post title, post description, comment, organization description, organization attendees description, event title, event description.

Issue Severity
Moderate

Observed Behavior:
No limit on the text

Expected Behavior:
There should be limit on the text size

[2021-03-14 04:22] yasharth291 opened #191 "Adding search bar in the member tab (proposal)"
we should add a search bar in the member tab for easy searching of the member.

[2021-03-14 04:24] utkarshshendge commented on #190
Hi @yasharth291, sorry but I didn't understand the issue title.
Adding a description is always a good practice.

[2021-03-14 04:24] yasharth291 commented on #180
its not about it. it is when we are not putting any URL in the first page it should show no URL instead it just load and load while trying to login

[2021-03-14 04:25] sumitra19jha commented on #191
Already Exists in #181
I am currently working on its query. We can work together on this

[2021-03-14 04:25] Sagar2366 commented on #183
Duplicate issue - https://github.com/PalisadoesFoundation/talawa/issues/155.
This should get fixed as part of https://github.com/PalisadoesFoundation/talawa/issues/155

[2021-03-14 04:26] sumitra19jha commented on #172
Ok

[2021-03-14 04:26] #191 closed

[2021-03-14 04:28] Sagar2366 commented on #186
Good observation. Start working on this issue.
OTP based authentication can be added for valid email verification. If you have any other proposal feel free to share/add.

[2021-03-14 04:28] Swayam221 commented on #183
@Sagar2366 the two are different sir. let me edit the description to describe it better.

[2021-03-14 04:29] Sagar2366 commented on #183
Ok. Please add more details to understand exact issue.

[2021-03-14 04:30] yasharth291 opened #192 "[Enhancement] Adding favorite button in the organization and post section"
it will be a nice idea if we will have a favorite button like a heart in the post and organization section

[2021-03-14 04:32] yasharth291 commented on #190
@Sagar2366  can you assign me this please

[2021-03-14 04:33] sumitra19jha opened #193 "[Bug]: Missing Tab Bar on first Signup"
### Description
After user Signup, the user is taken to the Profile Screen. The entire screen is missing `Bottom Navigation Bar` due to which user cannot see posts and other navigation screen.

### Observed Behaviour
Navigation Bar is not shown
![WhatsApp Image 2021-03-14 at 9 59 26 AM](https://user-images.githubusercontent.com/35868598/111057307-70676e00-84ac-11eb-99fd-7a68f9d0db74.jpeg)

### Exp

[2021-03-14 04:33] yasharth291 opened #194 "[proposal] No option to like or reply the comment"
no option to like the comment on the comment

[2021-03-14 04:34] yasharth291 commented on #193
it is because there is no feed for you the issues title should be changed i guess

[2021-03-14 04:35] sumitra19jha opened #195 "[Proposal] Multiple Organization Selection during join"
### Description
When a user visit the page to select the organization, once the user clciks the Join Button, he/she is directly taken to home screen.

If a users wishes to be a part of ``more than one organization`` then that action can only be completed if users visits the `add/create organization page` and `repeat the join button click` for each organization seperately.

### Improvement Suggesti

[2021-03-14 04:38] yasharth291 commented on #192
@Sagar2366

[2021-03-14 04:38] yasharth291 commented on #194
sagar

[2021-03-14 04:39] yasharth291 commented on #188
@Sagar2366

[2021-03-14 04:39] sumitra19jha commented on #190
Yeah this issue is actually repeated to a lot of place. There is no use of `TextOverflow` parameter in most of the text widget(which are generally wrapped in a `Row`, due to which they don't have multiple lines either).

[2021-03-14 04:40] adithyaakrishna opened #196 "[Proposal] Adding Fastlane in the nearby Future for Continuous Deployment"
Using Fastlane, we can simplify app deployment and also for distributing beta builds to testers along with generating localized screenshots

[2021-03-14 04:41] #182 closed

[2021-03-14 04:42] yasharth291 commented on #190
yeah i am working on it and now work on this as well thanks @sumitra19jha  for pointing out

[2021-03-14 04:43] adithyaakrishna opened #197 "[Proposal] Adding Google Analytics to the App"
Adding Google Analytics would provide us with an insight about app usage and their engagement. Using the analytics report, we can make changes to the app and optimize the performance

[2021-03-14 04:46] sumitra19jha commented on #186
@Sagar2366  @Swayam221 Can we use password-less authentication for the system. The current architecture requires password and generally user doesn't remember that. So we can either have:

1. OTP based verification or
2. OTP based authentication

In verification user password exists and user get OTP at signup or forget password.
In authentication part user receive OTP at each login. Therefore there

[2021-03-14 04:48] sumitra19jha commented on #190
Great

[2021-03-14 04:49] yasharth291 opened #198 "Adding camera in the organization creation"
adding camera option on photo of organization creation

[2021-03-14 04:49] cyber-venom003 opened #199 "[Bug] FormatException in members.dart"
![issue_2](https://user-images.githubusercontent.com/58390399/111057550-72cac780-84ae-11eb-9b0c-ef60780ac4a1.PNG)

![Screenshot_1615697336](https://user-images.githubusercontent.com/58390399/111057582-bc1b1700-84ae-11eb-8232-559a9ec7a0a5.png)

When we login, this is exception comes up.

[2021-03-14 04:49] adithyaakrishna opened #200 "Removal or Commenting of Unused Imports in the App"
There are many unused imports in the app, we can comment it or if they are not needed remove them from the file
![image](https://user-images.githubusercontent.com/23498248/111057597-cd642380-84ae-11eb-9494-fc42f03cc1ee.png)

[2021-03-14 04:54] yasharth291 opened #201 "[Enhancement] No option to delete comment and post"
there is no option to delete comment or delete post. If the Post is created there is no option to delete the post nor there is a option to delete the comments.

[2021-03-14 04:55] yasharth291 opened #202 "[Enhancement] No flag option for unethical content on the comment and comments"
There should be a flag option if the community post is not appropriate according to the guidlines.

[2021-03-14 04:55] CyberWake opened #203 "[Enhancement] Create Organization Page UX improvement."
Hello, have a  to improve UX on create organization screen. In the attached video we see:
1. The fields are not auto submitted through keyboard and we need user interaction to bring in focus the next TextFormField.
2. Added the last field in the form is multiline hence the keyboard remains up and goes down on user interaction with native back button.
3. As the form is in SingleChildScrollView it g

[2021-03-14 04:58] Swayam221 opened #204 "[bug]Profile Pic doesn't load"
![Android Emulator - Pixel_2_XL_API_30_5554 14-03-2021 10_26_45](https://user-images.githubusercontent.com/68892315/111057746-d6a1c000-84af-11eb-8b2d-f6c0e1e09a63.png)

i had created an account with a profile pic. As it can be seen in the screenshot, the pic doesnt load.

[2021-03-14 05:00] adithyaakrishna commented on #203
@CyberWake Ig the video didn't upload

[2021-03-14 05:03] Swayam221 commented on #155
@DeltaHarbinger i would like to work on the issue

[2021-03-14 05:05] CyberWake commented on #203
https://user-images.githubusercontent.com/44184786/111057925-fd142b00-84b0-11eb-8030-87c1fc9e1632.mp4

[2021-03-14 05:09] CyberWake commented on #198
can you assign this to me. We can implement inapp camera for this or go with the imagepicker from  camera for taking organization image.

[2021-03-14 05:11] yasharth291 commented on #198
i am already working on it
sorry

[2021-03-14 05:13] CyberWake commented on #198
ok

[2021-03-14 05:14] sumitra19jha commented on #193
No. It's not there because the main function uses userID to decide its navigation to Home Screen or Login Screen. After signup, user is navigated to join organisation page then ===> Feed Page. There is no notifier used to alert to load the HomeScreen Present in the main function.

[2021-03-14 05:25] Swayam221 commented on #186
@Sagar2366 @sumitra19jha Thankyou! i will look into whatever we decide. @Sagar2366 @DeltaHarbinger @jordanliu should we have a password and email verificaion or remove password completely and have an OTP system?

[2021-03-14 05:34] Swayam221 opened #208 "[bug]Organisation pic doesnt load"
upon creating a new org, the org_pic uploaded, is not able to load on  the newsfeed page on the top left corner

[2021-03-14 05:37] yasharth291 commented on #154
i confirmed it is not and i am currently working on it sir
@DeltaHarbinger

[2021-03-14 05:55] CoderMayhem commented on #146
@DeltaHarbinger did the needful. PR ready for review.

[2021-03-14 06:14] Swayam221 commented on #155
@DeltaHarbinger actually this is exactly what is happening at the moment. But, even if the user doesnt provide a url, he/she can just swipe to the register page and signup without an org. This leaves no point for the buttons not being active until a url is provided. I think we should change create a guest/anonymous type login for a user who doesnt provide a url and keep both the buttons active (cr

[2021-03-14 06:15] sumitra19jha commented on #176
Hey @cyber-venom003 , I was not talking about that snackbar. What i mean was if user is not a part of any organisation and presses leave button then a snackbar saying, "User is not part of any organisation" will appear.

[2021-03-14 06:16] cyber-venom003 commented on #176
Ohh, so you talked about replacing a toast with snack bar, right??

[2021-03-14 06:24] Raunakk02 opened #210 "Enhancement for the password strength bar"
Currently, the **password strength bar** is visible to the user even when the **password text field** is empty.
Also, the **password strength bar** updates only after the `TextFormField` is saved.

**Enhancement:**
1. The **password strength bar** should only be visible if the **password text field** is not empty.

2. The **password strength bar** should update when the content in the `TextFormFie

[2021-03-14 06:26] yasharth291 commented on #210
nice we can work on it if you want.

[2021-03-14 06:35] Raunakk02 commented on #210
I enhanced it and am submitting the pull request. Please check if it's working fine or not.

[2021-03-14 07:09] CoderMayhem opened #213 "Additions to CONTRIBUTING.md"
**Description**
A few necessary additions needed in the CONTRIBUTING.md file in order to have more specific commit messages and aan efficiently maintained project structure.

**Working on this?**
Yes, will open a PR with detailed changes shortly.

[2021-03-14 07:09] yasharth291 commented on #210
yeah no problem if it is working. it will be nice well done brother

[2021-03-14 07:10] yasharth291 commented on #210
one thing that you can do is attaching this issue with the pr @Raunakk02

[2021-03-14 07:13] yasharth291 opened #215 "[proposal] Writing proper guidelines about the structure of code."
There should be a file. which should tell the correct way to write code for example

what should be the way of writing a class or a function.

what should be the way a variable name should be

there is one tool which give scores for this named pipette a score above 8 is considered ok.

@Sagar2366 @heyjordn @jordanliu

[2021-03-14 07:16] CoderMayhem commented on #213
PR opened in this regard : #216
Kindly Review. Cheers!

[2021-03-14 07:21] adithyaakrishna opened #217 "The text color on the Type The Org URL screen is not visible"
**Description:** The text Create an Account and Login aren't visible with the background and they have to be changed to make them a bit visible at least.

**Problem:** As we can see the text doesn't go well with the background along with the border color

<img src="https://user-images.githubusercontent.com/23498248/111059876-b7f6f580-84be-11eb-82f2-07a08ae92234.png" width="100" height="200" />

**

[2021-03-14 07:31] Raunakk02 commented on #210
Thanks for the suggestion @yasharth291, but I already linked this issue to the PR.

[2021-03-14 07:39] i-anuragmishra opened #219 "Migrate the depreciated flat button and raised button."
Flat button and Raised button are depreciated. To be migrated.

[2021-03-14 07:39] adithyaakrishna commented on #219
@i-anuragmishra Hey, Anurag I have worked on this issue and was about to Create a PR for the same

[2021-03-14 07:40] i-anuragmishra commented on #219
i think #214 resolves this.

[2021-03-14 07:45] adithyaakrishna opened #220 "The border Color and Icon Colors of the Input Fields on the Create an Account Screen isn't properly visible"
**Description:** The text Create an Account and Login aren't visible with the background and they have to be changed to make them a bit visible at least.

**Problem:** As we can see the border color of various input fields aren't visible on the page in the below image

<img src="https://user-images.githubusercontent.com/23498248/111061020-2344c580-84c7-11eb-97ee-dac9b2c4d697.png" width="150" heigh

[2021-03-14 07:50] CyberWake commented on #220
They are but only when the field is in focus. And I guess giving a different color would ruin the background effect given by the image behind.

[2021-03-14 07:57] adithyaakrishna commented on #220
@CyberWake or else we can also remove the border, bc if the black border is there, its just not visible and IMO doesn't go well with the background

[2021-03-14 07:59] sumitra19jha commented on #176
No @cyber-venom003
User signup ==> Join Organization ==> Left the organzation.
So user is not a part of `any organization at all ` currently.

**Current Scenario**
Users click `leave button` again ===> Pop up Message appear ==>Select yes, nothing happens
Nothing happens because user is not part of any organization

**Proposal**
If User is not a part of any organization at all, then if user clicks

[2021-03-14 08:02] adithyaakrishna opened #222 "The image touches or the Header Bar overlaps the image in Switch Organization Screen"
**Problem:**
![image](https://user-images.githubusercontent.com/23498248/111061493-aebf5600-84c9-11eb-93c0-5be4bcc2a2aa.png)

[2021-03-14 08:05] pr4nshul commented on #217
I could work on this, can please someone assign me this issue.

[2021-03-14 08:05] cyber-venom003 commented on #176
Okay, I got it, Lemme push one more commit in same PR. Thanks for guiding btw

[2021-03-14 08:09] Sagar2366 commented on #217
@pr4nshul, FYI @adithyaakrishna is already working on this issue and have raised pr for the same. Please check other open issues (confirm no one is working on the issue before start working on issue) or open new issues and raise PR for the same.

[2021-03-14 08:11] pr4nshul commented on #217
Yes , I saw the PR and deleted the comment immediately. I am looking into other issues now.

[2021-03-14 08:27] pr4nshul opened #223 "Error widget overflowing when not able to connect to org"
There is a similar issue #175 . But It is when switching the organization. So will that PR handle this issue as well. If not I will like to work on it. Also, I would like to know which organization should I type in so that I can sign up.

[2021-03-14 08:27] pr4nshul commented on #223
![Uploading Screenshot_20210314-134838.png…]()

[2021-03-14 08:30] pr4nshul commented on #223
![Screenshot_20210314-134838](https://user-images.githubusercontent.com/51524156/111062211-8c2f3c00-84cd-11eb-9825-1a1e2859826d.png)

[2021-03-14 08:32] adithyaakrishna opened #224 "The color of CirclularProgressIndicator needs to be changed"
**Description:** The `CircularProgressindicator` color is orange which does not go well with the button background. This issue is on the Create organization Screen

<img src="https://user-images.githubusercontent.com/23498248/111062243-b5e86300-84cd-11eb-9d74-21384bfe4139.png" width="150" height="250" />

and when the loader is loading, the size of the button also changes which also needed to be d

[2021-03-14 08:44] pr4nshul commented on #184
Do you want an option to see the newsfeed on profile page? because I can see the option to view newsfeed on my device.

[2021-03-14 08:49] pr4nshul commented on #185
Neither update profile button works.

[2021-03-14 08:53] pr4nshul commented on #199
Yes, i faced a similar issue. Is anyone working on this?

[2021-03-14 08:56] adithyaakrishna commented on #220
@CyberWake Do lmk your opinion too 👀

[2021-03-14 08:59] yasharth291 commented on #223
duplicate
#142

[2021-03-14 09:05] pr4nshul commented on #223
Can you tell me how is it a duplicate, as when a issue occur it is printed through _exceptionToast function and there I am not seeing anything that is handling the overflowing of the string. #142 was a similar issue I agree. But it is still not resolved?

[2021-03-14 09:09] SriramPatibanda opened #227 "Exception toast in register form screen has overflow errors."
### Problem
The exception toast in the register form has overflow errors.

![WhatsApp Image 2021-03-14 at 2 36 48 PM](https://user-images.githubusercontent.com/56649197/111063080-cfd87480-84d2-11eb-89c8-6481d98a5c11.jpeg)

### Possible solution
Wrapping the Text widget with an Expanded widget would solve the problem.

[2021-03-14 09:12] SriramPatibanda commented on #227
@jordanliu  Please assign this issue to me, I would like to work on it.

[2021-03-14 09:19] CyberWake commented on #220
@adithyaakrishna we can go with the light color shade border. Also I feel like automatically focusing the next field on user input would also enhance the UX. I am working on the second part right now if you could change the issue title accordingly would be nice of you :smiley: else will need to have a separate issue raised for the same file feature update

[2021-03-14 09:20] Sagar2366 commented on #227
@SriramPatibanda, you are more than welcome to contribute to this project. If this is not duplicate issue, you can start working on this issue and share or for review.

[2021-03-14 09:24] adithyaakrishna commented on #227
I guess this is not an Issue, @SriramPatibanda be sure to pull all the changes from the upstream/master to your repo and also set the Org. URL to http://calico.palisadoes.org/talawa/graphql

[2021-03-14 09:26] adithyaakrishna opened #228 "Fixing the Size of Password Strength Meter"
Description: The height of the password strength meter was a bit large in my opinion as the height was ~20

![image](https://user-images.githubusercontent.com/23498248/111063569-74f44c80-84d5-11eb-9538-9964b6845889.png)

This issue is Linked to PR #238

[2021-03-14 09:33] Sagar2366 commented on #146
Closing this issue as fixed in https://github.com/PalisadoesFoundation/talawa/pull/207

[2021-03-14 09:33] #146 closed

[2021-03-14 09:47] yasharth291 commented on #169
@sumitra19jha it is now working can you check please

[2021-03-14 09:52] yasharth291 opened #230 "[Enhancement] Administer cannot remove other administer but the error page for this is not coming"
the error is only showing in the console and not showing in the mobile app
![Capture](https://user-images.githubusercontent.com/55004621/111064273-0ca76a00-84d9-11eb-9d29-0041fec12ec1.JPG)
![WhatsApp Image 2021-03-14 at 3 22 32 PM](https://user-images.githubusercontent.com/55004621/111064283-1df07680-84d9-11eb-9a85-5183acf3fc78.jpeg)

[2021-03-14 10:02] yasharth291 opened #231 "[Proposal] Changing the date on the calendar doesn't show the event of particular day"
When i was clicking on different dates on the calendar the event bar was same but technically a better option would be it should show the events for that current day that is selected in the calendar. here is a short video regarding it.

https://user-images.githubusercontent.com/55004621/111064509-665c6400-84da-11eb-825b-a7e66d45ced3.mp4

[2021-03-14 10:09] SriramPatibanda commented on #222
I would like to work on this issue @adithyaakrishna .

[2021-03-14 10:10] yasharth291 opened #233 "[BUG] Deleting the Last Event Make screen stuck on loading"
when we delete the last event from the event list the screen stuck on loading

https://user-images.githubusercontent.com/55004621/111064717-9bb58180-84db-11eb-991e-d6642f855112.mp4

[2021-03-14 10:18] ishan0805 opened #234 "Adding a Splash Screen | Enhancement"
#### Almost every app , now days is having a splash screen with some cool animation . I noticed that Splash screen is not present in the app . If added it will make the app more attractive . Please allow me to do so . @Sagar2366

- [x] creating a screen
- [x] adding logo
- [x] adding some animation .

[2021-03-14 10:18] yasharth291 opened #235 "[BUG] Issue with the post"
1.  Tapping like button twice do not remove the like.
2.  Comment icon doesn't work
3.  Color doesn't changes on clicking the like button
4.  there is no dislike button
5.  there is not a share button as well
6.  post structure is not good
7.  can't put video or image in the post

would you please assign me this to do
@Sagar2366  @DeltaHarbinger @heyjordn @jordanliu

https://user-images.githubuser

[2021-03-14 10:21] Sagar2366 commented on #215
This should be handled with IDE linters and next check from SonarQube plugin as part of CI/CD plugin.
There are multiple guidelines available on Internet for the same. I don't think this is required.

[2021-03-14 10:21] #215 closed

[2021-03-14 10:22] GMGOG opened #236 "exceeding the limit of integer in idToColor function in file members.dart"
This one is breaking the custom sliver list view UI.
![SS of member screen](https://user-images.githubusercontent.com/43651504/111064859-77a67000-84dc-11eb-9735-6cbd6fe39634.jpeg)

Can I raise PR for the following issue? @Sagar2366

PS: I fixed this issue

![ss fixed](https://user-images.githubusercontent.com/43651504/111064967-34003600-84dd-11eb-9b9a-743d8926d59a.jpeg)

[2021-03-14 10:26] yasharth291 commented on #236
this issue is already present  #199  please read that. And i think other person is working on it. Please once read the previous issues #199

[2021-03-14 10:26] Sagar2366 commented on #235
Good observation. Please create separate issues if required wherever necessary. For example - separate iasue for like and comment issues, ans for share, dislike features.

[2021-03-14 10:27] yasharth291 commented on #235
i thought they will all come under post can you please assign this to me i want to work on it @Sagar2366

[2021-03-14 10:28] Sagar2366 commented on #236
@GMGOG , you are more than welcome to contribute to project. Please check existing issues and make sure you are creating duplicate issues.

[2021-03-14 10:29] GMGOG commented on #236
oh But I already fixed it so I thought to raise a PR as if he hasn't completed the fix.

[2021-03-14 10:43] GMGOG commented on #187
also UI is breaking.
https://user-images.githubusercontent.com/43651504/111065492-1aacb900-84e0-11eb-9e19-a9743103123a.mp4

Can I work on this issue? @yasharth291

[2021-03-14 10:45] yasharth291 commented on #187
i am currently working on it sorry

[2021-03-14 10:46] yasharth291 opened #240 "[enhancement] adding stories option in the news feed"
Able to Post short videos in the name of stories will be nice

[2021-03-14 10:48] GMGOG commented on #187
Can I work on this [https://github.com/PalisadoesFoundation/talawa/issues/235 ](issue). I you working on this issue. @Sagar2366

[2021-03-14 10:48] adithyaakrishna commented on #234
Hey @ishan0805 I had worked on this already and designed a basic splash screen for this

[2021-03-14 10:51] GMGOG commented on #187
okay, Can I work on issue **[BUG] Issue with the post #235** if you are working in this? @Sagar2366 can you assign issue #235 to me?

[2021-03-14 10:55] yasharth291 commented on #187
i am working on issues created by me

[2021-03-14 10:58] yasharth291 commented on #187
i am already working on my issues from 5 days on different branches

[2021-03-14 11:02] GMGOG commented on #187
sharing the load will increase the productivity & you raised this issue 40 mins ago so I thought you haven't started working on this. just a small suggestion: Don't work parallelly on the issues this can make delays in resolving the issues.

[2021-03-14 11:03] yasharth291 commented on #187
Could you please choose some easy issues and let the major issues resolved by me?

[2021-03-14 11:03] yasharth291 commented on #187
you can try #240

[2021-03-14 11:04] yasharth291 commented on #187
it is a major issue by the way you can go for #240

[2021-03-14 11:29] adithyaakrishna commented on #222
I'm working on it already @SriramPatibanda

[2021-03-14 11:33] adithyaakrishna commented on #155
What if we can create a dropdown kind of option to select the URL, the different organizations have to register and then their Name will be added as an option to the dropdown, we can create a basic UI in Talawa-Api for this and once an org. registers with their Name and URL, the Org. Name will be shown as n option in the Talawa App

[2021-03-14 11:40] #198 closed

[2021-03-14 11:54] Swayam221 opened #244 "[Bug]Url doesnt change once set"
once any wrong url (say by a typo) is saved (set url is pressed) , It just appears that you can edit and set another, while the app still uses the former
Steps to reproduce:
1. Run the app and set any url which does'nt exist.
![Screenshot_20210315-154110](https://user-images.githubusercontent.com/68892315/111137875-4fcf0f00-85a5-11eb-9e96-3ce78f3b4f1c.jpg)
2. Sign in/Signup
![Screenshot_20210315-1

[2021-03-14 11:56] DeltaHarbinger commented on #178
Hey @yasharth291, you can go ahead and start fixing deprecation issues. Since @cyber-venom003 pointed out a specific one, do you mind letting him tackle that one in particular, and you can start fixing the rest?

[2021-03-14 12:07] DeltaHarbinger commented on #171
Thanks for fixing the issue @sumitra19jha

[2021-03-14 12:07] #171 closed

[2021-03-14 12:09] sumitra19jha commented on #169
Yes @yasharth291 . The result does not match with the given string.
It is an query issue, have already submitted the pull request on the talawa-api

[2021-03-14 12:09] sumitra19jha commented on #169
Yes the click is working now

[2021-03-14 12:10] #154 closed

[2021-03-14 12:11] yasharth291 commented on #235
@DeltaHarbinger can you review it sir

[2021-03-14 12:16] Sagar2366 commented on #227
@SriramPatibanda, please share the steps to reproduce this issue. Are you on master branch ? Recently major fix has been added and these issues are already fixed. Please let us know if you still seeing this issue.

[2021-03-14 12:23] GMGOG opened #246 "landscape orientation UI"
App bar is taking more than half of the screen of the device in profile screen.

There can be two fixes:
1) We should not change the orientation of the app.
2) If we want to keep the landscape orientation we can use Sliver list view with Sliver App Bar.

For which solution I should aim for?

![WhatsApp Image 2021-03-14 at 5 47 36 PM](https://user-images.githubusercontent.com/43651504/111068198-ca3

[2021-03-14 12:25] YashJipkate commented on #81
Hey @arteevraina are you still working on this?

[2021-03-14 12:25] #170 closed

[2021-03-14 12:26] adithyaakrishna commented on #246
@GMGOG Ig this is similar to issue no. #173 which was opened by @sumitra19jha

[2021-03-14 12:29] GMGOG commented on #246
That was for the organisation page. I am referring profile page here.

[2021-03-14 12:37] adithyaakrishna commented on #246
Ohhhh got it 😶
Happy coding 💯🎉

[2021-03-14 12:37] CoderMayhem commented on #234
It would be great if you can post the designs in the `#talawa-design` slack channel for review. @adithyaakrishna

[2021-03-14 12:42] Pr47h4m opened #248 "[CODE] Filtering code and removing deprecated properties or keywords"
eg. removing "<Widget>", "new" keywords, formatting code

[2021-03-14 12:42] arteevraina commented on #81
Hi @YashJipkate ! I have already started working on this. I will send a patch soon. Thank you :)

[2021-03-14 12:43] sumitra19jha commented on #246
Actually, It was for the entire device. The app is built in such a way that portrait mode will be good for it.
@GMGOG

[2021-03-14 12:43] ishan0805 commented on #234
Sorry but I didn't   saw any issue related to it and I
 have already finished coding it .

[2021-03-14 12:45] ishan0805 commented on #234
@adithyaakrishna are you talking about native splash screen

[2021-03-14 12:49] yasharth291 commented on #248
hey i am already working on it.

[2021-03-14 12:50] Sagar2366 commented on #199
@pr4nshul please always mention on issue if you are working [Especially, if someone else has reported issue, to avoid duplication of work].

[2021-03-14 12:50] #199 closed

[2021-03-14 12:52] Sagar2366 commented on #236
Closing this issue as it is duplicate of https://github.com/PalisadoesFoundation/talawa/issues/199 and fixed as part of https://github.com/PalisadoesFoundation/talawa/pull/229

[2021-03-14 12:52] #236 closed

[2021-03-14 12:54] Pr47h4m commented on #248
same me too

[2021-03-14 12:58] #246 closed

[2021-03-14 12:58] #173 closed

[2021-03-14 13:00] sumitra19jha opened #249 "[Bug]: If User is in no Organization"
If member is in no organization then following error is thrown.

[code]

[2021-03-14 13:00] pr4nshul commented on #199
Ok, I will remember this next time. Although as @cyber-venom003 didn't mention he was working on it. I was just trying if I can resolve it and it worked the first time. But I will make sure this doesn't happen next time. Sorry for the inconvenience caused. @Sagar2366

[2021-03-14 13:01] Pr47h4m commented on #248
changed some of the files
#250

[2021-03-14 13:01] Sagar2366 commented on #248
@yasharth291 @Pr47h4m, avoid duplicating work.

[2021-03-14 13:01] CoderMayhem opened #251 "Providing a link to CONTRIBUTING.md in the Readme file"
**Description**
The Readme file at present does not contain a link to the CONTRIBUTING.md file. Providing this will help reduce efforts of new contributors as they go through the readme file at first.

**Working on it?**
Yes, PR will be opened shortly.

[2021-03-14 13:03] cyber-venom003 commented on #199
Yup, you were right, btw, you can work on it as I didn't mentioned it😅😅as I was busy in solving another issue.

[2021-03-14 13:03] yasharth291 commented on #248
i was already working from before @Sagar2366

[2021-03-14 13:05] yasharth291 opened #254 "UI of the Newsfeed page"
the News Feed page requires a new UI .

I will be changing the Layout of the newsfeed page which will include rearranging the things.

[2021-03-14 13:06] adithyaakrishna commented on #254
Hey @yasharth291 I'm working on this already

[2021-03-14 13:07] #251 closed

[2021-03-14 13:07] adithyaakrishna commented on #248
Yes @yasharth291 had already opened an issue regarding the deprecated properties

[2021-03-14 13:07] #213 closed

[2021-03-14 13:09] yasharth291 commented on #254
News feed  #235

[2021-03-14 13:10] sumitra19jha commented on #171
My pleasure

[2021-03-14 13:10] SriramPatibanda commented on #227
Closing this issue as it has already been fixed.

[2021-03-14 13:10] yasharth291 commented on #254
No worries you can see and bring some changes according to you and merge afterwards. My main change was in the layout.

[2021-03-14 13:10] yasharth291 commented on #254
Was there any issue related to your work?

[2021-03-14 13:11] CyberWake commented on #169
Please mart this issue as closed as it's working now.

[2021-03-14 13:11] Sagar2366 commented on #254
@adithyaakrishna please make sure you create issue to avoid work duplication.

[2021-03-14 13:12] #169 closed

[2021-03-14 13:12] yasharth291 commented on #254
@Sagar2366  can you please review my pr as i have to continue in the same branch to resolve #235

[2021-03-14 13:15] Pr47h4m commented on #248
ok closing the issue

[2021-03-14 13:15] #248 closed

[2021-03-14 13:16] yasharth291 commented on #248
Hey @adithyaakrishna could you please help me in solving some issues. I have a lots of them on my head.

[2021-03-14 13:16] yasharth291 commented on #254
@adithyaakrishna  hey can you help me resolve some of my issues please.

[2021-03-14 13:20] adithyaakrishna commented on #234
No worries @ishan0805 Do finish it and create a PR :)

[2021-03-14 13:21] adithyaakrishna commented on #254
Yes Sure, I'll DM you over slack

[2021-03-14 13:21] sumitra19jha opened #256 "[Bug] Profile Page error if user is not part of any organization."
### Description
The issue is observed in log while opening the Profile Page. The fact this issue occurs is because the user is not part of any organization at all. When user navigate to the profile screen, a query is being made using the organization_id whose value is null at the time of call leading to this issue.

**Observed Behaviour**
[code]

**Expected Behaviour**
No console error is observed

[2021-03-14 13:21] yasharth291 commented on #254
na we can talk here

[2021-03-14 13:22] yasharth291 commented on #254
you can help me resolve #233

[2021-03-14 13:22] Sagar2366 commented on #248
Suggestion - If you find any issues in project and you already occupied with other issues to work on. Don't raise PR or drop message for others to take it up.

[2021-03-14 13:23] adithyaakrishna commented on #233
Okay Will Work on this @yasharth291

[2021-03-14 13:28] Sagar2366 commented on #254
@yasharth291 , please follow guidelines while creating issues/pr. Above issue description is not helping to understand what changes you will be adding as part of this issue.

[2021-03-14 13:34] pr4nshul commented on #185
@yasharth291  are you working on this issue?

[2021-03-14 13:41] #200 closed

[2021-03-14 13:42] pr4nshul opened #258 "Error with registered events if events.length is not 0"
Although , this issue doesn't occur for every registered member. But I saw this in 3 or 4 members , I am working on it. I just need to know if this isn't a duplicate issue.
![Screenshot_20210314-190930](https://user-images.githubusercontent.com/51524156/111070780-3bcdd380-84f9-11eb-9324-74089f62a546.png)

[2021-03-14 13:43] pr4nshul commented on #258
@Sagar2366 @yasharth291 If you can assign me this , so that no duplicate work takes place.

[2021-03-14 13:43] adithyaakrishna commented on #248
Yes sure, working on one of yours, do lmk of others too :)

[2021-03-14 13:45] #254 closed

[2021-03-14 13:55] pr4nshul commented on #258
Ok, i was just looking into the issue and I found out this has some more underlying issues. When userEvents length =0 , no error occurs but if it is not 0. Then the issue comes up.

[2021-03-14 14:00] CoderMayhem opened #259 "(Bug) App throws error on Login and gets stuck"
**Issue Description**
When the user tries logging into the app it throws an error and stops. However, on re-running the app it starts from the Events page which means the user gets logged in successfully.

**Screen-cast**

https://user-images.githubusercontent.com/56952811/111071315-9831f280-84fb-11eb-9c84-541f9afeaf02.mp4

**Willing to work on this?**
Yes. It would be great if we can discuss this

[2021-03-14 14:08] CoderMayhem opened #261 "(Bug) User able to go to Login & Registration Screens even without entering orgUrl"
**Issue Description**
The user can go to the Login and Registration screens even without entering the Organisation URL by swiping left or right. This makes the Create Account and Login button deactivation redundant. Thus the swiping feature must be disabled until the user has saved the org URL.

**Screen-Cast**

https://user-images.githubusercontent.com/56952811/111071564-bd733080-84fc-11eb-8874-8

[2021-03-14 14:08] yasharth291 commented on #259
@CoderMayhem  please try to run the app by putting the URL first. As it can be seen in the video you are not typing the URL in the given field.

[2021-03-14 14:09] yasharth291 commented on #258
I am not a maintainer :)

[2021-03-14 14:10] #220 closed

[2021-03-14 14:16] pr4nshul commented on #258
Ok , but I hope you would definitely know if this is a duplicate issue or not xD

[2021-03-14 14:16] CoderMayhem commented on #259
The error persists regardless of the fact that URL is entered or not.

https://user-images.githubusercontent.com/56952811/111071826-ed6f0380-84fd-11eb-8813-2aab92f671fe.mp4

[2021-03-14 14:19] yasharth291 commented on #259
the same problem came to me. it is because you are using different URL different for the signup and different for login. That was what i get to know when i was getting same error. Other things @Sagar2366 sir can see

[2021-03-14 14:25] priyanshu0405 opened #262 "User can slide to login/signup page without entering org url"
The user can slide to login/ signup page even if the org url field is NULL.

[2021-03-14 14:26] yasharth291 commented on #262
its duplicate #261

[2021-03-14 14:28] CyberWake commented on #262
I have been working on the same and its done

[2021-03-14 14:29] #224 closed

[2021-03-14 14:29] priyanshu0405 commented on #262
@yasharth291 @CyberWake just saw #261. Closing this one.

[2021-03-14 14:29] #262 closed

[2021-03-14 14:29] DeltaHarbinger commented on #83
Hey @sssash18, we recently updated master to include a lot of stability changes in #151. The backend was also   offline until yesterday, so Registering and Signing In were problematic. you should now be able to register and sign in normally

[2021-03-14 14:29] #83 closed

[2021-03-14 14:30] DeltaHarbinger commented on #77
@i-anuragmishra sorry for the long wait. this issue has now been assigned to you

[2021-03-14 14:31] DeltaHarbinger commented on #77
I see that you made some PRs related to this issue @i-anuragmishra, but they have merge conflicts with other PRs that were merged. Please pull the new changes in master and reimplement yours so they can be merged

[2021-03-14 14:33] DeltaHarbinger commented on #103
Hey @yasharth291, for this issue, will you be focused on adding comments to already existing code? Please clarify before I assign this to you

[2021-03-14 14:34] i-anuragmishra commented on #77
Thanks a lot @DeltaHarbinger  and no issues 😄...

[2021-03-14 14:34] i-anuragmishra commented on #77
Okay @DeltaHarbinger  will do... 👍

[2021-03-14 14:34] DeltaHarbinger commented on #81
Hey @arteevraina, thanks for recommending this change. Please go ahead and add an appropriate pipeline. remember to link this with any PR you create

[2021-03-14 14:35] yasharth291 commented on #103
yeah
i will add comments

[2021-03-14 14:36] AniketSindhu opened #264 "Filepicker plugin causing lot of issues"
Issues like this
![image](https://user-images.githubusercontent.com/57598532/111072379-5eafb600-8500-11eb-89b7-1148ac1cca87.png)

And sometimes it is causing the issue like file called on null.

# Will you be working on it?
Yes creating a PR fixing this

[2021-03-14 14:38] DeltaHarbinger commented on #77
Hey @i-anuragmishra, #76 also references this issue. I'll be redirecting the creator to this thread for further discussion on the topic

[2021-03-14 14:44] DeltaHarbinger commented on #76
Hey @pratikbaid3, all necessary stability changes have been made in #151. Not all packages have been made up-to-date yet, but we have other contributors working on compatibility upgrades.

[2021-03-14 14:45] DeltaHarbinger commented on #103
Alright, go ahead. But be sure to pull the most recent version of master before working

[2021-03-14 14:45] #228 closed

[2021-03-14 14:46] DeltaHarbinger commented on #104
Hey @sumitra19jha, you can go ahead and work on this issue

[2021-03-14 14:47] AniketSindhu opened #266 "Password strength bar dont update while we type password"
https://user-images.githubusercontent.com/57598532/111072748-ed710280-8501-11eb-8d5e-bb0ce4607711.mov

[2021-03-14 14:48] sumitra19jha commented on #104
Sure @DeltaHarbinger

[2021-03-14 14:50] DeltaHarbinger commented on #105
Hey @CoderMayhem, PR #151 made major fixes to master. Furthermore, another PR (#106) was merged fixing this issue. We are sorry that we didn't assign this to you as you were the first one to bring it up, but we will be more careful to assign issues to the appropriate person in the future

[2021-03-14 14:50] #105 closed

[2021-03-14 14:51] DeltaHarbinger commented on #108
Hey @Swayam221, can you give a better example, or a screenshot of this issue so that we can understand it better before assigning it to you?

[2021-03-14 14:53] Raunakk02 opened #267 "[Proposal] Blurring the background of the Home page and Login/Registration page"
Currently, the **foreground elements** on the **_Home page and Login/Registration page_**  are looking noisy when we see them over the **background image**.

### Proposed Enhancement:

Blurring the background image will make the **foreground elements** look more appealing and will refine the UI.

I will be happy to work on this enhancement if the proposal looks fine.

[2021-03-14 14:55] Raunakk02 commented on #266
Duplicate of #210.
I already fixed this issue and already submitted a PR

[2021-03-14 14:55] #261 closed

[2021-03-14 14:55] DeltaHarbinger commented on #126
Hey @yasharth291, I can run this by the others managing the repo. In my opinion, this should be a good addition

[2021-03-14 14:58] AniketSindhu commented on #266
@Raunakk02 great! There are a lot of issues and your pr was not merged so I got confused

[2021-03-14 14:58] #266 closed

[2021-03-14 14:59] DeltaHarbinger commented on #152
Hey @yasharth291, #77 has already been created regarding outdated APIs. Feel free to bring the discussion to that PR. This will be flagged as duplicate and closed.

[2021-03-14 14:59] #152 closed

[2021-03-14 14:59] Raunakk02 opened #269 "[Improve UX] "Set URL" should close the on-screen keyboard"
### Current Scenario:
The `Set URL` button on the **Home page** doesn't close the on-screen keyboard when pressed.

### Proposed improvement:
On clicking the `Set URL` button, it should close the on-screen keyboard. Saving user from the time-consumed on pressing the back button on the device to close the keyboard.

_Please assign this to me, I'll be more than happy to work on this issue._

[2021-03-14 14:59] yasharth291 commented on #126
Thanks sir

[2021-03-14 15:03] sumitra19jha opened #270 "[Enhancement] Optimizing dialog box for iOS"
Every Dialog Box until now is created with a Ui interface displayed on android. This issue deals with the fact that dialog box can be optimised for making sure of the iOS experience on iOS Devices.

Following dialogue box can be optimized:
1. Logout Dialog
2. Leave organization dialog
3. Join Organization dialog

The enhancement will be great thinking from iOS perspective.

[2021-03-14 15:08] CyberWake commented on #269
Resolved the issue and launched the PR.

[2021-03-14 15:11] CoderMayhem commented on #269
Which PR @CyberWake ? Kindly mention here.

[2021-03-14 15:13] adithyaakrishna opened #272 "Adding Badges to README.md"
**Description:** Add GitHub Badges to the Readme File.

**Solution:**
![image](https://user-images.githubusercontent.com/23498248/111073708-b00e7400-8505-11eb-8a4d-e244d6f1806e.png)

[2021-03-14 15:18] #210 closed

[2021-03-14 15:21] Sagar2366 commented on #256
@sumitra19jha, follow proper guidelines while creating issues and pr's. Add proper description, observed and expected behaviour, snapshots/videos before and after, fix added, environment details.

[2021-03-14 15:21] CyberWake commented on #269
I was just pull from the master to avoid merge conflicts.😅

[2021-03-14 15:28] sumitra19jha commented on #256
Ok @Sagar2366
It's just that this error has no effect on user interface part. The ui will not at all be effected. It was displayed on console, so ended up pasting the console log rather than snapshot.

But sorry for causing you trouble. Will surely take care from next time and will immediately change all my PR based on the given guidelines.

[2021-03-14 15:39] Swayam221 commented on #108
@DeltaHarbinger this issue was actually opened for the old master branch. Since that branch is now  updated, this issue can be closed.

[2021-03-14 15:40] #108 closed

[2021-03-14 15:42] Swayam221 commented on #183
@Sagar2366 this used to be an issue when a user could have logged in what no url was provided. Now the app is working fine I guess. This issue can be closed.

[2021-03-14 15:42] #183 closed

[2021-03-14 15:56] GMGOG opened #277 "app launcher icons are missing."
I am adding the logo to the app launcher icon and other platforms as for now it has default flutter icon.

creating a PR after adding icons to the code. #284

![talawa-rtd](https://user-images.githubusercontent.com/43651504/111074989-b7d11700-850b-11eb-8867-4a6c51798530.png)

[2021-03-14 16:10] priyanshu0405 opened #281 "No back button on Create organisation page"
When the user signups for the first time the user is taken to choose organization page, if the user clicks on the '+' icon the user is taken to the create organization page which does not have a back button.

<img src="https://user-images.githubusercontent.com/58037946/111074886-4002ec80-850b-11eb-9152-c655f9b2e503.jpg" width="200" height="400">

[2021-03-14 16:14] Bhavay192 commented on #192
hey @yasharth291 are u working on this issue? If no , then @Sagar2366  please assign me this issue . thanks

[2021-03-14 16:15] yasharth291 commented on #192
yeah i am working on the post section all together. if you want you can go for #231

[2021-03-14 16:18] Bhavay192 commented on #231
hey @yasharth291  can u give an idea on how to link the different events with their corresponding dates ?

[2021-03-14 16:19] yasharth291 commented on #231
by using map indexing

[2021-03-14 16:21] Swayam221 commented on #155
@DeltaHarbinger , looks like @CoderMayhem solved this discussion in PR #265 . @CoderMayhem Please take care of duplicates issues, it is good that you are helping us all but duplicate issues can be frustrating when someone comes and sees what they've been working on has already been fixed  (it feels like a waste of time) . Still Thankyou! this issue can be closed now. @adithyaakrishna you can make

[2021-03-14 16:45] #272 closed

[2021-03-14 17:11] DeltaHarbinger commented on #155
Hey @Swayam221, it seems that @CoderMayhem has stopped the screen from scrolling left & right when no URL has been provided. You can still work on removing the login & sign-up buttons until a URL is provided. Does that sound good?

[2021-03-14 17:14] AniketSindhu commented on #155
@DeltaHarbinger the buttons are not clickable until URL is set. Also, they change color when the URL is set showing the user that they are now clickable

[2021-03-14 17:16] CoderMayhem commented on #155
Yes the sliding issue has been fixed and regarding the buttons they are not active until a URL value has been set, so rather than removing the buttons we can show a nice toast saying : "Fill up the organisation URL before proceeding!" (Or something similar) whenever the user clicks on these buttons without entering the URL.

[2021-03-14 17:18] CoderMayhem commented on #155
Bro the issue title should have been changed accordingly if you were working on fixing the sliding issue. I did not see any pre-existing issue that's why I created one. Still I apologise for any trouble.

[2021-03-14 17:19] AniketSindhu commented on #155
@CoderMayhem great idea! So who will be working on that?

[2021-03-14 17:20] Swayam221 commented on #155
@DeltaHarbinger everything seems fixed now sir. I will move on to other issues now. If further discussion is not required, we can close this issue.

[2021-03-14 17:20] Swayam221 commented on #155
I think @yasharth291 is fixing it as per #180

[2021-03-14 17:25] CoderMayhem commented on #155
Issue 180 is not about that. I guess nobody is working on this. If anyone wants to implement this they can discuss with the maintainers if it's worth implementing.

[2021-03-14 17:55] Bhavay192 commented on #231
hey @yasharth291  can we implement a different flutter package for the app?? it will just make it easy to display the list of events on a particular day ??

[2021-03-14 17:56] yasharth291 commented on #231
you have to ask @Sagar2366  sir

[2021-03-14 17:58] Bhavay192 commented on #231
hey @Sagar2366  can we just use an alternative for the calender?? A custom flutter package ??

[2021-03-14 18:30] Swayam221 opened #287 "No way to go to homepage after creating/joining first organisation."
As of now there is no way from going to the profile page to the home page once an organisation is selected for the very first time. When a user signs-up and joins/creates the very first org, they are directed to the profilepage, which doesnt have the the bottom bar which can help them navigate to other pages such as newsfeed.

[2021-03-14 18:34] Bhavay192 commented on #231
hey @yasharth291  can u pls be more specific about in which file u saw the calender code as I'm trying to figure out the particular page but couldn't

[2021-03-14 18:37] CyberWake opened #288 "[Bug] - New User signup home screen issue after successful login."
Description:
When a new user signs up to the app successfully and then joins any of the organization he is navigated to a page which is almost a dead end i.e it does not show the bottom navigation bar it just displays the profile page disabling the user to navigate to posts page, messages page, events page and members page.

Expected:
On successful signup and joining any organization or creating a

[2021-03-14 18:37] CyberWake commented on #288
Please assign this to me:relaxed:

[2021-03-14 18:46] yasharth291 commented on #288
this is duplicate issue can you please read the issues made before this one

[2021-03-14 18:47] CyberWake commented on #288
Can you mark the previous issue. I didn't find the one.

[2021-03-14 18:54] yasharth291 commented on #288
#193

[2021-03-14 19:02] adithyaakrishna opened #290 "[Proposal] - Add dropdown for different organizations instead of URL"
**Description:** What if we can create a dropdown kind of option to select the URL, the different organizations have to register and then their Name will be added as an option to the dropdown, we can create a basic UI in Talawa-Api for this and once an org. registers with their Name and URL, the Org. Name will be shown as n option in the Talawa App

[2021-03-14 19:10] guptapriyanshu7 commented on #184
@yasharth291 are you working on this?

[2021-03-14 19:14] guptapriyanshu7 commented on #184
This happens just after you enter on joining/creating a organisation.
Basically a person is stuck on this profile tab and cannot go anywhere else.
To do so, you got to exit the app and re-enter.

[2021-03-14 19:18] yasharth291 commented on #184
no i am not working it currently you can work

[2021-03-14 19:29] Swayam221 commented on #186
@Sagar2366 @DeltaHarbinger @jordanliu should i proceed with email verification only?

[2021-03-14 19:34] CoderMayhem opened #291 "Password show/hide button removed from Registration form"
**Issue Description**
In recently made changes to the registration form someone removed the password show/hide feature from the password field. It needs to be added again and the UI of Login form needs to be updated as per the UI of the Registration form.

**Working on this?**
Fixed. Linking PR below.

[2021-03-14 19:46] jordanliu opened #293 "PR and Issue Templates"
PR and Issue templates to be added

Issue Templates:
1. Bug
2. Feature Request

[2021-03-14 19:53] jordanliu opened #294 "Etiquette - Low Quality Issues and PR's"
Hey everyone!

The maintainers of Palisadoes Foundation are very happy and appreciative of the recent influx of interest for Talawa.

We know everyone is anxious and are excited to contribute, but we've noticed an increase in duplicate and low quality issues and PR's.

Please have a look at our [contributing guide](https://github.com/PalisadoesFoundation/talawa/blob/8b47ab1c97c3a7ee1b8352cbcfaad9b

[2021-03-14 20:32] CyberWake commented on #193
Resolved this issue and made a PR #289. Kindly look into this one and if possible please review it.😃

[2021-03-14 20:36] Sagar2366 commented on #231
@Bhavay192 , try to use existing code until and unless it is valid/not deprecated/best approach. If not propose new changes mentors will review and give you feedback.

[2021-03-14 20:52] Swayam221 opened #296 "[Docs] Spelling error in CONTRIBUTING.md"
typo at line 72 in contributing.md, "utility" misspelled as "utilitity".

[2021-03-14 20:58] #296 closed

[2021-03-14 21:01] Sagar2366 commented on #291
This is not good. Can you please check which PR reverted this ?

[2021-03-14 21:03] Sagar2366 commented on #290
I would advise to move discussion topics in slack and take mentors advice in them instead of directly creating issues on GitHub.

[2021-03-14 21:03] #290 closed

[2021-03-14 21:19] guptapriyanshu7 commented on #184
Okay I am working on this.

[2021-03-14 22:18] AniketSindhu opened #298 "[Discussion] [Enhancement] Most of the pages keep loading when data is empty."
I am thinking of showing some error screen after some fixed time like 10 seconds. Because infinite loading is not good for user experience.

I am willing to work on this if maintainers are ok with this approach

[2021-03-14 23:09] DeltaHarbinger commented on #172
Hey @sumitra19jha, thanks for bringing up the issue, I'll assign it to @adithyaakrishna. Please remember to link this issue to the PR which fixes it @adithyaakrishna

[2021-03-15 02:52] OnyemaAnthony opened #299 "Enhancement in the chat Text field"
The chat text Field in the chat navigation bar can be improved so that when the text reached the end of the text Field it moves to the next line, and also add a decoration to the text Field
![Screenshot_20210315-034316](https://user-images.githubusercontent.com/50530242/111097378-aefb3800-8541-11eb-9f8c-f8320efdd95f.png)

[2021-03-15 02:53] OnyemaAnthony commented on #299
Please can I work on this?

[2021-03-15 02:58] GMGOG opened #300 "[Enhancement] pull to refresh is always on top after scrolling down too."
We can only show pull to refresh when user scrolls up.

Can I work on this issue?

https://user-images.githubusercontent.com/43651504/111097767-2643c280-8568-11eb-8b23-6df220a928fe.mp4

[2021-03-15 03:00] Sagar2366 commented on #299
Good observation. You can start working on this. Looking forward to see your contribution to this project.

[2021-03-15 03:06] GMGOG opened #301 "[bug] Comment Screen"
hint text: "leave a comment..." is not center aligned and text field should be wrapped in intrinsicHeight widget.

Can someone assign this to me?

![WhatsApp Image 2021-03-15 at 8 33 19 AM](https://user-images.githubusercontent.com/43651504/111098450-8424da00-8569-11eb-830d-cdfa9b08e3c2.jpeg)

[2021-03-15 03:06] OnyemaAnthony commented on #299
Ok am already working on it,I will send a PR soon

[2021-03-15 03:09] GMGOG opened #302 "[bug] comment screen showing load comments even if there is no comment on the post."
Can someone assign this work to me?

https://user-images.githubusercontent.com/43651504/111098559-bd5d4a00-8569-11eb-972e-66d1ad7fdf92.mp4

[2021-03-15 03:14] GMGOG opened #303 "[bug] comment text field does not has multi-line support."
All text comes in one line that will create bad user experience.

Can someone assign this to me?
https://user-images.githubusercontent.com/43651504/111098985-93585780-856a-11eb-8ce6-9c212b930628.mp4

[2021-03-15 03:23] GMGOG opened #304 "[bug] event list on event tab bar does not get changed when you filter events by "all" or "today"."
Can someone assign this work to me?
https://user-images.githubusercontent.com/43651504/111099605-e1ba2600-856b-11eb-8b1b-b86b1ab7d43f.mp4

[2021-03-15 03:33] GMGOG opened #305 "[bug] Event registered with an old date."
Event registered with date 19 January 1970.

https://user-images.githubusercontent.com/43651504/111100127-0e227200-856d-11eb-9231-233115a38a2b.mp4

[2021-03-15 03:58] cyber-venom003 opened #307 "[bug] Not able to switch organisations after leaving one of them."
When we are a part of multiple organizations and we leave one of them by using the profile screen attached below, we get next screen which shows organization name = null. We have to manually switch the organizations after that.

Current organization = Amazon
![Screenshot_1615763155](https://user-images.githubusercontent.com/58390399/111101702-7888e180-8570-11eb-9fbc-54e5352df55b.png)
When we leave

[2021-03-15 04:16] CyberWake commented on #307
Please look into #249 this is also the same issue.

[2021-03-15 04:20] Sagar2366 commented on #175
@sumitra19jha please follow guidelines while creating issues and pr's. Add more details to this issue - observed behavior, expected behaviour, environment details, fix suggestion, snapshots(you have already it)/video.
With the proper description of the issue, if not you, others can clearly understand the requirement and work on it.

[2021-03-15 04:22] CyberWake commented on #307
Also look into the PR #257

[2021-03-15 04:25] cyber-venom003 commented on #307
@CyberWake
I guess, not, because I didn't encounter the same output on console after doing this. Both are almost similar bugs but their reproduction procedure is completely different. My side is, we are not able to switch the orgs automatically after leaving one.

[2021-03-15 04:37] OnyemaAnthony opened #309 "Enhancement in the profile screen"
When the user does not belong to any organization yet it's shows null as there organization,I want to display an appropriate message,also on the update profile icon,I want to change it to update icon instead of the person icon
![Screenshot_20210315-053153](https://user-images.githubusercontent.com/50530242/111104201-68f9a080-8550-11eb-8c06-ed84e00980ea.png)

[2021-03-15 04:59] sumitra19jha commented on #175
ok @Sagar2366
Changing the issue description

[2021-03-15 05:00] CoderMayhem commented on #291
It was done in PR #238 in [this](https://github.com/PalisadoesFoundation/talawa/pull/238/commits/ce789957d0b97a02757871365c638525c0b358a6) commit . @Sagar2366

[2021-03-15 05:03] sumitra19jha commented on #172
My pleasure @DeltaHarbinger
Good luck fixing the issue @adithyaakrishna  :)
Do let me know iff you need any help

[2021-03-15 05:13] sumitra19jha commented on #193
I added a comment

[2021-03-15 05:19] Sagar2366 commented on #249
Please follow the guidelines while creating issues and PR's. Add snapshots/videos, observed and expected behaviour, steps tp reproduce the issue.

[2021-03-15 05:19] #287 closed

[2021-03-15 05:21] Sagar2366 commented on #249
How https://github.com/PalisadoesFoundation/talawa/issues/256 issue is different from this one ? Can you fix https://github.com/PalisadoesFoundation/talawa/issues/256 in same PR ?
Avoid creating new issues/pr's for small fixes if not really required.

[2021-03-15 05:31] sumitra19jha commented on #249
Ok @Sagar2366 Noted that.

[2021-03-15 05:31] #249 closed

[2021-03-15 05:34] adithyaakrishna commented on #172
Thanks @sumitra19jha 🙌

[2021-03-15 05:53] Sagar2366 commented on #249
Should I close related PR for this https://github.com/PalisadoesFoundation/talawa/pull/252 ? Are you fixing both the issues - https://github.com/PalisadoesFoundation/talawa/issues/249 and https://github.com/PalisadoesFoundation/talawa/issues/256 in https://github.com/PalisadoesFoundation/talawa/pull/257 ?

[2021-03-15 05:56] SriramPatibanda commented on #227
The Issue has been reopened as it persists in the app.

The steps to reproduce this issue have been mentioned in the pull request:  #232

[2021-03-15 06:01] sumitra19jha commented on #249
PR #252 fixes the console error. I suppose it should be there as it is occurring on member page of organization which still will be in visible mode even if user is not part of anh organization at all.

[2021-03-15 06:04] sumitra19jha commented on #249
Yes @Sagar2366 the PR #256 is fixing both the issue.

[2021-03-15 06:15] yasharth291 commented on #303
hello but same issue comes under #235 thanks @Sagar2366 sir please look into this

[2021-03-15 06:16] yasharth291 commented on #301
hello same issue is being solved by me under #235 . @Sagar2366 please look into this.

[2021-03-15 06:31] sumitra19jha commented on #195
@Sagar2366 Your views on this?

[2021-03-15 06:51] sumitra19jha commented on #256
@Sagar2366 I have modified this issue details and also the PR details #257

[2021-03-15 07:05] Sagar2366 commented on #307
If user is part of multiple organization and left current set organization, then one of organization should get set out of remaining organization.
Adding snackbar is not helping here @cyber-venom003.

[2021-03-15 07:06] cyber-venom003 commented on #307
@Sagar2366 Adding snackbar was a part of issue #176 😅

[2021-03-15 07:10] sumitra19jha commented on #181
@DeltaHarbinger Can you please assign this issue to me.

[2021-03-15 07:14] Sagar2366 commented on #307
Since we are planning to remove leave organization and switch organization option if user is not part of any organisation, this case will never come.

[2021-03-15 07:18] cyber-venom003 commented on #307
Ok cool, is there any issue opened for it? Or should I open it?

[2021-03-15 07:41] Sagar2366 commented on #222
@adithyaakrishna, please update the issue and pr description - add before and after visuals.

[2021-03-15 07:52] yasharth291 commented on #184
@Sagar2366  please can you assign this to @guptapriyanshu7

[2021-03-15 08:01] adithyaakrishna opened #312 "Improving The UI of Login Page"
**Description:**
The Borders and Icon Color in the Login page aren't properly visible which is not a good UI design, so for now, it can be changed to a color like white to make it more visible

**Problem:**
<img src="https://user-images.githubusercontent.com/23498248/111121214-60c25500-8592-11eb-871f-833265e0e96b.png" width="150" height="300" />

[2021-03-15 08:09] yasharth291 commented on #235
@Sagar2366 please can you label it and assign me this

[2021-03-15 08:12] yasharth291 commented on #235
thanks sir

[2021-03-15 08:15] CyberWake commented on #309
Please look into issue #256 it's the same.

[2021-03-15 08:30] Sagar2366 commented on #244
Please follow guidelines while creating issue or pr's.
Provide proper description, observed and expected behaviour, fix added, snap/video of before and after change.

[2021-03-15 08:47] Sagar2366 commented on #264
@AniketSindhu please follow guidelines while creating issues and pr's.
Add meaningful title, description, observed and expected behaviour, steps to reproduce the issue, fix added, snapshots/video showing visuals of before and after adding changes.

[2021-03-15 08:48] OnyemaAnthony commented on #309
Okay let me close the issue

[2021-03-15 08:53] #309 closed

[2021-03-15 09:15] pr4nshul commented on #312
Are you working on this @adithyaakrishna ?

[2021-03-15 09:24] SatYu26 commented on #312
I would like to work on this.

[2021-03-15 09:33] pr4nshul commented on #201
I would like to work on this , are you currently working on it @yasharth291 ? Also, do we need the delete post and comment button to be user specific. That is the person that wrote that post have the access to delete it. Then maybe I would require some help from you.

[2021-03-15 09:37] yasharth291 commented on #201
yes i am totally working on the news feed comment and other sections too

[2021-03-15 09:38] yasharth291 commented on #201
Sorry but you can work on any other issue

[2021-03-15 09:39] pr4nshul commented on #201
Ok

[2021-03-15 09:43] pr4nshul opened #313 "[ User Experience Improvement] Pages being stacked after switching organisations"
This is a minor issue. When we switch organisations and save and then hit the back button we are routed back to switch organisations page. Hence, we are not being routed to the homepage but rather the home page is being pushed over switch page.
<img src="https://user-images.githubusercontent.com/51524156/111133776-e77e2e80-85a0-11eb-8d87-0c29aedd2098.png" height="300" width="150">
Press saved
<img

[2021-03-15 09:45] pr4nshul commented on #313
I am working on it, I couldn't find a similar issue hoping it's not a duplicate

[2021-03-15 09:51] #277 closed

[2021-03-15 10:03] adithyaakrishna commented on #312
@pr4nshul @SatYu26 I'm working on it

[2021-03-15 10:04] adithyaakrishna commented on #313
@pr4nshul , `<img src="<YourImageURL>" width="150" height="300" />`
Put the images like this, so that the issue with screenshots can be viewable easily instead of these large Screenshots

[2021-03-15 10:12] pr4nshul commented on #313
Ok, thanks for the tip !

[2021-03-15 10:18] Swayam221 commented on #244
@Sagar2366 i have updated the description. Sorry for any inconveniences caused before.
Please review PR #275 for this.

[2021-03-15 10:34] rutvik11062000 opened #316 "[UI Improvement] Using Hero widget for transition between NewsFeed and NewsArtcile."
<p float="left">
<img src="https://user-images.githubusercontent.com/47498552/111138997-9a04c000-85a6-11eb-8adc-9436b1372cbb.gif" width="200" height="400" />
<img src="https://user-images.githubusercontent.com/47498552/111139481-2fa04f80-85a7-11eb-8227-2d52c7242e1d.gif"
width="200" height="400" />
</p>

Current Transition - - - - - - - - - New Transition with Hero widget

Also with the Dynamic Tag

[2021-03-15 10:36] pr4nshul commented on #313
I am closing this issue, what I found after looking over the app is here persistent_tab_view pkg is used everywhere. So, i went to their documentation and found they don't have anything similar to pushReplaced which is available in core flutter pkg as Navigator.pushReplacedNamed. If we have to use this for making the app more efficient we need to do it everywhere otherwise a different issue will a

[2021-03-15 10:36] #313 closed

[2021-03-15 10:41] sumitra19jha commented on #175
@Sagar2366 I made a new PR request based on your feedback
#315 PR created

[2021-03-15 10:46] pr4nshul commented on #307
I would like to add something, after leaving a particular organization if I switch to another. What I observed is I was part of the same organisation which I left, this maybe this issue is due to all 3 organisation I was part of were named "**test org**". Initially I was part of an organisation which had like 15+ members , But the only organisation I am left with even after leaving it twice is the

[2021-03-15 10:47] pr4nshul commented on #307
There is also a chance of bad state management here , I was in no organisation but still 3 member showed up until I pulled to refresh.

[2021-03-15 10:48] sumitra19jha commented on #312
Hey @adithyaakrishna if you want to optimize the colors and want to decide which background box color will be good with foreground, you can refer this website - http://colormind.io

[2021-03-15 10:49] CyberWake opened #317 "[Bug] - Members page screen bleeding issue"
Description:
In members page there are two issues I observed:
1. As the profile pic tile color are generated based upon the member id which is a string causes int range error on calculation on color while parsing string to int.
2. If the User's first name and last name concatenated together is very large it cause particular tile to throw screen overflow error.

Expected:
The color generation for t

[2021-03-15 10:51] sumitra19jha commented on #294
Noted 👍
Will surely take care of this

[2021-03-15 11:05] cyber-venom003 commented on #307
Ya, this also occured with me @pr4nshul .

[2021-03-15 11:10] yasharth291 commented on #316
please can you wait for a little just today you can add after i solve #235

[2021-03-15 11:10] rutvik11062000 opened #320 "[bug] Text overflow in Members Page"
<img src = "https://user-images.githubusercontent.com/47498552/111144429-14384300-85ad-11eb-8252-de2237e4798c.jpeg" widht=200 height=400/>

[2021-03-15 11:11] rutvik11062000 commented on #320
I've checked other PR's if it is overlapping kindly tell me, I'll remove it.

[2021-03-15 11:16] rutvik11062000 commented on #316
Actually, the PR->travis build ✅ is already done.

There is not much change, though, only a few parameters are changed

[2021-03-15 11:23] CyberWake commented on #320
Please look into issue #317 and the PR raised for the same #319. You could review it if there's a better approach please add a comment in the review✌✌.

[2021-03-15 11:29] #320 closed

[2021-03-15 11:32] SatYu26 opened #321 "Deprecated Widget Used"
Hello,
1. I just noticed that many deprecated widgets were used and one of them was "List". (API.dart line 14.)
This is not creating an issue right now but might give someday and there are changes that empty list will be returned many times.
So I think we should change it to:
`var joinedOrgs = List<SwitchOrg>.filled(length, fill);`

2. FlatButton is also deprecated: We should use TextButton instea

[2021-03-15 11:43] Swayam221 opened #322 "[Bug/Enhancement] Remove Pageview for login screens."
**Issue description:**
As of now on the logic screen, user can swipe between the url screen and login, register pages. This has been implemented with PageView. With the login and create an account buttons on there being on the url screen, it makes more sense to let only those buttons navigate to those screens rather than the swipe. This will also include fixing the bug that there is no back button

[2021-03-15 11:58] CyberWake commented on #321
Autovalidate for the form is fixed PR under review for register form and create organization form.

[2021-03-15 12:02] adithyaakrishna commented on #322
This is a great one @Swayam221 🎉

[2021-03-15 12:04] SatYu26 commented on #321
Yeah sure then I can work on other deprecated widgets.

[2021-03-15 12:09] adithyaakrishna commented on #312
Hi @sumitra19jha , sure I will go through it. I usually refer behance.net or dribbble.com.
Also, we can discuss regarding the revamping of the whole UI.  As for now, I had thought of implementing a complete Design System for the Palisadoes Foundation and creating it in such a way that it can be implemented for other projects like

- https://github.com/PalisadoesFoundation/talawa
- https://github.c

[2021-03-15 12:11] CyberWake commented on #321
I guess the issue is already raised please check

[2021-03-15 12:23] CyberWake commented on #307
I have implemented the same. Please review #257

[2021-03-15 12:26] CyberWake commented on #307
This won't occur I guess as I am updating the preference and the providers do the same everwhere

[2021-03-15 12:34] GMGOG commented on #301
i guess not, I am talking about the post screen here.

[2021-03-15 12:38] AniketSindhu commented on #264
I have submitted a PR for this #276 already

[2021-03-15 13:02] CoderMayhem commented on #312
@adithyaakrishna this issue has already been addressed in PR #292  opened by me. You can add on to it if you want once it gets merged.

[2021-03-15 13:04] arteevraina commented on #81
Hi @DeltaHarbinger! Since there are analysis issues in the code. I think after my PR is merged probably, most of the PRs will fail the checks due to these analysis issues.

[2021-03-15 13:15] adithyaakrishna opened #325 "Improving Code Quality"
**Description:** The Import statements on projects need to be organized which can be helpful in the future if someone wants to go through the codebase and can be helpful for future developments

Fixing this issue will add comments on all .dart files regarding import statements and improve the code quality.

@jordanliu @Sagar2366 I'll create a separate branch and PR,  if this issue is approved as i

[2021-03-15 13:17] arteevraina opened #326 "Improve unit/ widget testing of the App."
Improving unit/widget testing of the app. Currently, the tests have been only been written for validators used in `Register` and `Login `Screens. I will help to improve the testing of the app and which would help to avoid any breaking changes in the future.

Folder: https://github.com/PalisadoesFoundation/talawa/tree/master/test

### Other Information.
If mentors/ participants have anything to add

[2021-03-15 13:18] adithyaakrishna commented on #312
@CoderMayhem , as for now it doesn't improve the UI by a great extent, just changes the colors and improves the visibility

[2021-03-15 13:34] CoderMayhem commented on #312
That's what I am saying, the exact same changes have already been made so there is no point having another issue opened for the same. @Sagar2366 and other maintainers have already mentioned multiple times to avoid duplicate issues. If you want to implement further changes to the UI you can do that once #292 gets merged.

[2021-03-15 13:43] CyberWake commented on #325
We can have a single export file for all similar category imports that would we much more optimised solution to reduce redundancy and fast development.

[2021-03-15 15:41] adithyaakrishna commented on #325
@yasharth291 Sure man you can go ahead, also I would love to discuss with you and work on it together if its okay :)

[2021-03-15 15:55] Sagar2366 commented on #175
@sumitra19jha , this is not helping to address the problem we are trying to solve.
Please discuss the issues in slack channels, if you have any doubts before implementing solution.

[2021-03-15 16:02] sumitra19jha commented on #175
Ok

[2021-03-15 16:10] #321 closed

[2021-03-15 17:12] #281 closed

[2021-03-15 17:19] Sagar2366 commented on #258
@pr4nshul , please add description to the issue and PR. Add steps to reproduce the issue, before and after adding changes video.

[2021-03-15 17:22] pr4nshul commented on #258
Ok, I am on it. Although I have a description of the PR, I am going to upload the video before and after the changes.

[2021-03-15 17:42] pr4nshul commented on #258
This is the error that occurs -

https://user-images.githubusercontent.com/51524156/111196516-6005df00-85e3-11eb-8777-161b9d85e69d.mp4

This is after the resolution-

https://user-images.githubusercontent.com/51524156/111196593-7875f980-85e3-11eb-80be-221a541ad7b5.mp4

Steps to reproduce -

Go to members tab, select an user if that user have 0 events then no error will occur . But if the user has

[2021-03-15 17:49] Sagar2366 commented on #193
Closing this issue as it is duplicate of https://github.com/PalisadoesFoundation/talawa/issues/288

[2021-03-15 17:49] #193 closed

[2021-03-15 17:54] Swayam221 commented on #208
This issue might be resolved by PalisadoesFoundation/talawa-api#127.

[2021-03-15 17:54] #222 closed

[2021-03-15 17:54] Swayam221 commented on #204
This issue might be resolved by PalisadoesFoundation/talawa-api#127.

[2021-03-15 18:00] Swayam221 commented on #155
I would like to ask the maintainers if they want this change to made regarding this discussion, the change proposed is: let the 'create an account' button and 'login' button on the mainscreen be active all the time and a toast message is displayed when the user clicks these without setting a url first saying "please set a url first". If we do not want this change, we can close this issue i think.

[2021-03-15 18:05] pr4nshul commented on #258
I printed the length of eventList for various members in addition I also tried to print the event List , I also though if I use string interpolation $ , null would be printed as it is , but the issue with that was the length of eventList which wasn't chainging. So for one user , 54 times null list view was built. As, i have mentioned in the PR. This is a much more than a bug as a similar issue is

[2021-03-15 18:21] #256 closed

[2021-03-15 18:33] #317 closed

[2021-03-15 18:43] Sagar2366 commented on #312
Closing this as fix has been added with https://github.com/PalisadoesFoundation/talawa/pull/292 PR.

[2021-03-15 18:43] #312 closed

[2021-03-15 19:00] Sagar2366 commented on #288
Marking this as duplicate of https://github.com/PalisadoesFoundation/talawa/issues/184

[2021-03-15 19:00] #288 closed

[2021-03-15 19:03] #184 closed

[2021-03-15 19:05] #81 closed

[2021-03-15 19:21] adithyaakrishna opened #330 "Ui/Ux Upgradation - On Hold"
**Description:** The current Nav Bar uses `persistent_bottom_nav_bar` and from a UI/UX point of view is kind of outdated so had to rework and revamp this into `CurvedNavigationBar` with animation Support

**Problem:** The current nav bar looks like this,

![image](https://user-images.githubusercontent.com/23498248/111208966-6bf89d80-85f1-11eb-8dae-4e6df675cc9a.png)

[2021-03-15 19:27] adithyaakrishna opened #332 "Ui/Ux - Upgrading Loader Used Across the App"
**Description:** The current Loader/Progress indicator uses `CircularProgressIndicator and this can be improved/reworked on to create a better looking loader for the app

**Problem:** The currentloader looks like this,
![image](https://user-images.githubusercontent.com/23498248/111209804-7e270b80-85f2-11eb-855c-a6848374c1b9.png)

or instead of using Loader on News Feed, Event and other pages, we c

[2021-03-15 19:29] #291 closed

[2021-03-15 19:32] adithyaakrishna opened #333 "Ui/Ux - Upgrading the current splash screen to a animated one"
**Description:** The current splash screen has only one icon and it can be improved by animating the splash screen i.e. using some animated gifs or through some other way.

**Problem:** The below image shows the current splash screen which can be completely revamped to a animated one,

![image](https://user-images.githubusercontent.com/23498248/111210291-1624f500-85f3-11eb-9e82-3c7aeb4afd23.png)

[2021-03-15 19:35] Sagar2366 commented on #330
@adithyaakrishna please let us know why are you creating different issues for this ? #330, #331, ₹332

[2021-03-15 19:41] adithyaakrishna commented on #330
I created the issues separately as it deals with different aspects of the App. I'll keep that in mind before opening another issue in the future and also will make sure to discuss regarding the same :)

[2021-03-15 20:01] ishan0805 opened #334 "Proper State Management (Removal of pull to refresh )"
### Description
 I think **pull to refresh** can be avoided by proper state management . As of now manually a request is made again and again to fetch data when page is reloaded .

### Solution
Inside preference provider we can define a function that return the list of post  with a  'listener()' so that whenever a new post is created that is displayed automatically without explicitly pulling the p

[2021-03-15 20:05] yasharth291 commented on #334
Hello @ishan0805  actually i think you are not working on the recent code because the thing i can see on the screenshot is old and can create problem with my merge please see mentors

[2021-03-15 20:06] yasharth291 commented on #334
And i think it is resolved in the current code base

[2021-03-15 20:09] ishan0805 commented on #334
ok I will check that , thanks for the information .

[2021-03-15 21:58] sumitra19jha commented on #104
Issue has been fixed in PR #335 @DeltaHarbinger

[2021-03-15 22:02] sumitra19jha commented on #172
@adithyaakrishna is the issue being resolved ?

[2021-03-15 22:31] TusharGupta05 opened #336 "[Bug] Pixels Overflow on Join Organization Page"
As it is visible in the screenshot, on the join organization page, pixels are overflowed.
**Steps to reproduce :** Run the app on iPhone 5

![Screenshot (212)](https://user-images.githubusercontent.com/56271252/111229347-c141a880-860b-11eb-815e-9afe94405e21.png)

I would like to work on this. @mentors please assign this issue to me.
Also, I am on the master branch. So, I don't think it is a duplic

[2021-03-15 23:22] DeltaHarbinger commented on #155
Hey @Swayam221, the change implemented in #265 was the removal of scrolling to the login or sign-up pages without a link being present. I believe it would be great if you want to implement a SnackBar or Toast message to state that users need to enter a link before signing up. If you want to implement this, please respond here

[2021-03-15 23:23] DeltaHarbinger commented on #168
Hey @sumitra19jha, a quick heads up before you work on this. Documents related to our goals for the app will be released soon. I'm not sure if these goals will include this feature, so I would recommend you wait to see if the document contradicts this idea before we progress

[2021-03-15 23:24] DeltaHarbinger commented on #172
Hey @adithyaakrishna, please remember to add this issue to the PR if you are working on it.

If you decided not to work on it, please comment here

[2021-03-15 23:55] piyushpradhan commented on #326
I can help with writing widget tests.
If no one's currently working on it, can I take this up ?

[2021-03-16 00:38] arteevraina commented on #326
Hey @piyushpradhan ! Let's wait for the issue to get approved. If it gets approved, as I will be also working on this  please update with widget are you working on in order to avoid any duplicate work.

[2021-03-16 03:08] piyushpradhan commented on #326
Yeah, sure. We'll do that.

[2021-03-16 03:27] CyberWake commented on #185
@yasharth291 are you working on it or will you be working upon it, if so could you assign this to me please. As there are lot of issues you are working upon.🙂

[2021-03-16 03:34] Swayam221 commented on #155
Yes, I surely would like to implement this.

[2021-03-16 03:44] jordanliu opened #338 "GitHub Actions"
1. Automate greeting messages for users when they've first created an issue or pr - reinforcing our contributing guides
2. Check for stale issues and pr's

[2021-03-16 03:45] ishan0805 commented on #333
actuall this PR is Still not accepted

[2021-03-16 03:50] CoderMayhem commented on #259
Closing this issue as the related PR has been merged.

[2021-03-16 03:50] #259 closed

[2021-03-16 03:51] cyber-venom003 commented on #307
@CyberWake I reviewed the file changes in PR #257, and I guess it is solved now, @Sagar2366 can you please confirm if this issue needs to be closed?

[2021-03-16 04:07] jordanliu commented on #326
Agreed, let's add some overflow tests as well. Assigning @arteevraina

[2021-03-16 04:08] jordanliu commented on #330
Hey @adithyaakrishna, seeing how we're in the process of redesigning the app I think we should hold off on certain UI/UX changes for now

[2021-03-16 04:09] jordanliu commented on #332
Hey @adithyaakrishna, seeing how we're in the process of redesigning the app I think we should hold off on certain UI/UX changes for now

[2021-03-16 04:12] jordanliu commented on #325
Seeing how @yasharth291 is working on some aspects of improving code quality, could you guys sync up and see what can be collaborated on?

[2021-03-16 04:13] jordanliu commented on #322
Assigned

[2021-03-16 04:22] adithyaakrishna commented on #332
@jordanliu Yes, I completely agree with you. I won't work on this issue for now and would proceed with it in the future once the requirements document has been shared or after thorough discussion

[2021-03-16 04:35] CoderMayhem opened #339 "(Bug) Format Exception thrown in Events page after logging in"
**Issue Description**
The app is throwing format exception when the user reaches the Events page after login :
`FormatException: Invalid radix-10 number (at character 1)
1:00 PM
^
`
Here's the video reproducing the bug :

https://user-images.githubusercontent.com/56952811/111256387-ff0bf480-863e-11eb-9939-2692bf504a6a.mp4

Here's the screenshot of the exception thrown :
![event-error](https://user

[2021-03-16 04:36] adithyaakrishna commented on #172
@DeltaHarbinger @sumitra19jha I've worked on it but was facing some issue so had to rework the thing again, I'll create a PR for the same by the EOD 💯

[2021-03-16 04:38] ishan0805 commented on #334
@yasharth291  only the **pull to remove** text is removed  the functionally is still the same . Now user need to pull himself without knowing if its news is posted or not

[2021-03-16 04:38] GMGOG commented on #300
@Sagar2366 @DeltaHarbinger please assign this to me.

[2021-03-16 04:41] sumitra19jha commented on #168
Sure. Will wait for it

[2021-03-16 05:11] GMGOG opened #340 "App should inform users that why are they no getting any data on their screen."
API Response:
![image](https://user-images.githubusercontent.com/43651504/111258431-f9b0a900-8642-11eb-9a1d-56464e2fa0b2.png)

https://user-images.githubusercontent.com/43651504/111258614-5613c880-8643-11eb-861e-789f4aa042f2.mp4

[2021-03-16 05:17] GMGOG opened #341 "[Bug]App is not showing that user is not connected to Internet or their Internet is not working."
App must informs users when they get connected or disconnected to internet.

https://user-images.githubusercontent.com/43651504/111259315-aa6b7800-8644-11eb-8ce2-ed94cd66ae51.mp4

[2021-03-16 05:29] rutvik11062000 opened #342 "[New Feature] Change organizations from newsfeed page"
Description:
current: **Changing** / **Joining** organizations require to jump to the profile section and then paginate to the respective page.
Proposing:
<p>
<img src="https://user-images.githubusercontent.com/47498552/111260032-1c908c80-8646-11eb-82a0-05441b240595.png"
width="200" height="400"/>
<img src="https://user-images.githubusercontent.com/47498552/111260093-36ca6a80-8646-11eb-8181-93ba08

[2021-03-16 05:45] adithyaakrishna commented on #325
Yes sure @jordanliu , @yasharth291 can we discuss about the same?

[2021-03-16 05:50] adithyaakrishna commented on #333
@ishan0805 We can use flare for creating a better splash screen, the implementation is also very easy for this
I thought the PR was accepted already 😶
As its not accepted, we can discuss about it and push a commit to the same PR

[2021-03-16 06:49] ishan0805 opened #343 "[ Bug ] Validation needed in adding News"
### Description
While adding a news two fields are required , but validation is not given to any of them . Thus a user can post a news but it will not display .

https://user-images.githubusercontent.com/57336738/111267191-a2fe9b80-8651-11eb-9783-58d046635bdc.mp4

## Additional Validation
Validation to the length of Title and description can also be given . As of now any long text can be added . T

[2021-03-16 07:26] CyberWake commented on #340
Please look into issue #298 it is correlated the issue stated by you.

[2021-03-16 07:27] CyberWake commented on #340
Better to update the existing issue rather than creating multiple.😎😎

[2021-03-16 07:40] OnyemaAnthony opened #344 "[bug] pixel overflow in sign up screen"
When the user wants to sign up and there is an error of any kind, the snack bar displayed at the bottom produces an overflow error
![IMG-20210316-WA0004](https://user-images.githubusercontent.com/50530242/111272681-38d6fe00-8633-11eb-8983-383994e69e11.jpg)

[2021-03-16 07:41] OnyemaAnthony commented on #344
@Sagar2366 please can I work on this?

[2021-03-16 08:12] yasharth291 commented on #185
you have to ask from the mentors and let you assign this

[2021-03-16 08:45] guptapriyanshu7 opened #346 "[Feature] implementing chat functionality"
Right now the chat section has no functionality.
No one can send messages in a particular event.
![WhatsApp Image 2021-03-16 at 2 07 20 PM](https://user-images.githubusercontent.com/60141300/111280239-9d10b680-8661-11eb-80fa-28143333fa83.jpeg)

I am willing to do this:-
@Sagar2366 @DeltaHarbinger could you assign this to me.

[2021-03-16 08:59] GMGOG commented on #340
Okay, you should mention issues clearly so that if someone search issues with keywords. It should appear.

[2021-03-16 09:04] yasharth291 commented on #346
i have already opened the same issue please look

[2021-03-16 09:27] pr4nshul commented on #344
duplicate #223

[2021-03-16 09:29] utkarshshendge opened #347 "[Enhancement] Add package_info plugin"
- **Issue Description:** Add [package_info](https://pub.dev/packages/package_info) plugin as it  enables us to query information about an application package.
- **Issue Severity:** Low
- **Environment Details:** The current version of app is 1.0.0 (which is also the default version) but, in [lib/views/widgets/about_tile.dart](https://github.com/PalisadoesFoundation/talawa/blob/master/lib/views/wid

[2021-03-16 09:32] guptapriyanshu7 commented on #346
Could you please tag it?

[2021-03-16 09:46] OnyemaAnthony commented on #344
Duplicate issue

[2021-03-16 09:46] #344 closed

[2021-03-16 10:39] ram2939 commented on #343
I would like to work on this issue

[2021-03-16 10:54] #175 closed

[2021-03-16 11:06] yasharth291 commented on #346
#187

[2021-03-16 11:07] ishan0805 commented on #343
@ram2939  sorry I have already asked the mentor to allot this to me .

[2021-03-16 11:07] yasharth291 commented on #346
you can close this one and ask the mentors to assign you that to you

[2021-03-16 11:07] ishan0805 commented on #333
@adithyaakrishna  Flare is used to animate widgets . Splash screen is Provided before any widget even starts to initialized .
You **cannot** animate the splash screen it has to be a static image as mentioned [here](https://stackoverflow.com/questions/57592492/flutter-animated-splash-screen-gif)
But you can trick the user to think it is an animation by providing the first screen  UI same as of spla

[2021-03-16 11:11] #179 closed

[2021-03-16 11:14] ram2939 commented on #336
I would like to work on this issue

[2021-03-16 11:16] sumitra19jha commented on #104
@DeltaHarbinger I created a PR for resolving this issue. Please give it a look and share your feedback.

[2021-03-16 12:04] #269 closed

[2021-03-16 13:10] guptapriyanshu7 commented on #187
@Sagar2366 @DeltaHarbinger can you assign this to me?

[2021-03-16 13:24] CyberWake opened #349 "Under switch organization page my current organization should be auto selected"
Description:
When the user visits the switch organization page then he cannot figure out which was his current organization making him go back to profie page and checking his current organization.
Solution:
On visit to switch organization page automatically selecting the current organization through the current organization id from provider.

https://user-images.githubusercontent.com/44184786/1113

[2021-03-16 13:25] sumitra19jha commented on #172
Hey, @adithyaakrishna if you are currently busy with another issue do let me know. Most of my issue are either waiting to be assigned or waiting for the goals of the app to be released. So if you are busy with some other issue do let me know.

[2021-03-16 14:00] yasharth291 commented on #201
could anyone assign me this as i am done with my other assignments

[2021-03-16 15:28] #293 closed

[2021-03-16 15:32] jordanliu opened #353 "Move Issue and PR templates"
Move templates to .github/ISSUE_TEMPLATE and .github/PR_TEMPLATE

[2021-03-16 16:31] CyberWake opened #355 "Organization Settings Page"
I encountered an issue with the new organization settings page implemented.

 1.   It doesn't allow me as a member to leave any organization. **[Bug]**
 https://thepalisadoes-dyb6419.slack.com/files/U01QZEFJSCE/F01QYUR2A3H/t_video6235250589085729285__1_.mp4
 2.   As a member this page should be adaptive accordingly like it should either show me the toast in remove member page on marking any member

[2021-03-16 16:50] palisadoes opened #356 "Add "Auto Label" GitHub Action to repo"
Details here: https://github.com/Renato66/auto-label
Set default label to: "PR-Unapproved"

[2021-03-16 17:00] CyberWake commented on #333
Correctly said we can only create the illustration that the launch screen is animated.

[2021-03-16 17:01] palisadoes opened #358 "Testing new issue auto label"

[2021-03-16 17:24] CyberWake commented on #355
@Sagar2366 @jordanliu can you please assign me this issue. I would be very happy to contribute on the following issue.

[2021-03-16 17:56] #358 closed

[2021-03-16 18:14] Sagar2366 commented on #195
@sumitra19jha closing this feature as it is not required for now.

[2021-03-16 18:14] #195 closed

[2021-03-16 18:22] Sagar2366 commented on #127
Closing this issue as duplicate of https://github.com/PalisadoesFoundation/talawa/issues/103

[2021-03-16 18:22] #127 closed

[2021-03-16 18:44] adithyaakrishna commented on #333
Exactly, that's what I meant to say but couldn't put it out properly

[2021-03-16 18:53] adithyaakrishna commented on #172
Working on yours rn, these issues have to be discussed with the maintainers before working on them. I had some merge conflicts while trying to create a PR for your issue, so have to fix them before pushing a final commit and as @jordanliu had said that the repo is under code freeze, I wont be creating the PR but will commit to a new branch in my fork and wait for updates from maintainers :)

[2021-03-17 01:00] Sagar2366 commented on #235
@yasharth291 for now ignore dislike and share button feature. Focus on remaining features.

[2021-03-17 01:01] #303 closed

[2021-03-17 01:04] Sagar2366 commented on #304
@GMGOG assigning this issue to you, now you can start working on this.

[2021-03-17 01:06] Sagar2366 commented on #305
Need more information about this issue.

[2021-03-17 01:10] jordanliu commented on #356
Should be for PR's only, issues need a to be triaged

[2021-03-17 01:12] #316 closed

[2021-03-17 01:12] Sagar2366 commented on #316
As discussed in PR, this feature is not required.

[2021-03-17 01:17] Sagar2366 commented on #301
Will get fixed as part of https://github.com/PalisadoesFoundation/talawa/issues/235

[2021-03-17 01:17] #301 closed

[2021-03-17 01:18] Sagar2366 commented on #302
Should get fixed as part of https://github.com/PalisadoesFoundation/talawa/issues/235

[2021-03-17 01:18] #302 closed

[2021-03-17 01:27] Sagar2366 commented on #325
Will get fixed as part of https://github.com/PalisadoesFoundation/talawa/issues/103

[2021-03-17 01:27] #325 closed

[2021-03-17 01:32] Sagar2366 commented on #330
Consider UI/UX upgradation issues as part of this -
https://github.com/PalisadoesFoundation/talawa/issues/330
https://github.com/PalisadoesFoundation/talawa/issues/331, https://github.com/PalisadoesFoundation/talawa/issues/332

[2021-03-17 01:32] Sagar2366 commented on #332
Should get fixed in https://github.com/PalisadoesFoundation/talawa/issues/330

[2021-03-17 01:32] #332 closed

[2021-03-17 01:33] Sagar2366 commented on #333
Should get fixed as part of https://github.com/PalisadoesFoundation/talawa/issues/330

[2021-03-17 01:33] #333 closed

[2021-03-17 01:41] Sagar2366 commented on #300
Will get fixed in https://github.com/PalisadoesFoundation/talawa/issues/334

[2021-03-17 01:41] #300 closed

[2021-03-17 01:42] Sagar2366 commented on #334
@ishan0805 you can start working on this issue. Consider this case also while working on this issue - https://github.com/PalisadoesFoundation/talawa/issues/300

[2021-03-17 01:45] Sagar2366 commented on #336
Have you tested this scenario for Android phone as well ? Most of User base will be Android users only. So we might not run into this condition.

[2021-03-17 01:57] CyberWake commented on #355
Thank you @Sagar2366 sir. Working on it.😊

[2021-03-17 02:27] TusharGupta05 commented on #336
@Sagar2366 sir, I have tested it on 10 different screen sizes. 3 of them had the same problem. And 2 of those three are android phone screen sizes. I have attached the screenshots of both of the android phones.
![Screenshot (212)](https://user-images.githubusercontent.com/56271252/111405335-4c976880-86f6-11eb-9dc3-548168da97fd.png)
![Screenshot (216)](https://user-images.githubusercontent.com/5627

[2021-03-17 02:59] jordanliu opened #359 "Student Internship Programs"
# Internship Programs
This is your internship program starting point

## Reviewers

Our current `pull request` reviewers are:

### Talawa Mobile
1. @noman2002
1. @Kevoniat
1. @Ayush0Chaudhary
1. @CyberWake
1. @literalEval
1. @DMills27
1. @Dante291

### Talawa Admin
1. @duplixx
1. @disha1202
1. @GlenDsza
2. @meetulr
1. @gautam-divyanshu
1. @pranshugupta54
1. @AVtheking
1. @varshith257
1. @noman2002

[2021-03-17 03:28] piyushpradhan commented on #342
I can take this up, if no one else is working on it.

[2021-03-17 04:31] #342 closed

[2021-03-17 04:50] Sagar2366 commented on #155
@Swayam221 this is not required feature. Since only enter organization box is in active state it will make sense to the user that they needs to enter parent organization before creating account. It is one kind of multi-factor authentication. By enabling signup/login buttons all time, we are unnecessarily adding code/feature which is not required.

Closing this issue as it is not required feature.

[2021-03-17 04:50] #155 closed

[2021-03-17 05:27] adithyaakrishna commented on #353
Is this issue up for grabs? If so would love to work on it 👀

[2021-03-17 05:29] yasharth291 commented on #235
ok sir i am working on both

[2021-03-17 08:48] #267 closed

[2021-03-17 12:48] pr4nshul commented on #223
It is resolved, I do not know in which PR but today I was working on it . And it is no longer an issue.

[2021-03-17 12:48] #223 closed

[2021-03-17 12:57] pr4nshul opened #362 "Wrong profile picture in comment section"
![Screenshot_20210317-182105](https://user-images.githubusercontent.com/51524156/111470932-5e0c5f00-874e-11eb-805a-6304a09c4e8b.png)

I don't know whether this would be considered as an enhancement or a bug. But , yes I noticed I don't have a profile image and if I go to comment section of each post I get a profile image of another person (the same profile picture though).

P.S - and for some reas

[2021-03-17 12:58] pr4nshul commented on #362
@Sagar2366  Please let me know, if we are allowed to work on this rn. And if we are can you assign this to me.

[2021-03-17 13:02] GMGOG commented on #305
When I logined in my account. It was showing 3 already registered events with old dates. I'm unable to register new events and when I all of them. It's showing a infinite loading spinner and I'm not able to add events also.

[2021-03-17 13:14] Swayam221 commented on #244
@jordanliu please review.

[2021-03-17 14:06] TusharGupta05 opened #363 "[Bug] Bug in the login page"
There is a bug in the login page.
When the value of dropdown button is changed, the text of 'URL SAVED!' button does not change to 'Set URL'. It changes only when the text of textfield changes and it does not change when the value of dropdown changes. Not only that after the value of dropdown changes, the 'Create an Account' and 'Login' buttons should also be disabled until the user presses the 'S

[2021-03-17 14:07] SriramPatibanda commented on #176
Hey @Sagar2366 Can you please assign this to me?

[2021-03-17 14:27] #227 closed

[2021-03-17 14:30] Sagar2366 commented on #180
Closing this issue as already fixed in recent changes.

[2021-03-17 14:30] #180 closed

[2021-03-17 15:09] sumitra19jha commented on #172
Ok!!!

[2021-03-17 17:06] GMGOG opened #364 "Mandatory fields must get highlighted when user doesn't input data."
- [ ] Mandatory fields must be highlighted and should prompt user to input in the field.

- [ ] Should inform if user enters a irrelevant data.

Error logs while creating a event.
![image](https://user-images.githubusercontent.com/43651504/111506927-24e4e680-8770-11eb-9a27-4b795d29972e.png)

UI of app while creating a new event.
https://user-images.githubusercontent.com/43651504/111507431-a89ed300

[2021-03-17 17:13] GMGOG opened #365 "[enhancement] if API field is null then login button must inform user."
attached screen recording for the same.

https://user-images.githubusercontent.com/43651504/111508739-0d0e6200-8772-11eb-823a-be60fe732e0f.mp4

[2021-03-17 17:15] shikharsaurav commented on #343
is this problem solved?

[2021-03-17 18:00] shikharsaurav opened #366 "PassWord Validator in signup page"
password must have:
minimum 1 Upper case alphabet
minimum 1 lower case alphabet
minimum 1 numeric character
minimum 1 special character
Password string should not have user first name or last name in it

[2021-03-17 18:00] shikharsaurav commented on #366
@heyjordn @jordanliu
plz assign me for this issue

[2021-03-17 18:16] Sagar2366 commented on #258
@pr4nshul can you test this on latest master ? don't see this error any more

[2021-03-17 18:17] pr4nshul commented on #258
Ok let me get back to you.

[2021-03-17 18:21] #234 closed

[2021-03-17 18:22] Sagar2366 commented on #234
Logo is already added in one of recent PR. Rest features are not required.

[2021-03-17 18:22] ayushs136 commented on #176
I can fix this one, can you assign it to me? @Sagar2366

[2021-03-17 18:27] pr4nshul commented on #258
![Screenshot_20210317-235322](https://user-images.githubusercontent.com/51524156/111518792-6da29c80-877c-11eb-90ff-677d4f264d55.png)

@Sagar2366
It's still a issue, you won't get this issue on every user, but if he ever registered for an event , you would. You can try on the same user that I have in this image. Another user Geetansh monga you can see the error there as well.
Sorry for these big sc

[2021-03-17 18:30] shikharsaurav commented on #355
@Sagar2366 @jordanliu can i work on 1st bug i would love to contribute

[2021-03-17 18:39] ayushs136 commented on #258
I have fixed this issue?
should I make a PR?

[2021-03-17 18:42] pr4nshul commented on #258
@ayushs136 It was assigned to me . Please don't make duplicate work if there is a issue with my PR then you may.

[2021-03-17 18:43] ayushs136 commented on #258
Okay, got it.

[2021-03-17 18:46] shikharsaurav opened #368 "Comment page will be open even we click right or left of comment button even left of like button"
@heyjordn @jordanliu
plz assign me to solve this i will love to solve this

[2021-03-17 18:50] pr4nshul commented on #258
As you can see I have already made an pull request #283

[2021-03-17 18:59] ayushs136 commented on #258
Hey @pr4nshul, I see you have an unapproved PR? and commits you made wouldn't really fix it.

[2021-03-17 19:05] pr4nshul commented on #258
Well it's unapproved as maintainers haven't reviewed it yet. And if they decide , that doesn't fix it and your fix is better. I wouldn't mind if the issue is being resolved.

[2021-03-17 19:08] ayushs136 commented on #258
Okay! Got it. Peace! btw who is the maintainer? @pr4nshul

[2021-03-17 19:10] pr4nshul commented on #258
Sagar is one of them whom I have interacted with. There are more , you can join the slack channel for such queries.

[2021-03-17 19:13] yasharth291 commented on #368
Sorry but i am already working on this

[2021-03-17 19:19] #349 closed

[2021-03-17 19:29] ishan0805 commented on #343
Yes the PR is already generated you can review it 😊

[2021-03-17 20:10] adithyaakrishna commented on #172
@sumitra19jha Its done :)

[2021-03-17 20:27] #103 closed

[2021-03-17 21:33] jordanliu opened #372 "test"
test

[2021-03-17 21:35] #372 closed

[2021-03-18 04:42] Sagar2366 commented on #363
@TusharGupta05 you can start working on this issue.
Note: We don't have support for https URL currently.

[2021-03-18 07:51] TusharGupta05 opened #375 "[Bug] Errors in the register_form.dart file"
**Issue Description :**
After the last commit, there are 5 errors in the register_form.dart file due to which no one is able to build the application.
**Issue Severity :**
Sev - 1 (as the application is not even building)
**Observed Behaviour / Snapshots :**
![Screenshot (235)](https://user-images.githubusercontent.com/56271252/111590527-37046a80-87ec-11eb-85d2-49168823b7ad.png)
**Expected Behavio

[2021-03-18 07:55] TusharGupta05 commented on #375
Closing this issue as it solved by PR #373

[2021-03-18 07:55] #375 closed

[2021-03-18 08:24] shikharsaurav commented on #368
ok @yasharth291

[2021-03-18 08:24] shikharsaurav commented on #368
plz let me know if i can help

[2021-03-18 09:49] SriramPatibanda commented on #187
@Sagar2366 Can I take up this issue?

[2021-03-18 10:08] CyberWake commented on #355
@shikharsaurav sorry to interrupt but the point you are taking about is dependent on backend. We have a issue raised over there on tawala-api once we have that fixed we'll be able to eradicate that thing. ✌

[2021-03-18 10:17] yasharth291 commented on #187
no enhancement till code freeze. No one is working the repo is under code freeze

[2021-03-18 10:30] CyberWake opened #377 "[Bug] - Navigation flaw after successful signup and than new organization creation"
**Description of bug:**
There is still has a issue pertaining to the navigation when a new user signs up and opts to create a new organization rather than joining. on doing so the bottom bar is still not available to the user after successful creation on organization.
Also after signup I can go back to create organization page using back button

**Demo**
[![Watch the video](https://user-images.git

[2021-03-18 14:08] yasharth291 commented on #368
ok for now you can close this issue

[2021-03-18 14:12] #368 closed

[2021-03-18 14:36] AniketSindhu commented on #298
@CyberWake Should I create pr for this?

[2021-03-18 14:36] #104 closed

[2021-03-18 14:42] Sagar2366 commented on #244
As part of this PR https://github.com/PalisadoesFoundation/talawa/pull/335, this issue will never come.

[2021-03-18 14:42] #244 closed

[2021-03-18 15:49] OnyemaAnthony opened #379 "[enhancement] pass appropriate group name to the chat screen"
In the group screen there is a list of groups which when clicked take to the chat screen and pass in the group name to the appbar of the chat screen, right now it passes a static name which is Event,but in the group screen the group name is  Event and the index of the group in the list,I want to pass to the chat screen the name of the group that is clicked
![Screenshot_20210318-163936](https://use

[2021-03-18 15:50] OnyemaAnthony commented on #379
Hey @Sagar2366 please I will like to make this fix if you assign it to me

[2021-03-18 15:52] CyberWake commented on #377
@DeltaHarbinger @Sagar2366  please assign this to me as I had made  a PR previously as well #310 which was marked duplicate with the merge of #327. But the issue is still not resolved. Kindly assign this to me and review the PR #378. 😊

[2021-03-18 15:57] OnyemaAnthony opened #380 "[enhancement] update the launcher icon to organization logo"
Right now the application still uses default flutter launcher icon,I want to update it to the Palisadoes foundation logo
![Screenshot_20210318-165119~2](https://user-images.githubusercontent.com/50530242/111656599-f9630a00-880a-11eb-9408-f7e5ec6893ba.png)

[2021-03-18 15:58] OnyemaAnthony commented on #380
@Sagar2366 please can I work on this?

[2021-03-18 15:59] Sagar2366 commented on #380
@OnyemaAnthony are you using latest code ? Change for this issue is already added into master.

[2021-03-18 16:05] OnyemaAnthony commented on #380
@Sagar2366 well I just switched to master branch and pulled,but my code is up to date

[2021-03-18 16:12] OnyemaAnthony commented on #380
@Sagar2366  thanks i have seen the latest code and the laucher icon has been updated

[2021-03-18 16:12] #380 closed

[2021-03-18 17:13] shikharsaurav opened #382 "Leave Organization Even you Are not in one"
Even we are not in any organization when we click on leave organization it shows us are u sure?

[2021-03-18 17:13] shikharsaurav commented on #382
Plz assign me for this issue

[2021-03-18 17:42] OnyemaAnthony opened #384 "[bug] change icons in the profile screen"
I want to change the flutter icon that is at the leading of about item to Palisadoes foundation icon, also I want to change the person icon on the update profile item to appropriate edit icon
![Screenshot_20210318-183214](https://user-images.githubusercontent.com/50530242/111671884-a93f7400-8819-11eb-9764-0daffc96a5e0.png)

[2021-03-18 17:43] OnyemaAnthony commented on #384
@Sagar2366 please I would love to work on this if you assign it to me

[2021-03-18 19:44] Raunakk02 opened #386 "[Enhancement] Password strength bar is visible even when the password text field is empty."
**Issue Description:**
 Currently, the password strength bar is visible to the user even when the password text field is empty.

**Issue Severity:**
   Low
**Environment Details:**
  Found in: `talawa\lib\views\pages\login_signup\register_form.dart`
**Observed Behaviour:**
   The password strength bar is visible to the user even when the password text field is empty.
**Expected Behaviour:**
   The

[2021-03-18 20:01] #339 closed

[2021-03-18 20:06] #258 closed

[2021-03-18 20:16] #343 closed

[2021-03-18 20:17] yasharth291 commented on #362
hey these bugs related to news feed and comment section are already worked by me. you can do it but just compare it with my code so we don't have conflicts

[2021-03-18 20:32] Swayam221 opened #389 "[Docs]Typos in CONTRIBUTING.md and PR-guidelines.md"
Typing error in Contributing.md,
https://github.com/PalisadoesFoundation/talawa/blame/master/CONTRIBUTING.md#L92
('increasing' misspelled as 'incrasing' / 'text' misspelled as 'tet')
and

Pr-guidelines.md,
https://github.com/PalisadoesFoundation/talawa/blame/master/PR-guidelines.md#L9
('contributors' misspelled as 'contibutors')

[2021-03-18 20:49] #389 closed

[2021-03-18 20:56] #176 closed

[2021-03-18 21:11] Raunakk02 commented on #382
@shikharsaurav if you are working on another issue then can I work on this one?
If the mentors are also fine with it!
This would help to solve the issues faster!

[2021-03-18 21:17] Sagar2366 commented on #366
@shikharsaurav follow this templates for issue and PR creation - https://github.com/PalisadoesFoundation/talawa/tree/master/templates

[2021-03-18 21:17] Ravig786 opened #393 "Found Deprecated Widgets"
Issue Description:  Fixed Deprecated Code for example changed FlatButton to TextButton.
Issue Severity: Medium
Environment Details: Development Environment
Observed Behaviour :  Chunks of Deprecated
Expected Behaviour : Code upto date
Does this issue need immediate attention? Yes
Are you willing to work on this issue: Yes

[2021-03-18 21:21] Sagar2366 commented on #393
Please check open issues and PR's.
Open issues only after discussing in slack channel and only if similar issue is not open.

[2021-03-18 21:21] #393 closed

[2021-03-18 21:26] #379 closed

[2021-03-18 21:57] #386 closed

[2021-03-19 06:09] pr4nshul commented on #362
Ok, have you pushed a PR to which I can refer? @yasharth291

[2021-03-19 06:18] #363 closed

[2021-03-19 06:41] Sagar2366 commented on #382
@shikharsaurav, are you on master ?
With latest changes added, if user is not part of any organization we simply don't show Leave organization option.
Consider that fact not sure how you come across this issue, help us with more information.
Please follow Issue and PR templates to define issue https://github.com/PalisadoesFoundation/talawa/tree/master/templates - it will help others to understand

[2021-03-19 06:46] Sagar2366 commented on #322
@Swayam221 instead of saving form details.
Can you disable swipe for signup/login ?
Flow should be : Provide valid organization URL -> Click on Set URL -> Click on signup/login button to proceed.
Also update issue description for the same.

[2021-03-19 06:49] Sagar2366 commented on #365
@GMGOG this is incomplete information. Please use issue template https://github.com/PalisadoesFoundation/talawa/tree/master/templates and add more details to this issue.

[2021-03-19 06:59] arteevraina commented on #326
@jordanliu Should I add overflow tests for all the screen in a single PR or handle create different PRs for different screens?

[2021-03-19 07:10] Swayam221 commented on #322
@Sagar2366 are we sure we want the wipe disable? because if we do that, once the URL is set and we press, lets suppose, the signup button, we wont be able to navigate back to the setURL page at all, which means it will be impossible to change the URL once set!

[2021-03-19 07:32] Sagar2366 commented on #326
@arteevraina app testing is much needed issue to be fixed.
We should break down testing of each functionality in app.
For example - login screen test, sign up page tests, event page tests, etc.
It would also help to involve more students in the project.

[2021-03-19 07:34] shikharsaurav commented on #382
yes it is removed
sry for that

[2021-03-19 07:35] Sagar2366 commented on #322
Based on current flow, yes it is difficult. We should add back functionality in signup page and login page to go back to the URL setting page and try signing up or login again. I will create new issue for that.
For now please proceed with this issue.

[2021-03-19 07:36] #382 closed

[2021-03-19 07:36] Sagar2366 commented on #382
No problem. Keep contributing to the project.

[2021-03-19 07:41] utkarshshendge commented on #347
@Sagar2366 Sir, I'd like to know your opinion on this.
Also can you assign me this issue?

[2021-03-19 07:43] shikharsaurav opened #398 "No update profile page exist"
In profile page when we click on update profile nothing happens

[2021-03-19 07:44] shikharsaurav commented on #398
plz assign me for adding update profile page

[2021-03-19 07:54] Sagar2366 commented on #398
closing this issue as it is duplicate of https://github.com/PalisadoesFoundation/talawa/issues/174

[2021-03-19 07:54] #398 closed

[2021-03-19 07:56] Sagar2366 commented on #174
@shikharsaurav you can start working on this issue (Closed duplicate issue you created - https://github.com/PalisadoesFoundation/talawa/issues/398)

[2021-03-19 07:57] Sagar2366 commented on #174
Use issue template from here https://github.com/PalisadoesFoundation/talawa/tree/master/templates and update the issue.

[2021-03-19 08:00] arteevraina commented on #326
Looks good ! I am currently writing widget tests for `login_page.dart`

[2021-03-19 08:03] shikharsaurav commented on #186
is someone working on this issue if not then i can work on this plz assign me to this issue @Sagar2366

[2021-03-19 08:08] ishan0805 opened #399 "[BUG] All comments are not visible"
### Description
While loading comments only the top 4 comments are visible to the user .

### Issue Severity
Moderate

### Observed Behaviour:
The comments section is not  scrollable so only top 4 comments are visible .

### Expected Behaviour
The comments section should be scrollable

### Steps to reproduce issue:
I think using `singlechildscrollableview` or `listview` might solve the problem .

[2021-03-19 08:12] shikharsaurav commented on #399
can u assign me to this ?i will try to solve this issue

[2021-03-19 08:14] CoderMayhem commented on #364
Kindly assign @Sagar2366 .

[2021-03-19 08:15] kavinkumar999 commented on #364
hello  @Sagar2366   i would to like to working on the issue

[2021-03-19 08:20] Sagar2366 commented on #364
@CoderMayhem you can start working on this issue.

[2021-03-19 08:20] Neha62-lit opened #400 "Add Lint dependency"
I would like to work on this issue. Kindly assign this issue to me @Sagar2366.

[2021-03-19 08:24] Sagar2366 commented on #400
@Neha62-lit follow issue template from here and add more details for this issue - https://github.com/PalisadoesFoundation/talawa/blob/master/templates/issue-template.md

[2021-03-19 08:26] Neha62-lit commented on #400
Okay

[2021-03-19 08:27] shikharsaurav commented on #174
Issue Description:
No Update profile page exists
Environment Details:
in Profile Page
Observed Behaviour:
No response
Expected Behaviour:
Open update Profile Page
Does this issue need immediate attention?
Yes
Are you willing to work on this issue:
Yes

[2021-03-19 08:27] shikharsaurav commented on #174
plz assign me
@Sagar2366

[2021-03-19 08:29] Raunakk02 opened #401 "[Feature] Changing the TextInputAction in email field of Login form"
- **Issue Description:**
   This issue focuses on adding the `NEXT` button on the keyboard for `Email TextFormField `. In this way, the user will no longer need to explicitly close the keyboard and tap on the password field to enter a password.
- **Issue Severity:**
 low
- **Environment Details:**
 Issue found in `talawa\lib\views\pages\login_signup\login_form.dart`
- **Observed Behaviour:**
 As w

[2021-03-19 08:34] Raunakk02 commented on #401
@Sagar2366 please assign this to me!

[2021-03-19 08:35] utkarshshendge commented on #347
Thank you very much!!

[2021-03-19 08:47] utkarshshendge opened #402 "[BUG] Cannot add comments to the post."
- **Issue Description:** Cannot add comments to the post ,gives exception.
- **Issue Severity:** Medium
- **Environment Details:**   createComment() method in [newsArticle.dart](https://github.com/PalisadoesFoundation/talawa/blob/master/lib/views/pages/newsfeed/newsArticle.dart)
- **Observed Behaviour:** Does not add comment.
- **Expected Behaviour:** Should add comment and display a toast regardi

[2021-03-19 09:08] Neha62-lit commented on #400
- **Issue Description:**
 This issue is about the whole code in the project. Linting is the process of checking the source code for programmatic as well as Stylistic errors and unformatted code. It's helpful in identifying some common and uncommon mistakes that are made during coding like logical errors, unused variables etc.
- **Issue Severity:**
Medium
- **Environment Details:**
Issue found in w

[2021-03-19 09:27] Sagar2366 commented on #174
@shikharsaurav sorry for this.  Let @sumitra19jha work on this. I will assign another issue to you.

[2021-03-19 10:07] shikharsaurav commented on #174
but sir i have started working on it 2 hr ago @Sagar2366

[2021-03-19 10:25] Swayam221 commented on #322
@Sagar2366 okay sure! I could take up that new issue too.

[2021-03-19 10:26] Swayam221 commented on #186
@shikharsaurav Im working on it.

[2021-03-19 10:54] pr4nshul opened #404 "Comment Section isn't scrollable"
![Screenshot_20210319-161757](https://user-images.githubusercontent.com/51524156/111769514-532d0800-88cf-11eb-8e9a-3f8da7f810fd.png)

Comments section isn't scroll able. It seems like we can scroll to a particular comment if we hold at the arrow I have shown in the above image. After that it isn't , if the comment section has more than a certain amount of comments this could be a issue.

[2021-03-19 11:00] pr4nshul commented on #362
@Sagar2366  Well I have looked over it and found that a particular image in the assets folder was assigned to the circle avatar. If we need the profile picture of the user , we need to fetch his details or at least his id to access his image in newsArticle.dart file. Should I do it this way?
I was also wondering how are we storing which user has commented , because if we are already importing deta

[2021-03-19 11:22] Raunakk02 opened #406 "[Enhancement] Changing the order in which the Login Page contents are being animated"
- **Issue Description:** The `create an account` button is being Faded-in with the "Org URL" cluster and then the `Login` button is Faded-in afterward.
- **Issue Severity:** Low
- **Environment Details:** Issue found in `talawa\lib\views\pages\login_signup\login_page.dart`
- **Observed Behaviour:** The `create an account` button is being Faded-in with the "Org URL" cluster and then the `Login `but

[2021-03-19 12:01] piyushpradhan commented on #208
**@Swayam221 Are you getting something like this ?**

HTTP request failed, statusCode: 400, http://calico.palisadoes.org/talawa/graphql/images/dPY5r5Y9J-download.jpeg

When the exception was thrown, this was the stack
#0      NetworkImage._loadAsync
package:flutter/…/painting/_network_image_io.dart:99
<asynchronous suspension>
Image provider: NetworkImage("http://calico.palisadoes.org/talawa/graph

[2021-03-19 12:43] ayushs136 opened #409 "[BUG] Displaying Null Values in Tasks Tab of User Info"
Issue Description:
   Displaying Null Values in Tasks Tab of User Info

Issue Severity:
Medium

Observed Behavior:
Was getting no values from GraphQL.

Expected Behavior:
 Should be filled with user selected data.

Steps to reproduce issue:
 * Open Members Tab,
 * Select User Info Page
 * Go to Tasks Tab

Snapshots/Videos:
![image](https://user-images.githubusercontent.com/30320414/111782197-c0946

[2021-03-19 12:54] #406 closed

[2021-03-19 13:14] #401 closed

[2021-03-19 15:27] sumitra19jha commented on #174
Hey, @shikharsaurav hi
I am Sumitra, I am currently working on this profile page creation. If you have already worked on a part of the screen, you can share with me your idea about the page on slack. Would love to hear your thoughts and work.

[2021-03-19 18:21] yasharth291 commented on #362
may be it is an enhancement for now and can be hold
I am right @Sagar2366

[2021-03-20 05:28] sumitra19jha opened #413 "[Enhancement] Scaling UI to different device sizes"
## Issue Description:
The entire padding, margin and white space (mostly through the sized box) contains a constant value. While building the screen, those values give a better outlook of UI on developer device (having a given height & width) but as the device changes (i.e height & width change) those constant space, in general, doesn't give a better UI outlook.

## Issue Severity:
Medium

## Obse

[2021-03-20 05:49] Swayam221 opened #414 "[Docs] Link for Issue-template doesn't work"
**issue description:**
in the issue-guidelines.md, the link to issue template in the line https://github.com/PalisadoesFoundation/talawa/blame/master/issue-guidelines.md#L11
doesn't work.
**issue severity:**
Low
**Environment Details:**
talawa/templates/issue-template.md
I am willing to fix this.

[2021-03-20 06:43] Sagar2366 commented on #414
@Swayam221 PR is already created for this issue - https://github.com/PalisadoesFoundation/talawa/pull/394

[2021-03-20 06:47] Sagar2366 commented on #409
@ayushs136 please discuss issue in #gsoc-newissues slack channel and follow guidelines for opening issues/pr's.
Read contribution guidelines. Assigning this issue to you to work on.

[2021-03-20 07:44] adithyaakrishna opened #416 "[Enhancement] - Reduce APK Build Size"
- **Issue Description:**
The apk file when the app builds for android is significantly large ~90mb and this can be issue when the app is used in lower-end devices.
- **Issue Severity:** Medium
- **Environment Details:** Android Running on Pixel 3 API 28
- **Observed Behaviour:** The app size is ~90mb
- **Expected Behaviour:** Reduce the app size to <40mb
- **Steps to reproduce issue:** Build the a

[2021-03-20 08:57] ayushs136 opened #417 "Events Page Data is not loading"
Issue Description:
After app launch, the events page just displays a CircularProgressIndicator, and not the events, even after creating a new event, it displays same result.

Issue Severity:
High

Environment Details:
Development

Observed Behaviour:
Displaying  Circular Progress Indicator

Expected Behaviour:
Should Display Events Created and Calendar.

Steps to reproduce issue:
Just Launch the a

[2021-03-20 09:45] Raunakk02 opened #419 "[Enhancement] Changing built-in widget constructors to corresponding const constructors wherever necessary"
- **Issue Description:** In most part of the code, currently we don't use const constructor for widgets having static data in their constructor like:

Thus whenever a build method is called all these non-constant constructors rebuild their objects thereby consuming some processing time.

- **Issue Severity:** Low
- **Environment Details:** Issue found mostly in the `talawa\lib\views`
- **Observed

[2021-03-20 11:31] OnyemaAnthony opened #421 "[bug] application version should not be hardcode"
Application version on the about dialogue should be gotten dynamically using a package so that when the there is an update we don't need to manually update the version it will automatically detect the new version,but right now the version is hard coded String
![Screenshot_20210320-120729](https://user-images.githubusercontent.com/50530242/111868095-38fb3480-8978-11eb-9179-5bf75745eb34.png)

[2021-03-20 11:33] OnyemaAnthony commented on #421
@Sagar2366 I will like to work on this if you assign it to me

[2021-03-20 12:14] Raunakk02 commented on #419
@Sagar2366 please assign this to me!

[2021-03-20 12:31] Enigma04 opened #422 "Deprecated RaisedButtons and FlatButtons across the app"
The app contains RaisedButtons and FlatButtons that are depreciated now. I would like to replace those if I get the permission to do it. @DeltaHarbinger @palisadoes @Sagar2366

[2021-03-20 12:33] utkarshshendge commented on #421
Hi @OnyemaAnthony  there is already an issue regarding this.
 See #347 .
I'm not creating  a PR because of code freeze.

[2021-03-20 13:27] CoderMayhem commented on #417
Duplicate #298

[2021-03-20 13:39] CoderMayhem commented on #298
Any updates on this @AniketSindhu ?

[2021-03-20 13:44] AniketSindhu commented on #298
@CoderMayhem code is on freeze. So if I make PR on this now it will not be merged so I am justing waiting for it to unfreeze.

[2021-03-20 14:21] OnyemaAnthony commented on #421
okay @utkarshshendge  let me close it

[2021-03-20 14:21] #421 closed

[2021-03-20 14:32] CoderMayhem opened #426 "(Bug) Add Events page not creating new events"
**Issue Description**
At present the Add Events page is not capable of adding new events. On clicking the button only the screen gets popped by the navigator but a new event is not created. The createEvent() function does not contain the code to make a request to the api.

**Issue Severity :** High

**Environment Details :** Issue in `addEventPage.dart`

**Observed Behaviour:** Screen pops off on

[2021-03-20 15:14] StrangeNoob opened #427 "[Enhancement] Add Logs for Exception/Error/ Crash in the App"
**Issue Description:**
 Add Logs for the Exception/Error/Crash in the App. As in the production, we won't be able to have every device to debug. It would  be easy to keep log of these errors, exception and rectify in the following build. Having a scheduler to update the logs in our server for the last 24-36 hours will be helpful for the developers to know the bugs and its seriousness.
**Issue Seve

[2021-03-20 15:17] yasharth291 commented on #427
hey @StrangeNoob  you should join slack channel first because i have already asked for permission regarding this. The code is in code freeze so no new enhancement. So i was holding the same issue

[2021-03-20 15:17] yasharth291 commented on #427
please join slack channel first

[2021-03-20 15:21] StrangeNoob commented on #427
I am in Slack and I have talked about this @Sagar2366 a couple of minutes about this error. I am not sure what you and @Sagar2366  have discussed.  But I didn't anything about this talawa channel.

[2021-03-20 17:28] #338 closed

[2021-03-20 18:05] yasharth291 commented on #427
![Capture](https://user-images.githubusercontent.com/55004621/111881087-04699600-89d5-11eb-9439-9a55cfdd0ef0.JPG)

[2021-03-20 18:06] yasharth291 commented on #427
As  the talawa api is in code freeze there is nothing we can do in it

[2021-03-20 18:16] yasharth291 commented on #416
it automatically decreases once it is released for  market version. Second way is to make App bundle @adithyaakrishna

[2021-03-20 18:34] yasharth291 opened #429 "The member page stuck if not joined into any organization.(Bug)"
Issue Description: The member page stucks if not joined into any organization.
Issue Severity: medium
Environment Details: Issue found mostly in the talawa\lib\views\pages\organization\members
Observed Behaviour: The member page stucks if not joined into any organization.
Expected Behaviour: clicking yes should allow us to join the organization.
Does this issue need immediate attention?  yes
Are y

[2021-03-20 18:42] yasharth291 opened #430 "There is nothing showing if there are no request in the member page.(Bug)"
![image](https://user-images.githubusercontent.com/55004621/111882125-d20e6780-89d9-11eb-99f2-fbd761c26ce3.png)
observed behavior :  Nothing is showing if there is no member request.
expected behavior :  there should a message showing that there is nothing to be shown.
priority : low
would i like to work: yes i love to work on it.

[2021-03-20 18:43] yasharth291 commented on #190
@Sagar2366  Can you please assign me this issue it needs to be worked on

[2021-03-20 18:45] yasharth291 commented on #230
@Sagar2366 can you please assign me this

[2021-03-20 18:46] adithyaakrishna commented on #416
I made the app bundle, and I completely agree with you that the market version will be a bit smaller in size but the size of assets can be reduced even further and also using Google Font APIs instead of font assets

[2021-03-20 18:54] yasharth291 commented on #416
yeah right and we can use @imgbot to further reduce the size of the images used @Sagar2366

[2021-03-20 18:54] i-anuragmishra opened #431 "Pickimage method is deprecated use imagepicker.getimage method instead.(Bug)"
In the ***Events*** and other pages , Image picker method is used. ***It is Deprecated in the Current stable Flutter version. We need to migrate it to Imagepicker.getimage method.*** .Since it's a bug it can be corrected during code freeze.
i hope @Sagar2366 can assign this to me.

[2021-03-20 18:54] yasharth291 commented on #416
can you please add imgbot in the repository

[2021-03-20 18:57] yasharth291 opened #432 "Adding imgbot in the repository (Enhancement)"
[ENHANCEMENT]We can add imgbot in the repository to reduce the size of the images used in the repository.

severity : low

only mentors can add them.

it is an Enhancement

[2021-03-21 02:01] #377 closed

[2021-03-21 02:41] #322 closed

[2021-03-21 02:56] CyberWake commented on #430
There is already an existing issue for this one #355 which has a PR #424 made to resolve all the issues related to organization.👍wait for the merge all those issues will we eradicated forever.

[2021-03-21 03:02] Sagar2366 commented on #355
@CyberWake some of these are actually good suggestions.
Can you create 5 different issues ? Let me know if you have started already working on any of them.

[2021-03-21 03:03] CyberWake commented on #429
Would like to work on this one currently i have fixed all the issues coming in profile page due to any of the organization related issue. I would we very happy to resolve this one which could help me enable some state management and code refactoring in correspondence to the whole organization module. @yasharth291 hope you won't mind if I work on this one with some state management from the module.

[2021-03-21 03:10] CyberWake commented on #429
basically the expected behavior isn't achieved due to:
1. the organization could be private which leads the user to wait for admins approval.
2. There could have been some internet issue which cause the user to add the corresponding data to the database but couldn't save the organization details in the preferences for future retrieval. In this scenario the profile page shows user hasn't joined any

[2021-03-21 03:13] CyberWake commented on #355
@Sagar2366 this is a PR already made to resolve all these issues. Please review it, added I have provided the screenshot/recordings for the requested changes that would arrive after the merge.

[2021-03-21 03:19] Sagar2366 commented on #355
@CyberWake I am doing it for now and last time.
Please follow the guidelines, break down issues if possible. Send small PR's for review, don't mix fox for all issues in same PR.
I'm future if anything breaks it will be difficult to analyse the issue.
As suggested in PR remove changes which should not be added to fix the issue, any code formatting, re-factoring, etc.

[2021-03-21 03:20] CyberWake commented on #355
ok sir. will take care this isn't repeated again.

[2021-03-21 03:25] #364 closed

[2021-03-21 03:34] #404 closed

[2021-03-21 03:43] Sagar2366 commented on #429
@CyberWake let @yasharth291 work on this, he will also get exposure to profile module.
@yasharth291 if you don't want to work on this let me know.

[2021-03-21 03:44] #414 closed

[2021-03-21 03:58] TusharGupta05 opened #433 "[BUG] Memory Leak after leaving Join Organization page"
**Issue Description:**
When the user opens the Join Ogranization page, the list of all the already added organizations is being fetched. But if during that process the user closes the join organization page, there is memory leak error which is caused due to setState being called after the disposal of the page.
**Issue Severity:**
Medium
**Observed Behaviour:**
setState is called even when the widg