[2021-05-08 13:31] Sagar2366 commented on #654
@Arnold2381 please join slack if not already and discuss this issue over there

[2021-05-08 13:55] #741 closed

[2021-05-08 17:46] rutvik11062000 opened #768 "Implementing navigation service without context 🧭"
**Is your feature request related to a problem? Please describe.**

In the current code structure, the responsibility of navigation is either done by the `view` (UI) file itself or we need to pass the context in the ViewModel to trigger the navigation.

![image](https://user-images.githubusercontent.com/47498552/117548213-58960b80-b051-11eb-921b-5f15586f1928.png)

**Describe the solution you'd lik

[2021-05-08 17:48] rutvik11062000 commented on #768
@Sagar2366, @palisadoes I would like to work on this.

[2021-05-08 20:14] palisadoes commented on #168
@sumitra19jha what do apps like Instagram and LinkedIn do to prevent the user from having to click to see more data? There must be a way to use a swipe to trigger the load instead of forcing the user to click an icon.

[2021-05-08 21:02] sumitra19jha commented on #168
@palisadoes Apps like instagram or LinkedIn use cursor methodology for pagination. Currently, in the back-end I have created queries with two parameters called `first` and `skip`, which we use to paginate the screen. By providing these values datas are fetched accordingly. Example:
[code]

I will try to paginate like instagram with existing queries and create a PR for that as soon as possible.

[2021-05-09 14:49] utkarshshendge opened #769 "Improve Like Button experience"
**Is your feature request related to a problem? Please describe.**
Currently, it takes time to update the like count when the user taps on the` like` button. If you see Apps like Instagram, LinkedIn you can see that the like count is updated as soon as the user taps on the` like` button. Also there is no proper exception handling for like funtionality.

**Describe the solution you'd like**
We can

[2021-05-09 14:50] utkarshshendge commented on #769
@Sagar2366, @palisadoes I would like to work on this.

[2021-05-09 15:41] utkarshshendge commented on #186
@palisadoes @Swayam221 we can add phone number as well for authentication. People may not have an email address but people who are using Talawa will probably have a phone number. So they can log in with a phone number.

Instagram does something similar to this, so the user has the freedom to login with any one of the combinations:
* Email-password
* Phone-password
* Username-password

Will this be

[2021-05-10 03:50] nayakastha opened #770 "Using `squash and merge` instead of `merge` for merging the approved Pull Requests"
This is an active repository with a lot of changes happening each day. It's important to write good commits because they are the pillar of your git history. It's hard to perfectly define what makes a commit a good commit, but in my experience, a good commit satisfies at least the following requirements:

- Combines all the code changes related to a single logical change (it could be a feature, a b

[2021-05-10 06:16] Arnold2381 commented on #654
@Sagar2366 My issue isn't solved yet, I discussed it in Slack but got no solutions can you please help?
I am unable to create an account in the app. Every time I get some exception.

[2021-05-10 07:54] Sagar2366 commented on #654
@Arnold2381 slack is right place to discuss issues in more detail. Please take this discussions on slack.

[2021-05-10 09:25] ahluwaliatikant opened #771 "Join Button for last organisation in list hidden by FAB."
**Describe the bug**
In the join organisation page, when a user scrolls to the end of the list the join button of the last organisation gets partly hidden by the Floating Action Button.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Join Or Create An Organisation page.
2. Scroll to the end of the list.

**Expected behavior**
The FAB should be hidden on reaching the end of the list an

[2021-05-10 15:12] rutvik11062000 commented on #765
@Sagar2366  @palisadoes I would like to work on this.

[2021-05-10 15:55] rutvik11062000 opened #774 "Future Builder for Startup Logic"
**Is your feature request related to a problem? Please describe.**
We are awaiting userId in the main.dart, then checking if user is null or not, based on that navigating to UrlPage / HomePage.
![image](https://user-images.githubusercontent.com/47498552/117687923-eb5fb300-b1d5-11eb-9ea8-45787a38ca80.png)
![image](https://user-images.githubusercontent.com/47498552/117687639-9cb21900-b1d5-11eb-85ea-

[2021-05-11 09:06] leoshrey commented on #774
Hey, I would like to work on this issue.

[2021-05-11 09:42] rutvik11062000 commented on #774
@leoshrey That's good😄, @Sagar2366 sir will assign it to you.

[2021-05-12 15:01] utkarshshendge opened #777 "Couldn't signup with profile picture"
**Describe the bug**
When trying to signup with a profile picture, a message true` is shown, but the user is not signed up.

**To Reproduce**
1.Try signing up without a profile picture.
2. A message true will be displayed, and you won't be taken to ` join organization` page.

**Expected behavior**
User should be able to signup with profile picture, just as he/she is able to signup without a profil

[2021-05-12 15:06] palisadoes commented on #777
@utkarshshendge  most applications make you sign up. Then you add your profile picture afterwards. This reduces the risk of any possible flaws in the code could allow an unauthorized person to upload data. I'd suggest that you remove this feature if it exists and only allow profile picture uploads after registration is complete

[2021-05-12 15:17] utkarshshendge commented on #777
Completely agree with you @palisadoes. Adding profile pictures later also makes signup seamless. I have addressed this issue in my proposal, I don't know if my proposal gets accepted. But I think makes sense to start working on this issue right now.
Should I change the description of the issue and start working on it or wait for some time?

[2021-05-12 15:27] utkarshshendge opened #778 "[Bug] Comment count is not updated on newsfeed page."
**Describe the bug**
After adding a comment to a post the comment count is not updated on the newsfeed page. We need to pull to refresh in order for the comment count to get updated. This functionality existed before, look like a recent merge introduced this breaking change.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a comment(s) on a post.
2. Go back to the newsfeed page.
3. The c

[2021-05-12 15:30] palisadoes commented on #777
We have been respecting pausing of any issues that may be covered under GSoC proposals when alerted by students. Please wait.

[2021-05-12 16:25] utkarshshendge opened #779 "[Feature] Add functionality to crop the profile picture."
**Is your feature request related to a problem? Please describe.**
Currently, we have` image_picker` to pick the image, but we cannot crop it. We are picking up profile picture at two places, _signup screen_ and _update profile screen_.

**Describe the solution you'd like**
There should be a feature to crop the profile picture similar to WhatsApp, Instagram.

**Additional context**
If you are inte

[2021-05-12 16:34] utkarshshendge opened #780 "[Refractor] Remove unused files and add theme related data to a single file."
**Refractor**
`toast_container.dart` is used only in the file` join_organization_view_model.dart` and can be replaced by `custom_toast.dart` (which is used at many places).` snackbar.dart` is not used and can be removed.
We can move relevant theme-related data (colors,text styles,etc) to a single file (`theme.dart`). This will help us to apply theme-related changes globally instead of going throug

[2021-05-12 17:02] utkarshshendge opened #781 "[Bug] Event list shows wrong data after deleting an event"
**Describe the bug**
After deleting events marked as _Today_ the event list updates normally, but the timeline does not change from _Today_ to _All_

**To Reproduce**
Steps to reproduce the behavior:
1. Delete an event that comes under the _Today_ list.
2. You can observe that the

timeline does not change from _Today_ to _All_

**Expected behavior**
The timeline should change from _Today_ to _All

[2021-05-12 17:04] utkarshshendge opened #782 "[BUG] Data is not updated automatically after joining a new organization."
**Describe the bug**
The data on the _newsfeed page_, _events page_, _members page_ is not automatically updated after joining a new organization, we have to restart the app in order to see the updated data, However, when you switch organizations the data updated.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the profile page,  join a different organization(join, don't switch).
2. A

[2021-05-12 17:43] muskan399 opened #784 "Dropdown menu(http/https) on the landing page is not working."
**Issue Description**
Dropdown menu(http/https) on the landing page(where organization URL is entered) of the page is not working. Actually a hardcoded value of HTTP is stored in the code.
So even if an user select https then also it will use http.

**To Reproduce**
Steps to reproduce the behavior:

1. Start the application, where the URL of the organzation is entered.
2. Go to the Dropdown menu(h

[2021-05-12 17:52] sumitra19jha commented on #753
@palisadoes We can work on writing a script where `))` is not accepted. If it is present then workflow can throw an error just like countline.py

[2021-05-12 18:45] muskan399 opened #785 "While registration using image, information is passed to wrong API URL."
**Describe the bug**
Whenever an user sign up with image, it passes the user information in a wrong API URL.
For e.g  If user have entered **talawa-graphql-api.herokuapp.com/graphql** then it will send information to **talawa-graphql-api.herokuapp.com/graphql/talawa/graphql** that's why user is not able to register.

Steps to reproduce the behavior:
1. Enter the organization URL on the landing pag

[2021-05-12 21:42] palisadoes commented on #785
@muskan399 This is related to #777? We should only allow profile images to be updated for registered users.

[2021-05-12 22:39] palisadoes commented on #753
@sumitra19jha please work with @nayakastha on creating a comprehensive solution. It's important to get this right. Create sub issues for the edge cases if necessary so that many people can work on it. When this is done, resubmit #786 in that context.

[2021-05-13 02:32] muskan399 commented on #785
Yes, but issues are somewhat same.
So should I close this issue?

[2021-05-13 03:22] palisadoes commented on #785
Yes. They are very similar.

[2021-05-13 03:24] nayakastha commented on #780
Hey! I am interested to work on this.

[2021-05-13 08:23] afaanshariff commented on #784
@Sagar2366 @palisadoes I would like to work on this issue.

[2021-05-13 08:25] afaanshariff commented on #779
@Sagar2366 @palisadoes I would like to work on this issue.

[2021-05-13 08:25] afaanshariff commented on #779
Am GitHub extern

[2021-05-13 08:26] Raunakk02 commented on #778
If no one is working on this issue then I would like to take it up @Sagar2366 @dellyjm @heyjordn.

[2021-05-13 10:05] #784 closed

[2021-05-13 12:50] #761 closed

[2021-05-14 09:34] rutvik11062000 commented on #766
@Sagar2366, @palisadoes  I would like to work on this.

[2021-05-14 12:19] mihdas commented on #294
even this link does not let you join the slack without a `@palisadoes.org` account

[2021-05-14 16:15] palisadoes commented on #736
We have updated the deadline to May 22nd

[2021-05-14 16:38] palisadoes commented on #779
@afaanshariff Please put your ID in the comments

[2021-05-14 18:34] #719 closed

[2021-05-14 18:56] #774 closed

[2021-05-14 19:43] palisadoes commented on #294
@mihdas [Please use this link, as the previous one expired.] (https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-qa1hbp06-GJrilN35oIYfddC9Vf0kRA)

[2021-05-14 19:53] #766 closed

[2021-05-15 02:32] rutvik11062000 commented on #763
@Sagar2366 @palisadoes I would like to work on this.

[2021-05-15 04:59] afaanshariff commented on #779
Can I know which id to submit here??

[2021-05-15 05:47] palisadoes commented on #779
You should have been assigned an ID when you created your account in the GitHub Externship portal. Please check.

[2021-05-15 09:56] afaanshariff commented on #779
There's an issue with my application number, as soon it's resolved I'll comment it down here.
Untill the issue is solved I'll be working on this issue.

[2021-05-16 14:47] afaanshariff commented on #779
Sir/Madam here's my application number - 16-05_AFF633_tfa_262 .

[2021-05-16 14:47] afaanshariff commented on #779
sorry for the delay.

[2021-05-16 15:22] sumitra19jha commented on #168
@palisadoes @DeltaHarbinger @Sagar2366 I created a new PR with improved pagination.
I need your feedback on whether the pagination looks good as per our requirement and can I do the same for the `newsfeed page` and `members page`?

[2021-05-16 17:07] #764 closed

[2021-05-16 17:15] #765 closed

[2021-05-16 17:33] #771 closed

[2021-05-16 17:45] #735 closed

[2021-05-16 18:13] #718 closed

[2021-05-16 18:17] palisadoes opened #793 "Improve the readability of coutlines.py"
1. The script needs more comments to be pydocstyle and flake8 compliant.
2. The code that loops through directories is duplicated.
3.  Create a README.md file in the .github directory that explains these expectations

[2021-05-16 19:12] #793 closed

[2021-05-16 19:25] #768 closed

[2021-05-16 19:28] palisadoes commented on #168
@sumitra19jha I merged your PR. Please proceed.

[2021-05-16 19:33] sumitra19jha commented on #168
Sure @palisadoes

[2021-05-16 19:41] #758 closed

[2021-05-16 20:02] Raunakk02 commented on #781
@palisadoes, I would like to work on this issue If no one is working on it already.

[2021-05-17 06:45] afaanshariff commented on #779
I've added the functionality to crop the image, but while I was testing on different devices, there's an issue with taking pictures on the device. Image_picker package which is used to capture an image using the device has lots of issues within it. When I try to capture the image I lost connection with the device while I was running the app in debug mode and also the app froze. You can also refer

[2021-05-17 06:49] afaanshariff commented on #779
@Sagar2366 @palisadoes shall I raise an issue separately of the image_picker package or if it's not necessary shall I submit my PR in where I've added the crop feature functionality.

[2021-05-17 21:24] bonnie-23 opened #797 "Flawless Installation - Mobile App"
- [ ] Installation should be **one click** from mobile phone with no parameters required

- [ ] The user should be directed to **registration** and **sign in** upon new installation

[2021-05-18 00:21] palisadoes opened #798 "Add Multilingual Support to the Talawa App"
### Parent Issue

**Is your feature request related to a problem? Please describe.**
Talawa Needs to have multilingual support to make it internationally acceptable.

**Describe the solution you'd like**
We need a way for users to easily select their language of choice which would immediately and permanently change the text to the new language until the language selection is changed.

### Child Is

[2021-05-18 00:22] palisadoes opened #799 "Develop a Language Localization File"
**Is your feature request related to a problem? Please describe.**
This is a child of issue #798

**Describe the solution you'd like**
Develop language notifier and localization delegate file to enable language modifications within the app.

[2021-05-18 00:24] palisadoes opened #800 "Refactor Hard Coded strings"
**Is your feature request related to a problem? Please describe.**
This is a child issue of #798

**Describe the solution you'd like**
1. Refactor all widgets in the Talawa app which have hardcoded strings.
2. Update the Talawa GitHub action workflow to automatically reject any hard coded strings outside of the language translation files.

[2021-05-18 00:27] palisadoes opened #801 "Language Selection"
**Is your feature request related to a problem? Please describe.**
This is a child issue of #798

**Describe the solution you'd like**
1. Develop language selection page & create change language widgets on certain specific pages to allow users to easily switch language within the app.
2. We prefer to have language selection upon registration. Future changes would occur in the user settings screen

[2021-05-18 00:30] palisadoes opened #802 "Create Testing Mechanism for Language Selection"
**Is your feature request related to a problem? Please describe.**
This is a child of #798

**Describe the solution you'd like**
Update & develop the test code suite for all the changes that will be introduced by the feature option to switch languages in the app

[2021-05-18 00:32] palisadoes opened #803 "Update the User Data Model for Mulitlingual Language Support"
**Is your feature request related to a problem? Please describe.**
This is a child of #708

**Describe the solution you'd like**
Update the user data model in the backend.

[2021-05-18 00:34] palisadoes opened #804 "Create a Testing Mechanism for the New Multilingual User Data model"
**Is your feature request related to a problem? Please describe.**
This is a child of #798

**Describe the solution you'd like**
Update & develop the test code for the new user data model

[2021-05-18 00:35] palisadoes opened #805 "Create frontend mutations for new language query calls"
**Is your feature request related to a problem? Please describe.**
This is a child of #798

**Describe the solution you'd like**
Update & develop frontend mutation & query calls for ensuring language preference sync with the database.

[2021-05-18 00:39] palisadoes opened #806 "Update Profile Screens for Multilingual Support"
**Is your feature request related to a problem? Please describe.**
This is a child of #798

**Describe the solution you'd like**
1. Update the profile & chat screens to enable users of different languages to communicate & use language features effectively.
2. Update the required documentation accordingly for both frontend and backend.

[2021-05-18 00:40] palisadoes opened #807 "Create backend mutations for new language query calls"
**Is your feature request related to a problem? Please describe.**
This is a child of issue #798

**Describe the solution you'd like**
Update and develop queries and mutation in the backend for ensuring effective implementation of communication between users of different languages.

[2021-05-18 01:02] palisadoes opened #808 "Create an easy to use Multilingual Language Pack System"
**Is your feature request related to a problem? Please describe.**
This is a child of issue #798

**Describe the solution you'd like**
There needs to be a way for the `talawa-admin` administrator to push language packs to the phones of the organization's members. If this isn't done, then there is no guarantee that:
1. The users will have the most recent packs installed on their phones
2. The users

[2021-05-18 01:39] sumitra19jha commented on #798
@palisadoes Please assign me this issue

[2021-05-18 01:39] sumitra19jha commented on #799
@palisadoes Please assign me this issue

[2021-05-18 01:39] sumitra19jha commented on #800
@palisadoes Please assign me this issue

[2021-05-18 01:39] sumitra19jha commented on #801
@palisadoes Please assign me this issue

[2021-05-18 01:39] sumitra19jha commented on #802
@palisadoes Please assign me this issue

[2021-05-18 01:40] sumitra19jha commented on #804
@palisadoes Please assign me this issue

[2021-05-18 01:40] sumitra19jha commented on #805
@palisadoes Please assign me this issue

[2021-05-18 01:40] sumitra19jha commented on #806
@palisadoes Please assign me this issue

[2021-05-18 01:40] sumitra19jha commented on #807
@palisadoes Please assign me this issue

[2021-05-18 01:40] sumitra19jha commented on #808
@palisadoes Please assign me this issue

[2021-05-18 01:42] sumitra19jha commented on #803
@palisadoes Please assign me this issue

[2021-05-18 10:07] afaanshariff opened #809 "Flutter red screen error when events and profile page is opened while the device is offline."
**Describe the bug**
When the device doesn't have proper internet connection or when the device is offline, flutter red error screen is displayed.

**To Reproduce**
Steps to reproduce the behavior:

1.Turn off the data.
2.Open events tab. You'll get red screen there.
3. Also open profile tab. You'll get red screen there too.

**Expected behavior**
It should display internet connection not availabl

[2021-05-18 14:16] kenkirito commented on #809
can i work on this issue

[2021-05-18 15:19] palisadoes commented on #710
@sumitra19jha Are you still working on this? If not, we should let someone else get a chance

[2021-05-18 15:22] sumitra19jha commented on #710
Sure @palisadoes. I am not currently working on this, anyone interested can take up this issue.

[2021-05-18 15:35] palisadoes commented on #711
An accepted GSoC proposal covers a wide range of UI modifications including this one. I'll close the issue.

[2021-05-18 15:35] #711 closed

[2021-05-18 15:59] #556 closed

[2021-05-18 17:58] XshubhamX opened #812 "OTP Feature while signing-up."
Is your feature request related to a problem? Please describe.
It will be great if an OTP can verify the user's email ID whether it is legit or not. This can be done by using some libraries like Sendmail(for sending OTP), OTP generator(for generation different OTP).

When the user will send signup data, the mutation that will be called should be generatOTP which will send OTP to the user's email a

[2021-05-19 10:26] utkarshshendge commented on #780
The data in `lib\utils\uidata.dart `contains only colors.
@nayakastha lets take an example of [register_form.dart](https://github.com/PalisadoesFoundation/talawa/blob/master/lib/views/pages/login_signup/register_form.dart) .  At some places the colors are not used from` uidata.dart` . The decoration property of` Container` , `TextFormField`  is used multiple times and can be added in a single file

[2021-05-19 11:51] ahluwaliatikant commented on #812
I would like to work on the frontend part.

[2021-05-19 11:53] XshubhamX commented on #812
@palisadoes sir please assign @ahluwaliatikant so that we can start work on this issue.

[2021-05-19 12:04] XshubhamX commented on #812
@ahluwaliatikant plz join the slack channel and let's discuss the further approach.

[2021-05-19 12:13] ahluwaliatikant commented on #812
How do I get the invitation to join the slack channel?

[2021-05-19 12:36] nayakastha commented on #780
Got it. Thanks for giving an instance. I will get on working with it.

[2021-05-19 19:30] ahluwaliatikant opened #814 "Splash Screen"
**Is your feature request related to a problem? Please describe.**
Currently when the user opens the app the user sees a blank white screen for a few seconds before the News Feed Screen is visible.

**Describe the solution you'd like**
We should add a splash screen with the talawa logo.

**Would you like to work on this?**
Yes I am working on this issue.

[2021-05-19 20:09] AdityaBirangal opened #815 "Bug : Not able to close pop up in Join Organization Screen"
**Describe the bug**
We are not able to close pop up in Join Organization Screen & we navigate to previous screen without closing popup.

**To Reproduce**
Steps to reproduce the behavior:

1. Switch to Profile Screen
2. Click on 'Join or Create New Organization'
3. Chose any organization & click on 'JOIN' button
4. Popup appears. Now Click on 'Close'

**Expected behavior**
Popup should disappear &

[2021-05-19 20:12] AdityaBirangal commented on #815
@palisadoes
I would like to work on this issue.
I'm Github Externship candidate :)

[2021-05-19 21:24] palisadoes commented on #815
@AdityaBirangal Please include your Externship ID in the issue comments.

[2021-05-20 07:20] ahluwaliatikant commented on #814
@palisadoes Sir is a white background with centered talawa logo fine for the splash screen ?

[2021-05-20 08:34] AdityaBirangal commented on #815
I have updated issue comment.
My Github Externship Application No. : ````20-05_Adi500_tfa_262````
Thanks!

[2021-05-20 10:28] #785 closed

[2021-05-20 13:51] palisadoes commented on #809
@kenkirito Any progress?

[2021-05-20 15:12] palisadoes commented on #814
@ahluwaliatikant yes

[2021-05-20 17:09] #778 closed

[2021-05-20 17:55] afaanshariff opened #819 "Pixel overflow at the bottom of the screen in members detail page."
**Describe the bug**
When the device's internet connection is low, at that time if we try to view members detail, there's a pixel overflow at the bottom of screen.
**To Reproduce**
Steps to reproduce the behavior:

1.Open members tab.
2. Select any of the members in the list. It will lead to members detail page.
3. After that turn off your WiFi/data.
4.Then you can notice the pixel overflow.

**Ex

[2021-05-20 17:58] afaanshariff commented on #819
Since there's already issue #809 which occurs while the device is offline, these two issues can be solved and merged at a time.

[2021-05-20 20:04] palisadoes commented on #809
@kenkirito A similar issue #819 has also been opened. Are you still working on this?

[2021-05-20 23:00] #799 closed

[2021-05-21 00:24] kenkirito commented on #809
Yeap i am looking into the issue

[2021-05-21 00:25] kenkirito commented on #809
sorry but I am new to flutter so it is taking some time in understanding the stuff

[2021-05-21 02:53] muskan399 opened #820 "Red screen error while updating image."
**Describe the bug**
A red screen error is shown when we update the profile using a zoomed image.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the update profile page.
2. Take a zoomed photo using the camera.

**Expected behavior**
After clicking on the update profile button, an updated profile msg should be shown.

**Actual behavior**
A red screen error is shown on the screen.

![

[2021-05-21 03:10] muskan399 opened #821 "Message from the input box is not cleared after commenting on a post in the news feed."
**Describe the bug**
When we comment on a post in the newsfeed then the comment from the input box is not cleared. If we want to write the next comment then we have to explicitly remove the comment from the input box.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the newsfeed of an organization.
2. Comment on a post.

**Expected behavior**
After commenting input box should get clear

[2021-05-21 03:22] muskan399 opened #822 "Profile is not updating."
**Describe the bug**
Details are not getting updated using update profile page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the update profile page.
2. Fill up the details.
3. Click on update profile.

**Expected behavior**
Details should get updated.

**Actual behavior**
Details are not getting updated because data is sent to the wrong API.
Correct API should be : talawa-graphql-

[2021-05-21 03:25] sumitra19jha commented on #822
The Api's are correct. It's currently is in develop branch and not merged to master. After they both are compare and merged, the issue will be resolved.

[2021-05-21 03:37] muskan399 commented on #822
Ok.

[2021-05-21 03:37] #822 closed

[2021-05-21 16:47] #815 closed

[2021-05-21 18:13] leoshrey opened #823 "Place Picker For Selecting Event Location"
**Is your feature request related to a problem? Please describe.**

Currently, while entering the event location on Add Event page, user have to type complete location in the field with no autocomplete feature. Due to which following problems are faced:

- User can either type the wrong location or the incomplete one.
- User cannot remember the exact location but he may remember the Landmark of th

[2021-05-21 18:38] palisadoes commented on #823
@leoshrey The original thought was that the `talawa-admin` administrator would create a list of locations to choose from. The mobile app would then download those for selection. Locations would include those the organization controlled:

1. rooms
1. halls
1. fields (soccer, cricket pitches etc.)

That way it would not be possible to double-book the location to create issues. It's an administrative

[2021-05-21 19:26] muskan399 opened #824 "Update profile page shows red screen error."
**Describe the bug**
Update profile option is providing red screen error

**To Reproduce**
Steps to reproduce the behavior:

1. Go to profile.
2. Select Update Profile

**Expected behavior**
A page should be opened for updating user's information.

**Actual behavior**
Shows red screen error

**Additional details**
I'm a GitHub extern candidate(28-04_Mus695_tfa_262).
Assign this issue to me.

[2021-05-21 19:31] muskan399 commented on #820
Sir,
I rebased my branch with the upstream branch and got to know that the
update profile option is also giving red screen error.
So for resolving the issue #820 first the issue #824 should get resolved.
Please approve the 824 issue.

On Fri, 21 May 2021 at 21:43, Peter Harrison ***@***.***>
wrote:

[2021-05-21 20:07] AdityaBirangal opened #825 "[Bug] RenderFlex overflow in Member details Screen"
**Describe the bug**
RenderFlex overflow in Member details Screen

**To Reproduce**
Steps to reproduce the behavior:

1. Switch to Member Tab
2. Click on any user
3. User Privileges has RenderFlex overflow

**Expected behavior**
UI should not have RenderFlex overflow Error

**Actual behavior**
RenderFlex overflow Error is appearing on Screen

**Screenshots**
<img src="https://user-images.githubuse

[2021-05-21 20:08] AdityaBirangal commented on #825
@palisadoes
Can I fix this bug?

[2021-05-22 07:47] ahluwaliatikant opened #827 "Multiple registrations for same event by a user and event card not updated."
**Describe the bug**
When a user registers for an event, the users name gets added in the registrants list. But in the event card it still shows "You are not registered".
If the user taps on Register for the event more than once. The name gets added more than once in the registrants list.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Events Page.
2. In event card tap on the three do

[2021-05-22 15:53] palisadoes opened #830 "Reduce DART file sizes to make the PR automated checks work."
**Describe the bug**

1. One of our pull request checks is to ensure that Dart files have under 300 lines of code. This is because we found many instances of duplicated code and felt that adding a 300 line limit would encourage people to create reusable code.
2. We have 9 files in the repository that are over 300 lines long.
3. These need to be reduced in size by using efficiently elegant coding t

[2021-05-22 16:07] anand-aman commented on #830
Can I work on this issue? @palisadoes

[2021-05-22 17:23] palisadoes commented on #830
@anand-aman you can verify the file sizes by running the countline.py][(https://github.com/PalisadoesFoundation/talawa/blob/master/.github/workflows/countline.py) script.

[2021-05-22 17:26] anand-aman commented on #830
Ok will check it. Thanks

[2021-05-22 18:38] utkarshshendge opened #831 "Add functionality to upload images and videos as posts."
**Is your feature request related to a problem? Please describe.**

While adding posts from the app, only the Title and Description of posts are taken as input, while a dummy image is added from the assets to give the feel of the post item (image). Videos and images should also be added as a part of posts. Queries and mutations need to be updated once the backend is configured for this functionali

[2021-05-22 18:52] rutvik11062000 commented on #710
@palisadoes  please assign it to me.

[2021-05-22 19:31] palisadoes commented on #831
@utkarshshendge I'm assigning this to you so we don't forget. It can be reassigned in future. This should not impact your current tasks.

[2021-05-22 20:07] AdityaBirangal commented on #825
Closing this issue as PR for this issue is merged

[2021-05-22 20:07] #825 closed

[2021-05-23 07:40] AdityaBirangal opened #832 "[Security Bug] User can delete any event (Front-end)"
**Describe the bug**
Normal user can delete events created by other user/admin

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to Events Screen
2. Tap on Event (which is created by other user)
3. Click on menu (3 dot) & Tap delete.

**Expected behavior**
User should not able to delete event created by others.

**Actual behavior**
User is able to delete others event

**Screenshots**
If

[2021-05-23 07:41] AdityaBirangal commented on #832
@palisadoes
Can I work on this issue ?

[2021-05-23 08:03] AdityaBirangal commented on #827
Can I fix this issue ?
@ahluwaliatikant @palisadoes

[2021-05-23 08:10] palisadoes commented on #832
This will need to be fixed in the API also. Sumitra should he able to guide you on how to do this

[2021-05-23 08:11] palisadoes commented on #827
This will need to be fixed in the API also. Work with Sumitra. He'll show you what to do.

[2021-05-23 08:50] AdityaBirangal commented on #832
Yes. I was thinking to add checks points in both the sides client & server

1) In app we can add check
if (creator == user) then call delete query
else Display 'You can't delete others event'

2) At Server side
if query is from creator then delete & else not

Is my approach right ?

First part (Flutter) I can do 👍🏻
How we can do this in API ? @sumitra19jha

[2021-05-23 09:18] sumitra19jha commented on #832
In general, checks like these are handled by the Backend rather than the frontend. You can use `(creator == user)` in the frontend but it is not considered as a correct (and secure) way to do it as the API still have the capability to delete event (Non-Creators can use Postman or other services).

![Untitled (1)](https://user-images.githubusercontent.com/35868598/119254781-f5ba7d80-bbd5-11eb-9f85-

[2021-05-23 09:20] sumitra19jha commented on #832
For the denied case, the backend throws error message which will be displayed by snackbar

[2021-05-23 09:23] anand-aman opened #833 "[Bug] Organization Setting not showing up"
**Describe the bug**
I created two organisations with the name "A1" and "A3" (Refer to Screenshot 1 - see the creator name). The code should show the 'Organisation setting' on the "Profile" page for those organisations since I am the creator of those organisations but it does not show instead the "Leave Organisation" option is being displayed. (Screenshot 2)

**To Reproduce**
Steps to reproduce th

[2021-05-23 09:24] anand-aman commented on #833
I would like to fix this bug. Please assign this to me. @palisadoes

[2021-05-23 11:16] Sagar2366 opened #834 "Migration of codebase to Flutter 2.0"
Description : Entire Talawa codebase needs to be migrated to Flutter 2.0

Sub issues links here :

[2021-05-23 11:16] Sagar2366 commented on #834
@CyberWake

[2021-05-23 11:18] Sagar2366 opened #835 "Upgrade deprecated dependencies to"
**Describe the bug**
Upgrade Talawa deprecated dependencies to latest one

**To Reproduce**
Steps to reproduce the behavior:

1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of how the code performed w.r.t expectations.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2021-05-23 11:21] Sagar2366 opened #836 "Deep Linking Service"
Description : Deep Linking Service

**Describe the solution you'd like**
I would prefer to first implement app links as they provide the ground work for all the other kind of applinking opeing methods.
Find in details over [here](https://simonmarquis.github.io/Android-App-Linking/)

**Describe alternatives you've considered**
[Here](https://simonmarquis.github.io/Android-App-Linking/#market-scheme

[2021-05-23 11:42] AdityaBirangal commented on #832
Okay. Got it.
I will Handle error message in Front end 👍🏻
Can you please do the backend part ?

[2021-05-23 12:53] sumitra19jha commented on #832
@AdityaBirangal Sure, I can work on this. But if anyone else is interested, then they can take this issue forward (as currently, I already have few issues in my bucket). If no one volunteers, then surely I will create PR myself

[2021-05-23 13:55] AdityaBirangal commented on #832
Okay. Thank You :)
Actually I know flutter well but not familiar with javascript yet. So, won't be able to do server side API part. :(

@palisadoes
Can I post this issue in [talawa-api](https://github.com/PalisadoesFoundation/talawa-api) repo ?
So, somebody who knows server side languages well can work on it.

& till then Can I handle this issue in flutter (front-end) ?

[2021-05-23 14:19] afaanshariff commented on #809
@kenkirito if you want any help let me know.

[2021-05-23 14:49] palisadoes commented on #832
@AdityaBirangal go ahead. Link back to this issue and vice versa so both of you can track progress.

[2021-05-23 21:43] palisadoes opened #840 "Add Test Coverage Check for Pull Requests as a GitHub Action"
**Is your feature request related to a problem? Please describe.**

1. The code base is insufficiently testable.
1. We need all code to be tested as part of each pull request.

**Describe the solution you'd like**

1. We need a way to add a GitHub action that automatically checks the codebase for the percentage coverage by tests.
1. The check should error out when the percentage is below a predefi

[2021-05-24 03:05] muskan399 commented on #840
I would like to work on this issue.

[2021-05-24 04:06] muskan399 commented on #840
Just wanted to be sure changes need to be done in pull-request.yml, not in issue.yml. Right?

[2021-05-24 04:25] palisadoes commented on #840
Yes `pull-request.yml` Use python3 if you need to write a script to run multiple CLI commands to get this done. There are examples of what that code python should look like and a style guide README.md file there. The percentage compliance we desire should be a `--percent` flag in the script using `argparse` as seen in the existing scripts.

[2021-05-24 04:44] muskan399 commented on #840
I was thinking of using: https://github.com/marketplace/actions/report-lcov
As flutter test --coverage creates a lcov.info file.
Is this fine?

[2021-05-24 04:53] palisadoes commented on #840
@muskan399 Yes this should be OK. It fails if the minimum isn't met.

[2021-05-24 04:54] palisadoes commented on #830
@anand-aman how's progress?

[2021-05-24 04:58] anand-aman commented on #830
@palisadoes  I am working on it. While working on this issue I came across this bug #833.

[2021-05-24 08:09] muskan399 commented on #840
What should be the acceptable % for test coverage?

[2021-05-24 10:15] afaanshariff opened #841 "[Bug] After joining new organization, still old organization's data is displayed."
**Describe the bug**
A clear and concise description of what the bug is.
After joining a new organization, the newsfeed, events, and messages tabs should be updated and display joined organizations' newsfeed, events, and messages. But it is still showing old organizations events even after joining a new organization.

**To Reproduce**
Steps to reproduce the behavior:

1.Open profile page.
2.Click

[2021-05-24 10:21] ahluwaliatikant commented on #841
@afaanshariff  I think this is similar to issue #782.

[2021-05-24 10:24] afaanshariff commented on #841
@ahluwaliatikant thanks for letting me know bro.

[2021-05-24 10:24] #841 closed

[2021-05-24 10:25] afaanshariff commented on #782
16-05_AFF633_tfa_262
@palisadoes Sir can I work on this issue.

[2021-05-24 13:39] kenkirito commented on #809
sure

[2021-05-24 13:40] kenkirito commented on #809
I wanna ask one more question I am applying for Github externship this year is there any community chat where I can get reviews on my proposal

[2021-05-24 14:31] afaanshariff commented on #779
@utkarshshendge I request you to close this issue.

[2021-05-24 14:32] afaanshariff commented on #809
join the slack channel

[2021-05-24 14:33] afaanshariff commented on #809
But you won't get a review of your proposal in those channels.

[2021-05-24 14:59] #779 closed

[2021-05-24 15:05] kenkirito commented on #809
how can i join the slack channel

[2021-05-24 15:57] palisadoes commented on #840
What is it at now? We should add 5% to the current value rounded to the nearest 5%.

[2021-05-24 16:09] palisadoes commented on #809
https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-qa1hbp06-GJrilN35oIYfddC9Vf0kRA

[2021-05-24 19:10] AdityaBirangal opened #843 "[New Screen] Separate About us Screen instead of Popup"
**Is your feature request related to a problem? Please describe.**
Users are not able get more info & contact details about Talawa/Palisadoes Foundation from app

<img src="https://user-images.githubusercontent.com/43909309/119395646-74f0a400-bcf1-11eb-8b05-c28adc873921.jpeg" width="200">

**Describe the solution you'd like**
Separate About us Page
- Talawa/Logo Project small description
- Info ab

[2021-05-24 19:14] AdityaBirangal commented on #843
@palisadoes
Can I develop about-us screen ?

[2021-05-25 06:14] anand-aman commented on #833
Issue fixed with PR #838

[2021-05-25 06:14] #833 closed

[2021-05-25 10:15] muskan399 commented on #840
Currently, it is about 23%
@palisadoes
![Screenshot (728)](https://user-images.githubusercontent.com/63671368/119481277-23d3c500-bd70-11eb-8981-ce7426057324.png)

[2021-05-25 10:52] anand-aman opened #844 "[Bug] Error on "Edit this event" button"
**Describe the bug**
The app crashes and shows the error page when the "Edit this event" button from the drop-down is tapped.

**To Reproduce**
Steps to reproduce the behavior:

1.  Go to the Events page (Center button of Bottom Navigation Bar)
2. Create an event if it's empty
3. Tap on the 3-dot button to open the drop-down
4. Click on the "Edit this event" button

**Expected behavior**
The event

[2021-05-25 10:53] anand-aman commented on #844
@palisadoes Please assign this issue to me.

[2021-05-25 14:12] palisadoes commented on #844
Make sure you include tests to verify the bug is fixed.

[2021-05-25 15:12] leoshrey commented on #823
@palisadoes, what do you mean by creating list of locations by the admin?
If I am not wrong, you mean sending an API response to the mobile app containing locations list.
Then, We have to write a custom implementation with Maps flutter plugin and it can be achieved:

- by returning the exact lat long of the place searched by the user in the API response and add a pin to the map on the returned loc

[2021-05-25 15:23] anand-aman commented on #844
Yes sure. Thanks.

[2021-05-25 15:23] leoshrey commented on #823
Until then, If you agree can we just use the above implementation without the location restrictions as of now
OR we should just continue using the current way of entering locations?

[2021-05-26 03:58] #840 closed

[2021-05-26 05:11] ahluwaliatikant opened #847 "User should not be able to delete event created by another user"
**Describe the bug**
Currently once a user has joined an organisation he/she can delete an event created by someone else.

**To Reproduce**
Steps to reproduce the behavior:

1. Join an organisation
2. Go to events tab.
3. Tap on the three dots icon of an event card created by another user.
4. Tap on delete event.

**Expected behavior**
User should be able to delete only those events which have bee

[2021-05-26 06:19] #832 closed

[2021-05-26 06:39] #847 closed

[2021-05-26 06:47] #824 closed

[2021-05-26 07:41] vivekdusad opened #849 "Feature request"
no feedback is given to the user on pressing login and create account button when URL field is empty
we can show a snackbar to fill URL field first

or we can show error on text field

A clear and concise description of approach to be followed.
either showing snackbar through scaffold messenger or showing validation error by using formKey

[2021-05-26 07:42] vivekdusad commented on #849
@palisadoes can I work on this feature?

[2021-05-26 07:47] rutvik11062000 commented on #849
@vivekdusad Thank you for pointing that out, we are already discussing these changes They'll be covered in the GSOC redesign.
You can close this issue for now😊.

[2021-05-26 08:04] rutvik11062000 commented on #849
@vivekdusad Please join #talawa-design channel on slack.

[2021-05-26 08:21] vivekdusad commented on #849
@rutvik11062000 ok

[2021-05-26 08:22] #849 closed

[2021-05-26 09:33] afaanshariff commented on #782
@palisadoes PR #703 might resolve this issue also. Shall I wait until that PR is merged or shall I submit my PR to this issue??

[2021-05-26 13:19] palisadoes commented on #782
Wait until #703 is merged to see if the bug remains.

[2021-05-26 18:17] afaanshariff commented on #782
@palisadoes ok sir.

[2021-05-27 04:09] palisadoes opened #850 "Code Freeze Until June 13 - Bugs Only"
We plan to launch the new UI/UX code on June 13. Until that time we will only be merging bug fixes into the code base.

Check the `# talawa-design` channel in slack for for details on the new UI/UX

[2021-05-27 04:09] #736 closed

[2021-05-27 13:29] anand-aman commented on #830
@palisadoes
Sir, I have reduced the size of all files (except **[queries_.dart](https://github.com/PalisadoesFoundation/talawa/blob/master/lib/services/queries_.dart)** which is 973 lines) and tested it.
Can we keep queries_.dart as an exception till the new UI is implemented?

Thank You
Aman Anand

[2021-05-27 13:39] palisadoes commented on #830
@anand-aman yes that is OK

[2021-05-27 13:46] #654 closed

[2021-05-28 18:04] afaanshariff commented on #782
@palisadoes PR #703 did not fix this issue, shall I start working on this issue.

[2021-05-28 18:37] palisadoes commented on #782
Yes, go ahead and this is a bug.

[2021-05-29 14:12] afaanshariff commented on #782
@palisadoes ok Sir.

[2021-05-29 17:55] palisadoes opened #856 "Countline.py needs to have an option to exclude files"
1. The script doesn't allow the exclusion of files.
2. We need to exclude the file `lib/custom_painters/talawa_logo.dart` from analysis
3. The GitHub workflow needs to be adjusted accordingly

[2021-05-29 23:29] palisadoes opened #859 "The Talawa Mobile App Should Periodically Query the API for New Translation JSON Files"
**Is your feature request related to a problem? Please describe.**

1. The mobile app currently has a set of pre-defined JSON files used for translating menu items
1. The API will store:
     1. Updated versions of existing files
     1. New files for previously unsupported languages

**Describe the solution you'd like**

1. The mobile app must periodically query the API server for the latest JSON

[2021-05-30 09:59] sumitra19jha commented on #859
@palisadoes Please assign this to me

[2021-05-30 17:29] palisadoes opened #861 "Update PR Template with Branching Strategy."
We employ the following branching strategy to simplify the development process and to ensure that only stable code is pushed to the `master` branch:

- `develop`: For unstable code: New features and bug fixes.
- `alpha-x.x.x`: For stability testing: Only bug fixes accepted.
- `master`: Where the stable production ready code lies. Only security related bugs.

[2021-05-30 17:55] #861 closed

[2021-05-31 22:50] CyberWake commented on #836
@Sagar2366 sir please assign the issue. I have updated the issue based on the progress.

[2021-05-31 22:57] CyberWake commented on #72
@Bhavay192 and @pr4nshul can you please update us on this issue, what is the current progress. Please respond we may need to fix this issue on the GSoC branch as the whole re-write of the codebase.

[2021-05-31 22:58] CyberWake commented on #76
@pratikbaid3 we are working on it #834 hence closing the issue. If we need help we'll ask.

[2021-05-31 22:59] CyberWake commented on #76
@palisadoes sir we can close this issue #834 already there labelled GSoC

[2021-05-31 23:01] CyberWake commented on #77
@i-anuragmishra thanks for showing your concern as we are already migrating the codebase to flutter 2.0 and upgrading the dependencies this issue needs to be closed #834 .
@palisadoes sir we can close this issue as well

[2021-05-31 23:03] CyberWake commented on #178
@cyber-venom003 thanks for showing the concern we are migrating to flutter 2 #834  and upgrading dependencies #835 hence we can close this issue now.
@palisadoes sir we can close this issue. As already handled in #835 GSoC labelled.

[2021-05-31 23:06] CyberWake commented on #208
thank you @Swayam221 we will surely look into upon the rewrite. If you wish we may close this issue or you can wait and check after the freeze lift on master if it still persist please let us know

[2021-05-31 23:09] CyberWake commented on #299
thank you @OnyemaAnthony we are revamping the UI. You may look into the designs in the talawa-design channel on slack and this issue will be resolved by the #850

[2021-05-31 23:10] CyberWake commented on #299
@palisadoes sir we can close this issue as this will be handled now in #850 for the UI revamp.

[2021-05-31 23:12] CyberWake commented on #334
@ishan0805 we have implemented the mvvm in the application and we are further optimising the code base this issue will be resolved uder #850 . may we close this issue?

[2021-05-31 23:12] CyberWake commented on #334
@palisadoes sir we can close this issue as #850 will handle this one and resolve the same.

[2021-05-31 23:14] CyberWake commented on #341
@GMGOG we are having plans for the same to be implemented via state management and will handle the same in #850 we may close this issue.

[2021-05-31 23:16] CyberWake commented on #346
This is a GSoC labelled issue @guptapriyanshu7 you may close this one or we may take this up. If needed we'll ask for help.

[2021-05-31 23:18] CyberWake commented on #416
@adithyaakrishna we are certainly looking into it with flutter 2.0 #834 , upgraded dependencies #835  and making a full re write to maximize the efficiency and reduce the app size #850 .

[2021-05-31 23:19] CyberWake commented on #416
@palisadoes sir this issue will get resolved in #850 please close this one

[2021-05-31 23:21] CyberWake commented on #422
@Enigma04 thanks for marking the issue. We are under code freeze to migrate the codebase we will make sure to update these hence we may close this one as #834 does this.

[2021-05-31 23:24] CyberWake commented on #524
@Hrishikesh-Bhagwat we are migrating the code base and upgrading the dependencies #834 #835 hence we may close this issue as it will be resolved before the code freeze by these issues.

[2021-05-31 23:27] CyberWake commented on #636
@sandeep-v1404 we are going to fix this one in the UI revamp and scaling under #850 we can close this issue.

[2021-05-31 23:43] CyberWake commented on #503
@shikharsaurav i guess this is no longer a issue on master branch itself. please close this issue.

[2021-06-01 00:42] #76 closed

[2021-06-01 00:46] #77 closed

[2021-06-01 00:47] #178 closed

[2021-06-01 00:48] #299 closed

[2021-06-01 00:49] #334 closed

[2021-06-01 00:49] #341 closed

[2021-06-01 00:51] #346 closed

[2021-06-01 00:51] #416 closed

[2021-06-01 00:52] #422 closed

[2021-06-01 00:53] #524 closed

[2021-06-01 00:53] #636 closed

[2021-06-01 00:54] #503 closed

[2021-06-01 03:51] pr4nshul commented on #72
I never worked on it as @Bhavay192  said he was. So you have a go ahead from me👍

[2021-06-01 16:45] palisadoes commented on #812
@XshubhamX  As I haven't heard back from you. I'm going to close PR #248 and #245. We prefer to go with an email service for the reasons stated previously.

[2021-06-01 16:45] #812 closed

[2021-06-01 16:50] XshubhamX commented on #812
@palisadoes sir I am trying to find a way to provide more than 3 ways for the user to authenticate . I am on it and will explain my approach in few days. I was not available today that's why I just saw your message

[2021-06-02 03:07] #856 closed

[2021-06-02 07:37] sumitra19jha opened #869 "Flutter code quality improvement"
**Describe the bug**
Quality of code needs to be enhanced to make sure strict restriction are in place for enhanced code quality for development

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to terminal
2. run `flutter analyze`

**Expected behaviour**
Code quality restriction should be followed

**Actual behaviour**
Currently, it only shows a warning instead of an error that fail to c

[2021-06-02 16:15] palisadoes opened #871 "The Github Actions folder for the `develop` branch must match `master`"
**Describe the bug**

1. [The GitHub Workflows Folder in the **_master_** branch](https://github.com/PalisadoesFoundation/talawa/tree/master/.github/workflows) has new features that are not present in [the GitHub Workflows Folder in the **_develop_** branch](https://github.com/PalisadoesFoundation/talawa/tree/develop/.github/workflows)
2. This reduces our ability to have consistent code across bra

[2021-06-02 21:00] #871 closed

[2021-06-03 07:09] afaanshariff commented on #809
@Atharva-Vijay-Khade did you follow the steps which I had mentioned.
If yes I'll check and let you know

[2021-06-03 11:21] Atharva-Vijay-Khade commented on #809
@afaanshariff  Yes, firstly I opened the app with the net connection as active, then I closed the net connection and opened the events tab, then it displayed the circular Progress Indicator for a while and then this above display came.

[2021-06-03 12:12] Sagar2366 commented on #809
@afaanshariff @Atharva-Vijay-Khade please share the video recording for this.

[2021-06-03 12:38] Atharva-Vijay-Khade commented on #809
@Sagar2366

https://user-images.githubusercontent.com/58695354/120645906-99d5db80-c496-11eb-88c6-a58abb98d187.mp4

[2021-06-04 07:33] afaanshariff commented on #809
https://user-images.githubusercontent.com/57586853/120763705-1b7c4680-c535-11eb-98a8-3519042fa50f.mp4

https://user-images.githubusercontent.com/57586853/120763718-1f0fcd80-c535-11eb-8ec3-625cfb77e341.mp4

@Sagar2366 @Atharva-Vijay-Khade
Maybe the recent merges have caused these changes, but still, there are errors.

[2021-06-04 18:01] ssaumyaa7 opened #877 "Feature request --- Biometrics login"
**Is your feature request related to a problem? Please describe.**
This is a new feature that we can add on talawa mobile application.

**Describe the solution you'd like**
For now a user needs to manually login to the app, but this feature should allow biometrics login (fingerprint recognition)

@palisadoes

[2021-06-04 19:21] palisadoes commented on #877
Thanks @ssaumyaa7

1. How do you propose this would integrate with registration?
2. How would you add a fingerprint after regular registration with email?
3. How would you propose the login would work if registered with a finger print?
4. Fingerprints are [PII](https://en.wikipedia.org/wiki/Personal_data). How would you encrypt this data reliably within the application, when the data is transferre

[2021-06-07 10:16] anand-aman commented on #844
Bug fixed and merged with PR #875

[2021-06-07 10:16] #844 closed

[2021-06-07 17:36] rutvik11062000 opened #879 "[GSoC] Tracking the progress of new Organization Feed Page"
### This issue is created to keep track of the major changes needed to be done in redesigning of the **Organization Feed Page**.

<p>
<img src="https://user-images.githubusercontent.com/47498552/121063610-2dcfdc00-c7e4-11eb-9599-5edb37928b31.png" alt="drawing" width="200"/>
<img src="https://user-images.githubusercontent.com/47498552/121063635-358f8080-c7e4-11eb-8352-36a3ad377484.png" alt="drawing

[2021-06-09 07:16] CyberWake opened #882 "Test For pre-auth screens"
**Issue Description**
Writing test for pre-auth screens.
- [x] Test for splash screen
- [x] Test for select language screen
- [x] Test for set url screen
- [ ] Test for select organisation screen
- [ ] Test for signup details screen
- [x] Test for waiting screen
- [ ] Test for login screen
- [x] Test for forget password screen
- [x] Test for reset password screen

**Issue for**
Branch GSoC

**Issu

[2021-06-10 06:24] rutvik11062000 opened #883 "[GSoC] Tracking the progress of new Add Post Page"
### This issue is created to keep track of the major changes needed to be done in redesigning of the **Add Post Page**.

<img src="https://user-images.githubusercontent.com/47498552/121474752-224a0400-c9e2-11eb-912c-0b19fa1da3e2.png" alt="drawing" width="200"/>

To do for Add Post Page:

- [x] Creating the initial UI.
- [x] Add uploading file service.
- [ ] Add "Post" service with MVVM.
- [ ] Unit

[2021-06-13 10:32] Raunakk02 commented on #781
@palisadoes @utkarshshendge Please close this issue as the PR has been merged. If this remains open then it would just increase the number of issues.

[2021-06-13 10:56] utkarshshendge commented on #781
Thanks for pointing it out @Raunakk02

[2021-06-13 10:57] #781 closed

[2021-06-16 07:16] CyberWake opened #892 "Logic for the situation we newly signed up user opt for a private organisation, and the organisation admin happens to reject the request then the user is left with 0 joined organisation and 0 membership requests."

[2021-06-16 17:26] #892 closed

[2021-06-18 16:51] #769 closed

[2021-06-18 16:52] utkarshshendge commented on #769
Closing this as, this is done in the code rewrite.

[2021-06-19 19:02] Raunakk02 commented on #537
Closing this issue since it was solved by the earlier created PRs.

[2021-06-19 19:02] #537 closed

[2021-06-19 19:21] Raunakk02 commented on #809
@Atharva-Vijay-Khade and @afaanshariff, which branch of the repository are you using currently? Because I worked on the issue for creating a universal error widget and the video shared by @Atharva-Vijay-Khade shows the changes that I implemented but the videos shared by @afaanshariff show the behavior of the app before those changes were merged into the master branch. I think this error is occurri

[2021-06-21 06:58] Atharva-Vijay-Khade commented on #809
Hi @Raunakk02 ,
I am currently a beginner in contributing towards this project, I saw this error and tried to recreate it on the app which is on master branch, but I couldn't see this error coming up again.
Please could you confirm that master is the branch on which we should be looking up for bugs ?

[2021-06-21 19:29] helper-uttam commented on #359
Thanks for posting @palisadoes
Wish, I could join this when I will be in 3rd year of graduation.

[2021-06-25 16:20] xsh2047 opened #901 "Volunteer and Attendee Check-ins"
An organization may rely on volunteers to manage events. It would be good to have a simple system for users to be able to let the event coordinators know that they are on site and available.

The system could also be used to have attendees confirm that they are actually at the event. This would help with capacity planning.

[2021-06-25 16:22] xsh2047 opened #902 "Event Registrations"
There could be a need to limit the number of persons attending an event by setting a maximum number for registrations when they are created. Event organizers would then know who to admit to the event if space were limited.

[2021-06-26 10:17] AdityaBirangal commented on #901
@xsh2047 assign this issue to me :)

[2021-06-26 10:27] AdityaBirangal commented on #901
- Every user will have it’s own unique QR code. (that can be generated from existing ID)
- Event Admin/Creator will scan that QR code & see if he/she is registered or not & give entry(check in) at event.
- Admin will also have an option to manually check-in/check-out any attendee

[2021-06-26 23:55] xsh2047 commented on #901
Could you provide an option that isn't so manual for the Admin/Creator?

[2021-06-27 07:11] AdityaBirangal commented on #901
I think if we given option to **self check in** then attendees can check-in themselves even they didn't attended event.
It would be good if check-in/identity verification done from Admin/Creator.

[2021-06-27 07:23] AdityaBirangal commented on #901
I have one another idea
- Every Event will have one check in code/QR code.
- Creater/Admin will print it & display nearby entry gate.
- Attendees will scan it & will show success message to watchman & do self check-in

We can implement both
- Admin/Creator side check-in (default)
- Self check-in (optional) (Admin will enable it if required)

[2021-06-27 15:44] xsh2047 commented on #901
Okay sounds good. No objections at all.

[2021-06-27 16:54] palisadoes commented on #901
@AdityaBirangal Consider the case of no printer availability first. The QR code should scannable on organizers' phones too. This would probably include anyone assigned a task in the event.

@xsh2047 What do you think?

[2021-06-27 17:25] AdityaBirangal commented on #901
@palisadoes
We are thinking to implementing to two ways
- Admin/Creator side check-in (default)
- Self check-in (optional) (Admin will enable it if required)

Second way is optional
If organiser intervention is required then **First way** will be more secure or authentic

although Event specific QR code would be available in Digital formate with organiser.

[2021-06-27 17:56] AdityaBirangal commented on #901
Check-in Flow
![Talawa Event Check-ins-2](https://user-images.githubusercontent.com/43909309/123554709-e0b9a700-d79e-11eb-8f3c-5c877a57281e.png)

[2021-06-27 18:14] palisadoes commented on #901
@adithyaakrishna

1. With the second way, the scanned code should also be available on the organizers' phone, not just printed.
1. Some types of events will have optional checkins, without prior registration. For example,
     1. parents visiting a gym with their children and want to leave their children in the care of a volunteer station in a game room.
     1. parents going to a place of worship

[2021-06-27 18:34] AdityaBirangal commented on #901
1. Noted 👍🏻
2. I guess Second way won't be feasible in such cases

[2021-06-27 18:50] palisadoes commented on #901
Try to make it flexible with mandatory and optional checkins as part of event creation. Child daycare for events is fairly common in community organizations.

[2021-06-27 19:02] AdityaBirangal commented on #901
I will keep this in mind while designing. mandatory/optional

[2021-06-27 19:03] AdityaBirangal commented on #901
I'm seeing future scope in First way. as it can we used to **verify identity** in future.
1. Volunteer at game station will scan parent's id code. Volunteer will make entry/note in app like 2 children or belonging's left there like bag kept in rack no 6 etc. & after parent come back he again Volunteer will scan parent's id code if match with previous one. Volunteer will make entry/note that childr

[2021-06-27 19:30] AdityaBirangal commented on #901
@palisadoes
This check-in functionality also need to be develop in Talawa Admin Portal.
Can I create issue on that repo to keep Admin Portal team in loop ?

[2021-06-27 20:24] palisadoes commented on #901
Sure.

Keep the features simple. Just focus on people check in for now.

[2021-06-30 17:14] utkarshshendge opened #906 "Add functionality to edit and delete an event ."
**Is your feature request related to a problem? Please describe.**
This is for the code rewrite. App with the new UI does not have the functionality to edit and delete the event. There should be functions for the same.

**Describe the solution you'd like**
In the old UI, the options to delete and edit the event were shown to all the users. But only the event creators are able to perform the action

[2021-06-30 17:15] utkarshshendge commented on #906
@palisadoes  @DeltaHarbinger please assign this issue to me.

[2021-06-30 19:14] DeltaHarbinger commented on #906
Hey Utkarsh, the task has been assigned to you

[2021-07-08 05:24] CyberWake opened #909 "[GSoC] - Donations UI for implementation of donation feature"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Give organisation's an additional source of income via donations from the people.

**Approach to be followed (optional)**
Using razorpay for receiving payments from members

[2021-07-08 05:25] CyberWake commented on #909
@Sagar2366 sir please assign this to me and add the issues in the project GSoC revamped UI/UX. for easy tracking of work done by me under GSoC.

[2021-07-08 05:28] CyberWake opened #910 "[GSoC] - Donation integration with razorpay."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Integration of Donation UI with razorpay

**Approach to be followed (optional)**
Getting the publish key for the payment from the talawa api and using the publish key to accomplish the payment.

[2021-07-08 05:29] CyberWake commented on #910
@Sagar2366 sir please assign this to me and add the issues in the project GSoC revamped UI/UX. for easy tracking of work done by me under GSoC.

[2021-07-08 05:34] CyberWake opened #911 "[GSoC] - QR organisation joining"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Having QR join in option on url input page for easy sign in. And if already logged I than search for org and ask join in confirmation.

**Additional context**
QR would only we available with user already signed up so non registered user's can only get QR from verified people's so there woul

[2021-07-08 05:34] CyberWake commented on #911
@Sagar2366 sir please assign this to me and add the issues in the project GSoC revamped UI/UX. for easy tracking of work done by me under GSoC.

[2021-07-12 12:51] CyberWake opened #912 "[GSoC] - Bug report login loader not working in a desired way"
**Describe the bug**
Loader not hiding on failure response in signup and login.

**To Reproduce**
Steps to reproduce the behavior:

1. Select language
2. Enter URL
3. Select login
4. Enter wrong credentials

**Expected behavior**
Loader should hide on getting a response.

**Actual behavior**
Loader is not hiding popped after even getting the response

[2021-07-12 12:52] CyberWake commented on #912
@Sagar2366 sir assign this one please and move to the project GSoC UI/UX revamp

[2021-07-12 13:23] CyberWake opened #913 "[GSoC] - Bug report Drawer stream already listened bad state."
**Describe the bug**
Drawer screen bleeding in some cases.

**To Reproduce**
Steps to reproduce the behavior:

1. Get logged inside the app.
2. Open Drawer.
3. Select join organisation
4. Join any new non private organisation
5. Open drawer again

**Expected behavior**
Drawer should work as intended.

**Actual behavior**=
Drawer screen bleeds due to listening to disposed stream.

[2021-07-12 13:34] CyberWake opened #914 "[GSoC] - Bug report feeds page shows something went wrong when 0 post present"
**Describe the bug**
When you have a current org which has 0 post present every time on app launch is shows something went wrong

**To Reproduce**
Steps to reproduce the behavior:

1. Join a organisation with 0 post
2. kill the app from background
3. launch the app again

1. if already joined a org with 0 post via signup or logging in again

**Expected behavior**
This should not show something wen

[2021-07-13 17:58] xsh2047 opened #915 "[Feature Enhancement] Allow for admins to add & remove members from an organization"

[2021-07-13 18:01] xsh2047 opened #916 "[Feature Request] Add the ability to set an Organisation's status to public or private"

[2021-07-13 18:07] xsh2047 opened #917 "[Feature request] Add the ability to manage group chats"
Administrators should be able to:

Create group chats
Update a group chat

[2021-07-13 18:15] xsh2047 opened #918 "[Feature request] Ability to add/remove admins"
Organisational Administrators should be able to add/remove other admins from the organisation.

[2021-07-13 18:21] xsh2047 opened #919 "[Feature request] Allow for administrators to send organisation wide messages"

[2021-07-13 18:23] xsh2047 opened #920 "[Feature request] Allow for administrators to elevate members to coordinators"

[2021-07-13 18:26] xsh2047 opened #921 "[Feature request] Allow administrators to moderate the newsfeed"
Administrators should be able to:
    * Mute people
    * Enable/ disable commenting on posts
    * Enable/disable Thumbs up/down on posts

[2021-07-13 18:45] xsh2047 opened #922 "[Feature request] Allow members to create group chats"
Any user should be able to create a group chat.

[2021-07-13 18:49] xsh2047 opened #923 "[Feature request] Group chat for events"
Events after creation should automatically have a group chat with all confirmed attendees.

[2021-07-13 18:51] xsh2047 opened #924 "[Feature request] Inter-group Messaging"
Members of an organisation should be able to send messages to each other within group chats

[2021-07-13 18:58] xsh2047 opened #925 "[Feature request] Voice messaging capability with compression"
Users should be able to send voice notes using an efficient data compression algorithm for optimizing storage space.

[2021-07-13 19:20] xsh2047 opened #926 "[Feature request] Event Grouping"
**Problem**
All events in the organisation is currently displayed ungrouped : Ideally, the user should be able to toggle between their subscribed events or all events in the organization
**Goals**
Provide a more streamlined event display : This should allow modularity for feature development in event management
**Out of Scope**
The following are aspects of this feature which have been considered b

[2021-07-13 19:26] xsh2047 opened #927 "[Feature request] Event signup and subscription"
**Problem**
Currently the user cannot subscribe to or sign up as an attendee of an event :
All events in the organization are presented ungrouped to the user
The user cannot subscribe/ sign up for an event

**Goals**
Provide streamlined display of events: This should eventually facilitate the development of other event-type specific features

**Out of Scope**
The following are aspects of this feat

[2021-07-13 19:32] xsh2047 opened #928 "[Feature request] Assign Event Roles"
**Problem**
There currently exists only one role: there is a need for allowed activities to be governed by the users' role in the organization
Administrator
Coordinator
Member
Tasks currently cannot be assigned based on role

**Goals**
Implement framework to facilitate multiple roles in application: This will facilitate the different allowed activities

**Out of Scope**
The following are aspects o

[2021-07-13 19:37] xsh2047 opened #929 "[Feature request] Ability to view Attendee List/ Roster"

[2021-07-13 19:42] xsh2047 opened #930 "[Feature request] Add the ability to create paid/ donation based event"

[2021-07-13 19:47] xsh2047 opened #931 "[Feature request] Comment on events"
Administrators and Event Coordinators should be able to:
1. Comment on events
2. Thumbs up/down an event

[2021-07-13 19:53] xsh2047 opened #932 "[Feature request] Event Reminder"
The app should notify participants of upcoming events. A setting should be in place to specify frequency and timing of notifications. (e.g. 1 Day before, 5 hours before, etc.)

[2021-07-13 19:56] xsh2047 opened #933 "[Feature request] Event Calendar Overview"
The application should allow users to see events from a Calendar View.

[2021-07-14 13:04] #911 closed

[2021-07-14 13:06] #912 closed

[2021-07-14 13:06] #913 closed

[2021-07-14 13:06] #914 closed

[2021-07-15 19:39] AdityaBirangal commented on #901
Flow with dummy data
https://user-images.githubusercontent.com/43909309/125846677-cff2a845-2d3f-4bc1-88b2-5cbc44f8180b.mp4

[2021-07-15 20:16] AdityaBirangal opened #936 "Bug : once code detected scanning should stop"
**Describe the bug**
in set api url using QR code feature
scanning is being done continuously after code detected

**To Reproduce**
Steps to reproduce the behaviour:

Try to set api URL using QR code & see logs in terminal

**Expected behavior**
once code detected scanning should stop

**Actual behavior**
scanning is being done continuously after code detected

**Screenshots**
If applicable, add s

[2021-07-16 15:12] palisadoes commented on #901
Well done.

[2021-07-16 15:14] Sagar2366 commented on #901
Good work @AdityaBirangal

[2021-07-17 09:22] CyberWake commented on #936
Can you exactly specify the logs.
Because the qr scan will only we considered successful if it's a valid qr in terms of talawa.

[2021-07-17 09:23] CyberWake commented on #936
Until the same is achieved it will continue to scan once a talawa generated qr is scanned it will automatically stop.

[2021-07-17 11:40] Sagar2366 commented on #936
@AdityaBirangal  please add video reproducing the issue.

[2021-07-17 20:13] AdityaBirangal commented on #936
@CyberWake Got it
Accutly I scanned QR of url (our heroku api).
Can you share formate of valid QR code or demo code ?
It keeps scanning it & logs are being generated in terminal.
within fraction on time it scan same code multiple times.

This can be fixed using ```controller.scannedDataStream.first``` instead of just stream

It would be good if we add pop-up 'you scan wrong code' if user scan inva

[2021-07-17 20:15] xsh2047 opened #937 "[Feature request] Member Signup"
### We need a unique way of tracking users :
Members within the organization need a unique identifier for their devices/accounts.

### Out of Scope
SMS OTP : to avoid costs within the application, this feature will be omitted as a paid third-party service is required .
Email Registration: A common issue faced by users is that access to their emails is non existent as they do not own one or it is d

[2021-07-17 20:16] CyberWake commented on #936
You need to scan a qr from invite feature exclusive to talawa app from the one of the user who is already logged in and has access to dashboard

[2021-07-17 20:17] CyberWake commented on #936
Logs printed are from the package itself and talking of the poping of the context it does that If you scan a qr from the way I told. QR contains data other than url of the server.

[2021-07-18 18:16] utkarshshendge opened #938 "[GSoC] Add functionality to switch theme"
**Is your feature request related to a problem? Please describe.**
Currently, the app picks themes from the system. Just like other apps, there should be a switch to change the theme.

**Describe the solution you'd like**
Create an app settings page and add this functionality there. The provider will be used for this purpose and `shared_preferences` for persisting the theme.

**Describe alternativ

[2021-07-18 18:17] utkarshshendge commented on #938
@DeltaHarbinger @palisadoes  please assign me this task.

[2021-07-18 19:04] AdityaBirangal commented on #936
Everything works fine if valid code is provided 👍🏻

[2021-07-18 19:08] AdityaBirangal commented on #936
Can we add pop-up message for invalid code too ?

[2021-07-20 13:31] marcovmag commented on #197
@adithyaakrishna  can you please assign me this work?

[2021-07-21 12:11] rutvik11062000 opened #939 "[GSOC] - Tracking the progress of Chat Page"
**Is your feature request related to a problem? Please describe.**
This is a TODO for Chat Page in the application.

Phase-1
- [x]  Create necessary models with serialization and generate demo data.
- [x]  Make inital UI with demo data.
- [ ]  Setup navigation and create TODO UI inside individual chat page with demo data.
- [ ]  Getting GraphQL stream endpoints.
- [ ]  Attach real API with viewMod

[2021-07-24 12:27] #883 closed

[2021-07-25 03:18] #906 closed

[2021-07-28 09:55] muskan399 opened #941 "Add Integration tests."
**Is your feature request related to a problem? Please describe.**
With the introduction of integration test, code coverage will eventually increase.

**Describe the solution you'd like**
Writing integration test using Flutter Gherkin and driver.

**Additional**
Assign this issue to me.

[2021-07-28 18:28] utkarshshendge opened #942 "Add functionality to search Event"
**Is your feature request related to a problem? Please describe.**
Currently, the search button icon is not functional, we should be able to use it.

**Describe the solution you'd like**
Add functionality to search Event.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
`search delegate`

[2021-07-28 21:07] OnyemaAnthony opened #943 "Write widget test"
**Write test to some widgets that have not been tested**
A clear and concise description of what the bug is.

**Expected behavior**
   if the widgets in the application are well tested it should be responsive regardless of the devices and screen sizes

**Actual behavior**
Some of the widgets in the application might not be responsive in other devices or might even have an overflow

**Screenshots**

[2021-07-28 21:09] OnyemaAnthony commented on #943
@Sagar2366  please assign this issue to me

[2021-08-01 17:49] utkarshshendge opened #944 "[GSoC] Add UI to Add members and Admins in event"
**Is your feature request related to a problem? Please describe.**
Currently, we cannot add members while creating events.

The new design has this provision:
![Capture](https://user-images.githubusercontent.com/57677520/127780481-7a9b04e3-2f05-4bb0-a482-1da13bf1d945.PNG)

**Describe the solution you'd like**
Display org members in a bottom sheet and add functionality to check/uncheck them. Checke

[2021-08-01 17:49] utkarshshendge commented on #944
@DeltaHarbinger @palisadoes please assign this issue to me.

[2021-08-03 03:09] palisadoes commented on #942
@ utkarshshendge  should we assign this to you?

[2021-08-03 03:54] utkarshshendge commented on #942
@palisadoes yes please assign it to me.

[2021-08-08 06:26] CyberWake opened #948 "Bug report: No option to join more org in waiting page."
**Describe the bug**
Ability to join more organisation from waiting page on signup

**To Reproduce**
Steps to reproduce the behavior:

1. install app
2. set url and then signup with a private organisation selected
3. indefinite waiting time for the confirmation by org admin
4. almost dead end as user needs to wait until the request gets rejected or accepted.

**Expected behavior**
There should be

[2021-08-08 06:28] CyberWake commented on #948
@Sagar2366 sir please assign this issue to me and move it in the GSoC revamp project setup under projects tab.

[2021-08-08 06:35] CyberWake opened #949 "`[GSoC Feature]` Walk through of the Talawa on first time signup"
**Is your feature request related to a problem? Please describe.**
Guide a new user to in about the features and functioning of the application.

**Describe the solution you'd like**
Give user a walk through on signup

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-08-08 06:35] CyberWake commented on #949
@Sagar2366 sir please assign the issue and add the same to GSoC revamp project.

[2021-08-08 11:25] tosif91 opened #950 "PlatformException (camera_access_denied)"
**Describe the bug**
When user deny the  camera permission it will get permanently denied, after if user try to pick image then their is no response from the app side.

**To Reproduce**
Steps to reproduce the behavior:

1. Install App
2. Navigate To Profile Screen
3. Update profile pic
4. Deny the runtime permission
5. Once its get permanently denied retry to update profile pic
6. No response from

[2021-08-08 11:27] tosif91 commented on #950
Please assign this issue to me

[2021-08-09 17:27] #948 closed

[2021-08-09 18:45] CyberWake opened #952 "[Bug report] Github action failing on push"
**Describe the bug**
Github actions are failing on push

**To Reproduce**
Steps to reproduce the behavior:

1. Push local changes to Github or merge PR

**Expected behavior**
Actions should not fail on push if they successfully execute in a pull request.

**Actual behavior**
The Github actions runs successfully on pull request but fails on push.

[2021-08-11 04:34] CyberWake opened #953 "Bug report iOS build is failing due to improper configurations"
**Describe the bug**
iOS build is failing because of improper configuration.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a simulator or connect an iOS device.
2. Build with xcode for iOS.
3. Build fails.

**Expected behavior**
iOS build should not fail as this is the major advantage of using the cross platform sdk `flutter`

**Actual behavior**
Build fails because of runner configu

[2021-08-11 04:35] CyberWake commented on #953
The issue is resolved in PR #947.

[2021-08-12 09:32] CyberWake opened #957 "Bug report Progress box on signup never pops in case all cases other then success state"
**Describe the bug**
Progress box on signup does not get pop off if there is an error from the server due to email account already exist or in case of unsuccessful call due to internet.

**To Reproduce**
Steps to reproduce the behavior:

1. Enter the url.
2. Choose signup.
3. Select any organization to join.
4. Use any email that has an account already created
5. click signup

**Expected behavior*

[2021-08-12 09:40] CyberWake commented on #936
I Will have to look in to that your concern seems to be obvious.

[2021-08-13 05:43] #909 closed

[2021-08-13 05:43] #953 closed

[2021-08-13 08:55] utkarshshendge opened #959 "[GSoC] Add functionality to Register for event"
**Is your feature request related to a problem? Please describe.**
There needs to be a functionality to register users for events.

**Describe the solution you'd like**
Add a FAB that shows the user if the event is registerable, user can register to the event only if they are registerable.
The events are unregisterable by default, it's better to keep them registerable so the creator may toggle the

[2021-08-13 08:56] utkarshshendge commented on #959
@DeltaHarbinger @palisadoes  please assign me this issue.

[2021-08-13 13:59] #938 closed

[2021-08-14 05:22] sumitra19jha commented on #800
@palisadoes Please close this issue

[2021-08-14 05:23] sumitra19jha commented on #801
@palisadoes Please close this issue

[2021-08-14 05:29] sumitra19jha commented on #802
@palisadoes Please close this issue
test/widget_tests/select_language_page_test.dart is added for testing language specific changes

[2021-08-15 05:53] #949 closed

[2021-08-15 06:35] #957 closed

[2021-08-15 08:48] #942 closed

[2021-08-15 15:21] #800 closed

[2021-08-15 15:21] #801 closed

[2021-08-15 15:21] #802 closed

[2021-08-16 09:39] CyberWake opened #963 "Bug report Android compilation fails"
**Describe the bug**
The project is not building on develop due to multidexing issue

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the repository
2. Build for android

**Expected behavior**
The compilation of android should be successful

**Actual behavior**
The compilation is failing on android due to multidexing

[2021-08-16 09:47] #963 closed

[2021-08-16 18:00] utkarshshendge commented on #926
Hi, @xsh2047 created events, and registered events can be grouped as in #965.  So does it solve the problem as expected?

[2021-08-17 07:19] AdityaBirangal opened #966 "Introduction Slides"
**Is your feature request related to a problem? Please describe.**
Introduction slides can be added at startup for first-time users to
provide a quick introduction of the app & its features.

**Describe the solution you'd like**
We can add 3-4 screens to introduce app &  it's feature. with some text & graphics
also will provide skip option to directly jump to login page.

**Describe alternatives y

[2021-08-17 07:21] AdityaBirangal commented on #966
@palisadoes Please assign me.

[2021-08-18 06:11] #910 closed

[2021-08-18 06:14] CyberWake commented on #966
this feature exists on default branch, need to have some more enhancements as a room for upgrade is still visible and is being worked upon considering the global standards to keep it minimilistic.

[2021-08-18 23:31] palisadoes commented on #966
@AdityaBirangal Please do a mock up in figma before you start. The screens will need to support multi-lingual capabilities of the app.

[2021-08-19 00:44] #803 closed

[2021-08-19 07:51] CyberWake opened #970 "[Bug report] Upgrading dependencies"
**Describe the bug**
Some dependencies have their newer versions released, though the currently used versions in talawa are not deprecated, but being in sync with the latest is good to avoid future breakdowns.

**To Reproduce**
Dependencies namely

1. cached_network_image
2. connectivity_plus
3. flutter_speed_dial
4. get_it
5. image_picker
6. mockito
7. qr_code_scanner
8. tutorial_coach_mark
9. vi

[2021-08-19 15:12] sumitra19jha commented on #806
Please close this issue

[2021-08-20 11:07] utkarshshendge opened #973 "[Feature] Add quick actions functionality"
**Is your feature request related to a problem? Please describe.**
Many social media apps have the functionality to navigate to certain pages without opening the app. This helps to prevent distractions to the user and contributes to good UX.

**Describe the solution you'd like**
Add quick actions to navigate to chat, events, and newsfeed page.

[2021-08-20 11:14] utkarshshendge opened #974 "[GSoC] Add functionality to crop images and add place-holder images."
**Is your feature request related to a problem? Please describe.**
Currently, the `explore_events`, `create_event`, and `update_profile` pages don't have placeholder images. It's better to add them so that when the backend gets ready the integration can be done easily,

As of now, the user cannot crop the images. There should be functionality to crop images.

**Describe the solution you'd like**
A

[2021-08-20 11:15] utkarshshendge commented on #974
@palisadoes @DeltaHarbinger please assign me this issue.

[2021-08-20 11:15] utkarshshendge commented on #973
@DeltaHarbinger @palisadoes please assign me this task.

[2021-08-20 11:55] #806 closed

[2021-08-21 13:58] #807 closed

[2021-08-21 17:18] #805 closed

[2021-08-22 15:38] #808 closed

[2021-08-22 17:54] CyberWake opened #976 "Preserving pre GSoC contributions on master branch on develop"
**Describe the bug**
Preserving master branch contributions on develop for hard resetting the master branch later on

[2021-08-22 17:56] #976 closed

[2021-08-23 18:53] AdityaBirangal commented on #966
This feature is not yet implemented
@CyberWake Are you taking about in app guide ? (which introduce functionality one by one)
I was thinking to implement small intro at starting to give glimpses of our app

example :
<img src="https://user-images.githubusercontent.com/43909309/130500930-b6759994-38b4-4f29-af03-ad2894ae7492.gif" alt="example" width="360"/>

@palisadoes okay sir I will keep in mind

[2021-08-23 19:00] DeltaHarbinger opened #977 "GitHub Actions Failing"
**Describe the bug**
GitHub Action pipelines are currently failing during the flutter analysis stage

**To Reproduce**
Steps to reproduce the behavior:

1. Create a PR
2. Wait for the pipeline to be executed
3. See that the pipeline has failed due to an issue in the flutter analysis section
    a. Flutter analysis should not fail as a result of the GitHub pipeline being faulty. It should fail in t

[2021-08-24 12:08] CyberWake commented on #977
@DeltaHarbinger sir this is already fixed in the PR #972.

[2021-08-29 16:03] DeltaHarbinger commented on #977
Thanks @CyberWake, I will close this

[2021-08-29 16:03] #977 closed

[2021-08-29 18:10] bayush-9 opened #979 "[Bug report] Renderflex overflow in custom_drawer"
Issue Description:  Renderflex overflow in custom_drawer at bottom
Observed behaviour: Option to exit or join new organization is inaccessible
Expected behaviour: It should be accessible to the user.
Steps to fix issue: Rearrange the spacing between sister and parent widgets

I am willing to work on this issue!!

![Screenshot_16302605782](https://user-images.githubusercontent.com/81760629/13126094

[2021-08-30 03:40] bayush-9 commented on #979
@palisadoes Please assign me this issue!

[2021-08-31 08:04] CyberWake commented on #979
@bayush-9 you may start working on this I'll make sure this is assigned to you.
p.s. make sure this is fixed with dynamic sizing used for the above listview in the drawer over the last to options at the buttom.

[2021-09-01 05:37] bayush-9 commented on #979
Okay @CyberWake . I'll keep it in mind.

[2021-09-01 06:01] bayush-9 commented on #979
@CyberWake The issue is fixed. Have a look in pull request! #980

[2021-09-03 05:28] #970 closed

[2021-09-03 06:21] Anikets08 commented on #686
hey is this issue solved ??

[2021-09-04 16:58] #798 closed

[2021-09-04 17:01] #979 closed

[2021-09-04 19:58] AdityaBirangal opened #982 "Reminders (Notifications) for registered events"
**Is your feature request related to a problem? Please describe.**
People may forget to to join event at particular time

**Describe the solution you'd like**
Give reminder (in system notification panel) 30 min before & at time of event to join events (in which they are registered)

**Describe alternatives you've considered**
Send calendar invite

**Approach to be followed (optional)**
Schedule No

[2021-09-04 19:59] AdityaBirangal commented on #982
@palisadoes I would like to work on this feature

[2021-09-04 23:33] #850 closed

[2021-09-05 03:05] bayush-9 commented on #819
This error is fixed. This issue can be closed! @palisadoes @afaanshariff

[2021-09-05 03:38] #819 closed

[2021-09-05 19:22] palisadoes opened #983 "Feature request: Private Events"
**Is your feature request related to a problem? Please describe.**
The participants in all events are publicly visible to everyone. There needs to be options for more privacy.

**Describe the solution you'd like**
1. The ability to make events private where only participants can see who is attending
1. The optional ability to make private events invisible to persons not attending

**Describe alter

[2021-09-06 17:45] bayush-9 opened #984 "[Feature] User is unable to exit an organisation from drawer."
**Describe the bug**
User is unable to exit an organization from drawer.

**To Reproduce**
Visit the drawer in the app.

**Expected behavior**
Organization should get removed from the list and user should exit from same.

**Actual behavior**
The exit org. button is inactive.

**Additional details**
An alert dialogue box could be added before exit to improve UX.

I am willing to work on this issue

[2021-09-06 19:04] arq0017 commented on #686
Is it solved ?

[2021-09-06 19:16] OnyemaAnthony commented on #686
Yes it's fixed

[2021-09-07 06:08] CyberWake commented on #984
@bayush-9 please do look in the `talawa-api` if this is working properly last time we checked it was not working in a desired manner and we encountered some errors from the server.

[2021-09-07 09:22] bayush-9 commented on #984
ohh okay!! I'll look into it. I hope I can open a discussion for this there.

[2021-09-09 18:41] #686 closed

[2021-09-09 18:42] #944 closed

[2021-09-10 07:45] bayush-9 commented on #984
@CyberWake I think there is work going on backend for this as this will need lot of interactions with the whole data. Hence I have just added an alert dialog box for now, which pops up before exiting the organization. The logic and backend integrations can't be added as of know.

[2021-09-10 08:05] bayush-9 commented on #984
The PR workflow issues are in other files that I haven't touched. I think it is checking the whole code base for the pr. All of them seem depreciation warnings.

[2021-09-15 15:30] bayush-9 commented on #820
@palisadoes Please close this issue. The bug is resolved.

[2021-09-20 16:26] #820 closed

[2021-09-24 16:25] #984 closed

[2021-09-25 17:12] palisadoes opened #986 "Get Test Code Coverage to 35%"
**Describe the bug**
We need to improve the reliability of our code. The test code coverage is only 30% currently. We need to raise this to 35%

**Before Running**

You will need to install the `lcov` package to get the `genthml` executable. For Ubuntu Linux the command would be:

[code]
The `which` command shows the location of the `genthml` executable.

**To Reproduce**

Run the commands below:

[2021-09-26 15:46] bayush-9 commented on #986
@palisadoes I am not able to reproduce the coverage data after inputting "genhtml coverage/lcov.info -o coverage" in terminal. It says "The term 'genhtml' is not recognized as the name of a cmdlet, function, script file, or operable program." Can you help me out ?

[2021-09-26 17:07] palisadoes commented on #986
@bayush-9 You will need to install lcov. For linux the command would be:

[code]
The `which` command shows the location of the `genthml` executable.

[2021-09-26 17:24] palisadoes opened #987 "Talawa App must work with older & newer versions of the API"
**Is your feature request related to a problem? Please describe.**

1. It is very likely that Talawa administrators will not upgrade their servers to match the latest version of the mobile app that is downloadable from an app store or the GitHub repository. The users' mobile app will need to adapt and function appropriately when communicating with a version of the API that may not support all the

[2021-09-26 17:25] palisadoes commented on #987
@xsh2047 Here is the starter issue we discussed.

[2021-09-30 00:28] jassi-singh commented on #987
Hi @palisadoes I am interested in working on this issue, can you provide me more info on the issue as I am new to talwa.

[2021-09-30 17:28] palisadoes commented on #987
@ jassi-singh  I've updated the explanation of the issue to make it clearer. Please review and let me know what further clarity you would require.

[2021-10-09 01:09] MariaMckenzie opened #989 "Code Documentation for Chat, Organisation, Events and User #SWEN3130"
Expected Documentation: Adding code documentation to the certain parts of the App (Chat, Events, Organisation and User)
Current Documentation: Lack of documentation within the code of the app.
Possible Solution: Add documentation to code to enhance readability.
Steps to Reproduce: N/A
Context (Environment): The development of code
Detailed Description:   N/A
Possible Implementation: N/A

[2021-10-10 19:58] Mich-moon commented on #989
I would like to be assigned to this issue.

[2021-10-10 20:47] Ashish-AI opened #990 "[Fix] UI fix on Home screen"
**Describe the bug**
The height allocated to the pinned posts increases the gap between Appbar and Pinned posts.

**To Reproduce**
Steps to reproduce the behavior:

1. Login/Signup
2. Navigate to the home tab
3. Mentioned issue can be seen

**Expected behavior**
The pinned posts should be present below Appbar with the reduced gap between them

**Actual behavior**
The gap between Appbar and Pinned

[2021-10-14 09:40] #990 closed, assigned to nobody

[2021-10-20 08:16] Hasan1605 commented on #986
Thanks for the reply and can you share the details if I can help you in
this.
Regards

On Wed, Oct 20, 2021, 12:05 PM Ashish Chaubey ***@***.***>
wrote:

[2021-10-22 15:14] MariaMckenzie opened #995 "Assignment Error in User Model (user_info.dart)"
**Expected Documentation:** Correct assignment of variables and attributes.
![image](https://user-images.githubusercontent.com/68311077/138479406-3cacc93d-8ae4-4940-8d2c-7d79eb08cd63.png)
**Current Documentation:** Error in variable assignments. (`details.firstname` is assigned to `this.lastName`, `this.email` and `this.image`)
![image](https://user-images.githubusercontent.com/68311077/138479218-

[2021-10-30 19:13] aman-singh7 opened #997 "Video on the feed is playing even when scrolled up or tab changed"
**Describe the bug**
Videos embed on the feed is playing continuously even when page is scrolled up or even when the active tab on the bottom navigation bar is changed.

**Expected behavior**
The video should stop when scrolled up or the tab is changed.

**Actual behavior**
The video is playing the background.

**Additional details**
N/A

[2021-10-30 19:13] aman-singh7 commented on #997
@palisadoes please assign me this issue

[2021-11-10 12:00] sumitra19jha opened #998 "Crash Analytics Integration"
**Is your feature request related to a problem? Please describe.**
Crash Analytics needs to be added to streamline all the crash reports once the app goes into production.

**Describe the solution you'd like**
While making the solution, please follow the following instruction:
1. All the production-related crash reports go to the official Firebase account of Palisadoes which will help us to improv

[2021-11-15 08:52] smil-thakur commented on #922
hey I would love to work on this issue

[2021-11-16 12:47] saraljain12 commented on #682
hey, I wanna work on this issue. kindly assign it to me

[2021-11-16 13:16] sumitra19jha commented on #682
Hi,

Our new ui is different from this and we are not using this ui anymore.

[2021-11-16 13:16] #682 closed

[2021-11-19 04:31] smil-thakur commented on #922
@rutvik11062000 @palisadoes how can i get started with this issue?

[2021-11-21 17:14] palisadoes opened #1001 "Complete Code Coverage for View Models"
The Talawa code base needs to be 100% reliable. This means we need to have We 100% unittest code coverage. This is a parent issue for all View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assignment.
-

[2021-11-21 17:15] palisadoes opened #1002 "Complete Code Coverage for Pre-Auth View Models"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage. This is a parent issue for all Pre-Auth View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assignme

[2021-11-21 17:17] palisadoes opened #1003 "Complete Code Coverage for After-Auth Feed and Chat View Models"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage. This is a parent issue for all After-Auth View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assign

[2021-11-21 17:37] palisadoes opened #1004 "Unittests for select_organization_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1002

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the

[2021-11-21 17:38] palisadoes opened #1005 "Unittests for pre_auth_view_models/waiting_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1002
### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the c

[2021-11-21 17:39] palisadoes opened #1006 "Unittests for signup_details_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1002
### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the c

[2021-11-21 17:40] palisadoes opened #1007 "Unittests for login_view_model.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- h

[2021-11-21 17:40] palisadoes opened #1008 "Unittests for set_url_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1002

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the

[2021-11-21 17:47] palisadoes opened #1009 "Unittests for organization_feed_view_model.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

- Parent Issue: h

[2021-11-21 17:49] palisadoes opened #1010 "Unittests for create_event_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023

[2021-11-21 17:50] palisadoes opened #1011 "Unittests for explore_events_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023
### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the c

[2021-11-21 17:51] palisadoes opened #1012 "Unittests for edit_event_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023

[2021-11-21 17:52] palisadoes opened #1013 "Unittests for edit_profile_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023

[2021-11-21 17:53] palisadoes opened #1014 "Unittests for profile_page_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023

[2021-11-21 17:53] palisadoes opened #1015 "Unittests for lru_cache.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue: https://github.com/PalisadoesFoundation/talawa/issues/1003

[2021-11-21 17:54] palisadoes opened #1016 "Unittests for direct_chat_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue: https://github.com/PalisadoesFoundation/talawa/issues/1003

[2021-11-21 17:55] palisadoes opened #1017 "Unittests for add_post_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1003

[2021-11-21 18:04] palisadoes opened #1018 "Complete Code Coverage for Widget View Models"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage. This is a parent issue for all Widgets View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assignmen

[2021-11-21 18:06] palisadoes opened #1019 "Unittests for progress_dialog_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1018

[2021-11-21 18:07] palisadoes opened #1020 "Unittests for like_button_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1018

[2021-11-21 18:08] palisadoes opened #1021 "Unittests for custom_drawer_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1018

[2021-11-21 18:09] palisadoes opened #1022 "Unittests for comments_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1018

[2021-11-21 18:24] palisadoes opened #1023 "Complete Code Coverage for After-Auth Event and Profile View Models"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage. This is a parent issue for all After-Auth Event and Profile View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child

[2021-11-23 05:47] #555 closed

[2021-11-26 10:43] saraljain12 commented on #1020
Hey, I am ready to take on this kindly tell me more about it and assign it to me

[2021-11-26 17:03] palisadoes commented on #1020
Thanks @saraljain12. This is an important task. We need to get our code test coverage to be much better.

1. Check this link on [how to create Flutter Unit Tests](https://docs.flutter.dev/cookbook/testing/unit/introduction) for more details.
1. Put your tests in the [test/](https://github.com/PalisadoesFoundation/talawa/tree/develop/test) directory. Check the files there for examples on how to pro

[2021-11-26 17:15] CyberWake commented on #1020
Let me know is you need some help dm me on slack if needed.

[2021-11-26 17:43] palisadoes commented on #922
@smil-thakur join the slack channel for a faster responses. [slack.palisadoes.org](http://slack.palisadoes.org)

This is going to require both the regular and group chat features to be created and supported. Do you have ideas for an architecture we could use?

[2021-11-26 18:13] saraljain12 commented on #1020
Thanks, sure. Kindly give me the slack link
and also  demo organization for logging in to app

[2021-11-26 18:15] CyberWake commented on #1020
@Ritik Kumar Srivastava my user name or find by my mail ritikfbd@gmail.com

[2021-11-26 19:22] #565 closed

[2021-11-27 11:19] Simran1604 opened #1024 "The floating action button covers Event Card details."
**Describe the bug**
The Floating Action Button covers the public/private and the number of attendees details of the event card.

**To Reproduce**
Steps to reproduce the behavior:

1. Join an organization
2. Create an event.
3. Go to the 'Explore Events' page.
4. Check the bottom-most event card.

**Expected behavior**
The floating action button below the card and all details of the card are visib

[2021-11-27 11:20] Simran1604 commented on #1024
@palisadoes pls assign this to me

[2021-11-28 16:52] #72 closed

[2021-11-28 16:52] #119 closed

[2021-11-28 16:52] #168 closed

[2021-11-28 16:52] #186 closed

[2021-11-28 16:52] #192 closed

[2021-11-28 16:52] #194 closed

[2021-11-28 16:52] #196 closed

[2021-11-28 16:52] #197 closed

[2021-11-28 16:53] #201 closed

[2021-11-28 16:53] #202 closed

[2021-11-28 16:53] #208 closed

[2021-11-28 16:53] #231 closed

[2021-11-28 16:53] #233 closed

[2021-11-28 16:53] #240 closed

[2021-11-28 16:53] #304 closed

[2021-11-28 16:53] #326 closed

[2021-11-28 16:53] #356 closed

[2021-11-28 16:53] #430 closed

[2021-11-28 16:53] #432 closed

[2021-11-28 16:53] #435 closed

[2021-11-28 16:53] #451 closed

[2021-11-28 16:53] #474 closed

[2021-11-28 16:53] #488 closed

[2021-11-28 16:53] #495 closed

[2021-11-28 16:53] #514 closed

[2021-11-28 16:53] #522 closed

[2021-11-28 16:53] #526 closed

[2021-11-28 16:53] #528 closed

[2021-11-28 16:53] #543 closed

[2021-11-28 16:53] #547 closed

[2021-11-28 16:53] #561 closed

[2021-11-28 16:54] #580 closed

[2021-11-28 16:54] #590 closed

[2021-11-28 16:54] #598 closed

[2021-11-28 16:54] #623 closed

[2021-11-28 16:54] #632 closed

[2021-11-28 16:54] #637 closed

[2021-11-28 16:54] #644 closed

[2021-11-28 16:54] #665 closed

[2021-11-28 16:54] #666 closed

[2021-11-28 16:54] #673 closed

[2021-11-28 16:54] #689 closed

[2021-11-28 16:54] #710 closed

[2021-11-28 16:54] #715 closed

[2021-11-28 16:54] #720 closed

[2021-11-28 16:54] #721 closed

[2021-11-28 18:56] #1024 closed

[2021-11-30 15:39] #997 closed

[2021-12-04 03:51] M-A-D-A-R-A commented on #995
Is this issue solved? if not i would like to work on it. thanks!

[2021-12-04 03:53] M-A-D-A-R-A commented on #1001
Hey , I would like to work on this issue. Please assign it to me.

[2021-12-04 18:35] palisadoes commented on #1001
@M-A-D-A-R-A We'll only assign the child issues. Please comment on one of the child issues for assignment. Only one child issue will be assigned to a person at any one time.

[2021-12-04 18:39] palisadoes commented on #995
@ayush-mahawar26  Are you still working on this?

[2021-12-04 18:44] M-A-D-A-R-A commented on #1004
Hey, can u assign it to me. thanks.

[2021-12-04 18:53] M-A-D-A-R-A opened #1030 "[Bug report] Inconsistencies in Password RegEx"
**Describe the bug**
when I'm signing myself for he app it says invalid password but doesn't say why, i looked in code there's a regex pattern it should follow. It will be helpful for user if shows u what's wrong with password for eg :- If i wrote my password as "Hello@123"
Which is wrong it shouldn't have uppercase letter, and  that it should show to the user. Currently it's just showing INVALID

[2021-12-04 18:54] aashimawadhwa commented on #1020
can u provide me the link of slack channel ?

[2021-12-04 18:55] palisadoes commented on #1030
@M-A-D-A-R-A What was the password you used and what is the password the code expects? It's not clear from your issue.

[2021-12-04 18:57] palisadoes commented on #1020
http://slack.palisadoes.org/

[2021-12-04 19:02] noman2002 commented on #1017
Hey, Can I take this issue. Please tell me more about it and please assign it to me.

[2021-12-04 19:09] M-A-D-A-R-A commented on #1030
First i tried with "N1234567" it said Invalid password , then i tried with "Nishant" it said "Invalid password " again, now for "ASDFGH" it accepted this password.

[2021-12-04 19:30] palisadoes commented on #1030
So should we be only allowing passwords with:

- A combination of upper and lower case letters;
- Special characters; and
- Numbers?

If so this should be stated in the change password screen and enforced.

[2021-12-04 19:47] M-A-D-A-R-A commented on #1030
The Written Regex right now is:-

r'^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#\$&*~]).{8,}$

means
r'^
  (?=.*[A-Z])       // should contain at least one upper case
  (?=.*[a-z])       // should contain at least one lower case
  (?=.*?[0-9])      // should contain at least one digit
  (?=.*?[!@#\$&*~]) // should contain at least one Special character
  .{8,}             // Must be at least 8

[2021-12-04 19:51] palisadoes commented on #1030
Is the regex in the `change password` screen or the `login` screen? The verification of the regex should only be done when the password is changed. @CyberWake, @sumitra19jha, @rutvik11062000, what could be the issue here?

[2021-12-04 20:31] sumitra19jha commented on #1030
Yes, this needs to be changed. Currently, password validation throws an "Invalid Password" error message.
It should be changed into, "Password must consist of at least one upper case letter and symbols"

[2021-12-05 06:21] CyberWake commented on #1030
Earlier we tend to use a package for the same this as @M-A-D-A-R-A stated to show at what parameters the password is not validating. After the migration process, we found the package to be nonnull safe plus it was having issues when writing some of the test cases.
As far as the concern showed we may need to update the validation statement by checking on what grounds the regex failed.

[2021-12-05 06:23] CyberWake commented on #1030
@M-A-D-A-R-A if you wish to work on this one please feel free to ping in slack. We'll get this assigned to you.

[2021-12-05 06:24] CyberWake commented on #1002
@palisadoes please assign this one to me. I'll like to work on it.

[2021-12-05 19:20] palisadoes commented on #1002
@CyberWake please work on the individual issues for assignment. One at at time. We want to make sure everyone gets a chance.

[2021-12-06 05:19] Simran1604 commented on #1022
I am willing to work on this issue. Can you pls assign me?

[2021-12-06 15:28] nishnatadebnath commented on #1021
According to some of the test done in the project,most of them are performing widget testing ,so for this one also we have to check if all the widgets are working as required,or unit testing is something completely different?

[2021-12-06 16:36] palisadoes commented on #1021
Any widgets referenced in this file, that don't already have unittests, must also have unittests done.

[2021-12-06 16:48] nishnatadebnath commented on #1021
Ya I will get the unit tests done but overall I will have to get the wdiget for the custom_drawer also tested for widget testing ,Right?

[2021-12-06 16:51] palisadoes commented on #1021
Yes

[2021-12-06 17:16] nishnatadebnath commented on #1021
Can I take up this issue?

[2021-12-08 12:21] SriramPatibanda commented on #1019
@palisadoes I want to work on this issue. Can you please assign this to me?

[2021-12-08 16:52] Simran1604 opened #1031 "[Terminological error] Misplaced description in `set_url_page_test.dart`"
**Describe the bug**
While checking out the test files, I found a bug. Here it is "Testing if login button works" while it should be for the signup button.
**To Reproduce**
Steps to reproduce the behavior:

1. Open test/widget_tests/pre_auth_screens/set_url_page_test.dart
2. find the bug in lines 277 and 488

**Screenshots**
![Screenshot (120)](https://user-images.githubusercontent.com/72657303/14

[2021-12-08 17:15] palisadoes commented on #1031
@Simran1604 Is the fix, just changing the text on line 488?

[2021-12-08 17:19] Simran1604 commented on #1031
Yes

[2021-12-08 19:04] palisadoes commented on #1031
OK

[2021-12-08 19:46] AvneetSingh2001 commented on #1030
I would like to work on this issue. @CyberWake

[2021-12-08 19:53] palisadoes commented on #1030
@M-A-D-A-R-A, I assigned this to @AvneetSingh2001 as you didn't respond to @CyberWake

[2021-12-08 20:03] M-A-D-A-R-A commented on #1030
I already mentioned in the issue that can u assign it to me, also i told sumitra that I'm working on it but it's cool already assigned it to @AvneetSingh2001, no issues.  Thanks

[2021-12-08 20:28] palisadoes commented on #1030
@M-A-D-A-R-A I didn't see your request in the original comment. I'll reassign it. I don't want to have your time wasted.

[2021-12-08 20:48] AvneetSingh2001 opened #1032 "Bug report"
**Describe the bug**
When uploaded an image in a post screen, the keyboard pop to write the caption produces the bottom overflow by 45 pixels.

**Screenshots**

*When keyboard is not triggered*

<img width="200" alt="Screenshot 2021-12-09 at 2 13 59 AM" src="https://user-images.githubusercontent.com/77102514/145281768-0cb33dc5-a94d-4676-806f-3b647135c155.png">

*When Keyboard is up*

<img width="2

[2021-12-09 11:30] AvneetSingh2001 commented on #1014
I would like to work on this. Kindly Assign me.

[2021-12-09 17:04] SriramPatibanda commented on #1016
I'm willing to work on this issue. Please assign this to me if possible.

[2021-12-09 20:51] SriramPatibanda opened #1036 "first-interaction action check fails due to deprecated workflow event"
**Describe the bug**
The first time interaction GitHub action doesn't work.

**To Reproduce**
Steps to reproduce the behavior:

When a user submits a PR for the first time in talawa, the first interaction action fails.

**Expected behavior**
The GitHub action checks must pass on pull request from a new contributor

**Actual behavior**
The GitHub action checks fail due to lack of required permissio

[2021-12-09 21:16] palisadoes commented on #1036
@SriramPatibanda This has worked for other first time contributors for months, including PRs this week. This page doesn't specifically identify first time contributors. Are you sure of this bug?

[2021-12-10 06:32] SriramPatibanda commented on #1036
Yes @palisadoes , I'm sure that ```pull_request``` event doesn't work when secrets are being used. Even the other PR's by first time contributors are failing due to this example, #996, you can check them yourself.

[2021-12-10 15:41] sumitra19jha commented on #1036
@palisadoes I also noticed the pull request workflow for first time contributor do have some issues. @SriramPatibanda Do you want to work on this?

[2021-12-10 15:49] SriramPatibanda commented on #1036
Would love to

[2021-12-10 16:17] sumitra19jha commented on #1036
Also please change the title of this issue, and make it more meaningful

[2021-12-10 16:19] SriramPatibanda commented on #1036
@sumitra19jha , I would like to bring to your notice that some actions checks were failing for this PR that I sent: #1034. When I checked the issue, I understood that there are 8 files where imports were done that weren't required. (both material and cupertino packages were imported) and that's the reason, linting errors were shown. As Peter asked me to check why the checks weren't passing and sol

[2021-12-10 17:01] sumitra19jha commented on #1036
Can you share the Snap of failed Workflow?

[2021-12-10 17:27] M-A-D-A-R-A commented on #1030
So Im trying to define a bool variable for checking every case.

final bool hasUppercase = password.contains(RegExp(r'^(?=.*[A-Z])+$'));
final  bool hasDigits = password.contains( RegExp(r'^-?[0-9]+$'));
 final bool hasLowercase = password.contains(RegExp(r'^(?=.*[a-z])+$'));
 final bool hasSpecialCharacters = password.contains( RegExp(r'[!@#$%^&*(),.?":{}|<>]'));

but the bool is not returning an

[2021-12-10 17:49] palisadoes commented on #1030
@CyberWake @sumitra19jha Please take a look.

[2021-12-10 18:15] SriramPatibanda commented on #1036
![Screenshot_20211210-234507.png](https://user-images.githubusercontent.com/56649197/145622142-d66b180a-3ccb-41b3-a75f-575d58daf7b4.png)

[2021-12-10 19:13] sumitra19jha commented on #1036
Great!!! This will be resolved then while merging those PRs. I think there is one more issue with the Greetings, please look into that also.

[2021-12-10 19:35] SriramPatibanda commented on #1036
Apart from ```pull_request``` event deprecation, there is some other issue you mean?

[2021-12-12 05:30] rahuldadz commented on #1013
Please assign this issue to me !

[2021-12-12 13:23] M-A-D-A-R-A commented on #1030
It will be helpful if you could give a hint so that i can proceed further.

@sumitra19jha @CyberWake

[2021-12-12 14:00] M-A-D-A-R-A commented on #1004
The test that are cases that are written already are for [pre_auth_screens](https://github.com/PalisadoesFoundation/talawa/tree/develop/test/widget_tests/pre_auth_screens).
Is there any example for pre_auth_view_model? @sumitra19jha

[2021-12-12 15:53] sumitra19jha commented on #1030
Please share the output of the error log file

[2021-12-12 17:35] M-A-D-A-R-A commented on #1030
For the following bools I'm getting these values.

![image](https://user-images.githubusercontent.com/56160262/145723041-46811b96-843e-4c86-90ab-e61ed1a15cc1.png)

i tried other Regex too but the values are same.

[2021-12-12 17:37] M-A-D-A-R-A commented on #1030
For the Following bools I'm getting these values.
![image](https://user-images.githubusercontent.com/56160262/145723123-892a7e18-b717-4ea3-8f82-0e1dcc84346e.png)
I tried other Regex too but the values are same.

[2021-12-13 07:42] SriramPatibanda opened #1038 "Parts of the app can't be accessed in some devices as they touch operating system interfaces"
**Describe the bug**

The buttons and content at the boundaries of the app in select language screen can't be accessed as they touch operating system interfaces.

**To Reproduce**
Steps to reproduce the behavior:

Opening the app in devices without a notch display reproduces this behavior.

**Expected behavior**
The whole interface of the app must be within the phone boundaries(SafeArea) so that e

[2021-12-13 07:48] SriramPatibanda commented on #1038
Though Padding was given using SizeConfig, it's not getting initialized sometimes and this problem is faced in the Select Language page especially. I think wrapping the Scaffold with SafeArea must be a more preferable and recommended solution for this problem.

[2021-12-14 03:23] palisadoes commented on #1036
@SriramPatibanda  Your PR fixed the first time PR run issue, however we are failing actions as the `flutter analyze --no-pub` is failing. Please run `flutter analyze --no-pub` on the code base, fix the linting problem and submit a PR under this issue

[2021-12-14 03:27] palisadoes commented on #1036
I just realized that we need to merge this PR first, which I failed to do. I'll see  who can approve it.

- https://github.com/PalisadoesFoundation/talawa/pull/1034

[2021-12-14 03:27] #1036 closed

[2021-12-14 08:28] ayush-mahawar26 commented on #995
@palisadoes  I resolved this issue , waiting for @utkarshshendge  to review it , BTW it is reviewed by CyberWake and he approoved it

[2021-12-14 13:17] palisadoes commented on #995
@ayush-mahawar26 Is there a pull request for this? Please submit one if not.

[2021-12-14 14:10] ayush-mahawar26 commented on #995
@palisadoes  Yes , submittes the pull request

[2021-12-14 15:57] #1019 closed

[2021-12-15 17:28] #1032 closed

[2021-12-15 18:07] palisadoes opened #1042 "Fix Deprectated `social_share` Plugin"
**Describe the bug**
The plugin `social_share` uses a deprecated version of the Android embedding. We get the error below when the `flutter pub get` command is run.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
No error

**Actual behavior**
See message above

**Screenshots**
N/A

**Additional details**
N/A

[2021-12-15 18:14] palisadoes opened #1043 "Fix iOS tesing error post Pull Request merging"
**Describe the bug**
We are getting the message below after merging the `talawa` code. This could be the cause of future problems with the app.

**To Reproduce**
Steps to reproduce the behavior:

- [Follow this link for the full post PR test suite with the error message.](https://github.com/PalisadoesFoundation/talawa/runs/4537806166?check_suite_focus=true)

**Expected behavior**
There should be n

[2021-12-15 19:34] AvneetSingh2001 commented on #1042
Please assign this to me.

[2021-12-16 04:32] SriramPatibanda commented on #1042
This is actually a third party package and we can't fix the issues ourselves, the package owners must do it from their side. But a new version of this package is available. Using the latest version might solve the problem.

[2021-12-16 04:47] AvneetSingh2001 commented on #1042
yes, they have updated the version yesterday only, and using that solves this problem.

[2021-12-18 12:09] hridaypradhan opened #1048 "Language picker colors"
When a language is selected, the name remains greyed out and that doesn't convey
the selection very well, especially against the selection box that appears around it, which is also grey.

![Screenshot_20211218-173754.jpg](https://user-images.githubusercontent.com/37269407/146640447-b148e9f6-5f51-4533-9fd2-eeb74cceaf81.jpg)

[2021-12-18 15:16] BolisettySujith commented on #1012
I would like to work on this issue, can u pls assign it to me?

[2021-12-18 16:26] palisadoes commented on #1048
@hridaypradhan That's a good observation. Do you want to work on this?

[2021-12-18 16:55] hridaypradhan commented on #1048
Yes, I'd like to work on it, could you please assign it to me? Also, what should I include in the issue description to make it more comprehensive?

[2021-12-18 17:10] palisadoes commented on #1048
@hridaypradhan What you have in the body of the issue is sufficient.

[2021-12-19 11:16] ayush-mahawar26 commented on #1048
Is this Issue fixed ? I would like to work on this.

[2021-12-19 11:53] hridaypradhan commented on #1048
Not yet, I'm working on it

[2021-12-19 12:01] ayush-mahawar26 commented on #1048
@hridaypradhan OK not a probelem , im was just asking because I figured it out , how to do

https://user-images.githubusercontent.com/65828946/146674115-577e46fd-100c-4f18-a094-33650bc87308.mp4

[2021-12-20 02:59] palisadoes commented on #1048
@ayush-mahawar26 Make sure that it works with:
- All languages. Ask @sumitra19jha  for guidance.
- Dark and light mode (without using hard coded values on the screens) Investigate the MVVM Provider model. Ask @CyberWake and @rutvik11062000 for guidance.

[2021-12-20 03:00] palisadoes commented on #1048
@ayush-mahawar26 Please create a PR to fix this after you talk with the contributors mentioned previously.

[2021-12-20 05:47] nishnatadebnath commented on #1043
@palisadoes assign this to me.

[2021-12-20 15:14] Literal-Eval opened #1050 "Text font size difference on Language Selection screen."
![2021_12_20_20_34_12](https://user-images.githubusercontent.com/62198564/146789351-3fa99785-f6d5-4cae-8c00-5572d9bd13bb.gif)

Selecting different languages on the language selection screen causes the list view to shift a bit due to difference in sizes of fonts of different languages.

[2021-12-20 15:30] palisadoes commented on #1050
@Literal-Eval do you want to work on this issue?

[2021-12-20 15:31] Literal-Eval commented on #1050
Sure. Actually I've resolved it in my machine. Was looking for approval. 😌

[2021-12-21 00:13] palisadoes commented on #1043
The issue was related to us using the `pull_request_target` GitHub action object instead of the `pull_request` object for all PRs.
- `pull_request_target`  does not checkout the PR submitter's code and therefore our tests were running on the most recently successful PR's code and not that of the submitter. ["`pull_request_target` runs in the context of the target repository of the PR, rather than

[2021-12-21 17:59] nishnatadebnath opened #1055 "Fix first time interaction workflow."
**Describe the bug**
Issue related to first time interaction with contributers.

[2021-12-21 18:08] nishnatadebnath opened #1057 "Adding codeowner for better security"
**Is your feature request related to a problem? Please describe.**
Security concerns regarding the workflow run in forked repo.

**Describe the solution you'd like**
Code owners by github is a solution.
[https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners](url)

**Describe alternatives you've considered**
A clear and

[2021-12-21 18:12] #1055 closed

[2021-12-21 18:38] #1057 closed

[2021-12-21 19:04] nishnatadebnath opened #1060 "Add checking for unauthorized acess to specific files"
**Describe the solution you'd like**
Affirmative Negative testing workflow to check unauthorized changes made in PR.

[2021-12-21 19:12] #1060 closed

[2021-12-21 19:43] palisadoes opened #1064 "Migrate the pull-request GitHub actions files into a dedicated directory for ease of management"
Migrated the pull-request GitHub actions files into a dedicated directory for ease of management

[2021-12-21 19:50] #1064 closed

[2021-12-21 22:22] palisadoes commented on #1043
Fixed with these pull requests:
- https://github.com/PalisadoesFoundation/talawa/pull/1061
- https://github.com/PalisadoesFoundation/talawa/pull/1056
- https://github.com/PalisadoesFoundation/talawa/pull/1058

[2021-12-21 22:22] #1043 closed

[2021-12-22 04:16] palisadoes opened #1068 "Automatic Test Coverage Not Executing Against `lcov.info`"
**Describe the bug**

1. GitHub action for code coverage should fail, but it passes. It may not be activated in the action.
1. This used to work before.

Earlier today we added the `coverage/` directory where the `lcov.info` file generated by the `flutter test --coverage` command and used by the `genhtml` to give the human readable output is located. We doubt that this is the cause of the issue, a

[2021-12-22 04:46] nishnatadebnath commented on #1068
Please assign this to me.

[2021-12-22 04:52] palisadoes commented on #1068
I updated the original text about the GitHub Actions file and the GitHub actions execution provide a better description of the issue.

[2021-12-22 04:53] palisadoes commented on #1068
@nishnatadebnath Closed by accident. Reopened.

[2021-12-22 04:53] #1042 closed

[2021-12-22 05:05] palisadoes opened #1069 "Flutter testing fails on the CLI but not in GitHub actions pull request automations"
**Describe the bug**

1. The `flutter test` or `flutter test --coverage` commands fail on the CLI, but pass in the GitHub action testing.
1. The sections that fail are below. Detailed output can be found later in the description
[code]
    and
[code]
The cause of the issue is related to using `Hive` as you can see in the detailed output below.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2021-12-22 05:12] #1050 closed

[2021-12-22 16:19] #1068 closed

[2021-12-22 16:37] nishnatadebnath commented on #1048
@palisadoes @hridaypradhan Please close this issue ,PR #1067  fixes this issue.

[2021-12-22 16:51] palisadoes commented on #1048
@nishnatadebnath I don't think so. This issue is about changing the color of the text that is highlighted to a more visible color. The other PR was about adjusting the font size so that all the text stays in a fixed position as you scroll through the languages.

[2021-12-22 17:15] nishnatadebnath commented on #1048
@palisadoes My bad I thought both of them are solved in a single PR

[2021-12-22 18:22] ayush-mahawar26 commented on #1048
@palisadoes @nishnatadebnath  can I get the issue to fix ? I fixed it , just need to Generate PR . If u assign it to me .

[2021-12-22 18:26] palisadoes commented on #1048
@hridaypradhan  Are you still working on this? I'll assign it to @ayush-mahawar26 if a PR isn't submitted in 24 hours. It's overdue.

[2021-12-22 19:53] AvneetSingh2001 opened #1071 "Bug report"
**Describe the bug**
When uploaded an image in a post screen, the keyboard pop to write the caption produces the bottom overflow.

**Screenshots**

*When the keyboard is not triggered*

<img width="200" alt="Screenshot 2021-12-09 at 2 13 59 AM" src="https://user-images.githubusercontent.com/77102514/145281768-0cb33dc5-a94d-4676-806f-3b647135c155.png">

*When Keyboard is up*

<img width="200" alt="

[2021-12-22 20:41] ayush-mahawar26 commented on #1048
@palisadoes btw which color should i choose , when language is selected ?? white aur any other ?

[2021-12-22 21:03] palisadoes commented on #1048
A contrasting color that is in keeping with the design. Remember there is dark and light mode and it will need to use a variable value defined as part of the provider package. White/grey depending on the background should work, but it needs to be a variable in provider, not hard coded.

[2021-12-22 22:27] palisadoes commented on #1069
@CyberWake Do you know why this is happening? The tests work in GitHub it seems, but not from the CLI.

[2021-12-23 12:12] Literal-Eval commented on #1030
Is this issue fixed ? If not, I'd like to work on it. Otherwise please close it.

[2021-12-23 13:22] palisadoes commented on #1048
@ayush-mahawar26 I've assigned it to you. We need to get our code coverage up, so also address the issue the testing of this screen view.

[2021-12-23 13:23] Pavel401 commented on #294
Hi, I tried tto follow that joining link ,but its asking for verified mail id to join.Can i know how can i join ?.

[2021-12-23 13:24] palisadoes commented on #294
Use the slack link in the original post. The others have expired.

[2021-12-23 13:25] hridaypradhan commented on #1048
I'm very sorry about the delay,  @ayush-mahawar26 please go ahead if you've already solved the issue.

[2021-12-23 15:59] nishnatadebnath commented on #1015
Please assign this to me.

[2021-12-23 17:08] Pavel401 opened #1077 "event_card sharp corners"
**Describe the bug**
The event_card's rectangle with sharp edges are not looking good with the UI. These cards take high cognitive effort to visually process the UI by the user. Users can appreciate the aesthetic beauty of rounded corners on the UI.

**To Reproduce**
Steps to reproduce the behavior:

1.Navigation Bar > Events >Explore Events > My Events

**Expected behavior**

 Rounded corners are

[2021-12-23 17:11] Pavel401 commented on #1077
Please assign me the issue, I want to work on this.

[2021-12-23 17:29] palisadoes commented on #1077
It's assigned

[2021-12-23 19:28] #1071 closed

[2021-12-23 19:34] palisadoes commented on #1077
Closing. Fixed in:
- https://github.com/PalisadoesFoundation/talawa/pull/1076

[2021-12-23 19:34] #1077 closed

[2021-12-24 06:35] Literal-Eval opened #1079 "Changing Validators.dart file"
For some reason, adding something to utils/Validators.dart doesn't has any effect, or doesn't work as expected, if it even works. Am I missing something ?

[2021-12-24 07:22] Literal-Eval commented on #1079
Oh !! Got it. Actually it then passes whole sentence for translation, and my custom string was not there in the translation list.

[2021-12-24 07:22] #1079 closed

[2021-12-24 09:27] nishnatadebnath commented on #1015
@CyberWake I have some doubt regarding the logic used for the `/after_auth_view_models/chat_view_models/lru_cache.dart
`.
So while testing it I found out that we are initializing the LRUChatListCache  using the following constructer.

`  LRUChatListCache() {
    cache = <String, ChatListNode>{};

    head = ChatListNode();

    tail = ChatListNode();

    head.next = tail;

    tail.prev = head;

[2021-12-24 16:42] CyberWake commented on #1038
@SriramPatibanda can you tell in which scenarios do the sizeConfig is not initialized. Because that is strange this will make the whole application's UI crumble up.

[2021-12-24 16:47] SriramPatibanda commented on #1038
I'm not able to reproduce this bug again, but suddenly sometimes size config didn't get initialised and that's when I had faced this issue. And after navigating to the next page or hot reloading it, it was getting initialised.

[2021-12-24 16:50] CyberWake commented on #1038
Share a demo of the happening since this isn't possible AFAIK. And wrapping widgets in safe area for no sake doesn't make sense. Would be better if you could exactly tell the scenario.

[2021-12-25 04:36] Literal-Eval commented on #1048
Kindly close the issues when fixed.

[2021-12-25 06:18] Literal-Eval opened #1082 "Overflow error"
- On the Organization selection screen, Hindi and some other languages cause a render overflow.

![Screenshot_20211225-103108](https://user-images.githubusercontent.com/62198564/147378808-795d9d91-f6ac-46d6-92d8-c9e6df5818c1.jpg)

Assign this to me.

[2021-12-26 09:05] Literal-Eval commented on #986
Is this worked upon ? If not, kindly assign this to me.

[2021-12-26 12:57] palisadoes commented on #986
@Ashish-AI I've reassigned this issue as it's been dormant for some time.

[2021-12-26 13:02] #763 closed

[2021-12-26 13:07] #770 closed

[2021-12-26 13:07] #777 closed

[2021-12-26 13:07] #780 closed

[2021-12-26 13:07] #782 closed

[2021-12-26 13:07] #797 closed

[2021-12-26 13:07] #804 closed

[2021-12-26 13:07] #809 closed

[2021-12-26 13:07] #814 closed

[2021-12-26 13:07] #830 closed

[2021-12-26 13:07] #834 closed

[2021-12-26 13:07] #835 closed

[2021-12-26 13:07] #843 closed

[2021-12-26 13:07] #859 closed

[2021-12-26 13:25] Literal-Eval commented on #986
A little help I need.

- Should tests be written for custom widgets in widgets directory ?
- If so, then what should the tests be about ? Just testing widget with dummy data and checking it's text etc ?

[2021-12-26 13:52] #821 closed

[2021-12-26 13:52] #823 closed

[2021-12-26 13:52] #827 closed

[2021-12-26 13:52] #877 closed

[2021-12-26 13:56] #869 closed

[2021-12-26 13:57] #943 closed

[2021-12-26 14:00] #966 closed

[2021-12-26 14:01] palisadoes commented on #950
@tosif91  Are you still working on this?

[2021-12-26 14:21] palisadoes commented on #986
@Literal-Eval
- The widget tests have their [own directory](https://github.com/PalisadoesFoundation/talawa/tree/develop/test/widget_tests).
- The tests should use dummy data to ensure that the functionality is OK, just as you mentioned.

[2021-12-26 15:05] tosif91 commented on #950
Am not able to give time in it ,  please assign it to someone else .

[2021-12-27 00:11] palisadoes opened #1085 "Testing: Event Registration"
Create unittests for this pull request:

- https://github.com/PalisadoesFoundation/talawa/pull/965

Contact @utkarshshendge for details

[2021-12-27 00:12] #959 closed

[2021-12-27 21:21] nishnatadebnath commented on #1015
@palisadoes  the `lru_cache.dart` code logic is bugged ,can I make changes to the code so that it works properly along with the unit testing?

[2021-12-27 21:44] palisadoes commented on #1015
Yes

[2021-12-29 04:53] BolisettySujith opened #1088 "Fix : Switches of ``Keep Registerable`` overflow in Add Event and Edit Event pages"
In the Add Event and Edit Event pages, `Keep Public` and `Keep Registerable` are aligned in a Row, because of that the switch for `Keep Registerable` is overflowing,  sometimes the switch is not sliding properly when tapped on it.

<table>
      <tr>
       <td><img src="https://user-images.githubusercontent.com/73323807/147628347-c2669da1-ade1-4f7d-855b-15347c43ada9.png"></td>
       <td><img src

[2021-12-29 07:19] Literal-Eval opened #1089 "Confusion regarding a line of code"
While writing test for custom_alert_dialog.dart, I came across a piece of code which I think might me wrong.

widgets/custom_alert_dialog.dart -> line 31
![code](https://user-images.githubusercontent.com/62198564/147636877-ce157ea0-83cb-4b30-8c5a-38ba0aab047a.png)

I think it should execute secondaryButtonTap.
So the code should be onTap: () => secondaryButtonTap(): navigationService.pop()

Or am

[2021-12-29 09:17] CyberWake commented on #1089
The piece of code written over is perfect. If you see the custom alert dialog there are two buttons one for the positive response and the other for a negative so on a negative response the dialog should pop definitely whereas when there is some more logic to be added like after the negative response if something has to be done in the caller state than the secondaryButtonTap function is needed to b

[2021-12-29 09:18] CyberWake commented on #1089
Let me know if your doubt is cleared if so please close the issue or we can discuss more on slack

[2021-12-29 09:33] Literal-Eval commented on #1089
Yeah I get that, and that's why I asked where in the file is secondaryButtonTap called ? Nowhere I guess. So I thought this was it's place (for obvious) reasons.

And about syntax, I wrote just a pseudo-code, like if secondaryButtonTap is defined, call it, otherwise pop. That's not dart, I know. :)

So the question remains, where is secondaryButtonTap supposed to be called ?

[2021-12-29 10:29] Literal-Eval commented on #1089
I think this is the required behavior.

![navigator](https://user-images.githubusercontent.com/62198564/147652881-49002162-539d-4daa-a3f9-4c68c73c02b9.png)

[2021-12-29 10:30] Literal-Eval commented on #1089
If someone can help in this, I have to write tests for this file.

[2021-12-29 10:33] CyberWake commented on #1089
using this would be a more prone method since this will require not to write the dialog closing logic making it less robust. If there needs to be a logic or a negative response and the method is passed for the same then closing logic should also be handled explicitly.

[2021-12-29 10:38] Literal-Eval commented on #1089
So what's the solution ? The method needs to be called somewhere (which isn't being done). Or it doesn't ?

[2021-12-29 10:40] CyberWake commented on #1089
if the function is passed than dialog closing logic should be handled explicitly in the method passed else is the method isn't passed then nothing needs to be done.

[2021-12-29 10:41] Literal-Eval commented on #1089
So basically there should be no else block, only the if block. Right ?

[2021-12-29 10:42] CyberWake commented on #1089
there is no change needed.

[2021-12-29 10:43] Literal-Eval commented on #1089
Okay. Fine.

[2021-12-29 10:43] #1089 closed

[2021-12-29 13:36] palisadoes commented on #1022
@Simran1604 are you still working on this?

[2021-12-29 13:37] palisadoes commented on #1020
@saraljain12 Are you still working on this?

[2021-12-29 13:38] palisadoes commented on #1017
@noman2002 Are you still working on this?

[2021-12-29 13:38] palisadoes commented on #1016
@SriramPatibanda Are you still working on this?

[2021-12-29 13:39] palisadoes commented on #1015
@nishnatadebnath Are you still working on this?

[2021-12-29 13:39] palisadoes commented on #1014
@AvneetSingh2001 Are you still working on this?

[2021-12-29 13:40] palisadoes commented on #1013
@rahuldadz Are you still working on this?

[2021-12-29 13:40] palisadoes commented on #1012
@BolisettySujith Are you still working on this?

[2021-12-29 13:47] BolisettySujith commented on #1012
Yes, I will make one PR as soon as possible.

[2021-12-29 13:53] Simran1604 commented on #1022
Yes, Sir, my college re-opened suddenly for physical classes so got caught up with that. I Will solve this issue soon.

[2021-12-29 15:27] SriramPatibanda commented on #1016
Yes, I've almost completed writing the test. I was blocked at a place and I'm trying to figure out the solution for it.

[2021-12-29 15:53] #1038 closed

[2021-12-29 17:36] AvneetSingh2001 commented on #1014
yes @palisadoes , i am on it.

[2021-12-29 18:43] nishnatadebnath commented on #1015
Yes . Sorry for the delay @palisadoes , shifting to college hostel I will complete it by 24 hr.

[2021-12-29 20:06] rakshitkamboj opened #1090 "app crashes when image is picked via camera(post section)"
Whenever we try add an image to a new post via camera after capturing the image and clicking the tick button the app crashes.

How to generate this bug :
1. Go to Post section
2. Click on camera icon
3. Capture the image
4. Click tick button

Here is the video attached of the bug

https://user-images.githubusercontent.com/69065683/147690711-ece21211-9c35-4915-8338-aeeba18bec72.mp4

Solution :
Inst

[2021-12-29 21:47] palisadoes commented on #1090
@rakshitkamboj

- What's the existing package that's being used for image processing?
- Why can't that package be fixed or updated to not crash?
- Can the existing package do cropping? If so, why not use that instead?

[2021-12-30 08:17] rakshitkamboj commented on #1090
@palisadoes
1. Image_picker is the existing package for image processing.

2. After surfing the internet I found out that the app isn't crashing it's being terminated by the OS to free memory, because while the image picker activity is active the Flutter application is technically a background app, and thus subject to collection by the OS when there is memory pressure.
So, I think this bug will va

[2021-12-30 17:22] palisadoes commented on #1090
@rakshitkamboj Thanks for the clarification. Let's focus on a solution that:

- doesn't crash or have the memory issue mentioned
- optionally allows cropping of the image prior to upload. The auto-cropping of your original suggestion isn't necessary, simple cropping is preferred.
- is historically well supported with many installations

[2021-12-30 19:07] rakshitkamboj commented on #1090
@palisadoes
Sure, as soon as I get a solution which meet all the above requirements then I will ping it here only.
Thank you.

[2022-01-01 09:32] nishnatadebnath commented on #1090
https://user-images.githubusercontent.com/53905682/147847822-0e77cf32-7a7c-417c-a215-33169cfee094.mp4

This is working fine with me did you check that all the permission are allowed in app settings.

[2022-01-01 11:07] palisadoes commented on #1090
@rakshitkamboj
- Have you tried testing on both the emulator and your Android / iOS device? In which case is it failing?

As it is failing because of low memory resources, it implies an OS issue versus the app.

[2022-01-01 11:09] #1015 closed

[2022-01-01 14:39] rutvik11062000 opened #1093 "Generalize visibility package usage"
### Currently there are 2 package that have the same functionality (i.e. to alter/change a widget based on the position of it on the screen).

1. _visibility_detector_
2. _inview_notifier_list_

### **Issues:**
a. As of the current implementation the values of inview_notifier_list are passing down the widget but is never used.
b. Another is calculating "inview" (i.e. variable of indicating the pla

[2022-01-01 14:49] rutvik11062000 commented on #1090
@rakshitkamboj As according @nishnatadebnath and running on my personal device and emulator don't show the effect you mentioned in the video, please try reinstalling the app and give the permission when asked.

If issue doesn't persist its better to close this.

[2022-01-01 15:31] rakshitkamboj commented on #1090
@palisadoes previously I tried running the app in android at that it was causing the bug (don't know the true reason behind that ) but after reinstalling the app camera feature is working perfectly fine.

@nishnatadebnath @rutvik11062000 Thank you for your contribution in this issue.

[2022-01-01 15:31] #1090 closed

[2022-01-01 15:42] palisadoes commented on #1093
Thanks @rutvik11062000, your suggestion is a good approach. The fewer dependencies the better.

[2022-01-01 16:34] nishnatadebnath commented on #1093
Only problem with using _visibility_detector_ in place of _inview_notifier_list is the fact that visibilty detector has only visible fraction which can be used to tell if an widget is visible in the view or not.So if more than two widgets wrapped under _visibility_detector_  might callback simultaneusly if boths visibility_fraction is more than than the threshold we have provided .

[2022-01-02 10:22] rutvik11062000 commented on #1093
@nishnatadebnath I think it can be solved by giving many thoughts to it, one can be having only one video controller  on feed page, also regarding the playback of videos the current timestamp should be cached locally so that when it resume it starts from where it is paused.

Anyone who is interested can take this issue. We need to build a reliable video auto playback system.

[2022-01-02 13:37] akshatgarg12 commented on #983
@palisadoes There exists a property **isPublic** in event schema, should we use that to change the behaviour of the API.

[2022-01-02 16:28] palisadoes commented on #983
It should be. Please check with @sumitra19jha, @CyberWake and/or @utkarshshendge to be certain. They are all on our slack channel.

[2022-01-02 20:53] ItsAdityaKSingh commented on #1014
@AvneetSingh2001 Are you working on this issue?

[2022-01-02 21:23] nishnatadebnath commented on #1093
So the initial work to be done is to remove the `_inview_notifier_list_` which is used in the post feed with visibility_detector.And then try to generalize the widget so that we can use it for other purpose and refactoring.

[2022-01-03 04:29] #1082 closed

[2022-01-03 04:56] rutvik11062000 commented on #1093
Yes this would be good.

[2022-01-03 07:57] nishnatadebnath commented on #1093
How am I supposed to cache the position ,should an mapped list do with key of the video and the current position stored and can be acessed through locators or there is some definitive approach used in this project which I might not know.

[2022-01-03 09:33] ItsAdityaKSingh opened #1095 "Mapping and deprecated API warnings while building app"
**Describe the bug**
Numerous mapping warnings are thrown on the console while building the app

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'main.dart'
2. Click on 'Run app'
3. Scroll down to 'Debug console'
4. See error

**Expected behavior**
No warnings should be thrown for the app to be stable and build-ready.

**Actual behavior**
There were warnings relating old schemas to new

[2022-01-03 10:44] ItsAdityaKSingh opened #1097 "UI changes"
**Describe the bug**
The current UI for dark mode is not appealing or does not showcase the important parts of the app. The Circular loading button can be improved. On the Chats screen, the tab color has a different green than the one used all over the app. From the onboarding screen to various Page titles and content, it can be improved with typical and custom talawa colors!

**To Reproduce**
Ste

[2022-01-03 10:45] ItsAdityaKSingh commented on #1097
@palisadoes I would like to work on this issue and improve the UI for the better!

[2022-01-03 10:50] ItsAdityaKSingh opened #1098 "Introduce working of Invite to org option!"
**Is your feature request related to a problem? Please describe.**
The app should be able to utilize the invite option to invite others to our orgs.
<img src="https://user-images.githubusercontent.com/69353350/147922561-74f69f92-fa58-470a-8e8e-d79a2d63907b.png" height="500"/>

**Describe the solution you'd like**
Functioning of Invite button in the profile section.

**Describe alternatives you've

[2022-01-03 14:47] nishnatadebnath commented on #1093
Please don't close this issue as the above pull request solves only  part A of the issue.

[2022-01-03 16:15] #1095 closed

[2022-01-03 16:43] #1031 closed

[2022-01-03 16:47] #1093 closed

[2022-01-03 17:45] palisadoes commented on #1097
@rutvik11062000 What do you think? I'd greatly prefer changes to meet your design specification.

[2022-01-03 17:46] palisadoes commented on #1098
@ItsAdityaKSingh We have raised our code coverage percentage to 34%, so you'll need to add tests to this issue for the PRs to be approved.

[2022-01-03 17:47] palisadoes commented on #1097
@ItsAdityaKSingh We have raised our code coverage percentage to 34%, so you'll need to add tests to this issue for the PRs to be approved.

[2022-01-03 18:07] palisadoes commented on #1098
@ItsAdityaKSingh

- The first step would be to invite people already enrolled in the Talawa App. Inviting external persons should be another issue.
- The already enrolled person should get some kind of notification in Talawa that this has been done.
- We would need to have provisions for restrictions:
   - Some organizations may only want administrators to have this privilege
   - Others may only

[2022-01-03 19:27] ItsAdityaKSingh commented on #1097
So, basically, will I need to write tests first for the particular widgets or UI components I want to change?

[2022-01-03 19:34] palisadoes commented on #1097
Yes

[2022-01-03 19:43] ItsAdityaKSingh commented on #1098
Thanks for the insights! It's a really great plan you have laid out here. What I thought about proceeding was to first of all invite external persons to join talawa and be a part of the organization I am sending an invite from. But if you want to proceed with already joined members of talawa, then that would be a nice option too. It could grow gradually with the additional restrictions and feature

[2022-01-03 19:45] ItsAdityaKSingh commented on #1097
Ok. Could you help me by guiding me in a direction to start writing tests, like from which widget or function should I start unit testing so as to be able to resolve this issue?

[2022-01-03 19:55] palisadoes commented on #1097
@ItsAdityaKSingh
- [You can find widget test examples here](https://github.com/PalisadoesFoundation/talawa/tree/develop/test/widget_tests/widgets).
- [Our View Model tests can be found here](https://github.com/PalisadoesFoundation/talawa/tree/develop/test/view_model_tests)

Please review them to get an idea on how to proceed.
- Any code you submit must be tested.
- If your code uses any widget, th

[2022-01-03 19:57] palisadoes commented on #1098
What backend do you plan to use to implement the notifications?

[2022-01-03 20:01] ItsAdityaKSingh commented on #1098
I could use Firebase Could Messaging to send push notifications to targeted users.

[2022-01-03 20:02] ItsAdityaKSingh commented on #1097
Sure. Thanks a ton!

[2022-01-03 20:27] palisadoes commented on #1098
- Would that require the Palisadoes Foundation to have a Firebase account, and/or would that be the responsibility of the Talawa end user's organization?
- If it is the Talawa organization, how will the Firebase authentication data be sent to the app?

We need to make the push functionality account the responsibility of the Talawa end user's organization to reduce the need for us to be called and/

[2022-01-03 20:41] ItsAdityaKSingh commented on #1098
Yes, it requires a firebase account. I am not that experienced in terms of the backend to give the best solution :(
So any better suggestions you would like to put or discuss? I would need to do some research on this.

[2022-01-03 21:13] palisadoes commented on #1098
Please research this with the requirements I posted previously. This has been a recurring issue that needs to be addressed. The end user organization needs to have the Firebase account shared between the app and the API, or the push notifications have to be managed solely by the App <-> API connection.

Chat functionality depends on figuring out the right approach to this too.

[2022-01-04 07:58] ItsAdityaKSingh commented on #1098
Sure sir, I would try to do the needful along with writing tests for changes I requested in UI.

[2022-01-04 12:58] palisadoes commented on #1098
@ItsAdityaKSingh please contact @sumitra19jha on Slack before proceeding. He has extensive experience with the backend API will have advice that would be useful. When you have a strategy on how to proceed we can continue the discussion here.

[2022-01-04 13:45] ItsAdityaKSingh commented on #1098
Thanks a lot! I would be glad to learn from him and try to implement this feature :)

[2022-01-04 15:48] ItsAdityaKSingh commented on #1011
@palisadoes Should I try resolving this?

[2022-01-04 18:36] ItsAdityaKSingh opened #1104 "No Exit Pop on Home or Authorisation screen"
**Is your feature request related to a problem? Please describe.**
There is no emergency pop-up confirmation for exiting the home screen. Users may, by mistake, click the back button, and it would close the app.

**Describe the solution you'd like**
Instead, we could provide an emergency pop-up to confirm the exit of our users from the app.

[2022-01-04 18:37] ItsAdityaKSingh commented on #1088
@BolisettySujith Are you still working on resolving this?

[2022-01-05 01:48] BolisettySujith commented on #1088
Yes, I have solved the issue, now I was working on testing some widgets to include in the PR. As my End Sem Exams are going I was a bit busy in that. I will make a PR asap.

[2022-01-05 07:47] nirala96 commented on #1007
I am willing to work on this issue. Can you pls assign me?

[2022-01-05 11:20] ahluwaliatikant commented on #1010
@palisadoes Please assign this issue to me.

[2022-01-05 20:27] palisadoes commented on #1104
Please provide screen shots of what you are proposing to fix to help clarify the issue.

[2022-01-06 14:50] ItsAdityaKSingh commented on #1104
<img src="https://i.ytimg.com/vi/Th0e_WO4Kks/maxresdefault.jpg" width="500"/>
This pop-up, whenever someone presses the back button when on the home screen or auth screen, a pop-up appears confirming whether the person really wants to exit or was by mistake and the person would want to continue.

[2022-01-06 18:51] sunnyok03 opened #1107 "Bug Report , Help button has no functionality"
**Describe the bug**
Nothing happens on clicking the "Help" button in the "Profile" section

**To Reproduce**
Steps to reproduce the behavior:

1. We can either direct to Gmail or the default mailing app to send the mail to the org on clicking the "Help" button

**Expected behavior**
Should direct to the Gmail

**Actual behavior**
Nothing happens on clicking

https://user-images.githubusercontent.

[2022-01-06 19:02] palisadoes commented on #1104
Can you please show where the issue is with a screen shot or video?

[2022-01-07 10:24] ItsAdityaKSingh commented on #1104
Yeah sure. It's more of a feature that needs to be implemented in an app to avoid unwanted endings of sessions while using and is currently absent in talawa!

https://user-images.githubusercontent.com/69353350/148529779-4296e37b-3021-4d47-9890-0aafd5dde26d.mov

As you can see upon pressing back, the app closes immediately. Instead, it can give ask for a confirmation like this:

<p align="center">

[2022-01-07 17:20] jaynit1106 commented on #1107
I can help you with issue can you pls assign it to me

[2022-01-07 22:44] palisadoes commented on #1107
- What sort of help are you suggesting to provide?
- How will you ensure the help will work in all language selections?
- If support is being sought, who would be contacted and how would the app know the persons or method to use for contact?

[2022-01-08 04:06] palisadoes commented on #1104
Thanks, but this action isn't present in any of the major apps on my mobile device. Let's keep with the best practices of these developers. I'm going to close this issue.

[2022-01-08 04:06] #1104 closed

[2022-01-08 05:45] jaynit1106 commented on #1107
Basically I was thinking of using the url_launcher package which will lead to the default mailing app of the device.
Basically  mail to your help desk.

[2022-01-08 07:19] sunnyok03 commented on #1107
So, actually I myself would like to work on this issue.
Solution:-
On clicking the help button we should direct them to Gmail or their default mailing app and provide our org mail by default so the end-user can mail us their problems and issues.

[2022-01-08 17:28] #1010 closed

[2022-01-09 04:51] ahluwaliatikant commented on #1006
@palisadoes I would like to work on this issue. Please assign it to me.

[2022-01-09 16:31] nishnatadebnath commented on #1017
If @noman2002  is not working ,can I have it reassigned to me?

[2022-01-09 16:48] noman2002 commented on #1017
Sorry I was not well.

[2022-01-10 14:27] Literal-Eval commented on #986
Fixed

[2022-01-10 14:27] Literal-Eval commented on #986
Please close this issue now.

[2022-01-10 16:17] rakshitkamboj opened #1110 "User Interface of Chat Screen"
Willing to contribute to this project by adding a chat screen for direct chat page.

Here's the User Interface of the chat screen:

![chat-screen](https://user-images.githubusercontent.com/69065683/148799401-561a6d89-1bdd-4f04-95a9-1d50108df4a4.png)

Or If there is other Interface available then I am ready to develop that too.
Thankyou.

[2022-01-10 16:37] #986 closed

[2022-01-11 07:45] ItsAdityaKSingh opened #1111 "Add option to increase or decrease font size"
**Is your feature request related to a problem? Please describe.**
There is no option in settings to increase/decrease font size in the app.

**Describe the solution you'd like**
Adding a sizing option wherein one can change the overall font size of the app.

**Additional context**

Right now only 2 optional settings is provided:

<img src="https://user-images.githubusercontent.com/69353350/148901

[2022-01-11 13:27] palisadoes commented on #1110
We are evaluating scalable ways implement chat with the API. Details will come in a week or so. Hold on.

[2022-01-11 13:33] palisadoes commented on #1111
This is an interesting idea, however it's best handled by the Android system font settings. This will add a lot of code to the app that is available elsewhere.

We should focus on ensuring that the app adjusts its screens appropriately when this parameter is adjusted.

[2022-01-11 19:11] palisadoes commented on #1111
I'm going to close this issue for the reasons stated previously.

[2022-01-11 19:11] #1111 closed

[2022-01-11 19:13] ItsAdityaKSingh commented on #1111
Sure! So could we possibly pursue this feature later or not implement it at all?

[2022-01-11 19:22] palisadoes commented on #1111
No, we need to focus on major areas of improvement as [outlined in our documentation site](https://palisadoesfoundation.github.io/talawa-docs/docs/internships/internship-ideas).

[2022-01-11 21:07] nishnatadebnath opened #1112 "Reorganizing the test files and folder for cleaner codebase"
**Describe the bug**
Reconstructing the `test` folder for cleaner look and documentation.

[2022-01-16 17:16] palisadoes opened #1117 "Unittests for event_info_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023

[2022-01-16 17:23] palisadoes opened #1118 "Unittests for event_card_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1018

[2022-01-16 17:31] palisadoes opened #1119 "Complete Code Coverage General View Models"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage. This is a parent issue for all Pre-Auth View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assignme

[2022-01-16 17:36] palisadoes opened #1120 "Unittests for theme_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1119
### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the c

[2022-01-16 17:36] palisadoes opened #1121 "Unittests for main_screen_view_model.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- h

[2022-01-16 17:37] palisadoes opened #1122 "Unittests for lang_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1119
### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the c

[2022-01-16 17:37] palisadoes opened #1123 "Unittests for base_view_model.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1119

[2022-01-16 17:48] palisadoes opened #1124 "Complete Code Coverage for View Models & Widgets"
The Talawa code base needs to be 100% reliable. This means we need to have We 100% unittest code coverage. This is a parent issue for all View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assignment.
-

[2022-01-16 17:52] palisadoes opened #1125 "Complete Code Coverage for Widgets"
The Talawa code base needs to be 100% reliable. This means we need to have We 100% unittest code coverage. This is a parent issue for all View Model unittest issues.

We will be creating one issue per related file with the expectation that widgets referenced in these files must also have unittests.
- We'll only assign the child issues.
- Please comment on one of the child issues for assignment.
-

[2022-01-16 17:54] palisadoes opened #1126 "Unittests for add_members_bottom_sheet.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

[2022-01-16 17:58] palisadoes opened #1127 "Unittests for widget custom_avatar.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- http

[2022-01-16 17:59] palisadoes opened #1128 "Unittests for widget custom_avatar.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

[2022-01-16 18:00] palisadoes opened #1129 "Unittests for widget custom_progress_dialog.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:01] palisadoes opened #1130 "Unittests for widget event_admin_fab.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:06] palisadoes opened #1131 "Unittests for widget event_card.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:08] palisadoes opened #1132 "Unittests for widget event_date_time_tile.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:09] palisadoes opened #1133 "Unittests for widget event_search_delegate.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- http

[2022-01-16 18:09] palisadoes opened #1134 "Unittests for widget from_palisadoes.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

[2022-01-16 18:10] palisadoes opened #1135 "Unittests for widget invite_child.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:11] palisadoes opened #1136 "Unittests for widget lang_switch.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

[2022-01-16 18:13] palisadoes opened #1137 "Unittests for widget post_detailed_page.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- http

[2022-01-16 18:14] palisadoes opened #1138 "Unittests for widget post_list_widget.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

[2022-01-16 18:16] palisadoes opened #1139 "Unittests for widget post_widget.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:17] palisadoes opened #1140 "Unittests for widget signup_progress_indicator.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

[2022-01-16 18:18] palisadoes opened #1141 "Unittests for widget theme_switch.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-16 18:19] palisadoes opened #1142 "Unittests for widget video_widget.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- http

[2022-01-17 04:57] M-A-D-A-R-A commented on #1118
As of now, the Code in `widgets_view_models/event_card_view_model.dart` is commented ou by @utkarshshendge. Do we need to first code the `event_card_view_model.dart` and then write the test for it?

[2022-01-17 05:33] palisadoes commented on #1118
You are right. I'll close this issue. Please work on another issue. We should remove `widgets_view_models/event_card_view_model.dart` from the code base.

[2022-01-17 05:39] palisadoes commented on #1118
I reopened the issue. We need to have event registration implemented.  If you can implement event registration using this uncommented code, then include the test for it in the PR. You can create an issue for event registration functionality too and link both issues in the same PR.

[2022-01-17 06:50] M-A-D-A-R-A opened #1143 "Implimention the functionality event_card_view_model and Writing test for it."
As of now the code in event_card_view_model is commented.

As @palisadoes said in #1118 first we need to implement it and then write test for it.

I wanna know that kind of feature does this event card view model needs to have?

I would like to work on this issue. Thanks

[2022-01-17 16:41] rakshitkamboj commented on #1141
@palisadoes
I would like to work on this issue.
Please assign this issue to me.

[2022-01-17 16:54] rakshitkamboj commented on #1141
@palisadoes Thank you

[2022-01-18 14:24] patrickwitter commented on #1138
@palisadoes  Good day, I would like to tackle this issue.

[2022-01-20 19:28] noman2002 opened #1145 "Password validator only shows invalid password on signup screen"
**Describe the bug**
Password validator on signup detail page only show invalid password in every condition.
Example: when the password is too short, when the password doesn't have Capital letters, when the password doesn't have special character.

**To Reproduce**
Steps to reproduce the behavior:

1. Select Language
2. Verify org url
3. Click on signup
4. Select Organization and click next
5. Ent

[2022-01-20 21:01] palisadoes commented on #1145
We only want the invalid password message to occur after hitting `submit`.

- At that point we should state the password criteria.
- The criteria will need to be translated to all spoken languages supported by the app.

This is the standard approach for most applications.

[2022-01-20 21:02] palisadoes commented on #1145
Please confirm this methodology before I assign the issue to you.

[2022-01-20 21:07] noman2002 commented on #1145
Yes we can add the password criteria and it can be translated to all the languages supported by the app by using the same method through which we are translating the other elements of the app.

I am willing to work on this. Please assign it to me.

[2022-01-21 12:08] ayushvrma commented on #1145
@palisadoes can i work on this too? i feel like it'll be a good first issue for me

[2022-01-21 12:15] noman2002 commented on #1145
Brother I am already working on it. You can take another issue please.

[2022-01-21 12:48] guptapriyanshu7 commented on #1134
Hey @palisadoes, can I work on this one?

[2022-01-21 13:22] palisadoes commented on #1145
@ayushvrma There are many ["good first issues"](https://github.com/PalisadoesFoundation/talawa/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) to choose from. More than one person working on an issue has been unmanageable in the past. Please take a look. We need to get the reliability of the code improved, and so testing is very important to us now.

[2022-01-21 13:23] palisadoes commented on #1145
@noman2002 Remember to write tests for your code.

[2022-01-21 14:35] noman2002 commented on #1145
@palisadoes I think there is no test for signup detail page. Do I have to write the whole test for the same. Also there is one open PR #1115 for the same. Do I have to wait for the PR to get merged and then I do changes accordingly.

[2022-01-21 16:23] palisadoes commented on #1145
No need to write the whole test, but we need tests done. Please work with @ahluwaliatikant to figure out why the tests are failing. You can then merge your changes to the tests for this issue after his PR is merged.

[2022-01-21 16:38] noman2002 commented on #1145
I am done with fixing the password validator. Can I create a PR for that as it is my first contribution and I am very excited to created a PR. I will create another issue for the test and will write it when #1115 will be merged.

[2022-01-21 17:12] palisadoes commented on #1145
OK

[2022-01-21 17:13] noman2002 commented on #1145
Thank you so much. I am creating the PR now.

[2022-01-22 16:10] #1138 closed

[2022-01-22 16:11] #1016 closed

[2022-01-22 16:23] #1134 closed

[2022-01-22 16:43] #1145 closed

[2022-01-22 16:43] #950 closed

[2022-01-22 17:48] guptapriyanshu7 commented on #1140
Can I take this up?

[2022-01-22 19:20] noman2002 opened #1151 "Testcases failing for password validation in signup_details_view_model_test.dart"
**Describe the bug**
Test is failing due to test cases are outdated and it is checking of "Invalid Password" which is now updated.

**To Reproduce**
Steps to reproduce the behavior:

1. run flutter test
2. You will get some test failed.

**Screenshots**
![Screenshot from 2022-01-23 00-46-32](https://user-images.githubusercontent.com/54404474/150652508-b18b090e-eb19-4d8a-ab9b-e5ce6338467e.png)

**A

[2022-01-22 20:03] umang-sinha commented on #294
Hey @palisadoes , I am facing some difficulties while trying to setup a local development environment. I would need some help from fellow contributors. However none of the slack links here seem to be working. Can you provide some other link?

[2022-01-22 20:08] palisadoes commented on #294
The link in the original post works.

[2022-01-22 20:14] palisadoes opened #1152 "Etiquette - Low Quality Issues and PRs"
Hey everyone!

The maintainers of Palisadoes Foundation are very happy and appreciative of the recent influx of interest for Talawa.

We know everyone is anxious and are excited to contribute, but we've noticed an increase in duplicate and low quality issues and PR's.

Please have a look at the contributing guidelines for each Talawa repo:
1. [Talawa contributing guide](https://github.com/Palisado

[2022-01-22 20:15] #294 closed

[2022-01-22 20:18] umang-sinha commented on #294
Thank you. The link wasn't working on my wifi connection for some reason. Changing my network worked.

[2022-01-22 20:27] palisadoes commented on #294
- Deleted posts related to an outdated slack link that was causing a lot of confusion.
- Recreated a new issue with updated information.

[2022-01-23 08:15] umang-sinha commented on #1120
hey I am working on this. Please assign it to me

[2022-01-23 09:32] umang-sinha opened #1153 "Receiving a bunch of 'Missing a required trailing comma' warnings"
**Describe the bug**
Not exactly a bug but the entire codebase has missing trailing commas in most of the function calls and declarations. This is not a good linting practice as specified by the [Dart Linter Rules](https://dart.dev/tools/linter-rules#require_trailing_commas)

**To Reproduce**
Steps to reproduce the behavior:

1. If you have the Flutter and Dart plugin for VS Code installed, you sh

[2022-01-23 09:33] umang-sinha commented on #1153
I would love to work on improving the linting in the entire repository. Please assign it to me

[2022-01-23 10:10] umang-sinha commented on #1153
So I added trailing commas wherever they were missing and then formatted the code using `dartfmt`. These trailing commas have been added to a total of 99 files. Not sure if I should add all of it in a single pull request or break it down into smaller pull requests based on changes in a sub-directory. What do you suggest?

[2022-01-23 12:20] guptapriyanshu7 commented on #1136
Can I work on this?

[2022-01-23 12:55] palisadoes commented on #1153
Our pull request automation [pull-request.yml](https://github.com/PalisadoesFoundation/talawa/blob/develop/.github/workflows/pull-request.yml) file runs a `flutter format --set-exit-if-changed .` command on the submitted repo files. We do this for linting consistency.

Unless the command you propose is available with all operating systems we cannot use it.

[2022-01-23 13:02] umang-sinha commented on #1153
Dart Formatter comes by default with the Dart plugin on VS Code.
Also, `flutter format` is essentially doing the same thing and they operate identically. `flutter format` is just a wrapper around `dart format` as pointed out in this [StackOverflow answer.](https://stackoverflow.com/a/66051657/14327844)

[2022-01-23 13:05] palisadoes commented on #1153
If that is the case, then open a separate PR just for linting.

[2022-01-23 17:15] ahluwaliatikant commented on #1117
@palisadoes , I would like to work on this issue. Please assign it to me.

[2022-01-23 20:48] guptapriyanshu7 commented on #1133
I want to work on this one @palisadoes .

[2022-01-24 15:55] patrickwitter commented on #1123
@palisadoes Good day, I would like to tackle this issue

[2022-01-24 20:05] #1153 closed

[2022-01-25 12:01] guptapriyanshu7 commented on #1127
@palisadoes , please assign this to me.

[2022-01-25 12:02] guptapriyanshu7 commented on #1128
Duplicate of #1127

[2022-01-25 13:09] #1128 closed

[2022-01-25 20:46] guptapriyanshu7 commented on #1129
I want to work on this.

[2022-01-25 21:39] #1140 closed

[2022-01-26 11:03] ahluwaliatikant commented on #1122
@palisadoes, I would like to work on this issue. Please assign it to me.

[2022-01-26 17:21] #1123 closed

[2022-01-26 19:17] guptapriyanshu7 commented on #1069
Flutter test is accessing some flles concurrently from the system, which are managed by Hive and puts a lock when it is accessed by one test so that other tests cannot touch it. My speculation is that on Github actions there is only one thread on which all tests are running so this problem doesn't occur.
One workaround can be to make different files for Hive.
I would like to work on this.

[2022-01-26 20:27] patrickwitter commented on #1121
I would like to tackle this issue

[2022-01-27 09:58] guptapriyanshu7 commented on #1005
I would like to work on this.

[2022-01-27 10:17] noman2002 commented on #1151
@palisadoes Someone else resolved this issue in some other PR. Should I close this issue?

[2022-01-27 14:51] palisadoes commented on #1151
- Which PR fixed it?
- According to the [code coverage report](https://app.codecov.io/gh/PalisadoesFoundation/talawa/blob/develop/lib/view_model/pre_auth_view_models/signup_details_view_model.dart) this file has no tests written for it.

[2022-01-27 15:16] noman2002 commented on #1151
#1155  resolved this issue.
But after pulling the code from develop branch no test is failing on my local machine.

[2022-01-27 15:28] palisadoes commented on #1006
@ahluwaliatikant Why is it that your tests do not import [signup_details_view_model.dart](https://github.com/PalisadoesFoundation/talawa/blob/develop/lib/view_model/pre_auth_view_models/signup_details_view_model.dart)?

The [Code Coverage report](https://app.codecov.io/gh/PalisadoesFoundation/talawa/blob/develop/lib/view_model/pre_auth_view_models/signup_details_view_model.dart) shows that the met

[2022-01-27 15:49] ahluwaliatikant commented on #1006
@palisadoes Actually I used mockito's code generation to generate mocks for the class and then used stubbing to test those functions.
If some mentor could point out whatever is wrong and help me a bit, I am willing to learn and make the necessary changes.

[2022-01-27 15:57] #1151 closed

[2022-01-27 17:05] palisadoes commented on #1010
- This isn't complete the [file shows only 31% code coverage](https://app.codecov.io/gh/PalisadoesFoundation/talawa) instead of 100%
- Reopening

[2022-01-27 17:09] palisadoes commented on #1020
- The code coverage report only shows [68% code coverage for this file](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/view_model/widgets_view_models). We need 100%
- Reopening

[2022-01-27 17:11] palisadoes commented on #1021
- This file shows only [80% code coverage in the reporting.](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/view_model/widgets_view_models) We need 100%
- Reopening

[2022-01-27 17:13] palisadoes commented on #1022
- [This file shows 0% code coverage in the reporting](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/view_model/widgets_view_models). We need to get to 100%
- Reopening.

[2022-01-27 17:14] ahluwaliatikant commented on #1006
@palisadoes Basically, I need someone to just help me understand how to test functions that interact with the API.
The approach I followed was to create mocks for them and then use stubbing.

[2022-01-27 17:15] palisadoes commented on #1117
- This file shows only [36% code coverage in the reporting](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/view_model/after_auth_view_models/event_view_models). We need to get to 100%.
- Reopening

[2022-01-27 17:16] palisadoes commented on #1127
- [This test only shows 2% code coverage](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/widgets). We need 100%.
- Reopening

[2022-01-27 17:19] palisadoes commented on #1133
- [The code coverage report shows 94% coverage](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/widgets). We need to get to 100%.
- Reopening

[2022-01-27 17:30] palisadoes commented on #1120
Please see the updated criteria in the comments

[2022-01-27 17:30] palisadoes commented on #1121
Please see updated criteria in the comments

[2022-01-27 17:30] palisadoes commented on #1122
Please see updated criteria in the comments

[2022-01-27 17:37] palisadoes commented on #1012
Are you still working on this? It's been over a month

[2022-01-27 17:38] palisadoes commented on #1011
Are you still working on this?

[2022-01-27 17:39] palisadoes commented on #1014
Are you still working on this? It's been over a month.

[2022-01-27 17:48] palisadoes commented on #1007
Reassigning it's been over 3 weeks.

[2022-01-27 17:52] palisadoes commented on #1004
Unassigning. It's been over a month.

[2022-01-27 17:57] palisadoes commented on #1006
Please ask Rutvik Chandla @rutvik11062000 on Slack. He should be able to guide you.

[2022-01-27 18:06] palisadoes commented on #1014
Unassigning as it's been over a month.

[2022-01-27 18:18] ItsAdityaKSingh commented on #1011
Yes, I would like to work on this. I started learning about tests but then got involved in academics and other projects and couldn't catch up. So, if you wish, you could unassign, but I would try to complete it and make a PR as soon as possible.

[2022-01-28 13:27] #1069 closed

[2022-01-28 15:12] #1129 closed

[2022-01-28 19:51] #1005 closed

[2022-01-29 08:46] architsangal commented on #1135
Hello,
Can I take this up?

[2022-01-29 12:01] ArchitJain1201 commented on #1137
Can I work on this issue @palisadoes

[2022-01-29 17:09] guptapriyanshu7 commented on #1017
I would like to work on this @palisadoes .

[2022-01-30 14:25] guptapriyanshu7 commented on #1012
@palisadoes please assign me to this.

[2022-01-30 15:41] #1017 closed

[2022-01-30 16:58] architsangal opened #1170 "Bug Report"
**LateInitializationError On Invitation**

I was working on issue #1135 and noticed that `LateInitializationError` is popping up.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the flutter app in debug mode.
2. Open the profile page.
3. Click on 'Invite (invite to org)'
4. Check the Debug console.

**Expected behavior**
A pop-up window should open which is having a QR code, and icons o

[2022-01-31 11:35] architsangal commented on #1170
`AppLanguage()` was initialized incorrectly. We need to use Locator. Closing this issue. I will fix it with PR for issue #1135

[2022-01-31 11:35] #1170 closed

[2022-01-31 14:45] Tusharkhati commented on #1139
Hello. I'm interested in contributing to this community. I'm a beginner at dart language since I have already made some Android/ iOS applications in flutter using dart language. I know how we can use APIs since I have made my mini project on it.
I'm a quick learner and It will be really helpful to me if you can guide me on this, I've already cloned the project on my machine but I'm a little confus

[2022-01-31 18:07] #1012 closed

[2022-01-31 19:59] palisadoes opened #1173 "Unittests for widget custom_drawer.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- http

[2022-01-31 20:00] palisadoes opened #1174 "Unittests for widget custom_list_tile.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-31 20:01] palisadoes opened #1175 "Unittests for widget date_time_picker.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-31 20:02] palisadoes opened #1176 "Unittests for widget member_name_tile.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-31 20:02] palisadoes opened #1177 "Unittests for widget pinned_carousel_widget.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-31 20:03] palisadoes opened #1178 "Unittests for widget raised_round_edge_button.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-01-31 20:04] palisadoes opened #1179 "Unittests for widget rich_text.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-02-01 13:20] #1122 closed

[2022-02-01 16:31] guptapriyanshu7 commented on #1007
@palisadoes I would like to work on this.

[2022-02-01 20:38] palisadoes commented on #1014
@ItsAdityaKSingh Do you still want to work on this?

[2022-02-01 20:48] ItsAdityaKSingh commented on #1014
@palisadoes, I would like to resolve my assigned issue first and then move on to the others. I'll convey it so. Thanks for asking :)

[2022-02-02 08:25] architsangal opened #1183 "Help Button May Not be in the right place."
**Is your feature request related to a problem? Please describe.**

- The help button is under the profile section. If someone wants to look for a button like help, that person will probably not click on the profile button for that.
- The help button can be reached only after we have successfully Signed Up or have Logged In. According to me, some alternative to the help button is required there to

[2022-02-02 08:51] architsangal commented on #1173
Can I work on this?

[2022-02-02 08:55] architsangal commented on #1173
Can I work on this issue?

[2022-02-02 08:57] architsangal commented on #1135
I guess, we can close this issue.

[2022-02-02 13:19] #1135 closed

[2022-02-02 17:20] guptapriyanshu7 commented on #1013
@palisadoes I would like to work on this.

[2022-02-02 17:27] guptapriyanshu7 commented on #1008
@palisadoes I would like to work on this.

[2022-02-02 18:25] ayushvrma commented on #1174
hi, can I work on this issue?

[2022-02-02 18:38] ayushvrma commented on #1174
@palisadoes i can see that a test file for custom_list_tile.dart already exists via pr #1084 . What all can I do to improve on it?

[2022-02-02 18:45] palisadoes commented on #1174
[The code coverage for that file is only 90%](https://codecov.io/gh/PalisadoesFoundation/talawa/tree/develop/lib/widgets), try to get to 100%.

[2022-02-02 18:58] ayushvrma commented on #1174
@Literal-Eval can you help me out a bit on this issue please?
 `
orgInfo!.isPublic!
--
114 | ? AppLocalizations.of(context)!
115 | .strictTranslate('Public')
`
on how to cover this path of the code?

[2022-02-03 00:24] palisadoes opened #1186 "Fix `home_page_test.dart` in GitHub actions"
**Describe the bug**
Our PR Github Actions for testing the code base pass, but we have a warning error that we should fix to make sure everything works as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Submit PR
2. The `Testing Codebase` -> `Testing Codebase` part of the GitHub actions displays the screenshot error

Alternatively you can [review all past GitHub actions for all hi

[2022-02-03 14:54] ayushvrma commented on #1174
@palisadoes can you help me out a bit?
[code]
I'm writing this test so as to cover the path of TileType being option to cover 100% of the code but I'm getting back different types of TextSyles as expected. Could you help me out a bit?

[2022-02-03 19:49] ItsAdityaKSingh opened #1188 "Adding better validators for password field"
**Is your feature request related to a problem? Please describe.**
The password field's validator does it signify what it wants for a successful entry. It only says Invalid password while signing up.

<img src="https://user-images.githubusercontent.com/69353350/152417960-7238c506-9efb-42ae-a8dc-a9266df461c3.png" height="500"/>

**Describe the solution you'd like**
It should show various conditions

[2022-02-03 19:54] ItsAdityaKSingh opened #1189 "Making last name field optional for users signing up"
**Is your feature request related to a problem? Please describe.**
While signing up, the last name field has been made mandatory.

<img src="https://user-images.githubusercontent.com/69353350/152418577-21bdefef-0e90-4ba4-adf4-af1a6add71ec.png" height="500"/>

**Describe the solution you'd like**
Many users may not be having or may not be wanting to use the last name, so making the field optional c

[2022-02-03 21:03] palisadoes commented on #1189
A good observation, but gor identification purposes we need to have a last name. Organizations will want to have that control. I'll close the issue.

[2022-02-03 21:03] #1189 closed

[2022-02-04 18:18] ItsAdityaKSingh commented on #1188
Hey @Tusharkhati, currently I am working on resolving this issue. If not resolved, you may see this through :)

[2022-02-04 18:22] palisadoes commented on #1188
This was supposed to have been addressed in this issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1145

What has changed?

[2022-02-04 18:33] ItsAdityaKSingh commented on #1188
It still just shows an **invalid password**. Moreover, there are no conditions to tell users what extra needs to be done.

[2022-02-04 19:03] palisadoes commented on #1188
Please only state what needs to be done after submitting the password.

[2022-02-04 20:21] palisadoes opened #1190 "`flutter analyze --no-pub` command failing with Flutter 2.10.0"
**Describe the bug**
The latest version of Flutter (2.10.0 ) has deprecated the `primaryVariant` and `secondaryVariant` arguments from the [ColorScheme constructor](https://api.flutter.dev/flutter/material/ColorScheme/ColorScheme.html). This is causing our GitHub CI/CD pipeline to fail when running the `flutter analyze --no-pub`

The solution is to update the codebase to:

1. Use `primary` or `pri

[2022-02-04 20:27] ItsAdityaKSingh commented on #1190
I would like to try resolve this issue!

[2022-02-05 05:26] ahluwaliatikant commented on #1132
I would like to work on this. Please assign it to me.

[2022-02-05 12:29] guptapriyanshu7 commented on #1190
PR #1192 fixes this.

[2022-02-05 17:17] #1190 closed