[2021-03-21 04:07] StrangeNoob commented on #427
I know @yasharth291 about the code freeze. I will be working on it after the code freeze. It's just an enhancement.

[2021-03-21 05:16] Enigma04 opened #434 "Replace Invalid login credentials Toast Message"
Putting invalid credentials on login page shows Toast Message as "Invalid Credentials: Undefined Location". We should remove the "Undefined Location" part as it is a bit misleading to a non technical user.
![Screenshot_20210321-103310](https://user-images.githubusercontent.com/32870564/111894663-b2575d80-8a32-11eb-8454-d83c34e41e65.jpg)

[2021-03-21 05:41] Ujjwal-Sumesh opened #435 "Quality of life UI Enhancement"
<h2> Issue Description </h2>
To change the UI of the Login/Registration screen to better define the flow to new users, which in this case is to keep the Login/Register buttons invisible until input URL of organization is recieved.
<h2> Issue severity </h2>
Minimal
<h2> Observed Behaviour </h2>
Both the create account and login button are visually present but has no functionality until URL is input

[2021-03-21 05:47] CyberWake opened #436 "[Bug] - Privilege not displayed in user info page under members tab."
- **Issue Description:**
- [x] User privilege's not shown in user info page. [Bug]

- **Issue Severity:**
Medium

- **Environment Details:**
Homepage -> Members Tab -> Pick any member tile -> particular member info.

- **Observed Behavior:**
Privilege's not displayed on the page under the privileges field.

- **Expected Behavior:**
Privilege's showed be visible like (Member, Admin, Creator)

- **S

[2021-03-21 05:53] Sagar2366 commented on #435
@Ujjwal-Sumesh use issue and PR template to create issue/pr.

[2021-03-21 06:07] Sagar2366 commented on #334
@piyushpradhan as discussed in slack channel please start working on this issue.

[2021-03-21 06:32] yasharth291 commented on #429
i totally want to work on it

[2021-03-21 06:34] yasharth291 commented on #355
i think this is duplicate #230

[2021-03-21 06:36] yasharth291 commented on #430
#355 is duplicate of #230

[2021-03-21 06:39] yasharth291 commented on #436
please @CyberWake try to divide the points. It is very difficult to understand. As i can see point number 2 is already discussed on slack and I considered it to work. And it can't be applied now as it is enhancement. So please can you remove 2nd point as i am  waiting for the code freeze to get over.

[2021-03-21 06:40] Sagar2366 commented on #298
@AniketSindhu you can start working on this issue.

[2021-03-21 06:40] yasharth291 opened #438 "[Enhancement] Using local storage to reduce the server load."
Issue Description: The constant calling of api for details that are going to be used for longer time periods causes extra calls to api making the app slower so adding a local storage will help us.
Issue Severity: high
Environment Details: Issue found mostly in whole app
Observed Behaviour: The app is slow
Expected Behaviour: The app should be fast
Does this issue need immediate attention? yes
Are

[2021-03-21 06:52] Sagar2366 commented on #438
@yasharth291 if you haven't already please read our contribution guidelines. Use issue and pr templates to create new issues and PR.
We also advice to discuss issue in slack channel first before creating it directly.

[2021-03-21 07:03] CyberWake commented on #436
@yasharth291 I guess the points are already there and pretty much clear. And I see some of the issues you are already assigned to please leave this one for me. As well as there's no issue for the same reported till now. All should get equal opportunities after all it's open source.

[2021-03-21 07:06] yasharth291 commented on #438
Sorry for creating the issue but sir everyone takes the issues discussed in the slack and creates are here

[2021-03-21 07:09] CyberWake commented on #230
these issues are already resolved and I have tested them all in the PR #355 which was the issue assigned to me and successfully dissolved. Till then we can work on trying to find new once. Which really need attention. Let's not waste time in replicating the work.😊

[2021-03-21 07:10] CyberWake commented on #429
sure go ahead. It's your call.😊

[2021-03-21 07:12] CyberWake commented on #436
@Sagar2366 can you please assign this one to me. Waiting to contribute on some new bugs. This one would be nice to work with.

[2021-03-21 07:18] piyushpradhan commented on #334
Yes, I'm on it.

[2021-03-21 07:26] i-anuragmishra commented on #431
The PR #440 is now created to resolve this Issue.

[2021-03-21 07:42] yasharth291 commented on #233
@adithyaakrishna  is this bug solved by you?

[2021-03-21 07:44] yasharth291 commented on #230
but the problem is you created duplicate issue started working on it. this is against the guideline. You can work on it but the way you are doing is not according to the guidelines. If this issue is resolved just mention this also in your pr.

[2021-03-21 08:12] yasharth291 opened #441 "[BUG] The message in shown in the toast is different from which is shown in the terminal"
Issue Description: The message in shown in the toast is different from which is shown in the terminal [BUG]
Issue Severity: low
Environment Details: Issue found mostly in the talawa\lib\views\pages\login_page
Observed Behavior: the message is shown in the toast is different
Expected Behavior: the message should be email taken.
Does this issue need immediate attention? yes
Are you willing to work o

[2021-03-21 11:38] Sagar2366 commented on #431
@i-anuragmishra this is same issue as https://github.com/PalisadoesFoundation/talawa/issues/264, right ?

[2021-03-21 11:50] yasharth291 commented on #429
@Sagar2366 this bug is solved sir can i be assigned any other bug please.

[2021-03-21 12:17] i-anuragmishra commented on #431
I guess but the PR mentioned there has not solved it.

[2021-03-21 12:19] i-anuragmishra commented on #431
i have closed the last PR and now the New PR with only the required changes are present. The new PR #445  Resolves this issue.

[2021-03-21 12:19] Sagar2366 commented on #434
@Enigma04 please consider this case as part of this issue - https://github.com/PalisadoesFoundation/talawa/issues/441

[2021-03-21 12:19] Sagar2366 commented on #441
This issue will get handled from https://github.com/PalisadoesFoundation/talawa/issues/434.
Thanks for reporting the issue.

[2021-03-21 12:42] Sagar2366 commented on #426
@CoderMayhem please fix the issue https://github.com/PalisadoesFoundation/talawa/issues/417 as part of this issue only.
Please update issue description if required.

[2021-03-21 12:43] Sagar2366 commented on #417
This issue will get handled as part of https://github.com/PalisadoesFoundation/talawa/issues/426.

[2021-03-21 12:43] #417 closed

[2021-03-21 12:46] Sagar2366 commented on #438
We are trying to give credit to everyone who is finding bugs/issues, suggesting new features, contributing any way to the project. If you felt someone else took credit for your hard work please reach out to us but not following guidelines is not good solution to this.

Now, can you please update issue description ?

[2021-03-21 12:52] Sagar2366 commented on #208
@Swayam221 please update issue description by following our issue template.
Do not forget to add unit test for your PR.

[2021-03-21 12:53] ayushs136 commented on #426
I can work on this issue as a part of #417 @Sagar2366

[2021-03-21 12:54] yasharth291 commented on #438
yes sir sure i am updating it and can you please assign me to do this

[2021-03-21 12:54] Sagar2366 commented on #204
As discussed this issue will get solved on same PR for https://github.com/PalisadoesFoundation/talawa/issues/208.

[2021-03-21 12:54] #204 closed

[2021-03-21 12:56] CoderMayhem commented on #426
@Sagar2366 417 was a duplicate issue. Someone is already working on this in #298.

[2021-03-21 12:58] Sagar2366 commented on #427
@StrangeNoob please update issue description by following issue template and starting working on this issue.

[2021-03-21 13:05] yasharth291 commented on #438
@Sagar2366 it is done

[2021-03-21 13:11] Sagar2366 commented on #365
This issue will get handled through https://github.com/PalisadoesFoundation/talawa/issues/435.

[2021-03-21 13:11] #365 closed

[2021-03-21 13:14] #336 closed

[2021-03-21 13:14] Raunakk02 opened #447 "[BUG] Set Org URL page occurs in transitions between Register and Login screens"
- **Issue Description:** Set Org URL page occurs in transitions between Register and Login screens
- **Issue Severity:** Medium
- **Environment Details:** Issue occurs in the code present in files under `talawa\lib\views\pages\login_signup` folder.
- **Observed Behaviour:** The Set URL page occurs in transitions between Register and Login screens. This doesn't look good w.r.t. the UX.
- **Expected

[2021-03-21 13:18] Sagar2366 commented on #307
Issue is fixed now.

[2021-03-21 13:18] #307 closed

[2021-03-21 13:25] yasharth291 commented on #438
thanks sir i am starting working on it now

[2021-03-21 13:51] CyberWake opened #448 "[Bug] - not able to auto login or hot restart the app."
- **Issue Description:**
On reopening the app after closing nothing works it show the No host specified in URI.

- **Issue Severity:**
Very High as this is hindering the further task due to not being able to do hot reload which is also a kind of reopening the app.

- **Environment Details:**
Verify the latest commit on talawa/master.
<img src="https://user-images.githubusercontent.com/44184786/111

[2021-03-21 13:55] rutvik11062000 commented on #448
Let me fix this.

[2021-03-21 13:56] CyberWake commented on #448
sure ask @Sagar2366 sir to assign this one to you.😉

[2021-03-21 13:57] rutvik11062000 commented on #448
Okay! 👍

[2021-03-21 14:52] shikharsaurav commented on #174
sry @sumitra19jha  i am replying late bcuz i was working on other issue
can u share how much have u done so that i can help u

[2021-03-21 15:01] Enigma04 commented on #434
@Sagar2366 I will look into this one as well and report it to you ASAP.

[2021-03-21 15:43] sumitra19jha commented on #174
I made the PR request and attached the video of the UI outlook. You can review it and suggest the required changes. Feel free to put the message on slack. #talawa-design channel to the best of my knowledge is made for the discussion on UI part. We can discuss there along with the opinion of other fellow collaborators and can come up with even a better solution than this.

[2021-03-21 16:05] shikharsaurav commented on #174
ok thanks

[2021-03-21 16:49] shauravshikhar opened #451 "switch organization page"
Issue Description:
in Switch Organiztion page it shold shold show the organisations organised by me

Observed Behaviour:
shows all organisations
Expected Behaviour:
show which organisation are organised by me & which are not
Snapshots/Videos:
![Screenshot_1616345138](https://user-images.githubusercontent.com/47968768/111913184-0003b280-8a93-11eb-93df-bf4de7841e07.png)

Does this issue need immedia

[2021-03-21 17:51] sumitra19jha opened #453 "[BUG] Image selection from library"
## Issue Description
The error occurs while returning back from the image library without selecting the image.

## Issue Severity
Low

## Observed Behaviour
Nothing happens if the user returns back without an image but the console log shows an error.

## Expected Behaviour
No error should occur

### Steps to reproduce the issue
1. Open the app
2. Go to the signup page
3. Press the camera icon
4. P

[2021-03-22 00:08] AniketSindhu commented on #298
@Sagar2366 PR #456 submitted.

[2021-03-22 03:37] #431 closed

[2021-03-22 03:53] Sagar2366 opened #457 "Travis build is failing because of invalid unit tests"
Issue Description: New changes are added to master and previously written unit tests are now failing because of changed workflow in application

Issue Severity: High

Observed Behaviour: Travis build is failing because unit tests are failing

Expected Behaviour: All test cases needs to be fixed for successful run of TravisCI

Snapshots/Videos: Check this URL for understanding more why travisCI is

[2021-03-22 04:37] Sagar2366 commented on #457
@adithyaakrishna start working on this issue.

[2021-03-22 07:11] utkarshshendge opened #459 "[BUG] Can't override back button functionality because of persistent_bottom_nav_bar"
- **Issue Description:** We can't call  onWillPop for the children pages of PersistentBottomNavBar. And because of this we are not able to override back button functionality inside the  app.

- **Issue Severity:** Medium

- **Observed Behaviour:** Not able to control the behaviour of back button
- **Expected Behaviour:** We should be able to call onWillPop function so we can control the behaviour

[2021-03-22 08:59] shikharsaurav commented on #453
@sumitra19jha  can i work on this?

[2021-03-22 09:04] shikharsaurav commented on #326
can i help @arteevraina @Sagar2366 ?
i will love to help

[2021-03-22 09:29] CyberWake commented on #457
Sir is this issue assigned to @adithyaakrishna. If not please assign this one to me. I am very much excited to get my PR #424 to get merged after the fix of this issue.😊

[2021-03-22 09:38] sumitra19jha commented on #453
Actually I fixed the issue and made the pull request😅

[2021-03-22 12:16] Raunakk02 commented on #447
@Sagar2366 please assign this issue to me.

[2021-03-22 13:23] yasharth291 opened #463 "[Enhancement] Changing generating mutation strings using interpolation to using graphql variables for sending data with mutations"
Issue Description: [Enhancement]
Changing generating mutation strings using interpolation to  using graphql variables for sending data with mutations. Using this will ease the process of sending data to the server weather it is a multiline input or other type of input. One example of such i am pasting here.

[code]

this is the function create post in variable sending way it is also able to send m

[2021-03-22 14:40] arteevraina commented on #326
Hi @shikharsaurav! You can contribute unit/widget tests but make sure to update here to avoid any duplicacy of work. I am waiting for #462 to merge after that I will add some more tests for `url_page.dart`.

[2021-03-22 15:02] #457 closed

[2021-03-22 16:33] Sagar2366 commented on #451
@shikharsaurav switch organisation page will show you all organisation which you have joined and give option to switch to any of those organisation.

[2021-03-22 16:34] Sagar2366 commented on #451
Add more detailed explanation in issue about your requirement

[2021-03-22 16:43] Sagar2366 commented on #187
duplicate issue - https://github.com/PalisadoesFoundation/talawa/issues/187

[2021-03-22 16:43] #187 closed

[2021-03-22 16:44] Sagar2366 commented on #340
Duplicate issue - https://github.com/PalisadoesFoundation/talawa/issues/298

[2021-03-22 16:44] #340 closed

[2021-03-22 16:51] Sagar2366 commented on #426
@CoderMayhem issue #298 will show only error screen after 10 sec of waiting if no data is available to display.
We still need this issue to get fixed.

[2021-03-22 16:53] #235 closed

[2021-03-22 16:58] yasharth291 commented on #187
sir but duplicate of which issue?
@Sagar2366

[2021-03-22 16:59] Sagar2366 commented on #305
Will get handled through https://github.com/PalisadoesFoundation/talawa/issues/426

[2021-03-22 16:59] #305 closed

[2021-03-22 17:20] shikharsaurav commented on #451
it does not show which organization is organized by you

[2021-03-22 17:38] CyberWake commented on #448
Any updates in this issue?

[2021-03-22 17:52] CyberWake commented on #463
Have you tried trimming the user input. I guess that resolves the problem as well.

[2021-03-22 17:56] CyberWake commented on #463
Faced similar one on the create organization page for multiline description. Adding a reference of it.
![Snippet](https://user-images.githubusercontent.com/44184786/112035832-f4cd8700-8b65-11eb-9dbb-3043edf86bfd.PNG)

[2021-03-22 18:48] yasharth291 commented on #463
Thats why it is not a bug its an enhancement. we have to trim whenever we will take input but if we are doing this we dont have to change everywhere changing in the main function will work so instead of writing once is better than writing everywhere.

[2021-03-22 18:48] yasharth291 commented on #463
I never said it is a bug its just and enhancement brother

[2021-03-23 04:30] #402 closed

[2021-03-23 05:04] #447 closed

[2021-03-23 05:26] CyberWake commented on #362
If this issue is currently open. I would like to help. @pr4nshul ✌

[2021-03-23 05:28] pr4nshul commented on #362
Yes it's open . I wanted to figure out that how do we know which user has commented because I can't quite figure it out. Because with that information we can access the user image as well without making more query calls.

[2021-03-23 05:29] pr4nshul commented on #362
@CyberWake We can discuss it on Slack , to avoid unnecessary comments on this issue.

[2021-03-23 05:31] CyberWake commented on #362
Sure @pr4nshul

[2021-03-23 06:03] CyberWake commented on #362
In the following code snippet:
[code]

Replace with this one:
[code]

This way you will be able to access the comment creators id and to fetch the image directly of the user user this one:
[code]

This function is available in ```Queries.dart```. The last one would give you the image url of the user which can be accessed by ```comments[index]['creator']['image']``` in ```newsArticles.dart```.
Here

[2021-03-23 06:11] pr4nshul commented on #362
Yeah , Thank you . Because I was making a query call similar to profile page one and I thought that would be redundant. Thanks for your help!

[2021-03-23 06:14] pr4nshul commented on #362
Although, this has one issue. Only when getPostsComments would be called only then we would get the userId and we won't be able to display img before that. I will push my PR and let @Sagar2366 review it. What, I wanted was how are we submitting the name of the user while positing a comment. Because that function would always have access to the userId

[2021-03-23 06:19] pr4nshul commented on #362
Although this could be used as an enhancement to display profile image of the user who has previously commented.

[2021-03-23 06:22] CyberWake commented on #362
Add this function to accesss the user information.
[code]

[2021-03-23 06:23] pr4nshul commented on #362
Yes , I have already done this, was looking if a more efficient way was possible

[2021-03-23 06:23] CyberWake commented on #362
yes there is one more.

[2021-03-23 06:34] CyberWake commented on #362
add these two functions in ```preferences.dart```:
[code]
with the following declarations:
```static const userImage = "UserImage";```

and don't forget to add save the imageurl on login and signup use following lines respectively.
[code]
[code]

[2021-03-23 06:49] pr4nshul commented on #362
This solution will only work , if user has saved a profile image. I would say the above one which I have previously done works better because we can create a user image with just initials in it if required. Thanks for your help though! I learned a lot.

[2021-03-23 07:17] i-anuragmishra opened #467 "Proposing a Code of conduct.md file in the project description."
Mostly all Project with huge participation requires a code of conduct .md file in project description. I can help write that.  i hope mentors @Sagar2366  can assign it to me.

[2021-03-23 07:24] Sagar2366 commented on #467
@i-anuragmishra there is similar issue opened earlier, if you are interested to work on, claim on that.

Please do not open duplicate issues and follow contribution guidelines.

[2021-03-23 07:24] #467 closed

[2021-03-23 07:25] i-anuragmishra commented on #467
sorry @Sagar2366  i didn't realise there was already a similar issue opened.

[2021-03-23 07:28] i-anuragmishra commented on #126
Hey @Sagar2366 this issue is unassigned. If nobody is working on it can i be assigned this issue. I have no issue assigned to me right now.

[2021-03-23 07:33] i-anuragmishra commented on #126
Issue Description: All maintained project are advised to include an Code of conduct .md file. it highly advised to make project better and transparent.

Issue Severity: Moderate

Expected Changes: Addition of file Code_of_Conduct.md

[2021-03-23 09:57] i-anuragmishra commented on #126
i have created PR #473 to Resolve this issue assigned. Mentors i request you review please.

[2021-03-23 10:01] #126 closed

[2021-03-23 10:38] #436 closed

[2021-03-23 10:40] #448 closed

[2021-03-23 11:25] yasharth291 commented on #432
@DeltaHarbinger can you please see this

[2021-03-23 11:59] shauravshikhar opened #474 "Entry screen after sign up"
Issue Description:
After sign up screen user should be shown intro about app

Observed Behaviour:
None

Expected Behaviour:
intro slides or pages

Does this issue need immediate attention?
yes

Are you willing to work on this issue:
yes

Other information:
@Sagar2366  plz assign me this

[2021-03-23 13:51] Jaideep-C commented on #453
Is this issue still open?

[2021-03-23 14:08] sumitra19jha commented on #453
No it has been resolved

[2021-03-23 14:08] #453 closed

[2021-03-23 14:24] i-anuragmishra opened #476 "Fix the Alphabet Floating over the Member profile in Member's list."
Issue Description: The Alphabet in member list Foat over the Member Profile , As shown in the attached Pic. If assigned i can provide fix for this.

Issue Severity: Moderate

Expected Changes: I suggest that Alphabet should be static at a place and Mber card sixes should be reduced as well to make it look good and Less cluttered.
![Screenshot 2021-03-23 at 7 37 02 PM](https://user-images.githubuse

[2021-03-23 15:17] TusharGupta05 opened #477 "[Bug] Backslash(\) and double quotes(") error in graphql queries"
**Issue Description:**
Whenever the user enters a backslash or double quotes and we try to put the same text in the graphql query, it throws an error.
**Issue Severity:**
High
**Observed Behaviour:**
Error on passing double quotes(") and backslash(\\) in graphql query. One more thing is that only when the user enters backslash 4 times, there is no error but then there is a bug that instead of pass

[2021-03-23 15:32] CyberWake commented on #474
Is it that needed one right now?

[2021-03-23 15:34] yasharth291 commented on #477
Hey @TusharGupta05 the backend will be changed to Restapi soon so it is not a matter of big importance

[2021-03-23 16:04] shikharsaurav commented on #474
it can be gud to have intro for app
like
u can join organisations or create one
join event or make of ur own
etc

[2021-03-23 16:07] shikharsaurav commented on #459
if @utkarshshendge  u want any help plz let me know i will try to help u

[2021-03-23 16:39] utkarshshendge commented on #477
Hey @yasharth291, where can I find this news?

[2021-03-23 16:51] utkarshshendge commented on #326
Hi @arteevraina , I am trying to write tests for newsArticle.dart and newsfeed.dart.

[2021-03-23 16:53] #433 closed

[2021-03-23 16:58] arteevraina commented on #326
Hi @utkarshshendge ! It would be better if you handle one widget in a single PR. So that other participants can also get involved :)

[2021-03-23 17:01] Sagar2366 commented on #474
Good suggestion, we may actually need it before directly landing to the join/create organisation page.

[2021-03-23 17:01] #366 closed

[2021-03-23 17:38] #399 closed

[2021-03-23 17:51] yasharth291 commented on #477
Sorry i messed up. It was the news of some other project. Sorry @utkarshshendge

[2021-03-23 18:10] utkarshshendge commented on #326
Il'l send a PR for  newsfeed.dart. test

[2021-03-23 18:15] shikharsaurav commented on #474
ok sir

[2021-03-23 18:59] #429 closed

[2021-03-23 19:01] rutvik11062000 opened #478 "[Enhancement] Restructuring , seperating views and applying state-management"
- **Issue Description:**
  The current folder structure suggests that the project is made to implement MVVM architecture.
  What are missing:
  1. respective view models for pages.
  2. locator not used for dependency injection.
  3. No implementation of pages with "BaseView" and "BaseViewModel".
  4. No separation between the UI and business logic.
  4. setstates used everywhere in the form of st

[2021-03-23 19:17] yasharth291 commented on #190
@Sagar2366  sir can you please assign me this so i can work on this

[2021-03-23 19:23] yasharth291 commented on #416
I can help here @adithyaakrishna  @Sagar2366

[2021-03-23 19:42] yasharth291 commented on #190
thanks sir working on it

[2021-03-24 03:20] #264 closed

[2021-03-24 03:54] OnyemaAnthony opened #480 "[Bug]Invalid password validation error"
When I want to create an account after providing my details when I click on sign up button it shows that validation error on the password field, saying invalid password
![Screenshot_20210323-211017](https://user-images.githubusercontent.com/50530242/112252197-eb731600-8c5c-11eb-93be-dbcc4638beb2.png)

[2021-03-24 04:56] Jaideep-C opened #482 "[Bug] FormatException in EventPage"
- Issue Description:
  I have come across a bug on the **_events page_** which crashes the app.
  An exception is occurring while the **_event lists_** is being sorted.
[code]
 This is the exception
[code]

- Issue Severity:
High

- Steps to reproduce the issue:
    - log in to the app
    - Navigate to the events page

- Snapshots/Videos:

https://user-images.githubusercontent.com/51963564/112258

[2021-03-24 05:15] sumitra19jha opened #483 "[Bug] Avoiding screen stacking above one another"
## Issue Description:
After most of the mutation action performed from frontend to backend, instead of refreshing the page, we are pushing one screen above the other which leads to the stacking of a lot of screen above one another, causing the degradation of performance as user engagement time increases within the app.

## Issue Severity:
Low

## Observed Behaviour:
Stacking of screen above one an

[2021-03-24 06:05] shikharsaurav commented on #480
@OnyemaAnthony  can u share  screen shot with password shown

[2021-03-24 06:18] OnyemaAnthony commented on #480
@shikharsaurav yes I can, though am working on this issue already

[2021-03-24 06:24] shikharsaurav commented on #480
plz share once i think it will be in special char thats why @OnyemaAnthony

[2021-03-24 06:25] shikharsaurav commented on #480
i can help u to debug it

[2021-03-24 06:30] OnyemaAnthony commented on #480
@shikharsaurav I don't need help I have already found the cause of the error I will send a PR soon thanks

[2021-03-24 06:36] shikharsaurav commented on #480
ok

[2021-03-24 06:49] Enigma04 commented on #476
@i-anuragmishra if you are having any issue solving this then I would like to help you

[2021-03-24 07:19] CyberWake opened #487 "[Bug]- Create post page"
- **Issue Description:**
On add new post screen with the text form fields there is a bug that as soon as we start entering the data in title field the description field shows me the error that description can't be null.

- **Issue Severity:**
Medium, though this is a trivial one.

- **Environment Details:**
This bug can be encountered on the add post page. Just go with a normal flow to create a po

[2021-03-24 07:22] shauravshikhar opened #488 "Search Bar in Member Page"
Issue Description:
No Search Bar in member Page

Expected Behaviour:
A Search Bar in Member Page

Snapshots/Videos:
![Screenshot_1616570517](https://user-images.githubusercontent.com/47968768/112270511-c5229a00-8c9f-11eb-9744-9de9a590ecda.png)

Does this issue need immediate attention?
yes

Are you willing to work on this issue:
Yes

[2021-03-24 07:22] shikharsaurav commented on #488
@Sagar2366  plz assign me for this

[2021-03-24 07:25] i-anuragmishra commented on #476
Thanks for your concern @Enigma04 . I really appreciate it. The PR is almost ready as of now .  But still Please feel free to contact if u need any help with this code base Thanks again.

[2021-03-24 08:39] shikharsaurav opened #489 "Pixel OverFlow in Join Organization"
Issue Description:
when we click on yes in alert Dialog in join Organization for private organisation toast has over flow

Observed Behaviour:
Overflow is happening

Expected Behaviour:
No overflow should happen

Snapshots/Videos:
https://thepalisadoes-dyb6419.slack.com/files/U01RQUQE2TW/F01SYJAA9CG/20210324_135305.mp4

Does this issue need immediate attention?
Yes

Are you willing to work on this

[2021-03-24 08:40] shikharsaurav commented on #489
@Sagar2366  plz assign me

[2021-03-24 09:36] yasharth291 commented on #441
@Sagar2366 as the issue is still there can you open this and give this to me please

[2021-03-24 09:41] yasharth291 commented on #441
thanks sir

[2021-03-24 09:58] yasharth291 commented on #441
@Sagar2366 solved sir

[2021-03-24 11:10] ayushs136 opened #493 "[BUG] Switch Organization page shows a GraphQL error to user, and overflow text in exception toast."
Issue Description:
When an user select the organization which they are already in, and press save button, then an overflowed text error from graphql appears to user.

Issue Severity:
Medium

Environment Details:
Development

Observed Behaviour:
overflowed error message appears in the toast.

Expected Behaviour:
A proper informative message should be there without any text overflows.

Steps to repr

[2021-03-24 11:24] CyberWake commented on #299
What's the update on this issue?

[2021-03-24 11:25] #493 closed

[2021-03-24 11:26] OnyemaAnthony commented on #299
@CyberWake I have sent a PR already

[2021-03-24 12:17] OnyemaAnthony opened #495 "[bug] send button in comment not responsive"
the send button for the comment is not responsive, when the comment becomes bigger then comment button will move to the top,I want to fix this

[2021-03-24 12:19] Enigma04 opened #496 "[Bug]Password on Login Form uses the same validation requirements as Registration Form"
Issue Description:
While logging in, The password TextFormField shows that the written password is invalid. It is using the same form of validation that Registration page is using. Eg: A password should have:
1. At least one numeric character
2. At least one uppercase letter
3. At least one special character
4. Should have at least 8 characters long

Expected Behaviour:
It should show nothing but

[2021-03-24 12:21] OnyemaAnthony commented on #495
![Screenshot_20210324-132058](https://user-images.githubusercontent.com/50530242/112309624-d5d50f00-8ca3-11eb-9a9c-f639aa499f93.png)

[2021-03-24 13:05] OnyemaAnthony commented on #495
@Sagar2366 please assign this to me

[2021-03-24 13:07] Sagar2366 commented on #480
@OnyemaAnthony what password are you trying for testing this issue ?

[2021-03-24 13:08] Sagar2366 commented on #441
will get close as part of https://github.com/PalisadoesFoundation/talawa/pull/481

[2021-03-24 13:08] #441 closed

[2021-03-24 13:20] OnyemaAnthony commented on #480
@Sagar2366 the passyi used was Testing.12345

[2021-03-24 13:25] OnyemaAnthony commented on #480
The password passed the validation of flutte_pw_validator plugin but didn't pass the regular expression validation because the regular expression does not recognize a dot so I have to add the dot in the regular expression so that the user would not be frustrated since the validation was ticked good

[2021-03-24 13:30] Sagar2366 commented on #480
great.  can you please also do some UI modification. Add some spacing in password strength bar and password text field.

[2021-03-24 13:37] OnyemaAnthony commented on #480
Okay I will do that quickly,if I get you correctly you want me to shift the strength bar down from the password texfied, @Sagar2366 please confirm if this is what you mean

[2021-03-24 13:46] OnyemaAnthony commented on #480
@Sagar2366 is this okay?
![Uploading Screenshot_20210324-144514.png…]()

[2021-03-24 13:48] OnyemaAnthony commented on #480
@Sagar2366 is this okay?
![Uploading Screenshot_20210324-144514.png…]()

[2021-03-24 13:55] OnyemaAnthony commented on #480
@Sagar2366 is this okay?
![Screenshot_20210324-144514](https://user-images.githubusercontent.com/50530242/112322187-fbb4e080-8cb0-11eb-871e-6f8b17fd9aa0.png)

[2021-03-24 14:00] ishan0805 opened #498 "[BUG] Profile Picture of member not displaying"
Description
profile picture of member on the member's page is not displayed

Issue Severity
Moderate

Observed Behavior:
Profile Picture of user is not  displayed

Expected Behavior:
Profile Picture of user is should be  displayed

Steps to reproduce issue:
I think there is an error in the url that is being called to fetch the picture

Snapshots/Videos:
![IMG_20210324_192737](https://user-images.g

[2021-03-24 14:00] OnyemaAnthony commented on #480
![Uploading Screenshot_20210324-145941.png…]()

[2021-03-24 14:02] OnyemaAnthony commented on #480
![Screenshot_20210324-145941](https://user-images.githubusercontent.com/50530242/112323207-dbd1ec80-8cb1-11eb-9227-3474045ae4b9.png)
It

[2021-03-24 14:54] Sagar2366 commented on #480
@OnyemaAnthony add commit to PR directly, I'll review there.

[2021-03-24 14:57] #434 closed

[2021-03-24 15:10] utkarshshendge commented on #326
In order to write tests for `newsfeed.dart` we will have to write test for `addPost.dart.`
I'm writing for `addPost.dart.`
if anyone wants to write tests for` newsfeed.dart` feel free to do after tests for` addPost.dart` get merged.

[2021-03-24 15:23] Sagar2366 commented on #190
@yasharth291 update issue description by following issue template.

[2021-03-24 15:30] Jaideep-C commented on #326
Do we need to write unit tests for the `controllers` [`auth_controller.dart`, `org_controller.dart`]?

[2021-03-24 15:46] yasharth291 commented on #190
ok sir

[2021-03-24 15:52] #362 closed

[2021-03-24 15:59] #489 closed

[2021-03-24 16:01] OnyemaAnthony commented on #480
@Sagar2366  i have sent the commit

[2021-03-24 16:50] KeyurBarot commented on #495
Can you assign me this?

[2021-03-24 16:52] OnyemaAnthony commented on #495
@KeyurBarot I am already requesting he should assign it to me so I can start working on it

[2021-03-24 17:24] CoderMayhem opened #501 "(Bug) All days in the month get marked in the calendar on creating a 'daily' event"
- **Issue Description:** Right now all days in the calendar get marked if a daily recurring event is created, rather only those days should be marked which lie between the timeline of the event.

- **Issue Severity:** Medium

- **Environment Details:** Bug in events.dart

- **Observed Behaviour:** Problem exists in both daily and weekly events as even the days before the starting of events end up

[2021-03-24 17:45] shikharsaurav opened #503 "Just After Sign up"
Issue Description:
if we signup for  & without selecting any organization & click on back we go just exit it the app & goes to entry page of app

Observed Behaviour:
Goes to entry page of App

Expected Behaviour:
Go to profile page

Snapshots/Videos:
https://thepalisadoes-dyb6419.slack.com/files/U01RQUQE2TW/F01SF51MADS/pehla_signup.mp4

Does this issue need immediate attention?
Yes

Are you willin

[2021-03-24 17:45] shikharsaurav commented on #503
@Sagar2366  plz assign me this issue

[2021-03-24 21:34] nerdynikhil commented on #501
I want to work on this.

[2021-03-24 21:35] nerdynikhil commented on #498
I can fix this.

[2021-03-25 00:27] Sagar2366 commented on #190
Add proper issue description @yasharth291 for which fields you are adding word limits. Spend 5-10 minutes and add more details to issue.

[2021-03-25 00:41] #482 closed

[2021-03-25 02:05] #496 closed

[2021-03-25 02:07] Sagar2366 commented on #488
@Enigma04 you can start working on this issue.
@shikharsaurav assigned another issue to you.

[2021-03-25 03:39] yasharth291 commented on #190
ok sir

[2021-03-25 03:56] yasharth291 commented on #487
@Sagar2366 i think this issue is resolved. But he hasn't joined the issue with pr

[2021-03-25 03:58] #487 closed

[2021-03-25 04:20] utkarshshendge commented on #326
Hey @arteevraina could you please add link to the test folder in this comment https://github.com/PalisadoesFoundation/talawa/issues/326#issue-831801725 ?

[2021-03-25 09:21] pr4nshul commented on #185
I think this issue should be closed now , as PR #446 will handle it once it is merged into master. @Sagar2366

[2021-03-25 09:30] pr4nshul commented on #188
Hey @yasharth291 are you working on it? If not @Sagar2366 can you assign me this. Also, adding an event is also not working at least on my end. So should I create a new issue for the same?

[2021-03-25 09:33] #185 closed

[2021-03-25 09:36] Sagar2366 commented on #188
@pr4nshul you can start working on this issue.
About add event there is open issue   https://github.com/PalisadoesFoundation/talawa/issues/426 @CoderMayhem working on it.

[2021-03-25 09:37] pr4nshul commented on #188
Ok, got it

[2021-03-25 09:42] pr4nshul commented on #188
I was thinking we should also add a button to unregister in the drop down.

[2021-03-25 09:56] pr4nshul opened #507 "[Bug] Error data!=null after adding a tasks to an event ."
Issue Description:
I tried to add a task in an already created event and when I tried to load it this error came up. This might be due to not returning the correct type of value.
Also, nothing is being displayed if no tasks are there. It would be a better if user gets something like "No Tasks Found" that would be more intuitive for them.

Observed Behaviour:
Error shows up

Expected Behaviour:
Lis

[2021-03-25 09:58] pr4nshul commented on #507
@Sagar2366  can you assign me this?

[2021-03-25 10:13] Sagar2366 commented on #507
@pr4nshul one issue at a time - I have already assigned
https://github.com/PalisadoesFoundation/talawa/issues/188 to you.

[2021-03-25 10:20] pr4nshul commented on #507
Ok, Though the button is working as I have checked we need to pull to refresh on events page, and go out of members to display the registered events of a member. It's working as intended. The only issue is with displaying it. I will probably solve it by tonight.

[2021-03-25 10:24] Sagar2366 commented on #507
Need more clarity - which issue you want to work on ?
Issue number - 188 or 507 ?

[2021-03-25 10:49] pr4nshul commented on #507
What i meant was issue #188 looks like an issue on the front end but on the back end it is working as it should . So , that won't consume anytime. Well , I am going to give you an update on that issue in the next 10 min. You will get it , what I was trying to say. Sorry if it got a little confusing here.

[2021-03-25 10:59] pr4nshul commented on #507
@Sagar2366  I have updated the issue #188 and created a PR for the same #509, I think you might get what I was trying to say. I would also like to work on this issue.

[2021-03-25 15:25] Sagar2366 commented on #334
@piyushpradhan because of no activity on this issue, we will have to un-assign this issue and let someone else work on it.

[2021-03-25 15:32] StrangeNoob commented on #334
@Sagar2366 I am working on it with @piyushpradhan. Can you assign this to me ?

[2021-03-25 15:47] yasharth291 commented on #488
hello @Sagar2366 sir if this issue is not resolved so i really want to work on it

[2021-03-25 15:52] Sagar2366 commented on #503
@shikharsaurav think of better solution for this scenario from end user perspective.
If user is signed in and not joined to any organisation, first message he should get is "Please join organisation to proceed" or something similar.
By allowing user to scroll through newsfeed, events page when it is not part of any organisation and specially when there is no data available for user it doesn't look

[2021-03-25 16:05] Sagar2366 commented on #488
@Enigma04 is working on this issue.

[2021-03-25 16:06] yasharth291 commented on #488
no problem sir

[2021-03-25 16:06] yasharth291 commented on #488
no problem sir

[2021-03-25 16:08] Sagar2366 commented on #334
@StrangeNoob any progress on this issue ?
Can you please raise PR and add issue number to it.

@ishan0805 wait for some time, do not start working on this issue.

[2021-03-25 16:35] #190 closed

[2021-03-25 16:37] sumitra19jha commented on #488
This issue is duplicate of issue #181
Should I close issue 181 as current development is going on here @Sagar2366

[2021-03-25 16:38] #181 closed

[2021-03-25 16:43] StrangeNoob commented on #334
@Sagar2366  I started working on it yesterday. I will let you know by tomorrow. Is it Okay?

[2021-03-25 16:58] Sagar2366 commented on #334
@StrangeNoob did we discussed about you would be working on this issue in slack ?
If yes raise PR With whatever work is done.

[2021-03-25 17:29] utkarshshendge commented on #326
Im  adding widget tests for` home_page.dart`

[2021-03-25 18:40] #426 closed

[2021-03-25 18:40] #501 closed

[2021-03-25 19:04] CyberWake opened #514 "[Bug] - Tab bar pages not refreshed automatically on org switching and edge case not handled"
- **Issue Description:**
State not handled properly in members page. And inappropriate message.
On suggestions as asked by @Sagar2366 sir [here](https://github.com/PalisadoesFoundation/talawa/pull/607#issuecomment-817335868)
Auto refreshing of event page, feeds page, and chats

- **Issue Severity:**
High.

- **Environment Details:**
Home page-> Members tab
Visit it directly on app launch. Now go t

[2021-03-25 19:19] pr4nshul commented on #217
This issue should be closed now @Sagar2366 @adithyaakrishna  as #218 is merged into master.

[2021-03-25 19:22] adithyaakrishna commented on #217
Yesss @pr4nshul , Thank You For That 🚀

[2021-03-25 19:22] #217 closed

[2021-03-25 19:23] pr4nshul commented on #514
Yes, this needs to be worked on. This issue in the comments of issue #307. As mentioned there, this could give user a feeling of not being a able to switch org or even leave org. Because this issue is still there even if user leaves a org.

[2021-03-25 19:26] CyberWake commented on #514
i have fixed this one. need to make a PR after getting assigned

[2021-03-25 19:28] pr4nshul commented on #514
Nice 👍 , I am not looking to work on it. I was just mentioning I faced a similar issue. And this needs immediate attention 💯

[2021-03-25 19:30] CyberWake commented on #514
can you fetch the master the issue marked in #307 was resolved with the merge of #355

[2021-03-25 19:43] pr4nshul commented on #514
That's not what I meant if you would read the comments. I mentioned something similar to your issue. I am on the latest master. Appreciate your effort to help though! 👍

[2021-03-25 20:08] pr4nshul opened #515 "[exception]User is not authenticated when trying to register for event."
Issue Description:
User is not authenticated exception is thrown on the console when you try to register for an event if logged in for some decent time  and you have build and rebuild app multiple times with the same login state. You need to logout and login again to register for an event.

Issue Severity:
Medium

Observed Behavior:
Can't register for an event even if you are logged in according t

[2021-03-25 20:20] pr4nshul commented on #188
@Sagar2366 Close this issue as you mentioned it is solved in previous master changes.
 But I still think , that small UI improvement will be helpful for user :)

[2021-03-26 02:45] Sagar2366 commented on #188
@pr4nshul be clear when you say small UI improvement. If you are talking about registering for the event it is already done and don't need any UI change. But if you are referring to unregister option then please continue discussion on slack. We welcome new ideas from students and hear everyone's opinions. At the same time we expect everyone to follow the guidelines - discuss idea first in slack ch

[2021-03-26 04:05] CyberWake commented on #515
While restarting the app we still see the is error marked in #448 though the restart now doesn't get the app stuck with progress indicators and only the nav bar. But once we do an hot restart there is still a graphql error displayed displayed. Resolving that might solve this problem as well.🙂

[2021-03-26 04:38] arteevraina commented on #474
How about adding onboarding screens?

[2021-03-26 04:41] arteevraina opened #516 "[Enhancement] Improving response of validators and reducing unnecessary calls to API server"
### Issue Description.
1. In `Register Page`, when `text field` is empty (for example: First Name , the validator responds with message like First Name cannot be left blank, But when the email field is empty it does not respond with `Email cannot be left blank` but rather it shows `Not a valid Email Address`). I think `Not a valid Email Address`  should be shown when actually email address is inva

[2021-03-26 04:51] sumitra19jha opened #517 "[Enhancement] Event Page Scrolling Error"
## Issue Description
Improper scrolling in the events page

## Issue Severity
Medium

## Observed Behaviour
Only the blue section of the widget is causing the scrolling, which is not gud as per user experience

## Expected Behaviour
When user tries to scroll event list section, then we should automatically let the user scroll calender.

## Steps to reproduce issue
1. Signup/Login into app
2. Navig

[2021-03-26 05:16] Sagar2366 commented on #516
@arteevraina please use issue template and update all the required details.

[2021-03-26 05:49] pr4nshul commented on #188
Ok so what i mean bt small UI improvement is , when the user clicks the register button the screen doesn't refresh instantly and it displays you are not registered until you refresh . I will send a video for the same in few minutes. And with the changes that I made that on the PR the page get reloaded as soon as the user registers for the event. Hence , user doesn't need to refresh manually to see

[2021-03-26 05:55] pr4nshul commented on #515
Yes, so are you on anyone working on that issue?

[2021-03-26 06:08] pr4nshul commented on #188
https://user-images.githubusercontent.com/51524156/112589705-93d4d600-8e27-11eb-8b52-be33bd31422a.mp4
This is on current master

https://user-images.githubusercontent.com/51524156/112589741-a222f200-8e27-11eb-9f31-95f5e647f75f.mp4
This is after the changes I have in PR #509

[2021-03-26 06:08] pr4nshul commented on #188
https://user-images.githubusercontent.com/51524156/112589851-d39bbd80-8e27-11eb-9d83-3949e5b813ba.mp4

This is after the changes I have in PR #509

[2021-03-26 06:14] CyberWake commented on #515
You can work on this one busy with other one.👍

[2021-03-26 06:15] yasharth291 commented on #463
@Sagar2366  Sir can i work on it

[2021-03-26 06:59] CyberWake commented on #498
Have you tried checking it again. It's resolved I guess after the merge of #466

[2021-03-26 07:03] pr4nshul commented on #515
Though if we have to work on Talawa-API for this , then you can assign someone else @Sagar2366 . Because , I am not familiar with JS.

[2021-03-26 07:03] pr4nshul commented on #515
I will update the issue description accordingly :)

[2021-03-26 07:10] Jaideep-C opened #520 "[Bug]- Exceptions occur when a user tries to logout"
### Issue Description:
There are two exceptions in the app which are occurring when a user tries to logout.

1. `PersistentTabController` was used after being disposed

[code]
2. **Tickers** used by **AnimationControllers** are not **disposed**

[code]
### Issue Severity:
High, as these exceptions cause memory leaks.
### Environment Details:
**Mobile Device**(Android-arm64)
[code]
### Steps to rep

[2021-03-26 08:52] adithyaakrishna opened #522 "[Enhancement] - Data Organizing in Members Screen Improvement"
- **Issue Description:** In the app, specifically the members screen, the capability of organizing the data completely exists on the frontend of the app after the data is fetched from the server. With the new changes in the Backend by @sumitra19jha we can just pass the parameter `orderBy: firstName_ASC` in the request and you will get the data in alphabetic form.

- **Issue Severity:** Medium

- *

[2021-03-26 08:53] CyberWake commented on #459
Do we really need this on like the changes I observed not need changing the nav bar we just need to change the page pushing method arguments.

```newsfeed.dart```
To
[code]
From
[code]
```events.dart```
To
[code]
From
[code]

Basically we just need to add the parameter ```withNavBar: false``` whenever a page is push from any tab and add also add ```handleAndroidBackButtonPress: true``` argument in

[2021-03-26 08:56] CyberWake commented on #476
@i-anuragmishra I would like to work on this one if you are busy with some other issue. 😊

[2021-03-26 09:05] i-anuragmishra commented on #476
Hey @CyberWake thanks for your interest. I had some issue with my git branch , that's why a PR was not able to be pushed for this. Its resolved now . I will surely contact if i can't push a PR . Thanks again.

[2021-03-26 09:15] CyberWake commented on #476
thank you @i-anuragmishra for give a quick update. BTW good luck 👍

[2021-03-26 09:48] ishan0805 commented on #498
@CyberWake are the pictures  available , because when I run the code it is still showing this error .
My branch is up to date with the upstream .

[2021-03-26 09:56] ishan0805 commented on #498
@CyberWake I have also checked manually all the changes introduced in #466 are present in my origin also . Yet it is not showing the pictures .

[2021-03-26 10:54] Hrishikesh-Bhagwat opened #524 "App not starting when release apk is run"
Issue Description:
If we build the release apk and install on mobile, there is only a white screen at the start. The UI does not load.

Observed Behaviour:
A plain white screen loads, the ui does not load.

Expected Behaviour:
The url page should have loaded.

Snapshot:
https://drive.google.com/file/d/1EKvF46wgp4Ikaa_JNqpgZk5OHGcYDZ2q/view?usp=sharing

Does this issue need immediate attention?
Yes

[2021-03-26 11:04] CyberWake commented on #498
@ishan0805 can you once compare the git log of current working branch with talawa/master. I tried replicating but couldn't.

https://user-images.githubusercontent.com/44184786/112622217-be875480-8e50-11eb-8a76-4f8e99b73f57.mp4

[2021-03-26 11:07] CoderMayhem opened #525 "(Bug) Edit Event feature not functional"
- **Issue Description:**
The Edit Event option though existing is not functional and the code hasn't been linked to the API yet. Also there is a lot of copied code that would require refactoring. Also we need to stop users from editing events they didn't create.

- **Issue Severity:** Medium

- **Environment Details:** `editEventDialog.dart`

- **Observed Behaviour:** On clicking `Edit this Event`

[2021-03-26 11:31] Jaideep-C commented on #520
The first exception of the issue is solved at #523 and the second part is solved at #521.
Thanks, @utkarshshendge for helping out 😊

[2021-03-26 12:14] sainiteshb opened #526 "Caution Words not visible clearly"
# Issue Description
-When an invalid or a wrong org URL link is given, the app returns a caution or a reminder saying that
"PLEASE ENTER AND SAVE URL  TO CONTINUE".
-As you can see in the picture provided, the words are not clear which cannot be seen as they get mixed with the picture.

-You can assign me this issue, I can fix this problem. And make this make User friendly.

#Steps to reproduce is

[2021-03-26 13:07] utkarshshendge commented on #459
I will try to do the same in next PR.
I checked the docs of `PersistentTabView` the issue is fixed in new version.
Thanks @CyberWake !!

[2021-03-26 14:46] Hrishikesh-Bhagwat commented on #524
I was able to fix this issue by not shrinking the resources. This was caused due to the shared preferences plugin.

[2021-03-26 15:11] Hrishikesh-Bhagwat opened #528 "Search Organisation page shows a gray patch"
Issue Description:
When we search for an organisation, a grey area shows up and the data is not shown.

Observed Behaviour:
A grey area is shown when we search for an organisation.

Expected Behaviour:
A listview of organisations must be shown cleanly

Snapshot:
https://drive.google.com/file/d/1EhpuMAdnl3rzPkMLpHGcvBdqq_uwMxdV/view?usp=sharing

Does this issue need immediate attention?
Yes

Are yo

[2021-03-26 16:53] CyberWake commented on #528
Can you please elaborate on how to replicate this one.🙂

[2021-03-26 17:23] CyberWake commented on #524
Would we happy to help if needed☺️

[2021-03-26 18:01] Hrishikesh-Bhagwat commented on #528
Just search and you will get an eternally long listview with grey patch. Search testy.... results will be less and grey patch will come

[2021-03-26 18:05] CyberWake commented on #528
are you running the app in release mode 🤔

[2021-03-26 18:18] CyberWake commented on #528
So basically the exact issue is the filtered list has some invalid index which is being rendered and causing grey patch in release mode and red one on debug mode.

[2021-03-26 18:21] CyberWake commented on #476
Any luck @i-anuragmishra on this one🙂

[2021-03-26 18:50] CyberWake opened #529 "[Bug] - Create organization button on Create Organization Page."
- **Issue Description:**
The create button on Create organization page doesn't work on edge cases like
   - someone clicks the button it changes to a progress one indicating the request is being processed.
   - But during the processing on request if we tend to click the  button again the UI changes remarking that we can click again to create the organization.
   - On second tap we already get the

[2021-03-26 19:16] i-anuragmishra commented on #476
Hey @Sagar2366 PR #530 Solves this.

[2021-03-27 02:30] AniketSindhu opened #533 "Updating the icon with the new logo."
The new logo for the app is here and not yet updated as the app icon.

# Are you willing to work on this?
yes

![image](https://user-images.githubusercontent.com/57598532/112707568-6d1fa980-8ed2-11eb-9a48-3f0b45808c5a.png)

[2021-03-27 02:51] AniketSindhu commented on #533
#534 PR submitted

[2021-03-27 06:47] utkarshshendge opened #535 "[BUG] Comment count is not updated in newsfeed page"
- **Issue Description:** <Add brief description about issue or feature you want to add.>
 After adding comments to a post the comment count in not updated on Newsfeed Page .
- **Issue Severity:**  Medium
- **Environment Details:**  Found in `newsfeed.dart`, `newsArticle.dart`
- **Observed Behaviour:** The Comment count is not updated .
- **Expected Behaviour:** The Comment count should be updated.

[2021-03-27 08:44] Raunakk02 opened #536 "Time of comment updated on UI for every single second"
- **Issue Description:** Time of comment updated on UI for every single second
- **Issue Severity:** Low
- **Environment Details:** Found in `talawa\lib\views\pages\newsfeed\newsArticle.dart`
- **Observed Behaviour:** Time of comment updated on UI for every single second
- **Expected Behaviour:** If the comment is added less than a minute ago, then it should show `Less than a minute ago.` else it

[2021-03-27 11:32] shardulinamdar4 commented on #507
@Sagar2366 can you assign me this issue?

[2021-03-27 11:47] sudo-vergil commented on #536
Isn't this an enhancement?
I also don't understand why this needs immediate attention.

[2021-03-27 11:58] Raunakk02 commented on #536
Since it is re-rendering the UI multiple times and also causing UI to look
ugly therefore I was unable to clearly differentiate whether it's a bug or
an enhancement and for the same reason I felt that this needs immediate
attention. But if that's not the case then I'll change this to an
enhancement and also change the attention status.
Requesting your views on this!

On Sat, Mar 27, 2021 at 5:17 P

[2021-03-27 12:39] pr4nshul commented on #507
@shardulinamdar4  This issue is already resolved :)

[2021-03-27 12:40] #507 closed

[2021-03-27 12:42] #520 closed

[2021-03-27 13:02] Raunakk02 opened #537 "Events, newsfeed, etc. should be blank for newly created organizations"
- **Issue Description:** Events, newsfeed, etc. should be blank for newly created organizations
- **Issue Severity:** Low
- **Environment Details:** Almost in the whole app
- **Observed Behaviour:** Currently default data is getting loaded for newly created organizations.
- **Expected Behaviour:** It should be blank for newly created organizations
- **Steps to reproduce issue:** Create an organiza

[2021-03-27 13:38] adithyaakrishna opened #538 "Incorrect Validation for Password on SignUp page"
- **Issue Description:** The Validator used does not take _ as a special character
- **Issue Severity:** Medium-Low
- **Environment Details:** When the app is run, and orgURL is added, _ isn not taken as a special character
- **Observed Behaviour:** _ (Underscore) Not a special Character
- **Expected Behaviour:** Underscore is to be considered as a special character for the password
- **Snapshots/

[2021-03-27 15:31] harshkumarkhatri commented on #538
I have gone through the code. It is not considering '(', ')', '{', '}' and many more. Can you please add them as well, if you are assigned with this issue?

[2021-03-27 15:47] adithyaakrishna commented on #538
Sure @harshkumarkhatri
This is a package issue so I had a talk with the maintainer of the repo and had to get it fixed from the root so that future users do not face the similar issue. You can view the progress here at, https://github.com/ArefMozafari/flutter_pw_validator/issues/1

[2021-03-27 16:07] harshkumarkhatri commented on #538
Cool, Thanks for the consideration.

[2021-03-27 18:35] CyberWake commented on #537
@Raunakk02 members screen can't be blank for newly created organizations as logically there would be at least one member present if the organization is present.

[2021-03-27 18:48] Raunakk02 commented on #537
Thanks for pointing this out @CyberWake. I will just modify the issue title and description. Since it was something that we discussed on slack so I put it up here. But now I noticed that the member page won't be blank, but default data should also not get loaded for the same.

[2021-03-27 19:05] pr4nshul commented on #188
Hey @Sagar2366 , did you look at this? If you think this change is redundant then I would close this issue.

[2021-03-27 19:08] pr4nshul commented on #535
Hey , I am sure you are not on the latest master as in the video your profile image in the comments is not being shown. Please pull the latest master.

[2021-03-27 19:32] harshkumarkhatri commented on #524
I tried reproducing the error on one emulator and one physical device.
It worked fine on my Nexus 5X API 28 emulator but for my physical redmi note 5 device it stuck as mentioned.
Have you tried running the app on any other devices? @Hrishikesh-Bhagwat

[2021-03-27 19:37] pr4nshul commented on #480
@OnyemaAnthony @Sagar2366  Close this issue, as the PR is merged :)

[2021-03-27 19:45] pr4nshul commented on #208
Is this issue still open , do you need help if it is? Otherwise, please close this issue.

[2021-03-27 20:23] adithyaakrishna commented on #538
This package was added by @shikharsaurav
As he was working on Issue #366
The validator which exists as a function cannot be seen visually whether the password is weak, medium or strong and the package helps in that basically😶

[2021-03-27 20:30] adithyaakrishna commented on #480
@pr4nshul Ig it was not updated, because when I wanted to fix Issue #538 , the gap between validation and password field was same i.e. it didn't have any spacing
So I added this between them,
[code]

[2021-03-27 20:31] CyberWake commented on #524
The issue is with Android versions oreo and above.

[2021-03-27 20:32] CyberWake commented on #514
@Sagar2366 please review the PR #519 . Don't know why it didn't got linked with the issue.🙂

[2021-03-27 20:36] sumitra19jha commented on #270
@Sagar2366 Should I reopen this issue and the PR made for this?

[2021-03-27 21:01] CyberWake opened #542 "[Bug] - Login and Signup buttons take gestures even on a pending API result."
- **Issue Description:**
Login and Signup buttons on the respective pages take user taps even when the API result is being waited upon for the respective data to be displayed. This causes the next API call made and the buttons again turning to text. For more look through the demo snapshots attached.

- **Issue Severity:**
Medium, as it is a edge case

- **Environment Details:**
Login and signup bu

[2021-03-27 21:45] Hrishikesh-Bhagwat commented on #524
I tried it on multiple devices. Like all the phones I could. But this pr fixes it.

[2021-03-27 22:32] OnyemaAnthony commented on #480
Okay I will close the issue right away

[2021-03-27 22:32] #480 closed

[2021-03-27 23:33] Gourav2000 opened #543 "[Bug]State not handled properly in events page"
- **Issue Description:** State not handled properly in events page. the new event does not get updated after event creation same with deletion
- **Issue Severity:** High
- **Environment Details:** Home page-> events tab
Visit it directly on app launch. Now go to the event page , create a new event, again visit events tab page is not refreshed.
it gets updated only when the app restarts, its result

[2021-03-28 04:03] harshkumarkhatri commented on #543
Hey, in the call yesterday that currently, the mentor is thinking of going with the basic setState thing for updating the parts of the app. I don't think we can re-fetch the list of events again while being on the same screen.
We can consider using the pull-to_erefresh packages to add a pull option to re-fetch the list and dynamically update it on the go. But that would add one more dependency to

[2021-03-28 04:22] harshkumarkhatri commented on #537
Hey Raunak, can you specify in which screen the default data is being loaded?

[2021-03-28 04:29] utkarshshendge commented on #535
Hey @pr4nshul , the video was captured few days back.

[2021-03-28 05:40] ishan0805 commented on #498
I don't know why it is showing error in my  version but If it is correct in all other versions I should close the issue

[2021-03-28 06:17] ishan0805 commented on #498
@CyberWake  what version of flutter are you using

[2021-03-28 07:03] pr4nshul opened #544 "[Enhancement] Title description in News article not clearly visible"
Issue Description: Title description of a News Article is not clearly visible plus all the lines are not being shown
 Issue Severity: Low
 Observed Behaviour: Description not visible
 Expected Behaviour: Display the whole description
 Steps to reproduce issue: Open a news article with a long description

 Snapshots/Videos:
![Screenshot_20210328-122624](https://user-images.githubusercontent.com/515

[2021-03-28 07:05] Swayam221 commented on #208
@pr4nshul @Sagar2366 this issue has been resolved for the original URI which is calico.palisadoes.org, but there are a lot of issues with images on the new URI talawa-grapghql-api.herokuapp.com

[2021-03-28 07:38] ishan0805 opened #545 "[BUG] Validation needed in add task popup"
Description
 Validation is missing in add task . A user can try to add the task without any title and it will give error .

Issue Severity
medium

Observed Behavior:
Validation is not added when we add the task .

Expected Behavior:
Validation should be present while adding tasks .

Steps to reproduce issue:
Adding Validation on add task popup .

Snapshots/Videos:
https://user-images.githubusercon

[2021-03-28 09:05] Raunakk02 commented on #537
In the events screen, the events from another user, who is not in an organization that I created, are being displayed. Currently, I am the only member of that organization. Also, the newsfeed screen was showing an infinite loading spinner for the newly created organization.

[2021-03-28 09:20] CyberWake commented on #498
image url
[code]
get ```_imageSrc from the image field of organisation

[2021-03-28 10:30] ishan0805 commented on #498
@CyberWake but in the main branch `Provider.of<GraphQLConfiguration>(context).displayImgRoute +
                  member['image']`  this is written

[2021-03-28 10:31] CyberWake commented on #498
Can you please specify the file name?

[2021-03-28 10:32] ishan0805 commented on #498
members.dart line no. 250

[2021-03-28 10:32] CyberWake commented on #498
Basically there is image field in user, organization and member.

[2021-03-28 10:34] ishan0805 commented on #498
Yes I was saying can you print the result of `Provider.of<GraphQLConfiguration>(context).displayImgRoute + member['image']`
like what url is being used to fetch pictures

[2021-03-28 10:37] CyberWake commented on #498
It's absolutely ok bro. You can check on line 222 a map containing member details is passed.

[2021-03-28 10:43] rutvik11062000 opened #547 "[Enhancement] Stable user entry, removing unwanted multiproviders"
- **Issue Description:** <Add brief description about issue or feature you want to add.>
1. Unstabalise user entry.
![image](https://user-images.githubusercontent.com/47498552/112749373-9ed26680-8fdf-11eb-9154-ebe31c4b8f10.png)
 2. Currently we are making main function async just to load the userID.
![image](https://user-images.githubusercontent.com/47498552/112749350-6cc10480-8fdf-11eb-82f5-da8ba

[2021-03-28 11:55] dhushyanth-s commented on #326
I'm adding tests for `newsfeed.dart` file.

[2021-03-28 12:00] pr4nshul commented on #545
Hey, can you refresh the event page and then try it again?

[2021-03-28 12:05] pr4nshul commented on #545
Hey , can you check your console log , does it show user is not authenticated when you try to add task?

[2021-03-28 12:07] pr4nshul commented on #545
Because if I logout and login again it is working for me on the latest master. The only time I am facing it is due to the exception being thrown mentioned in the issue #515

[2021-03-28 12:56] pr4nshul commented on #544
This issue is resolved in PR #548 @Sagar2366 .

[2021-03-28 13:16] ishan0805 commented on #545
In my case registration was working perfectly .

[2021-03-28 13:16] ishan0805 commented on #545
But I will check again

[2021-03-28 13:32] rutvik11062000 opened #549 "[BUG] Wrong logic of liking and disliking a post"
- **Issue Description:** <Add brief description about issue or feature you want to add.>
    We have a major bug in liking and disliking a post.
    What we are currently doing is
    1. When we like a post, we are adding {userId} at the end of the ['likedBy'] array.
    2. We are displaying the color of the like button just by checking if the lastEntry of ['likedBy'] array matches the user's ID.

[2021-03-28 14:27] ishan0805 commented on #545
@pr4nshul you were right I have changed the error

[2021-03-28 14:37] harshkumarkhatri commented on #537
Have you tried printing the data which you get from the event which are being displayed in the event screen from the user, not in the organization?
If yes, can you please provide a snippet from it?

[2021-03-29 06:50] #172 closed

[2021-03-29 06:53] OnyemaAnthony commented on #384
@Sagar2366 i think I should close this issue now since you have merged it?

[2021-03-29 07:29] #384 closed

[2021-03-29 09:53] sumitra19jha opened #555 "[Enhancement] Localize all Layout Text into one single file(en.json)"
## Issue Description:
App bar text, button text, and all widget text are currently implemented in the code itself. This makes managing the content of the screen within the project difficult as the code base is increasing enormously.

## Issue Severity:
Medium

## Observed Behaviour:
Implementation of strings in the widget itself.

## Expected Behaviour:
All the layout strings should be managed fro

[2021-03-29 10:18] #516 closed

[2021-03-29 11:46] sumitra19jha commented on #168
@palisadoes @DeltaHarbinger @Sagar2366 Am I allowed to work on this issue?
In the [docs](https://palisadoesfoundation.github.io/talawa-docs/docs/features/organisations/organisations-onboarding), major changes that are suggested are concerning to organisation creation and privacy but not regarding the display of organisation list.

As the number of the organisation is increasing so is the loading t

[2021-03-29 12:03] #498 closed

[2021-03-29 13:09] CyberWake commented on #270
May I correct you with the title currently flutter doesn't support the metal for iOS there is no way to possible to optimize the dialog. I feel what you current might be addressing is change the current material design alert dialog to cupertino style. Correct me if I am not wrong.

[2021-03-29 13:22] #529 closed

[2021-03-29 13:34] sumitra19jha commented on #270
If the Platform is iOS then we will be showing showCupertinoDialog instead of showDialog thats why I name the title as optimising dialog box for iOS as PR will deal with showCupertinoDialog.

[2021-03-29 13:46] CyberWake commented on #270
I guess this would just change the design from material to cupertino which is preferred design style for iOS.

[2021-03-29 13:48] CyberWake commented on #270
BTW there are already dedicated files added by me for alert dialogs. ```alert_dialog_box.dart``` you can reuse this one depending upon the platform.

[2021-03-29 14:15] sumitra19jha commented on #270
That is what the Issue and PR is all about

[2021-03-29 14:21] sumitra19jha commented on #270
I checked the current file and it is still using showDialog. So thought about using if else statement based on platform and show dialoge accordingly. But now will surely look into alert_dialogue first and then will decide accordingly.

[2021-03-29 16:27] Raunakk02 commented on #536
@Sagar2366 can you assign this to me!

[2021-03-29 17:15] sumitra19jha opened #556 "[Enhancement] Avoiding same request multiple times through state management"
## Issue Description:
Avoiding same request multiple times. Some requests like fetching user information are done multiple times which increase the number of requests made to the server and also reduce user experience by introducing waiting time.

## Issue Severity
Medium

## Observed Behaviour:
Multiple request made to fetch same data. For example: User details are fetch in:
1. Profile Page
2. Sw

[2021-03-29 19:19] ishan0805 opened #557 "[BUG] All tasks and Registrants are not visible when we scroll up the page"
Description
All tasks  and Registrants are not visible when we scroll up the page  in the events page .

Issue Severity
medium

Observed Behavior:
all tasks  and Registrants are not  visible when we scroll up  . First task  and Registrants is  not visible .

Expected Behavior:
all tasks  and Registrants should be visible when we scroll up  .  The list should also be scrollable .

Snapshots/Videos:

[2021-03-30 01:11] #298 closed

[2021-03-30 01:12] #533 closed

[2021-03-30 07:53] harshkumarkhatri opened #559 "User taken from Join org screen to Login sign up screen"
**Issue Description**: When the user has registered in the app, he is taken to the screen where he is supposed to select an organization or create one. If we click on the back button it takes us back to the login/create an account screen and the user has to now login with the credentials he has created the account with. This spoils the user experience.

**Issue Severity**: Moderate

**Environment

[2021-03-30 08:12] harshkumarkhatri opened #561 "[BUG] - User unable to create events due to missing organization id"
**Issue Description:** When the user has registered in the app, he is taken to the screen where he is supposed to select an organization or create one. If we try to hard refresh the app while we are on the join organization screen then it will re-start the app and on the basis of conditions that are set, it will take us to the homepage which is the news feed screen. Ideally, it should take us to t

[2021-03-30 08:35] harshkumarkhatri opened #562 "[Enhancement]-Features after joining an organization not updated dynamically & Exception occurs when snackbar is displayed."
**Issue Description:**
* When a user is joining an organization, he is displayed with the snackbar and is taken back to the profile screen but the options which should be there in the profile section are not there instantly because we are not using an efficient state management technique to update things dynamically. Watch [video 1](https://thepalisadoes-dyb6419.slack.com/files/U01SZJ0U6SD/F01T0MT

[2021-03-30 09:47] Raunakk02 opened #563 "[Bug] Membership requests are not being displayed on the Accept Membership Requests page"
- **Issue Description:** Membership requests are not being displayed on the Accept Membership Requests page
- **Issue Severity:** High
- **Environment Details:** Issue found in `talawa\lib\views\pages\organization\accept_requests_page.dart`
- **Observed Behaviour:** No request is displayed even if they are present.
- **Expected Behaviour:** Membership requests should be displayed
- **Steps to repr

[2021-03-30 12:30] CyberWake commented on #563
Please check the status of [file](https://github.com/PalisadoesFoundation/talawa/commits/master/lib/views/pages/organization/accept_requests_page.dart) on commit history on ```22cb53b``` changes made after it are causing problem thing have been copy pasted without check need to restore the changes made.

[2021-03-30 17:23] #476 closed

[2021-03-30 17:30] #517 closed

[2021-03-30 20:12] palisadoes opened #565 "Upgrade node-notifier package to > version 8.0.1 in package-lock.json"
We need to remedy the following known vulnerability: https://github.com/advisories/GHSA-5fw9-fq32-wv5p

GitHub cannot automatically do the required update to > 8.0.1 because:

[code]

This update needs to be implemented and tested.

[2021-03-30 20:17] palisadoes opened #566 "Update package-lock.json to upgrade to netmask version 2.0.1"
There is a high severity vulnerability in the netmask package. Details can be found here https://github.com/advisories/GHSA-pch5-whg9-qr2r

The solution is to upgrade netmask to version 2.0.1 or later. There are dependencies that will need to be remedied.

[code]

This dependency needs to be fixed so that we can upgrade to netmask version 2.0.1

[2021-03-30 20:30] palisadoes commented on #565
Assigned to @Hrishikesh-Bhagwat

[2021-03-30 20:34] palisadoes commented on #566
Wrong repo

[2021-03-30 20:34] #566 closed

[2021-03-30 21:11] dsantistevan opened #568 "Organization creator can't delete said organization"
- **Issue Description:** A user that just created an organization is unable to delete it.

- **Issue Severity:** Medium

- **Environment Details:** Running the backend API locally with Docker and the app on my own phone via Android Studio ver. 4.1.2.
Platform: Windows 10 version 20H2.
- **Observed Behaviour:** The query to delete the organization throws an error saying that the user is not the cre

[2021-03-31 02:53] Raunakk02 opened #569 "Travis CI is failing because of invalid test"
- **Issue Description:** Travis CI is failing because of invalid test
- **Issue Severity:** High
- **Environment Details:** Issue found in `talawa\test`
- **Observed Behaviour:** Travis CI is failing because of invalid test
- **Expected Behaviour:** Travis CI should not fail
- **Steps to reproduce issue:** Run the test file `talawa\test\updateProfile_test.dart`
- **Snapshots/Videos:**
   <img src=

[2021-03-31 03:26] #569 closed

[2021-03-31 03:32] rutvik11062000 opened #572 "[Bug] Organization Name not showing in profile page."
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Organization name is shown as "No organization joined"
- **Issue Severity:** <High or Medium orLow> Medium
- **Environment Details:** <Add details about environment where this issue is found.>
- **Observed Behaviour:** <Add details about your observation related to this issue.>
  Imporpoper initialization of o

[2021-03-31 05:38] utkarshshendge commented on #459
PR #523  fixes this issue as well.
Maintainer of persistent_bottom_nav_bar has fixed the issue regrading Willpop scope.
Closing this issue.

[2021-03-31 05:38] #459 closed

[2021-03-31 05:45] StrangeNoob opened #575 "[Enhancement] Mapping of Registered Events and Tasks in the Member Pages."
- **Issue Description:**
    Once the user create or registers for an event in events pages. Then It would also reflect in his member page also.
- **Issue Severity:**
    Low.
- **Environment Details:**
     Both Android and iOS.
- **Observed Behaviour:**
     - Go to Event Tab
     - Create/Register for  a new Event or Task.
     - Go to Members Tab
     - Click on yout name.
     - You will find

[2021-03-31 05:50] pr4nshul commented on #515
Hey @Sagar2366  can you approve this issue? And tell me about whether we need to work on Api for this. If , not I would like to be assigned as my other PR is on hold right now due to Travis CI build fail

[2021-03-31 08:27] CyberWake commented on #568
hey @dsantistevan can you please share a demo video or something. 😊

[2021-03-31 09:11] adithyaakrishna opened #576 "[Enhancement] - Adding Support for Internationalization"
**Description:** As Talawa App would be released world wide, we would need the app to support across multiple languages to cater different users and their language preferences.

**Problem:** The existing App has support only for English and these words are coded in the app itself, what would be good is, if we can use localized words using .arb files to support for custom texts and other parts, we

[2021-03-31 14:24] lakshydeep-14 commented on #576
I wana work on this. I can solve this issue.

[2021-03-31 14:39] Hrishikesh-Bhagwat opened #577 "Enhancement: Unselect an image"
Issue Description:
If a user selects an image, he must be able to unselect it too.

Observed Behaviour:
User cannot unselect image without back navigating

Expected Behaviour:
A user must be able to undo his image selection.

Steps to Reproduce:
Select an image and you cannot undo your selection.

Snapshot:
https://drive.google.com/file/d/1CxTj4arJYwTjvJLRMGacHLU8lbC7aoJg/view?usp=drivesdk

Does t

[2021-03-31 16:14] dsantistevan commented on #568
Sure, I'll be uploading one in a couple hours

[2021-03-31 20:23] dsantistevan commented on #568
@CyberWake I've just updated the original comment with the videos

[2021-04-01 05:20] theRoushan commented on #572
Can i work on this issue

[2021-04-01 05:22] Hrishikesh-Bhagwat opened #578 "Separate UI design and message for no results found and error occurred"
Issue Description:
If there is an error, an error page must be shown. But here a page is shown 'No data or an error occurred'

Observed Behaviour:
The user will not know if an error has occurred or the list is really empty

Expected Behaviour:
There must be a separate error page

Snapshot:
https://drive.google.com/file/d/1BVqLc5Qra62x2p5aTKjpIPgcBeCbvxOI/view?usp=sharing

Does this issue need imme

[2021-04-01 06:25] theRoushan opened #579 "47 Errors occured after running flutter pub get #help wanted"
#help wanted
After the installation process and cloning the project in my local, when I ran  - "flutter pub get", It throws 47 Errors in the console. Please help.
![Screenshot from 2021-04-01 01-19-58](https://user-images.githubusercontent.com/52878060/113252161-1545c180-9289-11eb-95db-5d02ba1fdc4b.png)

[2021-04-01 06:28] arteevraina commented on #579
Hey @theRoushan ! These are not errors. These are analyses issues are shown by `flutter analyze` that is running in background. These include errors like unused imports, unused variable names and other things also. You need not to worry about these as the application is still under development and these can be fixed in later stages of development as well.

[2021-04-01 07:25] theRoushan commented on #579
I am using Flutter 2.1 stable release, In which List Widget and FlatButton is deprecated, can  I raise an issue to remove these deprecated widgets and replace them with new widgets as per defined in Flutter 2.0

[2021-04-01 13:11] Jd-rathod opened #580 "[Enhancement] Background got changed slightly while focusing and un-focusing from registration page"
## Description
When we start the app for the first time and try to register details, while input field get focused background changes or Zoomed out slightly as seen in the screenshots.

- when focused

![WhatsApp Image 2021-04-01 at 6 34 24 PM (1)](https://user-images.githubusercontent.com/57349543/113298047-0575be00-9319-11eb-9822-35dc6260d619.jpeg)

- Before focus

![WhatsApp Image 2021-04-01 at

[2021-04-01 14:26] sumitra19jha commented on #576
hey this is duplicate of #555

[2021-04-01 14:49] sumitra19jha opened #581 "[Bug] Loading spinner during organisation selection is not working properly"
## Issue Description:
Loading spinner is active for all organisation instead of selected organisation.

## Issue Severity:
No

## Observed Behaviour:
Loading spinner active for all organisation.

## Expected Behaviour:
Loading spinner should be active for selected organisation only.

## Steps to reproduce issue:
1. Signup
2. Select Organisation
3. See the spinner

## Snapshots/Videos:
https://user

[2021-04-01 16:23] sumitra19jha opened #582 "[Bug] Login/ Signup Error due to URL link update"
## Issue Description
Current Url entry leads to error because url input takes additional keywords in the end.

## Issue Severity:
Low

## Observed Behaviour:
Entry format is: `<URL-INPUT>/talawa/graphql`

## Expected Behaviour:
Entry format should be: `<URL-INPUT>/`

## Steps to reproduce issue
1. Open App
2. Enter Url
3. Try to login/signup

## Does this issue need immediate attention?
Yes

## Ar

[2021-04-01 16:50] Sagar2366 commented on #578
@Hrishikesh-Bhagwat use issue template and for everyone's understanding explain issue with sample video/screenshot or with example.

[2021-04-01 16:50] Sagar2366 commented on #577
@Hrishikesh-Bhagwat use issue template and for everyone's understanding explain issue with sample video/screenshot or with example.

[2021-04-01 17:11] #538 closed

[2021-04-01 17:12] #544 closed

[2021-04-01 18:00] harshkumarkhatri commented on #561
Update-The events can only be created by administrators or by coordinators. The role assigning system is yet to be created.
Both of them(administrator & coordinator) will be needing an organization id to create events.

[2021-04-01 20:24] Hrishikesh-Bhagwat opened #584 "It is still possible to go back to set url page by backpressing even on logging in."
Issue Description: The user must not be able to go back to set url page on back pressing when logged in.
Issue Severity: Medium
Environment Details: Found in talawa\lib
Observed Behaviour: User reaches back to set url page on back pressing
Expected Behaviour: Once the user is logged in he must not go back to set url page
Steps to reproduce issue: Login and keep back pressing
Are you willing to wor

[2021-04-02 02:25] theRoushan opened #586 "[help wanted] I am getting this error after running " flutter run""
- **Issue Description:** Installation help Required #helpwanted
- **Issue Severity:** Low
- **Environment Details:** after running - "flutter run"
- **Observed Behaviour:** BUILD FAILED  - Gradle task assembleDebug failed with exit code 1
- **Expected Behaviour:** NORMAL EXECUTION
- **Steps to reproduce issue:**
- **Snapshots/Videos:**
![Screenshot from 2021-04-01 21-17-48](https://user-images.git

[2021-04-02 04:31] harshkumarkhatri commented on #586
https://thepalisadoes-dyb6419.slack.com/archives/CSW3ETABE/p1616853462478400
Can you try the solutions which are listed in this thread?

[2021-04-02 12:05] vrushti-mody opened #590 "Add fields like phone number, serial number, model, etc while registering"
It would be good to determine a way to register not just users but also their devices with the API. A method that tracks the phone number, serial number, make, model etc that uniquely identifies the device.

We may want a way to track not just the number of users but also the number of devices logged in, and unique user/device combinations. Active devices versus registered devices etc.

This could

[2021-04-02 12:05] vrushti-mody commented on #590
Please assign this issue to me

[2021-04-02 12:07] yasharth291 commented on #590
hello @vrushti-mody i think this is not a bug but this is an enhancement and because of code freeze it should be kept on hold. 😊

[2021-04-02 12:09] vrushti-mody commented on #590
I had a discussion with Peter regarding this. He suggested I open the issue and work on it. While I wait, is there anything I can work on?

[2021-04-02 12:10] yasharth291 commented on #590
for this you have to ask @Sagar2366 sir

[2021-04-02 12:18] vrushti-mody commented on #590
@Sagar2366 Hey! Can you help?

[2021-04-02 13:41] adithyaakrishna commented on #581
@sumitra19jha Can I take this up and work on it?

[2021-04-02 14:47] yasharth291 commented on #432
@Sagar2366  sir can you see this please

[2021-04-02 15:41] sumitra19jha commented on #581
Sure. Ask mentor to assign you this issue

[2021-04-02 16:30] theRoushan commented on #586
Reinstalling flutter from snapd store in ubuntu solved this issue.
[issue_closed #586]

[2021-04-02 16:30] #586 closed

[2021-04-02 16:31] theRoushan commented on #586
Reinstalling flutter from snapd store in ubuntu solved this issue.
[issue_closed #586]

[2021-04-02 16:33] theRoushan opened #592 "Spelling mistake of filename - "apiFuctions.dart""
- **Issue Description:** Spelling Mistake in filename
- **Issue Severity:** None
- **Environment Details:** VsCode
- **Observed Behaviour:** file location - talawa/lib/utils/apiFuctions.dart
- **Expected Behaviour:** Filename should be  -”apiFunctions.dart”
- **Steps to reproduce issue:** Navigate to talawa/lib/utils/apiFuctions.dart
- **Snapshots/Videos:** -
- **Does this issue need immediate att

[2021-04-02 21:44] Hrishikesh-Bhagwat opened #593 "Shared Preferences is not secure enough to store tokens"
Issue Description: Sensitive information such as user tokens must not be stored in shared preferences. Some encryption is desirable.
Issue Severity: Medium but can be a big vulnerability
Observed Behavior:  Shared preferences stores user tokens in plain text
Expected Behavior: Tokens must be stored using some encryption
Does this issue need immediate attention? Yes
Are you willing to work on this

[2021-04-02 21:44] Hrishikesh-Bhagwat commented on #593
@Sagar2366 please assign me this issue

[2021-04-03 02:53] arteevraina commented on #576
Hey @adithyaakrishna @lakshydeep-14! Thanks for opening this issue. But, this itself is one of the features that need to be developed in GSoC 21. https://palisadoesfoundation.github.io/talawa-docs/docs/gsoc/gsoc-ideas

[2021-04-03 05:17] Sagar2366 commented on #353
@yasharth291 you can start working on this issue.

[2021-04-03 05:18] yasharth291 commented on #353
ok sir

[2021-04-03 06:28] #563 closed

[2021-04-03 06:59] Udit-singh opened #594 "[Bug] Toast text RenderFlex overflowed issue"
- **Issue Description**
    At Create Organization page, Toast text RenderFlex overflowed issue

- **Issue Severity**
     Low

- **Observed Behaviour:**
     Toast text was overflowing by 303 pixels

- **Expected Behaviour:**
      Wrap text on overflow, like insert ellipsis or fade

- **Steps to reproduce issue:**
      1. Open App
      2. Enter Url
      3. Try to Create organization

- **Snap

[2021-04-03 08:29] CyberWake commented on #584
Similar one is #559 this will resolve the same issue you marked here.😉

[2021-04-03 08:39] Hrishikesh-Bhagwat commented on #559
But I made a PR to it. And it was assigned to me later on. I did not solve anything where I was not assigned. The title samed vague. Trust me. It was not done deliberately.

[2021-04-03 09:35] yasharth291 commented on #565
if this work is not complete @palisadoes can I work on it @Sagar2366

[2021-04-03 09:37] yasharth291 commented on #488
hello @Sagar2366 sir if this issue is not resolved so i really want to work on it I think 10 days has passed and still no answer on this

[2021-04-03 09:39] Hrishikesh-Bhagwat commented on #565
I am working on it.I know it was not complete facebook has not made a change in their official package yet. I had mentioned that to the mentors. As soon as it is done I will fix it.

[2021-04-03 09:42] yasharth291 commented on #565
okay i understood you can carry on

[2021-04-03 09:46] Hrishikesh-Bhagwat commented on #565
Yeah but the strange part is npm does not show vulnerabilities in that package.

[2021-04-03 09:58] Enigma04 commented on #488
hey @yasharth291 the code is almost done, just need to adjust things a bit. I have college submissions right now and practical exams on 10th so I haven't pushed it.

[2021-04-03 11:54] StrangeNoob commented on #582
Just a suggestion, @sumitra19jha You can change the format to the <URL-INPUT>/grapql. I think it would be better for user perceptive.  What's your view on this ?

[2021-04-03 14:55] amul-dhungel commented on #593
Hello @Hrishikesh-Bhagwat you can use crypto package from flutter pub dev

import 'dart:convert';
import 'package:crypto/crypto.dart';

void main() {
  var key = utf8.encode('token');
  var bytes = utf8.encode("foobar");

  var hmacSha256 = Hmac(sha256, key);
  var digest = hmacSha256.convert(bytes);

  print(hmacSha256);
  print(digest);

}

[2021-04-03 15:19] pr4nshul opened #597 "Displaying No org joined when part of an org"
Issue Description: On profile page current organisation is showing no org joined but I am part of 2 organisations.
    Issue Severity: Low
    Observed Behaviour: Displaying no organisation joined
    Expected Behaviour: Display current org name
    Steps to reproduce issue: Go to your profile page

    Snapshots/Videos:
![Screenshot_20210403-203933](https://user-images.githubusercontent.com/51524

[2021-04-03 16:12] yasharth291 commented on #188
Is it solved @pr4nshul  @Sagar2366  sir

[2021-04-03 16:14] pr4nshul commented on #188
The button is working as intended, we just need proper state management to update the user that they are registered . So, you can close the issue, I guess.

[2021-04-03 16:29] yasharth291 commented on #188
@Sagar2366 sir can you please close it

[2021-04-03 18:48] Hrishikesh-Bhagwat commented on #593
Hi Amul Dhungel! We can use flutter_secure_storage it uses keystore in IOS and AES in android. It will be much better according to me. Thanks for telling me about this too. Actually I have solved this on my end already. There are some conflicts in merging, trying to rectify those!

[2021-04-03 20:54] Hrishikesh-Bhagwat opened #598 "While searching for organisations, if there are no results found, the entire list of present organisations is displayed."
Issue Description: If no organisations can be found, a page saying no results found must be displayed and not the entire list.
Observed Behavior: The whole list of organisations is displayed when search does not yeild results.
Expected Behavior: An empty page saying no results found must be displayed.
Does this issue need immediate attention? Moderate attention
Are you willing to work on this issu

[2021-04-04 01:45] amul-dhungel commented on #593
@Hrishikesh-Bhagwat That's great

[2021-04-04 02:20] amul-dhungel commented on #598
@Hrishikesh-Bhagwat  Would you please assign this to me?

[2021-04-04 02:40] theRoushan commented on #219
[code]
If then
@Sagar2366 Sir, Please assign this issue to me.

[2021-04-04 02:42] sumitra19jha commented on #582
We will definitely have to do that as we need to have image url also accordingly.

[2021-04-04 02:58] amul-dhungel commented on #594
@Udit-singh  Please assign this to me

[2021-04-04 04:32] Udit-singh commented on #594
@amul-dhungel Has I have raised the issue it was supposed to assigned me, and I was waiting for the response !!

[2021-04-04 04:57] amul-dhungel commented on #594
@Udit-singh , if you really want to merge it then I will help you. I was just here to solve problem and we are here to solve problems :). Go to create_organization.dart
then, paste this code
  _exceptionToast(String msg) {
    Widget toast = Container(
        padding: const EdgeInsets.symmetric(horizontal: 24.0, vertical: 14.0),
        decoration: BoxDecoration(
          borderRadius: BorderRad

[2021-04-04 05:07] Udit-singh commented on #594
@amul-dhungel I am also a participant, And I have clearly mentioned in the issue
`Are you willing to work on this issue: Yes`
So please read issue properly.

[2021-04-04 05:11] amul-dhungel commented on #594
Sorry man, I know, I read it. Its okay, it is all yours :)

[2021-04-04 06:14] Enigma04 opened #600 "Login form using same validations as Registration form."
@Sagar2366 approve of this.
Issue Description:
While logging in, The password TextFormField shows that the written password is invalid. It is using the same form of validation that the Registration page is using. Eg: A password should have:

At least one numeric character
At least one uppercase letter
At least one special character
Should have at least 8 characters long
Expected Behaviour:
It shou

[2021-04-04 06:29] arteevraina commented on #600
Hi @Enigma04! I think it is the desired behaviour in the login page. Since, we have already followed the guidelines in the Register Page and created the password. Now, in the login page if the user does not follow these guidelines (At least one numeric character, At least one uppercase letter, At least one special character, Should have at least 8 characters long) the password is invalid implicitl

[2021-04-04 07:36] Hrishikesh-Bhagwat commented on #598
Bro I am a student. 😂. You can find more issues report them and solve them

[2021-04-04 07:51] amul-dhungel commented on #598
Thats fine yar.

[2021-04-04 08:14] amul-dhungel opened #602 "Freezing of an App when User enters less content."
Issue Description:
When the details with "post title" and "write your post" text fields are given content of news feed, it causes app to freeze and stop working.

Expected Behavior:
It should show some error message in toast widget.

Does this issue need immediate attention?
yes

Are you willing to work on this issue:
Yes

[2021-04-04 08:15] amul-dhungel commented on #602
@Sagar2366  Please assign this to me

[2021-04-04 08:39] Enigma04 commented on #600
Hey, @arteevraina! I got what you're trying to say and thanks for bringing that to our attention, but I still don't think we are actually supposed to hint at how a password should be if we're logging in. In fact, I have never seen validations from the registration page being used on a login page in almost any deployed software. Also, we discussed about this on Slack and Sagar has given permission

[2021-04-04 10:29] arteevraina commented on #600
ok cool! No worries

[2021-04-04 12:04] #572 closed

[2021-04-04 12:05] #535 closed

[2021-04-04 12:23] #557 closed

[2021-04-04 12:27] #584 closed

[2021-04-04 12:27] #559 closed

[2021-04-04 12:41] Sagar2366 commented on #600
@arteevraina @Enigma04 this issue come for old users(created before introducing password validator). From now on if user is not following password creation guidelines then they will not be able to create account. Thus no need to add password validation at login page.

[2021-04-04 12:55] Sagar2366 commented on #597
Duplicate issue - https://github.com/PalisadoesFoundation/talawa/issues/572

[2021-04-04 12:55] #597 closed

[2021-04-04 12:57] Sagar2366 commented on #594
@Udit-singh please start working on this issue.

[2021-04-04 13:01] #582 closed

[2021-04-04 13:01] Udit-singh commented on #594
Sure @Sagar2366 , Thanks.

[2021-04-04 13:03] Sagar2366 commented on #580
@Jd-rathod not sure what you are pointing in this issue.
Can you provide video demo for this ?

[2021-04-04 13:05] Sagar2366 commented on #578
@Hrishikesh-Bhagwat can you spend time on this issue - update issue details by following our template and provide video demo to understand what you are pointing out ?

[2021-04-04 13:10] Sagar2366 commented on #568
@dsantistevan thanks for opening this issue. We are planning to remove admin features to new portal (talawa-admin). Considering it we may not require to add this change here in talawa project.

[2021-04-04 13:10] #568 closed

[2021-04-04 13:14] Sagar2366 commented on #562
@harshkumarkhatri you are referring two issues here -
1. dynamically updating organisation name : this is duplicate issue and should get fixed in another PR.
2. User trying to join same organisation - can you work on this ?

[2021-04-04 13:17] #576 closed

[2021-04-04 13:21] Sagar2366 commented on #526
@sainiteshb do you see this error on latest master ?

[2021-04-04 13:23] Sagar2366 commented on #488
@Enigma04 please open PR for this issue and push the changes you have done to resolve the issue to track your process.

[2021-04-04 13:38] sainiteshb commented on #526
Yes

[2021-04-04 14:48] #188 closed

[2021-04-04 20:48] palisadoes commented on #359
For the purposes of GSoC we will be allowing pull requests to be submitted for issues with the gsoc-parallel label. Issues with the gsoc-parallel label will only be created by GSoC mentors based on draft GSoC submissions we receive.

[2021-04-04 22:28] theRoushan commented on #600
I think this issue is resolved now. Please close this issue.

[2021-04-04 22:31] theRoushan commented on #592
Hello @Sagar2366 Sir, I have added a PR regarding this issue#592 PR #595. Please merge the PR to close this issue. It has been resolved now.

[2021-04-04 22:44] theRoushan commented on #590
Yes I agree. But instead of taking input from User itself, will make user more difficult to Singup/Register for this app. So we need to automate this, In flutter , you can fetch device information using followed dependency.
[code]

#### I hope this will help you.

[2021-04-05 01:43] AniketSindhu commented on #600
@Sagar2366 so what will old users do there is also no option to reset password

[2021-04-05 04:11] amul-dhungel opened #609 "Freezing of an App when navigated between member details "Registered Event" and "Task""
Issue Description
App freezes in debug mode as soon as the user navigates between tab of members details. This mainly because of calling set state between. And registered event are also not shown when app freezes. This might causes, future developer to handle the
unnecessary bug during development. Some bugs can only be detected in debug mode, but works fine in launch mode.

Issue Severity: Medium

[2021-04-05 04:32] TayyabAsghar opened #610 "[Bug] User can't update his/her profile data."
* **Issue Description:**
The user can't update his/her profile data given at the time of account creation.

* **Issue Severity:**
High

* **Environment:**
  * VSCode Editor 1.55.0
  * Flutter 2.0.4 • channel stable
  * Dart 2.12.2
  * Windows 10 Education
  * Android Version 8.0.0
  * Kernal Version 3.18.66-g36b2a7d

* **Observed Behaviour:**
_**Update Profile**_ button gives an error message and

[2021-04-05 06:01] theRoushan opened #611 "Confusing Buttons before Setting Organisation URL"
- **Issue Description:**
  The Main Goal of User should be to set Organisation URL.
 But "Create an Account" button and Login Button, confuses the user.
**Both buttons donot have any value before setting URL**.
- **Issue Severity:**
  Low
- **Environment Details:**
  Visual Studio Code
- **Observed Behaviour:**
  Create an Account button visible before entering Organisation URL. And It doesn't hav

[2021-04-05 07:05] theRoushan commented on #600
@AniketSindhu I think there will be no issue, because this app is under development phase. No real users will be impacted from this🙂.
So don't worry.

[2021-04-05 10:03] #610 closed

[2021-04-05 11:35] Sagar2366 opened #614 "New look to Talawa app with UI/UX Revamping"
Issue Description: We need to upgrade UI/UX of Talawa app during GSoC period.
Issue Severity: High
Environment Details: Android and iOS devices

This is pre-GSoC activity for students to come up with better UI/UX ideas for Talawa app.
Factors to consider while proposing new UI/UX:
1. Color scheming - Consider colors which should be globally adaptive across all communities. Multiple factors needs t

[2021-04-05 11:41] arteevraina commented on #614
@Sagar2366 Can you please tell us how will be the workflow of this issue?

[2021-04-05 11:50] Sagar2366 opened #615 "UI/UX enhancements for Home Page"
Issue Description: We need to upgrade UI/UX of home page/set URL page
Issue Severity: High
Environment Details: Android and iOS devices
Expected Behaviour :
1. Consider changes to fonts, colors, widget locations on screen as mentioned in https://github.com/PalisadoesFoundation/talawa/issues/614
2. Login/Signup process for user should be very smooth - If it requires change in loading of different w

[2021-04-05 11:50] yasharth291 commented on #614
Yeah Sir same question will anyone will be assigned or anyone can reply on this

[2021-04-05 11:51] yasharth291 commented on #615
Sir how can we work on this issue

[2021-04-05 11:58] Sagar2366 commented on #614
Students,
Here is a brief update on the GSoC submission process. The code is now relatively stable and we feel we can begin to consider a partial lifting of the pull request feature freeze. Please read more for details.
All draft submissions made up to April 2 will have responses with feedback within the next 24 hours. In cases where you have submitted a draft proposal after April 2, please ask fo

[2021-04-05 12:01] yasharth291 commented on #614
okay sir understood

[2021-04-05 12:16] Sagar2366 opened #616 "UI/UX enhancements for Login Page"
Issue Description: We need to upgrade UI/UX of Login page
Issue Severity: High
Environment Details: Android and iOS devices
Expected Behaviour :

Consider changes to fonts, colors, widget locations on screen as mentioned in https://github.com/PalisadoesFoundation/talawa/issues/614
Login process for user should be very smooth -
a. Suggest better way to add authentication considering different categ

[2021-04-05 12:18] arteevraina commented on #562
@harshkumarkhatri Since you are not willing to work on this issue. Can I take up this issue I have already fixed the 2nd part of the issue you described in the issue description ?

[2021-04-05 12:19] theRoushan commented on #615
Hello @Sagar2366 Sir, I am working on UI and UX of app. and Will send you my work with proposal. In that design, I will try to cover all the requirements. So Better will be to design first and then build code or change code.

[2021-04-05 12:23] Sagar2366 opened #617 "UI/UX enhancements for Signup Page"
Issue Description: We need to upgrade UI/UX of Signup page
Issue Severity: High
Environment Details: Android and iOS devices
Expected Behaviour :

Consider changes to fonts, colors, widget locations on screen as mentioned in https://github.com/PalisadoesFoundation/talawa/issues/614

Signup process for user should be very smooth -
a. Suggest better way to add authentication considering different ca

[2021-04-05 12:30] harshkumarkhatri commented on #562
Cool you can work on this,

[2021-04-05 14:05] Hrishikesh-Bhagwat commented on #616
Can you assign me this Issue? @Sagar2366

[2021-04-05 14:07] Hrishikesh-Bhagwat opened #623 "FCM integration on client side"
Issue Description: A third party push notification system was asked for.
Observed Behavior: App does not receive notifications.
Expected Behavior: An app must receive notifications for better engagement
Does this issue need immediate attention? No
Are you willing to work on this issue: Yes, I will work.

[2021-04-05 14:40] #602 closed

[2021-04-05 14:41] pr4nshul commented on #616
@Hrishikesh-Bhagwat this is a gsoc-parallel issue. Please refer slack or the issue #614 for further explanation.

[2021-04-05 15:25] AniketSindhu commented on #600
@theRoushan problem is the I am not able to log in now

[2021-04-05 15:29] AniketSindhu commented on #615
@Sagar2366 How should we work on this issue should I create a pull request for this or make separate branch for UI work?

[2021-04-05 15:44] theRoushan commented on #600
Try with another gmail bro.😂 You can reset your password once the reset password feature comes live.

[2021-04-05 16:02] adithyaakrishna commented on #615
@Sagar2366 I had thought of a better way for the OrgURL thing, it's related to dropdowns and searching Organization Names in a dropdownmenu with a search bar, in this case the Org Members do not need to remember the URL at all, here's the link to the Issue [#143](https://github.com/PalisadoesFoundation/talawa-api/issues/143) regarding that

[2021-04-05 16:29] AniketSindhu commented on #615
@adithyaakrishna Great idea! but I am not sure that it will be good to show all organizations to everyone (Privacy reason).

[2021-04-05 17:59] pr4nshul commented on #616
@Sagar2366  Do we also need to add google sign-in flow? Or can we just display the button right now?

[2021-04-05 18:04] pr4nshul commented on #615
Yes, rather we can create a list of a previously entered URL's and give an option to delete them in case they typed it wrong.

[2021-04-05 18:17] adithyaakrishna commented on #615
@pr4nshul That's a good one too 🚀

[2021-04-05 18:20] adithyaakrishna commented on #616
@pr4nshul Ig adding google sign-in requires some changes in the backend. Which we can do it by using [passport.js](http://www.passportjs.org/)
I had created a issue regarding this here, https://github.com/PalisadoesFoundation/talawa-api/issues/138

[2021-04-05 18:26] yasharth291 commented on #616
@adithyaakrishna its not like this we can do without backend too go to my profile and see notenexus i have done this without any backend this google signin

[2021-04-05 19:04] CyberWake commented on #616
@adithyaakrishna they way stated seems a much better flow of implementing google signin. Unlike doing it without taking backend stuff as in that case we are just using google auth to take in simply a mail and than asking for a password this does not come handy on login in that case he still has to give the password were as social auth themselves state logging in or signing up without a password.

[2021-04-05 19:13] adithyaakrishna commented on #616
I completely agree its a good way, I never said it's the only option. If we have a better one, we can go ahead with that itself or whichever the mentors agree with

[2021-04-06 00:45] Sagar2366 commented on #615
@adithyaakrishna do not share your solutions for issues in public.
These are pre-GSoC activities for student's work evaluation.

[2021-04-06 01:52] Enigma04 commented on #488
I know it might be sudden but my motherboard got burnt up. The replacement will come in 3 days and I've lost what changes I wanted to push. @Sagar2366 if it's urgent then you should assign the issue to someone else. Otherwise I can write the code again and make a PR later.

Hints For someone being assigned this task:

1)Don't use the same search logic as finding the organization does. As it uses L

[2021-04-06 02:41] #600 closed

[2021-04-06 11:54] arteevraina opened #624 "Overflow issue in AddPost Page."
### Issue Description
When the multiline line `textfield` is expanded. It goes out of the screen creating overflow in rendering.

### Screenshot
![Screenshot_2021-04-06-08-56-06-69_b0d79c17f76dc7231206b6364e70b267](https://user-images.githubusercontent.com/43968121/113706844-c2db2980-96fc-11eb-9348-a81d5ec280c0.jpg)

### Issue Severity
Light

### Are you willing to work on the issue?
Yes

[2021-04-06 13:41] Sagar2366 commented on #609
@amul-dhungel add detailed steps to reproduce this issue.
Do you see this error for newly created organization or on joining existing organization ?

[2021-04-06 13:43] Sagar2366 commented on #611
Please do not create duplicate issues - https://github.com/PalisadoesFoundation/talawa/issues/435

[2021-04-06 13:43] #611 closed

[2021-04-06 13:47] amul-dhungel opened #625 "Create Organization direct hit API validation error with tricky data along with Render flex overflow issue"
Issue Description
Create organization view page. Steps to create this issue, go to create organization page, and input null details in text field, it throw API toast validation message, but input some detail in first field and for remaining two fields just, press enter, will accept the data and rather than usual validation  it will treat it as data and throws toast message which also overflow.

Is

[2021-04-06 13:52] amul-dhungel commented on #609
@Sagar2366 Hello sir,  I saw this error in both organization. The thing is the error throws up in debug mode, but in launch mode it wont freeze. This bug is specially focused for future developer. So that they wont have to bug around for fixing this simple bug instead of focusing on making app more robust and almost in production.

[2021-04-06 16:20] Sagar2366 commented on #577
Please add details while creating issue. On which screen your are seeing this issue, steps to reproduce issue, etc

[2021-04-06 16:32] Hrishikesh-Bhagwat commented on #577
Yes sir I updated it.

[2021-04-06 16:34] Hrishikesh-Bhagwat commented on #623
@Sagar2366 I have done the fcm feature in talawa-api. I would like to add the client side integration please assign me this.

[2021-04-07 06:18] Sagar2366 commented on #625
https://github.com/PalisadoesFoundation/talawa/issues/594 duplicate issue.

[2021-04-07 06:19] #625 closed

[2021-04-07 10:39] amul-dhungel opened #626 "Create Organization direct hit API validation error with tricky data"
Issue Description
Create organization view page. Steps to create this issue, go to create organization page, and input null details in text field, it throw API toast validation message, but input some detail in first field and for remaining two fields just, press enter, will accept the data and rather than usual validation it will treat it as data and throws toast message which also overflow.

Iss

[2021-04-07 15:58] #174 closed

[2021-04-07 19:57] OnyemaAnthony opened #629 "[bug] unable to login to the application"
When you try to login to the application it show an error saying failed to connect

[2021-04-07 19:59] OnyemaAnthony commented on #629
![Uploading Screenshot_20210407-205100.png…]()

[2021-04-07 20:02] OnyemaAnthony commented on #629
![Uploading Screenshot_20210407-205100.png…]()

[2021-04-07 20:06] OnyemaAnthony commented on #629
![Uploading Screenshot_20210407-205100.png…]()

[2021-04-07 20:08] OnyemaAnthony commented on #629
![Uploading Screenshot_20210407-205100.png…]()

[2021-04-07 20:08] OnyemaAnthony commented on #629
![Screenshot_20210407-205100](https://user-images.githubusercontent.com/50530242/113927449-699af500-97e5-11eb-88da-4e6fbc53f67d.png)

[2021-04-07 20:10] OnyemaAnthony commented on #629
@Sagar2366 please assign this to me

[2021-04-08 12:35] Hrishikesh-Bhagwat opened #631 "The calendar in the events page is showing wrong selected duration"
Issue Description:
The calendar in the events page is showing wrong selected duration. 1 week option shows 2 weeks time,
2 weeks option shows 1 month, and 1 month  shows 1 week time.
Screenshots:
![Screenshot_20210408-183246](https://user-images.githubusercontent.com/79875904/114036487-bcd07e80-989d-11eb-86f1-37099c5b729e.jpg)
![Screenshot_20210408-183314](https://user-images.githubusercontent.com

[2021-04-08 12:38] arteevraina commented on #631
@Hrishikesh-Bhagwat Can you please elaborate this issue ?

[2021-04-08 12:46] gourav1486 opened #632 "error: The argument type 'String' can't be assigned to the parameter type 'Uri'. (argument_type_not_assignable at [talawa] lib\views\pages\login_signup\set_url_page.dart:37)"

[2021-04-08 13:01] Hrishikesh-Bhagwat commented on #631
Hi Arteev I know my description is incomplete. The issue is genuine but this got posted incompletely by mistake. I am soon going to update it.

[2021-04-08 13:39] Hrishikesh-Bhagwat commented on #631
@arteevraina it looks valid now? :)

[2021-04-08 13:40] Hrishikesh-Bhagwat commented on #631
Actually my phone stopped working. I was typing from the phone as wifi was down for sometime and hotspot was slow.

[2021-04-08 13:45] arteevraina commented on #631
No worries @Hrishikesh-Bhagwat! But that is actually not an issue. A few days back I also researched on this and came to know that package `table_calendar` https://pub.dev/packages/table_calendar is meant to work this way only. For example, if you click on 2 weeks then it will show you two weeks, if you click on a month, then it will show you a month. It is not like that if it is showing 2 weeks t

[2021-04-08 13:53] Hrishikesh-Bhagwat commented on #631
No I did not get you it sound like a=~a 😅

[2021-04-08 13:55] arteevraina commented on #631
See, if you click on `2 weeks`, then only you will get 2 weeks actually in the calendar. Try to play with the calendar for some time you will get it. If still not, comment here, I will post a recording video.

[2021-04-08 14:16] RukshanJS commented on #617
@Sagar2366 can I work on this issue?

[2021-04-09 02:03] Sagar2366 commented on #632
@gourav1486 use our issue template for describing issue.

[2021-04-09 02:08] sumitra19jha opened #634 "[BUG] Home Screen hero animation error"
## Issue Description
Error occur in comment screen due to the user of hero animation

## Issue Severity
Low

## Observed Behaviour:
Error displayed in the console

## Expected Behaviour:
Either Hero animation should not be used or its implemented should be corrected

## Steps to reproduce issue:
1. Press on event page
2. Press on Home Page
3. Press comment
4. Navigate Back

## Snapshots/Videos:
[c

[2021-04-09 02:25] sumitra19jha opened #635 "[Bug] Comment Experience Enhancement"
## Issue Description:
As user writes a comment and went back to previous screen without posting it and then comes back, the entire previous comments are gone.

## Issue Severity:
Low

## Observed Behaviour:
Comment removed when user changes screen

## Expected Behaviour:
Comment should not be removed

## Steps to reproduce issue:
1. Open Home Page
2. Press any Post
3. Write a comment
4. Without po

[2021-04-09 02:40] Sagar2366 commented on #634
@sumitra19jha assigned another issue to you.
Let someone else work on this issue, preferably newly joined students for GSoC.

[2021-04-09 02:54] sumitra19jha commented on #634
Sure

[2021-04-09 03:25] sandeep-v1404 commented on #634
@Sagar2366 Can I work on this issue ?

[2021-04-09 03:35] sumitra19jha opened #636 "[Bug] UI hidden due to device design"
## Issue Description:
Ui gets hidden in the back due to the design of device

## Issue Severity:
Low

## Observed Behaviour:
Hidden Ui at the top

## Expected Behaviour:
Shouldn't be hidden

## Steps to reproduce issue:
Open Signup Page or Individual Post Page

## Snapshots/Videos:
![WhatsApp Image 2021-04-09 at 9 06 51 AM](https://user-images.githubusercontent.com/35868598/114124892-07d8a900-9913

[2021-04-09 04:08] Sagar2366 commented on #629
@OnyemaAnthony please use issue template for creating new issues and all necessary details.

[2021-04-09 06:50] sandeep-v1404 commented on #636
Hello @Sagar2366 . I want to solve this issue . Already I have the solution ready. Can I get some suggestions? Should I hide the status bar completely or make the status bar Transparent ?

[2021-04-10 03:25] amul-dhungel opened #637 "Anonymous Sign In as well as weak input signature validation in password."
Issue Description
Steps to create this bug. Go to register page. Input nothing except "space" in both first name and last name input fields. Then in password too input nothing just press "space" and any single A capital Letter and One extra character and One number. Then Signup. You can be completely anonymous in the app in such a way no details of your will be present to an organization weather v

[2021-04-10 06:26] CyberWake opened #638 "[Bug]- Breaking changes introduced due to latest image picker package."
- **Issue Description:**
After the update in the packages versioning. Image picker now fetches the latest package due to with the function like ```getImage()``` not been found in the package. Added these functions are now made static as well enabling their call without a constructor. All the breaking changes also need to be fixed made in the latest version. It also needs to have some changes in an

[2021-04-10 07:33] adithyaakrishna commented on #637
@amul-dhungel Is the flutter_pw_validator package accepting spaces as characters? 😶

[2021-04-10 09:06] amul-dhungel commented on #637
@adithyaakrishna  Yes, Its okay. We can fix this.

[2021-04-10 16:41] sumitra19jha commented on #483
@Sagar2366  Sir, I made the PR for resolving the screen stacking issue. Currently, the solution doesn't include any use of state management. I have already made registered an issue for state management which has been assigned to me. In that issue, a more efficient solution will exist where there is no need to push or pop any screen at all.

[2021-04-11 07:22] divs4799 commented on #624
Can I work on this issue??

[2021-04-11 07:28] arteevraina commented on #624
Sure no worrries ! @Sagar2366 please unassign me and assign this to @divs4799

[2021-04-11 07:46] divs4799 commented on #624
@arteevraina  oh you were assigned to this? i thought you were assigning someone. No worries to me you can keep working on that.  One more thing this issue is not for a website? it is an app ? am i right?

[2021-04-11 07:48] arteevraina commented on #624
@divs4799 Talawa app is written in Flutter Framework with Dart Language.

[2021-04-11 08:18] sakshiisaxena commented on #629
Hey, @Sagar2366 I am a newbie and want to start my contribution via GSoC. Could you please assign this to me so that I can solve the issues.

[2021-04-11 08:23] sakshiisaxena commented on #614
hello @Sagar2366 i just came to know about this. How can I still contribute to this? please let me know.

[2021-04-11 08:56] sakshiisaxena commented on #636
can I do it? @Sagar2366

[2021-04-11 09:03] Sagar2366 commented on #636
@sakshiisaxena let @sandeep-v1404 work on this issue.

[2021-04-11 09:05] Sagar2366 commented on #629
@sakshiisaxena this issue is already assigned to @OnyemaAnthony

[2021-04-11 09:47] sakshiisaxena commented on #219
If this is still an active issue, can I work on this? @Sagar2366

[2021-04-11 09:49] sakshiisaxena commented on #488
I would love to work on an issue. @Sagar2366 could you please assign me any of them?

[2021-04-11 09:59] #631 closed

[2021-04-11 10:14] sakshiisaxena opened #643 "looking to resolve an issue."
hey @Sagar2366 could you please assign an issue to me? I really want to collaborate on this project.

[2021-04-11 10:21] Sagar2366 commented on #643
@sakshiisaxena we understand your enthusiasm to contribute to our project.
Please join slack workspace first and in #gsoc-newissues channel let me know which issue you would like to work on.

Please, Do not open any new issue and comment on all issues without discussing.

[2021-04-11 10:21] #643 closed

[2021-04-11 10:22] Hrishikesh-Bhagwat opened #644 "Issue with wrong Event Timings- Future events are being shown in Today category"
Issue Description:
After creating an event scheduled in the future, it is shown in the 'Today' section

Issue Severity:
Medium- users might be misguided

Observed Behaviour:
User will find future events in today section and not all section

Expected Behaviour:
Only today's events must be in today section

Steps to reproduce issue:
Create an event in the future and go back to the events page, it wi

[2021-04-11 15:01] CyberWake commented on #638
@Sagar2366 sir please assign this issue to me.

[2021-04-11 15:08] #203 closed

[2021-04-11 15:18] #219 closed

[2021-04-11 16:43] #592 closed

[2021-04-11 16:46] #593 closed

[2021-04-11 16:47] #629 closed

[2021-04-11 16:48] #562 closed

[2021-04-11 17:02] #536 closed

[2021-04-11 17:04] #483 closed

[2021-04-11 17:07] #635 closed

[2021-04-11 17:59] #353 closed

[2021-04-11 17:59] sakshiisaxena commented on #488
Hey,
Actually I'm unable to join the slack group. Could you please send me an
invite link?

On Sun, 11 Apr, 2021, 3:52 pm Sagar Utekar, ***@***.***>
wrote:

[2021-04-11 18:12] sumitra19jha commented on #488
https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-nk79xxlg-OxTdlrD7RLaswu8EO_Q5rg

[2021-04-12 06:08] utkarshshendge commented on #638
Hi @CyberWake,  adding an organization image while creating an organization throws an error, maybe it's related to this issue.

[2021-04-12 06:37] sakshiisaxena commented on #488
remote: Permission to PalisadoesFoundation/talawa.git denied to sakshiisaxena.
fatal: unable to access 'https://github.com/PalisadoesFoundation/talawa.git/': The requested URL returned error: 403

I'm getting these errors. Could you please guide me? @sumitra19jha

[2021-04-12 06:41] CyberWake commented on #638
It's is a problem pertaining to the API I guess because the error is perceived from the graphql.
Added if there was something causing problem due to the package then the image would have also been not displayed on the page itself. After the path to the file is same. For both display image.file and the path passed in the graphql mutation in the variable field.

[2021-04-12 06:43] Sagar2366 commented on #488
@sakshiisaxena you will find link to join slack channel on this page -
1. https://palisadoesfoundation.github.io/talawa-docs/docs/gsoc/gsoc-introduction/

2. https://summerofcode.withgoogle.com/organizations/4526762500816896/
Click on chat button on GSoC page.

[2021-04-12 06:46] sumitra19jha commented on #488
1. Fork the repo first ---> From talawa github home page
2. Then in your code editor clone that repo
3. Perform all necessary changes there in a separate branch
4. Once changes are performed push that branch and accordingly create PR from your forked repo
5. Mentors will review that PR and provide you with feedback

For detail information use this video, they taught everything there: https://www.y

[2021-04-12 06:48] imraghav20 commented on #294
@jordanliu Slack only allows to join the workspace with `@palisadoes.org` domain mail. How can I contact the workspace administrator for an invitaton on my personal mail?

[2021-04-12 06:51] imraghav20 commented on #294
I am a new contributor. I have managed to set up the repo and even install the app but unable to understand how to log in. I would be glad if someone could guide me.

[2021-04-12 07:05] arteevraina commented on #294
Hi @imraghav20 ! You can join slack even if you don't have `@palisadoes.org` domain mail. Checkout this link https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-oz2w954k-xMjzQ4Q3zfEIEJcOF6KdmQ.
Also, remember to read the contributing guidelines before sending patches. Also, discuss any potential issue with the mentors in the slack's `#gsoc-newissues` channel.

For signup you need to ve

[2021-04-12 07:08] pr4nshul commented on #545
Close this issue @ishan0805 . As it is resolved 👍

[2021-04-12 07:25] #545 closed

[2021-04-12 08:36] imraghav20 commented on #294
Thank you very much @arteevraina

[2021-04-13 01:05] imraghav20 opened #646 "[Bug] Calendar display and chosen display option do not match"
### Issue Description:
In the Events section, the type of calendar view selected, does not match with actual display of calendar.

### Issue Severity:
Low

### Observed Behaviour:
In the Events section, when "Month" display is selected, calendar is displayed only for a Week.
Similarly, when "Week" display is selected, calendar is displayed for 2 weeks.
And when "2 weeks" display is selected, calen

[2021-04-13 01:28] arteevraina commented on #646
Hi @imraghav20 ! This is actual behaviour. Please refer : #631

[2021-04-13 01:32] imraghav20 commented on #646
Ok @arteevraina Thanks for clarification.
Closing this issue.

[2021-04-13 01:32] #646 closed

[2021-04-13 06:03] sumitra19jha commented on #581
Is this issue has been resolved?

[2021-04-13 06:31] Sagar2366 commented on #581
Yes it is, since there is no update from @adithyaakrishna someone else can work on this.

[2021-04-13 06:36] sumitra19jha commented on #581
Can I work on this issue?

[2021-04-13 06:44] sumitra19jha commented on #168
@Sagar2366 This issue has been marked as unapproved. Can you tell me its current status?
Am I allowed to work on this

[2021-04-13 12:54] adithyaakrishna commented on #581
@Sagar2366 Sorry I had been held up with some work from College regarding my Final Year Project. I was going to work on it today😶

[2021-04-13 16:03] Hrishikesh-Bhagwat opened #649 "No validation of input URL whether it an endpoint to Talawa server or not"
Issue Description:
When a user enters a URL to a Talawa server, there is no verification to check if this is a valid URL. For example, even google's URL may be considered valid when it is not a Talawa endpoint

Issue Severity:
Slight- as users who do not know about the app might not know what is happening

Observed Behaviour:
Any link is accepted as a URL whether it is associated with Talawa or no

[2021-04-13 17:10] #649 closed

[2021-04-13 17:10] Sagar2366 commented on #649
As discussed in slack channel, we do not need this feature.
Please follow community guidelines and discuss in slack channel before creating any new issue.

[2021-04-13 19:20] adithyaakrishna opened #654 "Sort the Organization Names in Join_Organization Page"
**Issue Description:** The Organization names aren't sorted in the `join_organization` page

**Issue Severity:** Low

**Observed Behaviour:** The names or the organization are sorted randomly as we can see in the below image

<img src="https://user-images.githubusercontent.com/23498248/114608024-dbc67a80-9cba-11eb-85c5-ebc20e09f3ff.png" width="200" height="400" />

**Expected Behaviour:** The name

[2021-04-14 02:37] arteevraina opened #655 "[Enhancement] User's created & Joined Organizations showing in Join Organization List"
## Issue Description.
Join Organization ListView is also showing the name of the organization that I created. Also, the already joined organizations by me are also shown in the ListView.

## Issue Severity
Low

## Expected Behaviour
Only organizations that are not joined or not created should be shown in the ListView.

## Screenshot
![image](https://user-images.githubusercontent.com/43968121/11464

[2021-04-14 07:34] arteevraina commented on #326
I will be working on the widget test for ` join organization` page.

[2021-04-14 08:09] #355 closed

[2021-04-14 14:26] sumitra19jha opened #659 "[BUG] To fix Fetch Request Call to get all newsFeed in case of no organization"
## Issue Description:
If user is part of no organisation at all the fetch request call shall not be executed
## Issue Severity:
Low
## Observed Behaviour:
`I/flutter (18499): ClientException: Unhandled Failure Invalid argument(s): No host specified in URI nullgraphql
I/flutter (18499): 1
I/flutter (18499): http://talawa-graphql-api.herokuapp.com/graphql/talawa/
E/flutter (18499): [ERROR:flutter/li

[2021-04-15 06:49] CoderMayhem opened #660 "(Bug) Delay in Events List update after creating new event"
- **Issue Description:** When the user creates a new event the `addEventPage` pops off before the event gets added. The user needs to refresh the list to see the new added event. Also while deleting the event the process is abrupt, showing a progressBar would be better for UX.
- **Issue Severity:** Low
- **Environment Details:** Issue in `addEventPage.dart`
- **Observed Behaviour:** The add event

[2021-04-15 11:31] Raunakk02 opened #661 "Events should be blank for newly created organizations"
- **Issue Description:** Events should be blank for newly created organizations. Refer #537
- **Issue Severity:** Medium
- **Environment Details:** Found in `talawa\lib\views\pages\events\events.dart`
- **Observed Behaviour:** Currently default data is getting loaded for newly created organizations.
- **Expected Behaviour:** It should be blank for newly created organizations
- **Steps to reproduce

[2021-04-15 11:32] Raunakk02 opened #662 "Groups page should be blank for newly created organizations"
- **Issue Description:** Groups page should be blank for newly created organizations. Refer #537
- **Issue Severity:** Medium
- **Environment Details:** Found in `talawa\lib\views\pages\chat\groups.dart`
- **Observed Behaviour:** Currently default data is getting loaded for newly created organizations.
- **Expected Behaviour:** It should be blank for newly created organizations
- **Steps to reprod

[2021-04-15 11:34] Raunakk02 opened #663 "Newsfeed should be blank for newly created organizations"
- **Issue Description:** Newsfeed should be blank for newly created organizations. Refer #537
- **Issue Severity:** Medium
- **Environment Details:** Found in `talawa\lib\views\pages\newsfeed\newsfeed.dart`
- **Observed Behaviour:** Currently default data is getting loaded for newly created organizations.
- **Expected Behaviour:** It should be blank for newly created organizations
- **Steps to rep

[2021-04-15 11:48] Raunakk02 opened #664 "Members page should show data specific to the newly created organization."
- **Issue Description:** Members page should show data specific to the newly created organization. Refer #537
- **Issue Severity:** Medium
- **Environment Details:** Found in `talawa\lib\views\pages\members\members.dart`
- **Observed Behaviour:** Currently previous organization's data is getting loaded even for newly created organizations.
- **Expected Behaviour:** It should show data specific to

[2021-04-15 13:47] Hrishikesh-Bhagwat opened #665 "Member description textfield is not prepopulated"
Issue Description: Update organisation page does not preset member description textfield.
Observed Behaviour: Currently the organisation's member description is not loaded
Expected Behaviour: It should show the member description wgen loaded.
Steps to reproduce issue: Create an organization and update the member description and revisit it.
Does this issue need immediate attention? Probably
Are you

[2021-04-15 13:54] Hrishikesh-Bhagwat opened #666 "The last event is blocked by floating action button"
Issue Description: For big lists the event is blocked by the FAB.
Observed Behaviour: The last event is out of view due to the FAB
Expected Behaviour: It should be accessible to the user.
Steps to reproduce issue: Create a list with many events and FAB will block the menu button for last event.
Does this issue need immediate attention? Yes
Are you willing to work on this issue: Yes, I am willing t

[2021-04-15 15:22] #525 closed

[2021-04-15 15:54] #626 closed

[2021-04-15 16:01] #577 closed

[2021-04-15 16:06] #581 closed

[2021-04-15 16:13] Sagar2366 commented on #655
@arteevraina are you considering scenario - User left Organization created by them, joined another organization, left the organisation and want to join back organization created by them.

[2021-04-15 16:15] #638 closed

[2021-04-15 16:15] arteevraina commented on #655
@Sagar2366 I will test this case against my PR and update you.

[2021-04-15 16:19] #515 closed

[2021-04-15 16:22] pr4nshul commented on #666
if @Hrishikesh-Bhagwat  is assigned other issues , I would like to work on this @Sagar2366

[2021-04-15 16:29] Hrishikesh-Bhagwat commented on #666
Bro actually I am dire need of issues, due to academic stuff I joined late. I have one issue assigned but it is solved just need to push it. Please don't misunderstand me as a person who creates issues to put dibs on them🤣. I am very sorry😅

[2021-04-15 16:50] pr4nshul commented on #666
Hey , I understand. I just wanted to mention it in case mentors anyway tells you that you can't have 2 issues at the same time. Happened with me when I started. But if they allow it, I am happy that you are here and trying to contribute as much as you can. But it's not a race.

[2021-04-15 19:35] Hrishikesh-Bhagwat commented on #666
I already fixed my previous issue. I am resolving conflicts that happened on pulling the code. It is done.

[2021-04-15 20:46] CyberWake commented on #664
@Raunakk02 can you please elaborate more about the issue.

[2021-04-16 05:08] yasharth291 commented on #624
@Sagar2366  can i work on this if he is not working on this

[2021-04-16 05:40] yasharth291 commented on #488
is this issue still open @Sagar2366  can I work on it

[2021-04-16 05:43] yasharth291 commented on #347
can i work on this @Sagar2366

[2021-04-16 06:17] divs4799 commented on #624
yeah sure @yasharth291  you can have this one I was working but couldn't find this to work. I hope you can😁

[2021-04-16 06:20] CoderMayhem commented on #549
@rutvik11062000 any updates on this issue?

[2021-04-16 06:21] CoderMayhem commented on #549
@Sagar2366 @DeltaHarbinger this issue can be closed now. The associated PR has been merged.

[2021-04-16 06:25] #549 closed

[2021-04-16 06:30] Raunakk02 commented on #664
@CyberWake, please have a look at issue #537 and also at the comments in PR #591.

[2021-04-16 08:08] yasharth291 commented on #624
thanks @Sagar2366  sir please assign me this

[2021-04-16 10:21] Sagar2366 commented on #488
@Enigma04 what is progress on this issue ?

[2021-04-16 10:24] Sagar2366 commented on #347
@utkarshshendge please send PR to resolve this issue.

[2021-04-16 12:55] sumitra19jha commented on #578
@Sagar2366 Can I work on this issue and come up with a solution to separate the error message with the empty list message?

[2021-04-16 14:13] Sagar2366 commented on #578
Let me send reminder one more reminder to @Hrishikesh-Bhagwat , are you willing to continue working on this issue ?

[2021-04-16 15:48] StrangeNoob commented on #623
@Hrishikesh-Bhagwat Sorry to bug you on this. But as I have remembered correctly in Talawa's meeting, @palisadoes have said to minimize the use of third-party services. Just confirming Has he allowed the third-party services?

[2021-04-16 19:33] yasharth291 commented on #230
hello @CyberWake  is this issue resolved?

[2021-04-16 19:35] CyberWake commented on #230
@yasharth291 yes the issue is fixed now

[2021-04-16 20:20] yasharth291 commented on #230
Thanks @CyberWake  for solving this issue please try to mention Fixes #issuenumber to automatically close the issue with pr merge

[2021-04-16 20:20] #230 closed

[2021-04-17 07:42] arteevraina commented on #655
@Sagar2366 The scenario you mentioned cannot be tested because the user cannot leave the created organization. Instead, it can only be removed. In other scenarios, my PR is working fine.

[2021-04-17 11:44] CyberWake opened #673 "[Bug]- Error handling after response retrieval not checking for all cases."
* **Issue Description:** <Add brief description about issue or feature you want to add.>
There are two use case when the server don't retrieve the data:
```Access Token has expired. Please refresh session.```
```User is not authenticated```
The error handling on every screen only checks for one i.e. ```User is not authenticated```
This needs to be upgraded as it causes error on some actions i foun

[2021-04-17 13:52] utkarshshendge commented on #347
@Sagar2366  Sir, I did the changes to my local repository as soon as I created the issue. I did not create a PR because of Code Freeze.
Creating a PR in few minutes :)

[2021-04-17 16:33] yasharth291 opened #674 "After joining organization the profile page shows no organization joined"
BUG

How to occur it

Just login and join any organization and go to the profile page. You will find this bug

Vedio

https://user-images.githubusercontent.com/55004621/115119992-b4c4bd00-9fc8-11eb-842c-636cd5c1a1d9.mp4

Expected behavior the name of the current organization should be shown

[2021-04-17 16:34] yasharth291 commented on #674
@Sagar2366  I would like to work on it sir

[2021-04-17 16:37] yasharth291 opened #675 "Adding logging with Flog in whole app to catch error effciently"
ENHANCEMENT

Adding logs for the warnings and errors coming is really important we can add them with the help of Flog library in the flutter

[2021-04-17 16:38] yasharth291 commented on #675
I would love if someone can work on it as I have been already assigned some other issues :)

[2021-04-17 18:34] StrangeNoob commented on #675
Hey, @yasharth291 I would love to work on this. I do have a similar issue opened in #427. So I don't have a problem working on it. @Sagar2366 Can you assign this to me?

[2021-04-17 18:48] yasharth291 commented on #675
sure brother you can work on it if mentors allow you

[2021-04-17 20:39] Hrishikesh-Bhagwat commented on #674
I think there is an issue about org not showing

[2021-04-18 02:56] CyberWake commented on #674
PR #607 will fix this issue automatically

[2021-04-18 05:23] yasharth291 commented on #674
Is there any issue opened like this already if yes can you please mention it here @CyberWake

[2021-04-18 07:00] CyberWake commented on #674
The issue number is #514 it is stat  to auto-update members page in any case of change in current orgID via profile page.
And this indirectly updates the profile page as well due to the option of switch orgID existing over it
As well as the issue was further appended to other screens to auto update on suggestion of @Sagar2366 sir

[2021-04-18 07:01] yasharth291 commented on #674
ok brother i am closing this issue as it is a duplicate one. Thanks @CyberWake

[2021-04-18 07:01] #674 closed

[2021-04-18 07:02] CyberWake commented on #674
Sure bro 🙂

[2021-04-18 11:34] abhishekak048 opened #678 "Sign up error"
Describe the bug
I can't able to Create account in Talawa app.

Error
RangeError (Range Error : value not in range : 16)

![Screenshot_2021-04-18-17-01-29-07_b0d79c17f76dc7231206b6364e70b267](https://user-images.githubusercontent.com/54079908/115143994-d88b1000-a067-11eb-9883-8b55c80d3010.jpg)

![Uploading Screenshot_2021-04-18-17-01-29-07_b0d79c17f76dc7231206b6364e70b267.jpg…]()

![Screenshot 202

[2021-04-18 11:41] arteevraina commented on #678
Hi @abhishekak048 ! Are you using org url as https://talawa-graphql-api.herokuapp.com/graphql ?

[2021-04-18 12:05] abhishekak048 commented on #678
No
Thanks for helping ☺️

[2021-04-18 12:05] #678 closed

[2021-04-19 05:26] abhishekak048 commented on #413
Can I work on this issue ?

[2021-04-19 06:50] sumitra19jha commented on #413
Due to code freeze it's currently under hold

[2021-04-19 08:57] 01mahdivalipoor commented on #542
Has anyone solved this problem?

[2021-04-19 10:37] #609 closed

[2021-04-19 15:38] #330 closed

[2021-04-19 15:47] CyberWake commented on #542
Yes this issue is been solved as soon as the PR gets merged.

[2021-04-19 15:50] #477 closed

[2021-04-19 15:54] #463 closed

[2021-04-19 15:57] #542 closed

[2021-04-19 16:00] #575 closed

[2021-04-19 16:15] #655 closed

[2021-04-19 16:20] #660 closed

[2021-04-19 16:21] #624 closed

[2021-04-19 16:24] #347 closed

[2021-04-19 16:26] #617 closed

[2021-04-19 16:26] yasharth291 commented on #634
is this issue still open if yes I want to work on it @Sagar2366  sir

[2021-04-19 16:26] #616 closed

[2021-04-19 16:26] #615 closed

[2021-04-19 16:26] #614 closed

[2021-04-19 16:29] yasharth291 commented on #488
@Sagar2366  Sir can i work on this if no one is doing it

[2021-04-19 16:29] yasharth291 commented on #488
@Sagar2366  Sir can i work on this if no one is doing it

[2021-04-19 17:11] sandeep-v1404 commented on #634
@yasharth291 I am new to Flutter, u can take up this task .

[2021-04-19 17:17] yasharth291 commented on #634
thanks sandeep @Sagar2366 sir could you assign me this

[2021-04-19 17:20] yasharth291 commented on #634
thank u so much sir working on it now

[2021-04-19 18:13] StrangeNoob commented on #488
@Sagar2366 i would love to work on this. If it's available

[2021-04-20 03:53] DeltaHarbinger opened #680 "Code Formatting needs to be added to contributing guidelines"

[2021-04-20 03:57] DeltaHarbinger commented on #680
See #681 for changes to Contributing.md file

[2021-04-20 08:54] Enigma04 opened #682 "Draggable Scrollable Sheet in Event tab doesn't have smooth animations"
Issue Description:
No smooth animations when dragging up and down the Draggable Scrollable Sheet in the Events tab

Expected Behaviour:
Animations should be smooth

Snapshots/Videos:

https://user-images.githubusercontent.com/32870564/115367961-41979280-a1e4-11eb-8516-c260474b6dec.mp4

Are you willing to work on this issue:
Yes

[2021-04-21 09:08] Hrishikesh-Bhagwat commented on #680
Can you assign me this?

[2021-04-21 14:55] #680 closed

[2021-04-21 16:28] nayakastha opened #684 "Shifting the routes and its declaration to another file from "main.dart""
-Issue Description:
Organizing routing in large applications is very important so that it's easy to find and maintain in the future.
It would be highly beneficial for the app to move the lines of code related to coding to a new file rather than the main.dart

-Issue Severity: low

-Does this issue need immediate attention? It can be a good step to enhance the efficiency of routing the large app.

[2021-04-21 18:40] #659 closed

[2021-04-21 18:42] sumitra19jha commented on #636
@Sagar2366 Can I fix this bug?

[2021-04-22 03:42] Sagar2366 commented on #636
@sandeep-v1404 is working on this issue. He will open new PR to fix the issue.

[2021-04-22 04:00] nayakastha commented on #474
We can have animated onboarding screens for the tour through the app.
Can be a really nice way to familiarise the app for the new users. These screens can also be used later for guiding the users when they need help. It can serve as a guide to use various features considering the designs are not very intuitive.

[2021-04-22 09:36] sumitra19jha commented on #636
Ok sir

[2021-04-22 11:24] OnyemaAnthony opened #686 "[bug] task deadline is null"
**Issue Description**
    when the users task deadline is null it show the error
   **Observed Behaviour**
      when the user tries to check his or her task lists the application crashes
    **Expected Behaviour**
     The user should be able to view there tasks list without any problem
   ** Steps to reproduce issue**
     1. Go to members screen
     2. click on the list of user which task dead

[2021-04-22 11:25] OnyemaAnthony commented on #686
![Screenshot_20210422-100258](https://user-images.githubusercontent.com/50530242/115706638-c9f17100-a365-11eb-845c-3713db1042c9.png)

[2021-04-22 11:55] StrangeNoob opened #687 "[Bug] Error handling after response retrieval to get Refresh Token"
**I6sue Description**

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; There is two use case when the server doesn't retrieve the data:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         1. `Access Token has expired. Please refresh session.`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;         2. `User is not authenticated.`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The only first exception is caught,

[2021-04-22 12:46] Enigma04 opened #689 "Event calendar indicating the wrong format of how the calendar is being displayed"
Issue Description:
 On the event's page, the calendar button on the top right shows the format which is not true to what it shows.
Eg: 2 weeks is showing Calander of a month and the Week shows the calendar content of 2 weeks, etc.

This can cause a new user to get confused as the button doesn't do what it indicates it will.

Issue Screenshots:
![WhatsApp Image 2021-04-22 at 6 07 26 PM (1)](https:/

[2021-04-22 13:55] StrangeNoob commented on #687
@Sagar2366  Can you assign this to me ?

[2021-04-22 14:10] StrangeNoob commented on #673
@CyberWake Do you find any other then these exceptions ?

[2021-04-22 16:07] palisadoes opened #691 "Lint the Code Base - Top Priority"
We were having a large number of issues with code conflicts due to unlinted code. [We have now added automated linting to the PR process](https://github.com/PalisadoesFoundation/talawa/pull/681), but will need to lint the entire codebase to this new standard.

[Linting will include following the steps in the automation script shown here](https://github.com/PalisadoesFoundation/talawa/commit/cbd592

[2021-04-22 16:13] sumitra19jha commented on #691
Please assign me this issue.

[2021-04-22 16:19] Neha62-lit commented on #691
I already opened this issue, but my PR on hold.
Issue no #400

[2021-04-22 16:26] palisadoes commented on #691
@Neha62-lit Would Pedantic create a differences in the output when compared to the approach we are using?

[2021-04-22 16:37] palisadoes commented on #400
@Neha62-lit How would adding this PR into #691 help?

What I'd like is a way for:

1. Linting to occur prior to PR submission
2. A final linting afterwards upon doing the PR. Preferrably the same rules being applied in both cases.

Having two two different linters could get us back to the same issue that prompted the freeze.

[I've seen this approach too.](https://github.com/PalisadoesFoundation/t

[2021-04-22 17:10] sumitra19jha commented on #400
@palisadoes I think @Neha62-lit needs to do some modifications. The PR need some changes. The `analysis_options.yaml` need to include `anylzer: errors` also as the requirement is to make sure that linting occur both prior and afterwards. Also the error and style rules needs changes

[2021-04-22 17:18] sumitra19jha commented on #400
The PR is breaking that needs to be fixed too. Also the first thing first Dart Analyser issues need to be resolved.

[2021-04-22 17:35] CyberWake commented on #673
not yet other than the one stated in new issue #687 and I feel this doesn't  need to have multiple issues we have to implement it as a whole in every page which retrieves data.

[2021-04-22 17:37] Sagar2366 commented on #400
@Neha62-lit we really appreciate your efforts to solve this issue and research done by you.
This come as priority for us and need to get it resolved by tonight to lift up code freeze amd allow students to contribute in fully lint code base.

As we discussed you have some college work that's why won't be able to fix this issue immediately.
@sumitra19jha can you spend some time on this and get it fi

[2021-04-22 17:47] Neha62-lit commented on #400
Okay, No problem!!
and Thank you for giving me this opportunity.

[2021-04-23 02:47] OnyemaAnthony opened #692 "[bug] display circle loader in switch organization"
**Issue Description:**

   i want to add a circle loader when the list of organization is being fetched from the database in switch organization screen

**Issue Severity:** low

**Observed Behaviour:**

   when users go to switch organization screen before the list of items are displayed the screen is blank

**Expected Behaviour:**

   when you go to switch organization before the list of organiza

[2021-04-23 02:52] OnyemaAnthony commented on #692
https://user-images.githubusercontent.com/50530242/115811190-2b0d5900-a3e7-11eb-97a4-398ea106a2b8.mp4

[2021-04-23 12:22] CyberWake commented on #692
I think making another call to server to fetch the joined organizations would be costly. We already have the list of user joined organizations on profile page so passing them to switch organization page would be much more optimized and there won't be a need of circular progress indicator.

[2021-04-23 13:37] OnyemaAnthony commented on #692
@Sagar2366 please assign this to me let me fix it asap

[2021-04-23 13:55] Sagar2366 commented on #692
@OnyemaAnthony check input from @CyberWake .

[2021-04-23 14:13] OnyemaAnthony commented on #692
@CyberWake so I guess I have to close the issue ?

[2021-04-23 18:14] StrangeNoob commented on #673
@CyberWake rather than checking the substring of the exception, how about we use contains() to check the exception? I think it is the more robust method? What's your take?

[2021-04-23 18:35] palisadoes commented on #691
@sumitra19jha Use this issue to lint the develop branch. [Use this method to automatically close the issue when the PR is completed.](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue)

[2021-04-23 20:07] #691 closed

[2021-04-24 00:08] palisadoes opened #700 "GitHub action to flag large Dart files when submitted in PRs"
We have a situation where some `.dart` files in the repository are too big. Components are not created in separate files to make code easily reusable.

1. One way to prevent this inefficient practice from entering all branches is to flag large `.dart` files when submitted.
1. This should be a separate PR check that fails when files are longer than `X` lines. You can discuss how long `X` is with a

[2021-04-24 00:46] CyberWake commented on #673
Yeah the contain method is being used by me. Have created a list of the two errors ```user not authenticated``` and ```access token expired```
Then check for these two errors if condition stands true generating a new token else show the particular graphql error to user if there is no graphql error check for server expections show the same two the user.

[2021-04-24 00:48] CyberWake commented on #673
Have worked upon join,create and remove actions stated in the PR. After we fix the found actions we can updated the handling on each page fetching data from server.

[2021-04-24 00:50] CyberWake commented on #673
Btw you found the comment action was also not working. I adding this in the discription as well. Let's fix the actions found first together and then work on other pages.

[2021-04-24 00:54] CyberWake commented on #673
@Sagar2366 sir can you please guide us on how should we create PR as there will be a lot of files to be changed as almost every page fetches data from server.
Help us with a solution for fast reviewal of PRs for the fix.

[2021-04-24 03:09] CyberWake opened #701 "[Bug] - Build fail due to use of compatible file_picker version fetched with any with other dependency"
- **Issue Description:**
Due to the use of any version in the ```pubspec.yaml``` it fetches the version compatible with other dependencies. Resulting in fetching the previous versions which are compatible with the other dependencies of ```path_provider```,```graphql_flutter``` and ```http``` etc.

- **Issue Severity:** <High or Medium orLow>
High, this causes build fail and hinders other issues to

[2021-04-24 05:47] StrangeNoob commented on #700
@palisadoes I need to clarify a little bit. What about the business logic and queries?  All these files gonna a big. Dividing them will be a bit odd. But I am ready to work on this issue if its free.

[2021-04-24 05:56] palisadoes commented on #700
This is primarily aimed at making the screen related component files more reusable. If you feel that a that the business logic and queries should be excluded, then those files would need to be placed in directories / folders that would be configured to be ignored.

[2021-04-24 07:14] yasharth291 commented on #240
@Sagar2366 sir should i start work on this too

[2021-04-24 07:28] StrangeNoob commented on #700
Thanks for the input @palisadoes. I will discuss with @DeltaHarbinger,  @Sagar2366, and @heyjordn about the file length size.

[2021-04-24 14:41] #634 closed

[2021-04-24 15:05] palisadoes commented on #673
@CyberWake
1. Have you written successful tests for your change?
2. If so, please make sure the code lints correctly and submit the pull request.

It looks like an important bug, so we will give it priority.

[2021-04-24 15:08] #427 closed

[2021-04-24 15:08] #675 closed

[2021-04-24 15:11] palisadoes commented on #701
@CyberWake  This may not be a bug. Please check @sumitra19jha both here an on the slack channel to verify if this is so.

[2021-04-24 15:20] sumitra19jha commented on #701
This is not causing any linting problem. I verified this.
Major problem might be due to the code formatter. I request you to make sure your run for `flutter format .` is successful.

I also pushed a PR#704 resolving an issue and if you want you can check the `pubspec.yaml` of that PR. The use of `any` is not causing any conflict.

[2021-04-24 15:36] #692 closed

[2021-04-24 15:39] palisadoes commented on #632
@gourav1486

1. Are you still working on this?
1. Has it been resolved since you submitted the issue?

Please close if resolved or have decided to abandon it.

[2021-04-24 15:44] palisadoes commented on #684
@nayakastha are you on our slack channel? Ritik Kumar Srivastava is working on something similar and is thinking of streamlining the file structure.

Are you on our slack channel? The link is: https://join.slack.com/t/thepalisadoes-dyb6419/shared_invite/zt-oz2w954k-xMjzQ4Q3zfEIEJcOF6KdmQ

[2021-04-24 15:47] palisadoes commented on #196
Please use our issue template to provide more information about what you are proposing to do.

[2021-04-24 15:49] palisadoes commented on #341
@GMGOG Please use our template to explain how you propose to fix the issue. For example do you have a screen shot of what the user experience would be if there is a loss of communication?

[2021-04-24 15:50] palisadoes commented on #422
@Enigma04 please proceed.

[2021-04-24 15:54] palisadoes commented on #240
@yasharth291 Can you give priority to #438? The improved over all performance of the app should take precedence

[2021-04-24 15:56] palisadoes commented on #409
@ayushs136  Can we close this? A related issue by you was merged into the code base.

[2021-04-24 15:58] palisadoes commented on #201
@yasharth291 As this is a feature. Apply the PR to the develop branch

[2021-04-24 15:59] palisadoes commented on #438
@yasharth291 As this is a feature. Apply the PR to the develop branch

[2021-04-24 16:00] palisadoes commented on #526
@sainiteshb Please work on this as the freeze has been removed.

[2021-04-24 16:04] yasharth291 commented on #438
Sure Sir working on this now

[2021-04-24 16:05] #578 closed

[2021-04-24 16:05] yasharth291 commented on #240
Sure sir I am first working on that issue

[2021-04-24 16:07] nayakastha commented on #684
Hey! I will surely join the slack channel. I discovered about Pallisadoes through Github Externship Org List.
I Will surely catch up on the latest discussions and try to contribute as well.
Thank You

[2021-04-24 16:08] palisadoes commented on #77
@i-anuragmishra The code freeze has been lifted please proceed with this. We have refactored the code, so you will need to fetch and merge with the upstream repo

[2021-04-24 16:09] palisadoes commented on #76
@pratikbaid3 We have reopened the code freeze. Please proceed with this under the guidance of @jordanliu and @DeltaHarbinger

[2021-04-24 16:13] palisadoes commented on #168
@sumitra19jha The code freeze has been lifted. Please merge this to the develop branch as it is a feature enhancement.

[2021-04-24 16:17] palisadoes commented on #547
@rutvik11062000 The code freeze has been lifted. Please proceed.

[2021-04-24 16:18] sumitra19jha commented on #168
Sure.

[2021-04-24 16:35] i-anuragmishra commented on #77
Okay @palisadoes will do.

[2021-04-24 17:16] yasharth291 commented on #201
ok sure sir  but i think it will require the backend work as well

[2021-04-24 17:56] CyberWake commented on #673
@palisadoes sir I'll make sure to update the branch with the lint before sending a PR.

[2021-04-24 19:16] sumitra19jha opened #708 "[Bug] Required Parameter missing in News Article Screen"
## Issue Description:
required parameter `index` is missing for the news article screen

## Issue Severity:
Low

## Observed Behaviour:
Warning is shown on command line

## Expected Behaviour:
Parameter should be provided

## Steps to reproduce issue:
1. Open Code base
2. Open lib/views/pages/newsfeed

## Snapshots/Videos:
![Screenshot 2021-04-25 at 12 38 56 AM](https://user-images.githubuserconte

[2021-04-24 20:41] palisadoes opened #710 "Remove The Creation of Organizations in The App"
This will require coordination with the person [working on talawa-admin installation](https://github.com/PalisadoesFoundation/talawa-admin/issues/18)

1. The ability for any user to create new organizations in the mobile app must be removed. This removes the centralized control that many organizations want.
1. Until further notice we want the creation of new organizations to be completely managed

[2021-04-24 21:15] sumitra19jha commented on #710
I want to work on this

[2021-04-24 21:18] sumitra19jha commented on #710
I have few ideas which need Talawa-Backend modification. In the user data model, we can add a new boolean parameter called orgCreationAllowed. If admin set the field value of that parameter to `true`. Then only user can create the organisation.

[2021-04-24 22:11] palisadoes commented on #474
@shikharsaurav Please proceed. The freeze has been lifted.

[2021-04-24 22:13] palisadoes commented on #419
@Raunakk02 Please proceed, the freeze is now lifted.

[2021-04-24 22:17] palisadoes commented on #186
@Swayam221 Please proceed. What do you propose if the app is used in a country where most people don't have an email address?

We were thinking of having pre-defined admin users being able to admit their friends or community members through a QR code system between phones as an alternative. Do you think there is a way to do this too that is as secure as email?

[2021-04-24 22:33] palisadoes commented on #194
@yasharth291  Is this still an issue?

[2021-04-24 22:35] palisadoes commented on #192
@Bhavay192 Are you willing to work on #231 as @yasharth291 suggested?

[2021-04-24 22:39] palisadoes commented on #543
@Gourav2000 The code freeze is lifted. Are you still able to work on this?

[2021-04-24 22:47] palisadoes opened #711 "UI/UX Login page does not match the look and feel of the rest of the app"
The app generally uses either a plain white or black background depending on whether light / dark mode is deployed.
The home screen with the clouds does not match this look.

![image](https://user-images.githubusercontent.com/16875803/115974832-7bcea000-a514-11eb-9233-231bbc9b7360.png)

We need a look similar to that of global apps like Instagram or WhatsApp where there is a small app logo on a pl

[2021-04-24 23:39] palisadoes opened #712 "More Attractive and Consistent UI/UX Design"
## Skills Required

Someone with a specialization in UI/UX as a course of study or as their profession. We need a design that can compete against Google and Facebook.

## Summary of Issue

The UI/UX has a number of shortcomings. For example:

1. The orange and white color scheme has too much contrast.
2. The calendar uses blue to highlight event days. This color is not consistent with the rest of

[2021-04-24 23:51] #708 closed

[2021-04-25 03:58] yasharth291 commented on #194
yes sir we have to change the backend for it as there is no index as likedby in the comment entity

[2021-04-25 04:35] nayakastha commented on #711
I want to work on this issue.  Since the entire UI is supposed to be revamped, I feel we should choose a palette and keep it consistent starting from the login screen.

Neutral whites and Pastel colours might be a good option, considering the colours in the logo of Palisadoes.

[2021-04-25 04:38] utkarshshendge commented on #711
@palisadoes the UI design is a part of the GSOC program right?
Please correct me if I am wrong.

[2021-04-25 05:33] pr4nshul opened #714 "[Feature] Exception should be also visible to user."
**Issue Description:**
Right now exceptions are only printed in the console log , only a few errors are being shown to the user majority of which handle login and sign up. Yes, we do need to work on those exceptions in the background but until we are resolving those exceptions . User should know why aren't they able to register for an event in case of access token exception etc.
 **Issue Severity:

[2021-04-25 05:49] sainiteshb commented on #526
Yes, I will be working on this. Happy to say that looking forward to the chance to work with you guys through GSoC 😊

[2021-04-25 06:22] ayushs136 commented on #409
Yeah sure

[2021-04-25 06:22] #409 closed

[2021-04-25 08:57] Swayam221 commented on #186
@palisadoes For a country without email addresses, wouldn't we have to change the registration system entirely as right now, a user must register with an Email?

[2021-04-25 11:37] CyberWake opened #715 "Refactoring of codebase and separation on data/UI"
- **Issue Description:** <Add brief description about issue or feature you want to add.>
This issue is raised to refactor the code base to increase the readability and future maintainability, Following things could be done to refactor the code and can be worked upon as a child issue individually.
   - [x] Migration of all the success and error toast to a common widget in ```success_toast.dart```

[2021-04-25 13:15] palisadoes commented on #194
Can you ask someone in the API slack channel to provide that?

[2021-04-25 13:15] yasharth291 commented on #194
ok sir

On Sun, Apr 25, 2021, 6:45 PM Peter Harrison ***@***.***>
wrote:

[2021-04-25 13:18] utkarshshendge commented on #715
@Sagar2366  sir, I would like to work on the first child issue. Should I create an issue for it?

[2021-04-25 13:24] palisadoes commented on #711
@utkarshshendge  The UI really needs to be fixed. I opened an issue #712 about this. We have the UI/UX mentioned in our ideas page, but the GSoC and GitHub externship programs focus on coding ability. We need someone with a UI/UX focus to do a comprehensive review.

Using a lightly modified stock Figma design won't be enough. We need an original look.

[2021-04-25 13:30] utkarshshendge commented on #711
@palisadoes I have created the UI design for Talawa. Your opinion on it will be of great help.
There is no need to build the Code as I have Included Screenshots in the Readme file.
Here is the link: https://github.com/utkarshshendge/t-sample-ui

[2021-04-25 13:47] palisadoes commented on #715
@utkarshshendge Create all six child issues first so others can work on them. Reference the child issues in this one. We'll assign the one of your choice to you.

[2021-04-25 13:48] yasharth291 commented on #194
Sir i will work on the same on day after Tomorrow on this @palisadoes

[2021-04-25 13:54] utkarshshendge commented on #715
Hi @CyberWake, many times it's necessary to wrap the Container in Align, padding, etc to get the desired behaviour.
I was not able to find a case where there is the unnecessary wrapping of child widgets.
Could you please mention such a case?

[2021-04-25 14:15] AdityaBirangal commented on #359
@jordanliu
Peter has renamed the slack channel from “ge-newissues” to “github-externship”.
Kindly update it to point number 3. To avoid further confusion. :)

[2021-04-25 14:21] utkarshshendge opened #716 "Migration of all toasts to a common widget"
- Parent issue : #715
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Migration of all the success and error toast to a common widget in` success_toast.dart`
The widget here needs some modifications to make it universal. Like it needs two required parameters `message` and` isSuccess `with an option parameter duration. After which this widget needs to be use

[2021-04-25 14:22] utkarshshendge commented on #716
I would like to work on this.

[2021-04-25 14:30] utkarshshendge opened #717 "Remove unused organization controller"
- Parent issue : #715
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Currently, in the codebase, there are two controllers named` OrgController `in two different files named `org_controller.dart` and `organization_controller.dart`. Where the` OrgControllerdefined` in `organization_controller.dart` is not used in the project this file needs to be deleted.

[2021-04-25 14:33] CyberWake commented on #715
That was just a reference example plus is this is found anywhere then for padding as parent we may use margin property of container and for align the container itself has a alignment property to do so with it's child.

[2021-04-25 14:42] utkarshshendge opened #718 "Reduce unnecessary wrapping of child widgets."
- Parent issue : #715
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Reducing unnecessary wrapping of child widgets in all the files when not needed and when the desired output could be achieved with the child property itself eg: Container wrapped in Align or Padding widget, Nested Row, and Columns``` etc.
- **Issue Severity:** <High or Medium orLow>
Low
-

[2021-04-25 14:56] utkarshshendge opened #719 "Modification of Loading widget to make it a universal loading widget"
- Parent issue : #715
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Modification of widget declared in` loading.dart` to make it a universal loading widget. This widget can be provided with properties like` isCurrentOrgNull` resulting in asking the user to join an organization, `isNetworkError` resulting in showing an error image and appropriate text, ref

[2021-04-25 15:11] utkarshshendge opened #720 "Create classes to store the response map."
- Parent issue : #715
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Need to modify data modal classes in the project for easy conversion of JSON maps to class objects enabling easy traversal and retrieval of response data accessibility. As currently everywhere the response map is directly iterated to the search key which doesn't come in handy at every pla

[2021-04-25 15:27] utkarshshendge opened #721 "Separate business logic from UI"
- Parent issue : #715
- **Issue Description:** <Add brief description about issue or feature you want to add.>
Making a universal class that stores all the data fetching functions which are currently written individually for each and every file for their own use. Doing so would help in separating the Data fetching functions to a separate place and UI in a separate place. Also, there is an advantag

[2021-04-25 15:32] sumitra19jha commented on #721
Can I work on this @palisadoes ?

[2021-04-25 17:51] palisadoes commented on #712
Based on feedback I'll close this and any related issues. I'll move the design guidelines to Talawa Docs. The content will focus on very broad style guide items and will de-emphasize very specific design elements.

[2021-04-25 17:51] #712 closed

[2021-04-25 17:56] #270 closed

[2021-04-25 18:12] #662 closed

[2021-04-25 18:21] #413 closed

[2021-04-25 18:26] #701 closed

[2021-04-25 18:28] Sagar2366 commented on #684
Create child issue under https://github.com/PalisadoesFoundation/talawa/issues/715 if anything missing, should get fixed as part of the parent issue there.

[2021-04-25 18:28] #684 closed

[2021-04-25 18:33] Raunakk02 commented on #719
Can I work on this issue @Sagar2366 sir?

[2021-04-25 18:37] #661 closed

[2021-04-25 18:38] #664 closed

[2021-04-25 19:30] StrangeNoob commented on #700
@palisadoes Issues like  #716  #718  #719  #720 will decrease the size of the code as discussed by us in the Slack. Should create a PR  now or after there are merged ?

[2021-04-25 19:53] StrangeNoob commented on #720
@Sagar2366 I am free I can work on this.

[2021-04-25 20:11] palisadoes commented on #715
@CyberWake  please add all the child issues @utkarshshendge created to the first comment of the issue. That will help a lot with the resolution

[2021-04-25 20:21] palisadoes commented on #700
@StrangeNoob There will never be a good time to implement this. We can ask contributors to refactor, referring them to #715 when their PR submission fails.  @Sagar2366 may have some suggestions.

@StrangeNoob you were thinking of a 400 line limit correct?

[2021-04-25 20:23] #687 closed

[2021-04-25 20:35] StrangeNoob commented on #700
Actually, I made a bash file that takes argument for the line limit and can be changed in the near future. With 400 lines of code, 86 files are cover out of 95. I think Its a great number. I do have [spreadsheet](https://docs.google.com/spreadsheets/d/1pESR5kl7sdqx8rD3qnhzVc5t4VLYKzMr-lcGkV3jS4s/edit?usp=sharing) for other mentor to have statical view.

[2021-04-26 03:54] nayakastha commented on #718
@palisadoes I wish to work on this issue.

[2021-04-26 03:59] palisadoes commented on #715
The following child issues have been created from this parent:

1. Reduce unnecessary wrapping of child widgets. #718
1. Modification of Loading widget to make it a universal loading widget #719
1. Create classes to store the response map. #720
1. Separate business logic from UI #721
1. Migration of all toasts to a common widget #716
1. Remove unused organization controller #717

[2021-04-26 04:03] palisadoes commented on #715
@CyberWake I just realized that all the child issues that @utkarshshendge  created have been assigned to others.

1. Do you have any other suggestions to add as issues?
1. Do you want to work jointly with the others who have been assigned. For example have them connect with you about how they want to approach the tasks?

Are there any other ways you'd like to work with this?

[2021-04-26 04:11] #700 closed

[2021-04-26 04:30] palisadoes opened #725 "Convert Dart GitHub "Line Counting" action to Python3"
**Is your feature request related to a problem? Please describe.**

Issue #700 was created to help improve Dart file code quality by limiting the size of files submitted in pull requests. This issue was closed with pull request #724

PR #724 created these two files:
1. [countline.sh](https://github.com/PalisadoesFoundation/talawa/blob/master/.github/workflows/countline.sh)
1. [countlines.yml](http

[2021-04-26 04:35] palisadoes commented on #718
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 04:35] palisadoes commented on #720
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 04:35] palisadoes commented on #721
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 04:35] palisadoes commented on #716
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 04:35] palisadoes commented on #715
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 04:36] palisadoes commented on #719
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 04:37] palisadoes commented on #717
Issue #700 has now been integrated into the pull request process. It will flag all Dart files that are longer than 300 lines to help with readability. Please make sure your contribution reduces file sizes to within this limit.

[2021-04-26 06:18] StrangeNoob commented on #720
Sure @palisadoes I will keep this in mind while sending PR.

[2021-04-26 06:19] StrangeNoob commented on #334
closes #334 via #518

[2021-04-26 06:45] StrangeNoob commented on #720
@palisadoes As This will add more class in the model. I was thinking of changing the directory structure. It will look something like this.
[code]
@Sagar2366, @palisadoes Can you share your views? @utkarshshendge & @sumitra19jha  I will love to take your suggestion on this.

[2021-04-26 07:10] CyberWake commented on #721
@palisadoes and @Sagar2366 can I also work in with @sumitra19jha on this issue.

[2021-04-26 07:30] utkarshshendge commented on #720
@StrangeNoob your approach looks fine. It will make the code more readable and it will be easy to add tests.

[2021-04-26 07:37] Raunakk02 commented on #719
Sure @palisadoes !

[2021-04-26 09:17] sumitra19jha commented on #720
@StrangeNoob Can you elaborate a little what you mean
Like the data model are to be build keeping the backend responses in mind. For example: Comment data model will contain `comment text` and `post id`. The same is the case with user information which will contain `first name`, `last name`, `email` etc. They both are build keeping backend response in mind.

Also, is it good to name a model `fetch

[2021-04-26 09:25] sumitra19jha commented on #725
@palisadoes I have previously worked in Python 3 but I have never implemented this work in any of the previous flutter projects I have worked on. But still, I would like to take up this issue and resolve it. It will increase my knowledge.

[2021-04-26 11:44] palisadoes commented on #725
1. [Use os.walk](https://docs.python.org/3/library/os.html)
1. [Here's an example](https://www.tutorialspoint.com/python/os_walk.htm]

Please focus on readability and compliance with the pip3 packages mentioned.

[2021-04-26 12:33] sumitra19jha commented on #725
Sure @palisadoes

[2021-04-26 12:42] pr4nshul opened #730 "[Bug report]Overflowing pixels in event_detail page"
**Describe the bug**
Pixels are overflowing if we go into event detail page.
**To Reproduce**
Steps to reproduce the behavior:

1.Go to event
2.Click on more on a certain event

**Expected behavior**
No overflow should take place

**Actual behavior**
18 pixels overflowed on nexus 5X

**Screenshots**
![Screenshot_20210426-171409](https://user-images.githubusercontent.com/51524156/116084034-f9341500

[2021-04-26 13:09] palisadoes commented on #725
@sumitra19jha Also use [Argparse](https://docs.python.org/3/library/argparse.html) instead of getting the argument using $1

[2021-04-26 13:13] sumitra19jha commented on #725
Ok I will do that

[2021-04-26 13:32] palisadoes commented on #478
FYI - @rutvik11062000 We also have a parent issue  #715 for a general refactoring of the code

[2021-04-26 13:53] palisadoes commented on #721
@CyberWake I added you as you were the author of the original issue #715. Please work with @sumitra19jha to determine a way to figure out a layout that meets these goals.

[2021-04-26 13:55] CyberWake commented on #721
Sure sir

[2021-04-26 15:08] #714 closed

[2021-04-26 15:10] StrangeNoob commented on #720
@sumitra19jha  At a glance, New developer won't be having idea out the response of the every API Call. Converting the response JSON to a class will help it.
Right now,  I am not concerned with the name of the files but its directory structure?

[2021-04-26 15:22] sumitra19jha commented on #720
It's more about organizing codebase than anything else.

What is the purpose of data model?
It will make sure organized structure is followed throughout the project just like a data type. Currently, we make a request to server and use the response in crude form in the code itself. This is creating a log of confusion.

For example:
Let suppose I am a new developer going through codebase, somewhere

[2021-04-26 15:24] palisadoes commented on #359
This has been updated. Thanks

[2021-04-26 15:29] #717 closed

[2021-04-26 15:33] sumitra19jha commented on #721
Great. @CyberWake We will come with the best effective solution

[2021-04-26 15:37] sumitra19jha commented on #720
@CyberWake On our work on sepration of bussiness logic from UI, this creation of data model will help us in coming with great solution.

During refactoring, we can make sure all the logics are very well implemented using this data model rather than current response map.

[2021-04-26 15:51] StrangeNoob opened #735 "Adding Trailing Comma in the Dart File."
**Issue Description**
As we are in refactor mode, Adding trailing commas will increase the readability of the code. It will help us auto-format the code and auto-comment the ending widget.
| Before | After |
| --- | --- |
| ![Without Trailing Commas](https://user-images.githubusercontent.com/42904343/116110881-ba5e8900-a6d3-11eb-83d2-486dc4fe86cb.png ) | ![With Trailing Commas]( https://user-image

[2021-04-26 15:57] palisadoes commented on #735
Yes, this will increase the size of files, but the increase will be marginal in general. We need to stick with a limit. Let's see how the 300 line maximum works.

[2021-04-26 15:58] StrangeNoob commented on #720
@sumitra19jha Thanks for the input. I will put it model directory only.

[2021-04-26 16:04] StrangeNoob commented on #735
I don't have an idea about automating it. @sumitra19jha can we tweak analysis_options so it can help us?

[2021-04-26 16:07] #730 closed

[2021-04-26 16:09] palisadoes opened #736 "Pull Request Code Quality Automations"
We have spent some time refactoring the code base. Each pull request now automatically analyzes your code for undesirable characteristics.

1. The Dart Package Analyzer `dart-package-analyzer` ensures consistent formatting
1. We automatically evaluate each Dart file submitted to ensure they are all under 300 lines in length (To be enforced after May 22 2021)

Please ensure your submissions meet th

[2021-04-26 16:10] sumitra19jha commented on #735
I don't think so.
Plus adding trailing comma and then sticking with 300 lines will be a hurdle

[2021-04-26 16:12] StrangeNoob commented on #735
But with issue like #716 , #718 , #720 #721 may decrease the line of code significantly. Thats What I think.

[2021-04-26 16:15] sumitra19jha commented on #735
Still, when creating a single file to handle the business logic of a particular page like:
1. Getter
2. Setter
3. Request functin
4.  then Comments

This will take space

[2021-04-26 18:23] pr4nshul commented on #666
Close this issue if solved

[2021-04-26 18:39] Hrishikesh-Bhagwat commented on #666
No not solved. I got covid actually. I will make a PR tmrw, the code is ready.

[2021-04-27 18:51] palisadoes opened #738 "Prioritize Ordering of GitHub Actions"
We have an issue with the approval process of pull requests where our GitHub actions are being run in an incorrect sequence. This can be fixed using the [GitHub Actions jobs feature](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobs)

Requirements:

1. All GitHub actions must be defined in a single `.yml` file named `actions.yml` which will give us complete contr

[2021-04-27 18:59] palisadoes commented on #738
@sumitra19jha Please comment on this so I can assign it to you as we discussed in our slack channel

[2021-04-27 19:03] sumitra19jha commented on #738
Yes please assign me this issue

[2021-04-28 07:26] sumitra19jha commented on #168
One of the major issues that we are having currently is handling the scaling aspect of the database. As the number of organisation will increase, the current existing logic let the frontend client to first fetch the entire organisation data and then display it in the form of a list, and also the search capability is embedded with that fetched list. Therefore, the entire organisation's data needs t

[2021-04-28 07:28] sumitra19jha commented on #400
@Neha62-lit The work on this issue is done. Please close the issue

[2021-04-28 07:32] #400 closed

[2021-04-28 13:36] #738 closed

[2021-04-28 14:39] #663 closed

[2021-04-28 18:51] sumitra19jha opened #741 "Feature request for adding filter option in Create or Join Organisation Page"
**Is your feature request related to a problem? Please describe.**
The feature allowed the user to filter organisation list whether they are public or private. This will help user to navigate easily between the organisation of their choice.

**Describe the solution you'd like**
A popup menu that filters the list based on user choice.

**Describe alternatives you've considered**
Tab menu to display

[2021-04-28 18:52] sumitra19jha commented on #741
@Sagar2366 I created the issue as suggested by you in PR #722
Please assign me this issue

[2021-04-29 09:34] #594 closed

[2021-04-29 09:34] #716 closed

[2021-04-29 13:52] palisadoes commented on #718
@nayakastha Are you still working on this?

[2021-04-29 15:44] #725 closed

[2021-04-29 16:16] nayakastha commented on #718
Yes sir, I am working on this. I will send a PR by tomorrow. I was a bit caught up with health issues. Sorry for the delay

[2021-05-01 15:18] StrangeNoob commented on #735
@sumitra19jha Sorry to disturb you, I came across `part` and `part_of` of splitting files. Look at this https://stackoverflow.com/questions/49594307/how-to-split-dart-class-in-flutter.  It might help.

[2021-05-01 15:40] sumitra19jha commented on #735
Hi @StrangeNoob,
I hope you are good and healthy. I am not at all disturbed.

To the best of my knowledge, when we are talking about restricting code to 300 lines, we are doing so too make codebase more organized and structured.  For example: we want to shift logic into one controller file, and widgets into other file. In case of controller we further want to create a separate data model file. If

[2021-05-01 15:44] sumitra19jha commented on #736
@palisadoes Can I work on this issue?

[2021-05-01 15:57] sumitra19jha commented on #736
@palisadoes @Sagar2366  Can we update the contributing guideliness further.
Recently we have done a lot of changes and some are going on:

1. File Size limited to 300 lines
2. Linting should be followed
3. Separation of business logic form UI
4. Use SizeConfig file to scale the UI, rather than constant value

Some of them are missing in the documentation, and some needs to be elaborated more. Can

[2021-05-01 15:58] #419 closed

[2021-05-01 17:38] yasharth291 commented on #438
As i can see someone already has used and solved this problem using shared preferences. I am closing this issue

[2021-05-01 17:38] #438 closed

[2021-05-01 17:44] yasharth291 commented on #189
this issue  is also solved by someone closing it

[2021-05-01 17:44] #189 closed

[2021-05-01 18:48] yasharth291 commented on #194
@Sagar2366  @DeltaHarbinger  could you please assign me this @palisadoes  sir

[2021-05-01 18:54] DeltaHarbinger commented on #194
Hey @yasharth291, does the back end have support for this yet? Or does it still need to be implemented there?

[2021-05-01 19:00] yasharth291 commented on #194
yeah sir backend has support for this

[2021-05-01 19:01] yasharth291 commented on #194
i have just checked it for now i am adding like and unlike feature for the comments

[2021-05-01 20:02] ishandeveloper commented on #711
I'd like to work on revamping the whole UI for the app as a part of github externship, as It's such a great app for managing communities, but I feel that we can do a much better job with the UI of the app to make it much more usable and seamless for onboarding different kinds of users.

I've developed & designed few similar apps before and on the basis of user-feedback and analysis I received, I'v

[2021-05-02 08:44] CoderMayhem opened #745 "(Bug) Event list does not update on changing the timeline from "All" to "Today" in Sliding Panel"
**Describe the bug**
The displayed event list on the Events page is static and does not get updated on changing the timeline from "All" to "Today" in the `SlidingPanel` Widget.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Events tab from the Bottom Nav Bar.
2. Create 2 events at different dates.
3. Change the timeline using the `carouselSliderBar` in the Sliding Panel present ju

[2021-05-02 18:17] nayakastha commented on #735
Hey @palisadoes. I have partially worked on this issue that is changing all the print statements into debugPrint for reducing the production junk in PR #744. It would be great if I could complete this issue. Can you assign it to me?

[2021-05-03 14:12] palisadoes commented on #736
@sumitra19jha go ahead

[2021-05-03 14:14] sumitra19jha commented on #736
Ok

[2021-05-03 14:26] palisadoes commented on #711
@ishandeveloper @nayakastha We are evaluating all our GSoC proposals, Some of these students have suggested revamping the Talawa UI. We are pausing this until the formal GSoC announcements are made. Whether or not we select a GSoC UI/UX proposal, we will reopen this and other issues at that time. I'm certain we'll need more, not less assistance to get this done.

[2021-05-03 14:38] sumitra19jha opened #747 "Documentation updates for recent changes"
**Describe the bug**
Recently we have done a lot of changes and some are going on, for the developers to easily contribute and stay updated the documentation needs to be updated.

**To Reproduce**
Following things either needs to be added or elaborated more:
1. Go to README.md
2. Go to Contributing.md

**Expected behavior**
A clear and concise description of what you expected to happen:
1. File Si

[2021-05-03 14:39] sumitra19jha commented on #747
@palisadoes Please assign this issue to me

[2021-05-03 16:30] palisadoes commented on #735
@nayakastha Done.

[2021-05-03 16:40] palisadoes opened #748 "Update CONTRIBUTING.md for new style guidelines"
This issue is related to #736

These items need to be added:

1. File Size limited to 300 lines
1. Linting should be followed
1. Separation of business logic from UI
1. Use SizeConfig file to scale the UI, rather than constant value
1. Use Data Models

[2021-05-03 16:42] palisadoes commented on #748
Duplicate of #747

[2021-05-03 16:44] #748 closed

[2021-05-03 16:44] palisadoes commented on #747
@sumitra19jha I noticed that the GitHub automation that makes all new issues have the `unapproved` does not work. You'll need to review this. It is important that we have that.

[2021-05-03 16:48] palisadoes opened #749 "New issues not given the `unapproved` label in GitHub automations"
**Describe the bug**
New issues are no longer given the `unapproved` label in GitHub automations

**To Reproduce**
Steps to reproduce the behavior:

1. Create an issue.
2. Wait 5 minutes.
3. Label is not applied

**Expected behavior**
The `unapproved` label must be applied.

**Actual behavior**
The `unapproved` label is not applied.

**Screenshots**
If applicable, add screenshots to help explain y

[2021-05-03 16:50] sumitra19jha commented on #747
Ok. I am working on it

[2021-05-03 17:28] sumitra19jha commented on #749
I will fix this as soon as possible

[2021-05-03 18:14] #749 closed

[2021-05-03 18:17] sumitra19jha opened #751 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of how the code performed w.r.t expectations.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-05-03 18:18] sumitra19jha commented on #751
@palisadoes @Sagar2366 Its working now

[2021-05-03 18:18] #751 closed

[2021-05-03 21:10] sumitra19jha commented on #747
@palisadoes @Sagar2366
- The `services` folder contains files that should be the part of `controller` and `utils` folder. There is no need to have this separate `services` folder.
- The `view_models` folder contains files that should be part of `model` and `controller` folder. There is no need for this separate folder.

Should I remove both of this folder and move their files ?

[2021-05-04 15:37] palisadoes opened #753 "Automatically Add Trailing Comma to Dart Files During Pull Requests."
**Is your feature request related to a problem? Please describe.**
1. Issue #735 mentioned that we need to standardize on the code base formatting by consistently adding trailing commas to the code blocks.
2. Pull request #752 did this formatting manually. This is not a sustainable solution.

**Describe the solution you'd like**
We need an way to automatically add these commas as part of the pull

[2021-05-04 17:00] nayakastha commented on #753
[https://github.com/dart-lang/linter/pull/2557](https://github.com/dart-lang/linter/pull/2557) -> this is a discussion that might help to come to a conclusion.

[2021-05-04 17:25] palisadoes commented on #753
@nayakastha It looks like we'd have to run `dartfmt` then the [https://github.com/dart-lang/linter/pull/2557](https://github.com/dart-lang/linter/pull/2557) solution as part of our [pull-request.yml](https://github.com/PalisadoesFoundation/talawa/blob/master/.github/workflows/pull-request.yml) GitHub automation.

[2021-05-04 17:31] nayakastha commented on #753
That would format the code but I am not sure it would add the missing trailing commas. Check here for reference [https://flutter.dev/docs/development/tools/formatting](https://flutter.dev/docs/development/tools/formatting)

[2021-05-04 20:48] palisadoes commented on #753
So this issue would also require the use of the [flutter format command](https://flutter.dev/docs/development/tools/formatting#automatically-formatting-code-with-the-flutter-command), correct?

[2021-05-05 04:07] nayakastha commented on #753
No sir, what flutter formatting does is - in case you have trailing commas, it will arrange it in a specific manner to make it look pretty but it doesn't manually add trailing commas in the code. Formatting works best if you already have a trailing comma while you write the code.

This is something that can be achieved by altering the configuration of the "Prettier" VSCode Extension. I am looking

[2021-05-05 20:25] #478 closed

[2021-05-05 20:29] #747 closed

[2021-05-05 20:30] #745 closed

[2021-05-06 09:40] rutvik11062000 opened #758 "Separate business logic from UI - (Locator - ViewModel - View)"
**Is your feature request related to a problem? Please describe.**
Parent issue: #721

The parent issue only describes or deals with separating `data fetching services` and the `UI`.
As per the model - view - ViewModel architecture there must be a `ViewModel layer` between the `service` and `UI` layer.

Separating only the `services layer` will reduce the file size but it won't reduce files below

[2021-05-06 10:22] CoderMayhem commented on #758
I was working with the events page and I think this needs to be implemented there as the code is really clustered into a single `view` dart file. Implementing the MVVM architecture would be a great step to refactor the code. @Sagar2366 sir, I would like to open a PR refactoring the code into a `viewModel`  for the `events.dart` page. Let me know if I can go ahead with this.

[2021-05-06 10:34] rutvik11062000 commented on #758
@CoderMayhem, if you're working on the PR related to events.dart and if we are implementing MVVM you can pull our recent merge, I've already setup the locator and made other necessary changes😊.

[2021-05-06 10:37] CoderMayhem commented on #758
Sure. Will do👍

[2021-05-06 10:43] rutvik11062000 commented on #758
@Sagar2366 At first I would like to work on the page files that are huge (around 500+ lines):
1. update_profile_page.dart
2. register_form.dart
3. create_organization.dart
4. profile_page.dart

[2021-05-06 18:23] StrangeNoob commented on #758
@rutvik11062000 If you don't mind, Can we divide those pages and so that everyone else can work on it?
Then We will be able to refactor in time

[2021-05-07 05:34] rutvik11062000 commented on #758
Sure @StrangeNoob 😊, if anyone wants to take this issue they can implement MMVM in the below page/pages:
1. queries_.dart
2.  add_event_page.dart
3. events.dart (@CoderMayhem )
4. edit_event_dialog.dart:
5. set_url_page.dart
6. news_article.dart
7. register_form_test.dart (May take a different approach to reduce lines MVVM doesn't apply).

[2021-05-07 05:36] rutvik11062000 commented on #758
I recommend making a PR for every page instead of making a single PR, this will reduce the code checking (review) that has to be done by the mentors, and also we can roll back if a page is not properly structured.

[2021-05-07 05:38] rutvik11062000 commented on #758
@CoderMayhem @StrangeNoob, please ask Sagar sir, to assign the pages you want to work on. 👍

[2021-05-07 08:03] utkarshshendge commented on #758
@Sagar2366 Sir, @rutvik11062000 maybe we can do something like issue #326 .
Everyone will get a chance to work on the issue and stacking of issues will be prevented.

[2021-05-07 09:07] Sagar2366 commented on #758
Right.
@rutvik11062000 can you please create child issues as well for different screens . Other contributors can work on them.

Before that, at least any one screen changes should be made available to reference it as a template.

[2021-05-07 09:22] rutvik11062000 commented on #758
Sure @Sagar2366 sir👍, I'm currently working on the update profile page once it is done it will work as a template, @utkarshshendge I'll create child issues for pages that need MVVM and will also make a discussion thread in which there will be general standard methods to implement this architecture so all the contributors will be on the same page.

(All these things will be done till evening).

[2021-05-07 09:36] utkarshshendge commented on #753
Hi @palisadoes, I searched a few places to see if this is possible through Github Actions, but unfortunately, I was not able to find automation for this.

@nayakastha It will be great if you succeed in finding automation for this. Else:

We will have to write a script that adds trailing commas and then runs the[ flutter format command](https://flutter.dev/docs/development/tools/formatting#automati

[2021-05-07 13:25] nayakastha commented on #753
The only issue with the automation will be there are too many corner cases. And I am still searching for a way to remove all those and write a script.

[2021-05-07 13:27] rutvik11062000 opened #761 "MVVM implementation for Event Page and Add Event Page (event.dart) (add_event_page.dart)."
**Is your feature request related to a problem? Please describe.**
This is the child issue of #758
To implement MVVM architecture on event.dart and add_event_page.dart files.

**Describe the solution you'd like**
See #760 for in-depth details about the implementation.
For Sample see the PR changes #759

**Additional context**
Other things to take into consideration:
1. Make sure all the files that

[2021-05-07 13:29] CoderMayhem commented on #761
@Sagar2366 sir I would like to work on this. Kindly assign.

[2021-05-07 13:31] rutvik11062000 opened #762 "MVVM implementation for Add Event Page (add_event_page.dart)."
**Is your feature request related to a problem? Please describe.**
This is the child issue of #758
To implement MVVM architecture on add_event_page.dart file.

**Describe the solution you'd like**
See #760 for in-depth details about the implementation.
For Sample see the PR changes #759

**Additional context**
Other things to take into consideration:
1. Make sure all the files that you are either

[2021-05-07 13:34] rutvik11062000 opened #763 "MVVM implementation for Set-URL-Page (set_url_page.dart)."
**Is your feature request related to a problem? Please describe.**
This is the child issue of #758
To implement MVVM architecture on set_url_page.dart file.

**Describe the solution you'd like**
See #760 for in-depth details about the implementation.
For Sample see the PR changes #759

**Additional context**
Other things to take into consideration:
1. Make sure all the files that you are either up

[2021-05-07 13:37] rutvik11062000 opened #764 "MVVM implementation for News Article Page (news_article.dart)."
**Is your feature request related to a problem? Please describe.**
This is the child issue of #758
To implement MVVM architecture on news_article.dart file.

**Describe the solution you'd like**
See #760 for in-depth details about the implementation.
For Sample see the PR changes #759

**Additional context**
Other things to take into consideration:
1. Make sure all the files that you are either up

[2021-05-07 13:40] CoderMayhem commented on #762
This page is built on top of events page having common endpoints and functions. I guess this can be handled along with the `events.dart` page. I guess you can close this issue and update it in the issue description in events page MVVM implementation issue. @rutvik11062000

[2021-05-07 13:42] sumitra19jha commented on #721
@rutvik11062000 I checked your code. @CyberWake  and I have a conversation on this and we were currently implementing the provider for this solution as assigned by @Sagar2366

[2021-05-07 13:44] rutvik11062000 opened #765 "MVVM implementation for Create Organization page (create_organization.dart)."
**Is your feature request related to a problem? Please describe.**
This is the child issue of #758
To implement MVVM architecture on create_organization.dart file.

**Describe the solution you'd like**
See #760 for in-depth details about the implementation.
For Sample see the PR changes #759

**Additional context**
Other things to take into consideration:
1. Make sure all the files that you are ei

[2021-05-07 13:46] rutvik11062000 opened #766 "MVVM implementation for Profile Page (profile_page.dart)."
**Is your feature request related to a problem? Please describe.**
This is the child issue of #758
To implement MVVM architecture on profile_page.dart file.

**Describe the solution you'd like**
See #760 for in-depth details about the implementation.
For Sample see the PR changes #759

**Additional context**
Other things to take into consideration:
1. Make sure all the files that you are either up

[2021-05-07 13:47] sumitra19jha commented on #765
This is being handled in #721

[2021-05-07 13:49] #762 closed

[2021-05-07 13:58] rutvik11062000 commented on #721
@sumitra19jha and @CyberWake #721 issue suggests the separation of service from the UI. What #758 suggests is making a function layer between the UI and the service class file. Please see the graphic mentioned in 758 to have a better idea.

[2021-05-07 14:25] sumitra19jha commented on #721
@rutvik11062000 I have gone through the diagram. I am confused about its intended purpose. Why would we need this?

When this issue will be resolved business logic and UI will be separated. The reason you stated for the need of issue #758 will be taken care of in this issue itself.

1. The `300 lines` will be taken care of by separating all logic from UI.
2. Duplicate codes will be avoided by crea

[2021-05-07 16:12] sumitra19jha commented on #721
@rutvik11062000 I appreciate for taking your time to explain to me this. There few more doubts that I have:
The principles which you mention the point 1,2 and 3 will be taken care of here in this issue, now let's review points 4 & 5.
On the newsfeed page, state management is implemented, and on the joined organizations page  MVVM is followed and implemented.

`NewsFeed Page` onpressed function for

[2021-05-07 17:36] rutvik11062000 commented on #721
@sumitra19jha Actually we are talking about the same things but with a different approach.

As this issue quotes "Making a universal class that stores all the data fetching functions" it gave everyone an ambiguity.
There is no mention of using providers to **inject** these services into the UI file.

This issue gave an idea that you both are doing the work of separating services by putting them in

[2021-05-07 17:39] rutvik11062000 commented on #721
@sumitra19jha I think we should take opinions from mentors and contributors about which direction we should follow😊.

[2021-05-07 18:22] sumitra19jha commented on #721
@rutvik11062000 The purpose here was to separate business logic from UI and to do that we will obviously use `provider` and it was a big task. So this issue was assigned to two contributors and if you want to work, we would love to work together with you on this.

Issue #766 #765 #764 #763 #761 all will be covered here and there is no need to duplicate the issue.

Now coming to the use of MVVM or

[2021-05-07 18:33] utkarshshendge commented on #721
@rutvik11062000 as seen in the parent issue #715 there is a link to[ discussion thread](https://thepalisadoes-dyb6419.slack.com/archives/C01RG2P5WLU/p1619226124302900). I guess @sumitra19jha and @CyberWake came to the conclusion of continuing with the provider.
The use of providers is not mentioned in any of the comments on this issue and maybe you didn't see the comment by Peter sir on issue #478

[2021-05-07 19:07] sumitra19jha commented on #168
@Sagar2366 @DeltaHarbinger @palisadoes If you find this work useful then should we do the same for the news feed page and members page?

[2021-05-08 02:13] StrangeNoob commented on #764
@Sagar2366 if @rutvik11062000 wont mind then I would I like to work on this

[2021-05-08 10:00] Arnold2381 commented on #654
Can I work on this issue @Sagar2366 ?

[2021-05-08 10:01] Arnold2381 commented on #644
Can i work on this @Sagar2366  if no one is.

[2021-05-08 13:03] Arnold2381 commented on #654
@Sagar2366 I am unable to create an account or login into the app.