[2022-02-05 18:32] #1132 closed

[2022-02-05 18:43] ahluwaliatikant commented on #1178
I would like to work on this issue. Please assign it to me.

[2022-02-06 04:34] ahluwaliatikant commented on #1178
Hey @palisadoes , I think this issue has already been resolved. There is a test file already present and the [code coverage report](https://app.codecov.io/gh/PalisadoesFoundation/talawa/blob/develop/lib/widgets/raised_round_edge_button.dart) also shows 100%.

[2022-02-06 04:50] ahluwaliatikant commented on #1130
@palisadoes, I would like to work on this issue. Please assign it to me.

[2022-02-06 17:13] #1178 closed

[2022-02-06 17:50] avinashbest commented on #1107
Hi, I would like to work on this issue.
Solution:
- We can use the help button to redirect to gmail application. or
- We can add a web-view which opens palisadoes documentation page.
- If any more suggestion you would like I would definitely implement that.

[2022-02-06 17:55] palisadoes commented on #1107
@sunnyok03 The issue is that there is no help documentation to point to, and we do not have a process to respond to emails for assistance. At this point it's best to remove help completely. I've assigned it to you. Please let me know if you are still interested in working on it.

[2022-02-06 17:59] sunnyok03 commented on #1107
Yes I can work on this issue plz assign it to me

[2022-02-06 18:11] palisadoes commented on #1107
Done

[2022-02-06 19:26] guptapriyanshu7 commented on #1186
@palisadoes I am working on this.

[2022-02-06 19:39] palisadoes commented on #1186
Please make sure the issue is assigned to you before creating the PR as outlined in the CONTRIBUTING.md file.

[2022-02-06 19:45] #1130 closed

[2022-02-06 19:49] palisadoes opened #1196 "Update `countlines.py` and GitHub Action to also exclude directories"
We need to add a CLI option to `countlines.py`  so that we can ignore directories (such as `test/`)  in addition to existing files.

[2022-02-06 20:10] #1196 closed

[2022-02-06 20:23] #1186 closed

[2022-02-07 04:54] sunnyok03 commented on #1107
I didn't get it assign.

[2022-02-07 08:00] ayushvrma commented on #1174
Okay so I followed your advice and made the changes accordingly, just wanting to know how the 'key' parameter works in building CustomListTile when it's built when type = TileType.org?

[2022-02-07 11:28] B-Anupam commented on #1131
Hi, I would like to work on this issue, could you please guide me further.

[2022-02-07 13:21] #1008 closed

[2022-02-08 06:03] ahluwaliatikant commented on #1022
@palisadoes, I would like to work on this issue. Please assign it to me.

[2022-02-09 12:27] guptapriyanshu7 commented on #1009
@palisadoes I would like to work on this.

[2022-02-09 15:59] #1022 closed

[2022-02-11 05:41] ahluwaliatikant commented on #1120
Hey @umang-sinha, are you still working on this?

[2022-02-11 06:18] ayushvrma commented on #1174
Tests for the user are done, but when the widget is built using TileType.org, it fails to build giving me improper errors, where can I find more information about orgs in Talawa, I've already looked up org_info.dart , so do I need to create a new org by myself to test this widget or is there another way? @palisadoes

[2022-02-11 08:54] ayushvrma opened #1201 "App won't build because of some error in query.dart"
**Describe the bug**
The app won't built but throws the following error
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Open in editor
2. Run main.dart (debug)

**Expected behavior**
To build the app and show home screen to select language

[2022-02-11 15:52] #1120 closed

[2022-02-11 15:55] palisadoes commented on #1174
Please ask @ahluwaliatikant or @guptapriyanshu7 for assistance. They have extensive experience writing tests for the code base.

[2022-02-11 15:58] palisadoes commented on #1201
Are you working on the latest version of the `develop` branch? The `master` is out of date.

[2022-02-11 17:07] ayushvrma commented on #1201
yes, I'm working on the `develop` branch
<img width="302" alt="image" src="https://user-images.githubusercontent.com/65159146/153636182-b0396488-6e21-44ba-8810-90f93f8341b7.png">
output of `git pull `:
`Already up to date.`

[2022-02-11 17:09] ayushvrma commented on #1201
<img width="1062" alt="image" src="https://user-images.githubusercontent.com/65159146/153636547-615663d9-4cfa-48be-818b-05d2ee679dcc.png">

[2022-02-11 18:14] palisadoes commented on #1201
Are you using the latest version of flutter? Try doing a flutter upgrade.

[2022-02-11 18:18] palisadoes opened #1203 "Fix Deprecated ImageCropper API"
**Describe the bug**
When building the `talawa` app we get an ImageCropper API warning message. This needs to be fixed

- Our test code coverage percentage will need to be improved or maintained as part of this fix.
- **DO NOT ATTEMPT to solve the issue by ignoring the error message in `build.gradle`** That is not a viable solution to this issue.

**To Reproduce**
Steps to reproduce the behavior:

[2022-02-11 18:19] palisadoes opened #1204 "Fix Deprecated UniLinksPlugin API"
**Describe the bug**
When building the `talawa` app we get an UniLinksPlugin API warning message. This needs to be fixed

- Our test code coverage percentage will need to be improved or maintained as part of this fix.
- **DO NOT ATTEMPT to solve the issue by ignoring the error message in `build.gradle`** That is not a viable solution to this issue.

**To Reproduce**
Steps to reproduce the behavior

[2022-02-11 19:01] palisadoes opened #1205 "Fix Unsafe PathProvider API"
**Describe the bug**
When building the `talawa` app we get an PathProvider API warning message about the package using `unchecked or unsafe operations`. This needs to be fixed.

- Our test code coverage percentage will need to be improved or maintained as part of this fix.
- **DO NOT ATTEMPT to solve the issue by ignoring the error message in `build.gradle`** That is not a viable solution to this

[2022-02-11 19:05] ahluwaliatikant commented on #1141
@rakshitkamboj, are you still working on this ? @palisadoes, can I take this up?

[2022-02-11 19:06] palisadoes opened #1206 "Remove Unused RazorPay Support - This will be handled by the API in future"
**Describe the bug**
When building the `talawa` app we get an RazorPay API warning message. In early 2021, this support was considered, but we decided to include it as an API plugin. This means that `talawa` will need to interface with the `talawa-api` plugin and not RazorPay directly.

RazorPay support must be removed.

### Our test code coverage percentage will need to be improved or maintained

[2022-02-11 19:14] palisadoes commented on #1141
@rakshitkamboj I'm reassigning as it's been almost a month without a PR.

[2022-02-12 06:43] ayushvrma commented on #1206
hi can I work on this issue as it is a bit beginner friendly?

[2022-02-12 09:45] #1141 closed

[2022-02-13 05:45] ahluwaliatikant commented on #1020
@palisadoes, I would like to work on this. Please assign it to me.

[2022-02-13 06:34] #1020 closed

[2022-02-14 13:04] Tusharkhati commented on #1205
can I work on this?

[2022-02-14 13:35] Tusharkhati commented on #1203
I'm really sorry. I was supposed to `Fix Deprecated UniLinksPlugin API #1204`. I committed wrongly I will take care of this in the future.

[2022-02-15 11:57] ahluwaliatikant commented on #1011
@palisadoes I would like to work on this. Please assign it to me.

[2022-02-15 15:43] MnCSSJ4x commented on #1179
I am new to contribution and would love to add to this. Can someone guide me in this and assign this?

[2022-02-15 16:39] palisadoes commented on #1179
For guidance, please ask the [contributors who have recently closed PRs](https://github.com/PalisadoesFoundation/talawa/pulls?q=is%3Apr+is%3Aclosed). They will be glad to assist. They are also available on our Slack channel.

[2022-02-15 17:24] noman2002 commented on #1203
Please assign this to me. I am willing to work on it.

[2022-02-16 17:50] Vaibhav-Chopra-GT commented on #359
Thanks @jordanliu, for such detailed explanation. Will palisadoes participate in GSoC this year too?

[2022-02-16 17:53] palisadoes commented on #359
Yes

[2022-02-17 13:24] #1011 closed

[2022-02-18 02:22] DMills27 opened #1215 "Write a script to check if all pull requests meet the requirements for generating documentation using Dart Doc"
In order to ensure that documentation is seamlessly being created with each addition/modification of a file, write a script to check that the file follows the specifications described in the Getting Started section [here](https://dart.dev/tools/dart-doc). Note that `dart analyze` has to be used first without errors in order to successfully use the `dart doc` command.

This task essentially involve

[2022-02-18 02:30] DMills27 opened #1216 "CI/CD pipeline for generating JSDoc artifacts used for automating documentation"
Following https://github.com/PalisadoesFoundation/talawa/issues/1215, create a pipeline to run the `dart doc` command for any files that get approved in a pull request. After the command has been run, the artifact HTML files generated from this should then be added via a pull request to the path `docs/talawa/` in the Talawa Docs repo (https://github.com/PalisadoesFoundation/talawa-docs).

**Parent

[2022-02-18 13:21] palisadoes commented on #1179
Try upgrading to the latest version of flutter and updating the packages in your local repo

[2022-02-18 16:08] palisadoes opened #1217 "Complete Code Coverage for Views"
The Talawa-API code base needs to be 100% reliable. This means we need to have We 100% unittest code coverage. This is a parent issue for all views unittest issues.

We will be creating one issue per related file:

- We'll only assign the child issues.
- Please comment on one of the child issues for assignment.
- Only one child issue will be assigned to a person at any one time.

Child Issues:

-

[2022-02-19 19:53] palisadoes commented on #1201
Is this still an issue?

[2022-02-19 19:55] #1176 closed

[2022-02-19 20:46] Raunakk02 commented on #1216
@DMills27 Can I take up this issue?

[2022-02-21 05:27] MnCSSJ4x commented on #1179
Tried to fix this, still get the same error. This is an existing error with [dart](https://github.com/dart-lang/sdk/issues/45115) .  Please check this soon.

[2022-02-22 04:30] ahluwaliatikant commented on #1179
@palisadoes Sir, this file already has 100% coverage according to the [codecov report].(https://app.codecov.io/gh/PalisadoesFoundation/talawa/blob/develop/lib/widgets/rich_text.dart)

[2022-02-22 13:22] palisadoes commented on #1179
You are correct. I'll close the issue.

[2022-02-22 13:22] #1179 closed

[2022-02-22 13:24] palisadoes commented on #1131
Are you still working on this?

[2022-02-22 18:27] #1175 closed

[2022-02-23 15:18] architsangal commented on #1142
Can I work on this?

[2022-02-25 17:18] architsangal commented on #1021
Can I work on this?

[2022-02-25 20:57] #1203 closed

[2022-02-26 16:50] noman2002 commented on #1204
If no one is working on this. Please assign it to me.

[2022-02-28 15:38] noman2002 commented on #1206
Is this issue still open? Can I work on this one?

[2022-02-28 20:53] RandyKdev commented on #1088
Good day @ItsAdityaKSingh, If nobody is working on this I would like to have a go at it. Thanks

[2022-02-28 22:38] palisadoes opened #1225 "Views: Create tests for main_screen.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/main_screen.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views_test/main_screen_test.dart`. You may need to create the appropriate dire

[2022-02-28 22:39] palisadoes opened #1226 "Views: Create tests for base_view.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/base_view.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views_test/base_view_test.dart`. You may need to create the appropriate director

[2022-02-28 22:39] palisadoes opened #1227 "Views: Create tests for join_organisation_after_auth.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/join_organisation_after_auth.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens_test/join_organis

[2022-02-28 22:40] palisadoes opened #1228 "Views: Create tests for add_post_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/add_post_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens_test/add_post_page_test.dart`. Y

[2022-02-28 22:40] palisadoes opened #1229 "Views: Create tests for edit_profile_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/profile/edit_profile_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/profile_test/edit_pr

[2022-02-28 22:41] palisadoes opened #1230 "Views: Create tests for profile_page.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/profile/profile_page.dart`

- When complete, all methods, classes and/or

[2022-02-28 22:41] palisadoes opened #1231 "Views: Create tests for event_chats.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/chat/event_chats.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/chat_test/event_chats_test.da

[2022-02-28 22:42] palisadoes opened #1232 "Views: Create tests for direct_chats.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/chat/direct_chats.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/chat_test/direct_chats_test.

[2022-02-28 22:42] palisadoes opened #1233 "Views: Create tests for chat_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/chat/chat_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/chat_test/chat_page_test.dart`.

[2022-02-28 22:42] palisadoes opened #1234 "Views: Create tests for individual_post.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/feed/individual_post.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/feed_test/individual_post

[2022-02-28 22:43] palisadoes opened #1235 "Views: Create tests for pinned_post_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/feed/pinned_post_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/feed_test/pinned_post_pa

[2022-02-28 22:43] palisadoes opened #1236 "Views: Create tests for organization_feed.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/feed/organization_feed.dart`

- When complete, all methods, classes and/o

[2022-02-28 22:44] palisadoes opened #1237 "Views: Create tests for create_event_form.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/create_event_form.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/create_ev

[2022-02-28 22:44] palisadoes opened #1238 "Views: Create tests for explore_event_dialogue.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/explore_event_dialogue.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/expl

[2022-02-28 22:44] palisadoes opened #1239 "Views: Create tests for edit_events_form.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/edit_events_form.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/edit_event

[2022-02-28 22:45] palisadoes opened #1240 "Views: Create tests for edit_event_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/edit_event_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/edit_event_

[2022-02-28 22:45] palisadoes opened #1241 "Views: Create tests for event_info_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/event_info_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/event_info_

[2022-02-28 22:46] palisadoes opened #1242 "Views: Create tests for create_event_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/create_event_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/create_ev

[2022-02-28 22:46] palisadoes opened #1243 "Views: Create tests for explore_events.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/events/explore_events.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/events_test/explore_even

[2022-02-28 22:46] palisadoes opened #1244 "Views: Create tests for app_settings_page.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/after_auth_screens/app_settings/app_settings_page.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/after_auth_screens/app_settings_te

[2022-02-28 22:47] palisadoes opened #1245 "Views: Create tests for waiting_to_join_private_org.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/waiting_to_join_private_org.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/waiting_to_join_p

[2022-02-28 22:47] palisadoes opened #1246 "Views: Create tests for select_language.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/select_language.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/select_language_test.dart`. Y

[2022-02-28 22:47] palisadoes opened #1247 "Views: Create tests for signup_details.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/signup_details.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/signup_details_test.dart`. You

[2022-02-28 22:48] palisadoes opened #1248 "Views: Create tests for set_url.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/set_url.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/set_url_test.dart`. You may need to c

[2022-02-28 22:48] palisadoes opened #1249 "Views: Create tests for change_password.dart"
Tests need to be written for file `lib/views/pre_auth_screens/change_password.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/change_password_test.dart`. You may need to create the appropriate directory structure to do this.

### IMPORTANT:
Please refer to

[2022-02-28 22:49] palisadoes opened #1250 "Views: Create tests for recover.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/recover.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/recover_test.dart`. You may need to c

[2022-02-28 22:49] palisadoes opened #1251 "Views: Create tests for select_organization.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/select_organization.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/select_organization_test.

[2022-02-28 22:49] palisadoes opened #1252 "Views: Create tests for login.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/views/pre_auth_screens/login.dart`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `test/views/pre_auth_screens_test/login_test.dart`. You may need to creat

[2022-03-01 12:43] sudo-saksham commented on #1252
Could you please assign me this issue?

[2022-03-01 12:47] #1206 closed

[2022-03-04 13:37] #882 closed

[2022-03-04 13:40] #753 closed

[2022-03-04 13:40] #831 closed

[2022-03-04 13:41] #1048 closed

[2022-03-04 15:39] palisadoes commented on #1142
Are you still working on this?

[2022-03-04 15:40] palisadoes commented on #1139
Unassigning, it's been over a month

[2022-03-04 16:02] architsangal commented on #1142
No. I am working on other issues for now.

[2022-03-05 02:50] palisadoes commented on #1173
This file has 98% code coverage, we need to get it to 100%

[2022-03-05 04:02] sudo-saksham commented on #1252
@palisadoes
It seems when I test this, it's not approving the test for Hide Password button even though in the application the IconButton is working fine. I've attached the related information here: https://thepalisadoes-dyb6419.slack.com/archives/CSW3ETABE/p1646415886967029

[2022-03-05 04:07] palisadoes commented on #1252
Is there a mock package that could be used to assist? I've had difficulties in the past with testing network Image widgets, and had to use a mock to get it to work.

[2022-03-05 06:01] sudo-saksham commented on #1252
I don't think that Mock packages will work here. We are not calling anything via HTTP call or fetching anything from database.

[2022-03-05 07:17] sudo-saksham commented on #1252
Unassigning myself from this issue. Will work on it later. :)

[2022-03-05 10:25] sudo-saksham commented on #1127
Can I take up this issue? @palisadoes

[2022-03-06 11:03] sudo-saksham commented on #1248
Can you assign me this issue? I've written tests for some part of the remaining coverage and created a PR as well. Would love to proceed with this issue. :)

[2022-03-06 14:13] palisadoes commented on #1248
You will need to ask to be assigned the issue before submitting the PR. We will be strictly enforcing this rule shortly.

[2022-03-06 22:43] sudo-saksham commented on #1248
My bad, won't repeat it again.

[2022-03-07 15:00] palisadoes opened #1256 "Remove hard coded Heroku instance URL from code base"
**Describe the bug**

The Talawa App's default URL points to our Heroku test instance at  [talawa-graphql-api.herokuapp.com/graphql](https://talawa-graphql-api.herokuapp.com/graphql). This is not sustainable as real organizations should not be using our test instance for their members.

This needs to be fixed before we can do Alpha testing.

**To Reproduce**

Install Talawa. The default Heroku ins

[2022-03-07 21:58] guptapriyanshu7 commented on #1235
@palisadoes I want to work on this.

[2022-03-09 04:01] noman2002 commented on #1256
I am willing to work on this.
Do I have to just remove the hard-coded URL and fix the test and documentation.?

[2022-03-09 16:11] CyberWake commented on #1216
@palisadoes can you assign this to me.

[2022-03-09 16:16] CyberWake commented on #1204
@palisadoes this is not a talawa specific issue since this is a dependency in our codebase and it's stable enough inspite being deprecated there is nothing much we could handle in talawa codebase about it. Plus they have [this](https://github.com/avioli/uni_links/issues/82) issue being worked upon.

[2022-03-09 16:20] palisadoes commented on #1204
Should we therefore find another package to use instead?

[2022-03-09 16:21] CyberWake commented on #1205
@palisadoes this issue is from the dependency being used in the talawa codebase which comes in from the flutter community itself so I guess this should not be a issue at this point considering the point it is a dependency. Also [here](https://github.com/flutter/flutter/issues/93389) is a brief info regarding the issue

[2022-03-09 16:23] palisadoes commented on #1205
Should we replace this with a supported package then?

[2022-03-09 16:28] CyberWake commented on #1205
this is a best in class package maintained by the flutter community itself I feel this is safe to use since you can see this is one of the most liked packages in the flutter community for getting paths for local disk storage.

[2022-03-09 16:29] CyberWake commented on #1205
[Here](https://pub.dev/packages?q=is%3Aflutter-favorite&sort=like&page=2) is the link to it's rating. It's in top 13.

[2022-03-09 17:47] palisadoes commented on #1205
OK. I'll close the issue

[2022-03-09 17:47] #1205 closed

[2022-03-09 17:50] palisadoes commented on #1204
In that case let's apply the suggested fix.

The fewer spurious messages the better

[2022-03-10 03:40] #1119 closed

[2022-03-10 04:18] CyberWake commented on #1204
@palisadoes I don't [this](https://stackoverflow.com/questions/61702748/note-recompile-with-xlintdeprecation-for-details-solved) works have tried this but it still gives the warning.
I have also gone through the depth of the issue this is basically due to the native java or kotlin code used in the dependency and the codebase of dependency is not perfectly linted. Due to which we get this warning.

[2022-03-10 04:46] palisadoes commented on #1204
OK, I'll close the issue. Thanks

[2022-03-10 04:46] #1204 closed

[2022-03-10 09:01] CyberWake commented on #1229
@palisadoes can you assign this to me.

[2022-03-10 14:01] jadeharr commented on #1229
This is going to be the third pending issue in talawa you will be assigned. Make sure to complete some before asking for more.

[2022-03-10 14:11] CyberWake commented on #836
@palisadoes can be have this issue closed somehow this was not closed after GSoC.

[2022-03-10 16:05] #836 closed

[2022-03-11 03:54] CyberWake commented on #1230
@Sagar2366 sir can you assign this to me if no one is working upon it.

[2022-03-11 05:34] #1088 closed

[2022-03-11 13:39] CyberWake commented on #1244
@palisadoes can you assign this to me.

[2022-03-11 14:55] Sagar2366 commented on #1244
We can definitely assign more issues to you.
@CyberWake can you please finish working on other assigned issues ?

[2022-03-11 19:06] bhattabhi013 opened #1261 "Button text not visible on events page in dark/light modes"
**Describe the bug**
Button text not ### visible

**To Reproduce**
Steps to reproduce the behavior:

1. Sign-up/ Login in the app
2. Go to event tabs
3. Click on any of the available event
4. Green button at the bottom doesn't have any text.

**Expected behavior**
Text should be available on the button for better user-experience.

**Screenshots**
<img width="243" alt="image" src="https://user-imag

[2022-03-11 19:38] CyberWake commented on #1249
@palisadoes can I work on this issue.

[2022-03-11 20:07] palisadoes commented on #1261
Would you like to work on this? Remember that all the text in the app changes depending on the language selected. You will have to consider that too.

[2022-03-11 20:52] #1244 closed

[2022-03-11 21:07] palisadoes commented on #1244
@CyberWake I mistakenly merged your PR which for this issue when you were not assigned the task. Please do not submit PRs for issues to which you are not assigned. You risk the PR being closed.

[2022-03-12 04:48] bhattabhi013 commented on #1261
Thanks for the opportunity, but can anyone please confirm that this issue also occurs at their end, so that I can confirm that this is not a device- or user-specific issue. Please let me know if any help is required to replicate the issue.

[2022-03-12 17:07] palisadoes commented on #1261
Please ask for verification on the #talawa slack channel.

[2022-03-13 00:19] #1110 closed

[2022-03-13 07:55] bhattabhi013 opened #1263 "Add organization URL in documentation"
**Is your feature request related to a problem? Please describe.**
At present, there is a lot of confusion about adding organization URL while setting up the development environment.

**Describe the solution you'd like**
Adding organization URL in the documentation will help the developer's to get rid of  confusion related to organization's URL

**Approach to be followed (optional)**
 Organization

[2022-03-13 08:15] palisadoes commented on #1263
Do you want to work on this?

[2022-03-13 08:54] bhattabhi013 commented on #1263
Yes, please assign this issue to me.

[2022-03-13 11:59] bhattabhi013 commented on #1261
Please assign this issue to me.

[2022-03-14 03:43] CyberWake commented on #1215
@palisadoes @DMills27 can you please assign this to me.

[2022-03-14 04:34] #1256 closed

[2022-03-14 14:58] palisadoes opened #1269 "Uncontrolled Resource Consumption in markdown-it"
**Describe the bug**
Special patterns with length > 50K chars can slow down parser significantly.

- This vulnerability may be due to a package or a dependency of this packages that we are not using. This needs to be considered

**To Reproduce**
See screenshot

**Expected behavior**
Normal parsing velocity

**How to fix**
Upgrade to v12.3.2+

**Screenshots**
![image](https://user-images.githubuser

[2022-03-14 14:58] #1269 closed

[2022-03-14 15:07] sgayangi commented on #1251
Hi, can you please assign me this issue please?

[2022-03-14 15:13] palisadoes opened #1270 "Views: Create tests for set_url.dart - Part 2"
The Talawa code base needs to be 100% reliable. This means we need to have 100% test code coverage.

We are at 96% code coverage for this file, but it's an important part of the code base as it determines the success of communicating with the API.

![image](https://user-images.githubusercontent.com/16875803/158201387-b93e87ef-7971-4f3b-957b-782029dc6c45.png)

Previous test work for this was done w

[2022-03-14 15:22] #1216 closed

[2022-03-14 17:31] #1263 closed

[2022-03-15 04:13] PrabeshPP opened #1271 "FAILURE: Build failed with an exception."
**Describe the bug**
When the Project is run ,it throws an error saying it requires JAVA version 11.

**To Reproduce**
Steps to reproduce the behavior:

1.Fork the repository.
2.Run git clone (Repo URL).
3.Run the flutter pub get command in terminal.
4.Run the develop branch in VS Code.

**Expected behavior**
Was expecting it to run on my local machine in order to contribute on this Project.

**Ac

[2022-03-15 04:29] palisadoes commented on #1271
Thanks. You will need to upgrade your SDK version to that of the Talawa project. Java 11 should work. We do all our automated testing using Java 12, and therefore should probably upgrade the gradle settings accordingly.

[2022-03-15 05:38] PrabeshPP commented on #1271
hey @palisadoes ,
should I upgrade my flutter SDK version or ?

[2022-03-15 05:40] palisadoes commented on #1271
In Android Studio you can assign a SDK version to a particular project. I'm not sure about other IDEs

[2022-03-15 05:42] PrabeshPP commented on #1271
Okay ,I will try that solution. What about on VS code??

[2022-03-15 07:02] PrabeshPP commented on #1271
Hi @palisadoes  it shows the same error even after upgrading the Java SDK version to 11.

[2022-03-15 20:00] RandyKdev commented on #1139
Hello @palisadoes, I would like to give this a shot.

[2022-03-16 03:25] noman2002 commented on #1271
@PrabeshPP I think there is some issue with your vscode configuration. Try running `flutter doctor` to check if there is an error.

[2022-03-16 03:31] noman2002 commented on #1246
@palisadoes `select_language.dart` already have 100% coverage.
![Screenshot from 2022-03-16 09-00-55](https://user-images.githubusercontent.com/54404474/158511331-6917b3db-f4c6-48e6-8465-4e4ebe6c4452.png)

[2022-03-16 03:33] noman2002 commented on #1249
Please assign it to me. I am willing to try this.

[2022-03-16 04:45] #1246 closed

[2022-03-16 14:34] PrabeshPP commented on #1271
hi @noman2002  I did try running the flutter doctor ,but there is no error. I will re-install the VS code. Hope it would work.

[2022-03-16 18:25] rskbansal commented on #1247
May I do this ?

[2022-03-16 19:03] ahluwaliatikant commented on #1234
I would like to work on this issue @palisadoes Sir, Please assign it to me.

[2022-03-17 10:26] noman2002 commented on #1271
Is it working after reinstallation?

[2022-03-17 12:16] noman2002 commented on #1250
Please assign it to me.

[2022-03-17 12:41] sumitra19jha commented on #1228
@palisadoes @Sagar2366 Please assign this issue to me

[2022-03-17 13:30] PrabeshPP commented on #1271
Even after re-installation , it's showing same error.

[2022-03-17 13:48] noman2002 commented on #1271
Text on slack. Someone will help you there for sure.

[2022-03-17 17:44] CyberWake commented on #1271
@PrabeshPP the problem is not with flutter setup the problem is with the non appropriate jdk version

[2022-03-18 12:19] noman2002 commented on #1245
Please assign it to me.

[2022-03-18 12:23] noman2002 commented on #1252
I would like to try this one also. Please assign it.

[2022-03-18 12:37] palisadoes commented on #1245
This is your third issue assignment to the repo. Please wait for your other PRs to be merged before asking for any more.

[2022-03-18 12:38] palisadoes commented on #1252
@noman2002 You have been assigned three issues. Please wait until your PRs are merged before asking for this or other assignments.

[2022-03-18 15:02] noman2002 commented on #1252
ok, Thank you. I will wait for the PR to be merged. I thought I can work on other issues after creating a PR for the previously assigned.

[2022-03-18 15:45] #1215 closed

[2022-03-19 03:57] palisadoes opened #1276 "Remove print statements from tests"
**Describe the bug**
Some of our recent test suites have many print statements in them. It's best that they are removed. It makes isolating failures in our CI/CD pipeline easier.

The files that need the statements removed are:

[code]

[2022-03-19 04:32] CyberWake commented on #1276
can I work on this one @palisadoes

[2022-03-19 05:53] #1250 closed

[2022-03-19 14:44] #1249 closed

[2022-03-19 17:00] #1245 closed

[2022-03-20 21:32] noman2002 commented on #1239
Please assign it to me.

[2022-03-21 06:01] #1276 closed

[2022-03-22 02:49] #1252 closed

[2022-03-24 03:47] guptapriyanshu7 commented on #1231
@palisadoes I want to work on this.

[2022-03-24 03:55] guptapriyanshu7 commented on #1233
There's no file named ```chat_page.dart``` under the chat folder.

[2022-03-24 09:12] sudo-saksham opened #1281 "100% coverage for recover.dart"
I see that recover.dart has 95% test coverage and it needs minor modification to get it to 100%. I added the necessary line to make it 100% but I can't find the issue to test cover it 100%. Therefore, I'm opening this issue. As well as, I will make a PR to make the test coverage 100%.

[2022-03-24 15:07] palisadoes commented on #1233
This was removed with the current iteration of the chat feature.

[2022-03-24 15:08] #1233 closed

[2022-03-24 17:13] noman2002 commented on #1281
Hey @sudo-saksham, I think this issue is already resolved in #1274

[2022-03-24 21:06] noman2002 commented on #1261
Can I work on this? Please assign it to me.

[2022-03-25 06:35] sudo-saksham commented on #1238
Can I work on this issue? @palisadoes

[2022-03-26 16:13] palisadoes commented on #1021
@architsangal Are you still working on this?

[2022-03-26 16:22] #1231 closed

[2022-03-27 08:47] ahluwaliatikant commented on #1014
@palisadoes, I would like to work on this. Please assign it to me.

[2022-03-27 12:30] architsangal commented on #1021
Yeah. I had university exams, so I had to take a break.

[2022-03-28 21:56] RandyKdev commented on #1006
Hi @palisadoes, I would like to work on this issue.

[2022-03-29 06:37] guptapriyanshu7 commented on #1232
@palisadoes I want to work on this issue.

[2022-03-30 09:11] sudo-saksham commented on #1271
Follow the below steps :
1) Run `flutter clean`
2) go to `android/` and run `./gradlew clean`

Repeat step 2 until it executes 100% successfully.

[2022-03-30 15:15] theamankumarsingh commented on #1237
@palisadoes I would like to work on this issue.

[2022-03-31 15:21] palisadoes commented on #1006
@RandyKdev Please get the code coverage on this file up to 100%. The PR shows only 92%.

- https://app.codecov.io/gh/PalisadoesFoundation/talawa/compare/1219/changes

I'm reopening this issue. Thanks for the work, only a little more to go.

[2022-03-31 15:24] palisadoes commented on #1238
Please try to get the code coverage up to 100%. Almost there. I'm reopening the issue.

- https://app.codecov.io/gh/PalisadoesFoundation/talawa/compare/1289/changes

[2022-03-31 16:12] RandyKdev commented on #1006
@palisadoes The current code coverage for this file, `signup_details_view_model.dart` is 100%. Here is the link

https://app.codecov.io/gh/PalisadoesFoundation/talawa/compare/1290/changes

[2022-03-31 16:29] palisadoes commented on #1006
Thanks. Closing. Please take a look at any of the other view_model tests. We have almost completed them all.

[2022-03-31 16:57] RandyKdev commented on #1006
Ok, I will.

[2022-03-31 17:04] RandyKdev commented on #1004
Good day @palisadoes, I would like to work on this. Please can you assign it to me?

[2022-04-01 21:16] RandyKdev commented on #1004
Good day @palisadoes, I have completed this issue, but with some minor changes.

The file `select_organization_view_model.dart` contains some functions, [showOrganizationList](https://github.com/PalisadoesFoundation/talawa/blob/30b28fe68f9088d34c441a2b62919c36b58db265/lib/view_model/pre_auth_view_models/select_organization_view_model.dart#L162) and [showSearchList](https://github.com/PalisadoesFou

[2022-04-01 21:35] palisadoes commented on #1004
That is a useful insight. Yes, refactor the code accordingly.

[2022-04-01 22:07] RandyKdev commented on #1004
Ok, opening a PR now.

[2022-04-02 09:32] sudo-saksham commented on #1177
Hey @palisadoes, can I work on it?

[2022-04-02 10:06] sudo-saksham opened #1292 "Bug Report: Stacking of Select Language Screen"
**Describe the bug**
As I open talawa mobile app, it shows a 'Select Language' screen, where user selects the language. As you click on Select button after selecting the language, it shows a 'Login' page. Now, there's an option to 'Change Language' on this page as well, at the bottom center. And, if we click on 'Change Language' button it replaces current Login Screen with Select Language screen.

[2022-04-02 10:12] sudo-saksham commented on #1292
I'd also like to resolve this issue. Can you please assign this to me?

[2022-04-02 17:01] #1004 closed

[2022-04-02 17:25] palisadoes opened #1293 "Unittests for widget organization_search_list.dart"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- http

[2022-04-02 17:26] palisadoes opened #1294 "Unittests for widget organization_list.dart"
We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/widgets` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1125

### PR Acceptance Criteria

- When complete this file must show **100%** coverage when merged into the cod

[2022-04-02 17:59] RandyKdev commented on #1270
Good day, I would like to have a shot at this.

[2022-04-02 23:17] architsangal commented on #1173
@palisadoes Can I continue working on this issue?

[2022-04-03 00:44] architsangal commented on #1183
@palisadoes

#1107 and #1183 (look identical). Can I work on these issues?

[2022-04-03 01:39] palisadoes commented on #1183
The help option must be removed for the reasons in:

- https://github.com/PalisadoesFoundation/talawa/issues/1107

[2022-04-03 01:40] palisadoes commented on #1107
Closing. This is being handled by:

- https://github.com/PalisadoesFoundation/talawa/issues/1183

[2022-04-03 01:40] #1107 closed

[2022-04-03 01:50] palisadoes commented on #1014
@ahluwaliatikant  Are you still working on this?

[2022-04-03 01:51] #1006 closed

[2022-04-03 01:51] palisadoes commented on #1021
@architsangal Are you still working on this?

[2022-04-03 01:54] palisadoes commented on #1121
Reopening as the code coverage for this file isn't 100%
- https://app.codecov.io/gh/PalisadoesFoundation/talawa/blob/develop/lib/view_model/main_screen_view_model.dart

[2022-04-03 01:58] palisadoes opened #1300 "Unittests for explore_events_view_model.dart"
The Talawa code base needs to be 100% reliable. This means we need to have 100% unittest code coverage.

We will need unittests done for all methods, classes and functions found in this file.

Any widgets referenced in this file must also have unittests done

[code]

This file can be found in the `lib/view_model` directory

Parent Issue:
- https://github.com/PalisadoesFoundation/talawa/issues/1023

[2022-04-03 02:33] ahluwaliatikant commented on #1014
Yes Sir @palisadoes . Got stuck at a test for one of the functions. Will try to fix that and raise a PR soon.

[2022-04-03 06:28] architsangal commented on #1021
I think we can close this issue. For 'custom_drawer_view_model.dart' code coverage 100%.

[2022-04-03 11:03] architsangal commented on #1121
Can I work on this?

[2022-04-03 13:50] RandyKdev commented on #1174
Hi @palisadoes, I would like to work on this.

[2022-04-03 14:01] #1183 closed

[2022-04-03 15:45] #1174 closed

[2022-04-03 15:49] #1014 closed

[2022-04-03 16:31] RandyKdev commented on #1300
Hi, I would like to work on this.

[2022-04-03 22:04] #1300 closed

[2022-04-03 22:06] #1292 closed

[2022-04-06 03:51] #1177 closed

[2022-04-16 16:58] #1238 closed

[2022-04-16 19:00] architsangal opened #1311 "Updation of INSTALLATION.md for providing instructions to run on emulators required"
The following link doesn't work if we try to setup up the projects talawa, talawa-api, and talawa-admin locally. If talwa mobile application is running on an emulator: [http://localhost:4000/graphql](http://localhost:4000/graphql). This is an issue faced by a lot of first-time contributors.

We should add instructions to resolve this issue in INSTALLATION.md.

[2022-04-16 19:00] architsangal commented on #1311
Can I work on this issue?

[2022-04-17 12:43] SriramPatibanda opened #1313 "Send message to a direct chat"
**Is your feature request related to a problem? Please describe.**
A user must be able to type their message in the text field and click the send button.

**Describe the solution you'd like**
Use SendMessageToDirectChat mutation to send a message to a specific direct chat.

**Describe alternatives you've considered**
N.A.

**Approach to be followed (optional)**
N.A.

**Additional context**
N.A.

[2022-04-17 18:29] #1311 closed

[2022-04-26 19:46] #1313 closed

[2022-05-09 17:34] patrickwitter commented on #1251
Good day I would like to tackle this issue

[2022-06-07 16:05] #1251 closed

[2022-06-07 23:53] iamworrell commented on #1142
can you assign this issue to me?

[2022-06-10 13:08] guptapriyanshu7 opened #1324 "Add venue management"
This will eventually allow creators of event to pin location on map. We can reverse geocode the location from coordinates to get the address. Display the address for editing if creator wants to tweak something in it. Store the address with coordinates.

Proposed solution:
1. Use Google Maps API to display map. The Google Maps SDK for Android and iOS is free.
2. Use [google_maps_flutter](https://pu

[2022-06-13 10:29] mananmehta3 commented on #1261
Is this issue still open?
If yes I would like to work on this.
Please assign it to me.

[2022-06-13 11:36] noman2002 commented on #1261
Sure, you can work on this issue. @palisadoes will assign it to you.

[2022-06-14 07:59] #1324 closed

[2022-06-15 09:13] guptapriyanshu7 opened #1326 "Allow notifications in the application"
This will eventually allow notifications in the mobile app to keep the users engaged and in sync with the latest updates in the organization.
Proposed solution :-
- Use [firebase_messaging](https://pub.dev/packages/firebase_messaging) package to implement notifications in the frontend.
- Allow all kinds of foreground, background or terminated state notifications.
- Store FCM tokens in the database

[2022-06-20 14:00] guptapriyanshu7 opened #1329 "Show venue on a map to users"
Fetch coordinates from backend and show venue on a map to users for easy discovery of location. Provide a 'View on map' button which opens up the Google Maps. Re-use the map screen widget.

[2022-06-22 18:29] guptapriyanshu7 opened #1331 "Send event invitation links"
- Send invitation links using the existing uni_links and social_share package.
- Handle cases when user is logged out, is in different server or organisation.
- Refactor code so that handling different links to the app becomes intuitive.

[2022-07-14 08:24] guptapriyanshu7 opened #1337 "Feature Request - Event Calendar"
Display a calendar widget to show all events calendar view and along with their timeline.
Use
- https://pub.dev/packages/syncfusion_flutter_calendar and
- https://pub.dev/packages/syncfusion_flutter_datepicker
packages for these purposes.

[2022-07-17 01:47] #1331 closed

[2022-07-21 14:27] SiddheshKukade opened #1339 "Feature Request : Plugin Architecture (Features as Plugins)"
**Is your feature request related to a problem? Please describe.**
Problem statement taken from Project Ideas Page :

[ Latent features in the mobile app should be enabled by installing plugins via the Admin web portal. The API would need to detect the existence of a plugin, and automatically query the plugin for authorization to do some action. When authorized, the mobile app will display new cap

[2022-07-21 14:28] SiddheshKukade commented on #1339
@palisadoes  Sir this issue can be assigned to be

[2022-07-21 20:16] guptapriyanshu7 opened #1341 "Feature Request - Add Tasks Feature in the app"
Add a new UI page to manage tasks in an event.
Features:
- View tasks related to an event.
- Give a scheduled view to tasks according to their deadline.
- Add tasks required for an event.
- User could view their tasks, additionally they can also edit and delete them.

[2022-07-21 22:49] iamworrell commented on #929
I would like work on this feature request but I have some issues with the talawa app. I am running the app using the remote hosted API test Server, when I try to add an event I get a snackbar with the message "server not running/wrong url.
Also does the Attendee List/ Roster mean the members and admin added to the event?

[2022-08-15 16:55] #1339 closed

[2022-08-18 15:57] SiddheshKukade opened #1346 "Feature Request : Enabling Plugins , Donation as a Plugin, Refractor for TalawaPluginProvider Widget"
### Work in Progress : Details to be added soon
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**

1. Currently I am planning to implement these features as plugins by using the `TalawaPluginProvider` Class
![image](https://user-images.githubusercontent.com/65951872/185443071-d4eb70ec-023

[2022-08-20 13:35] noman2002 opened #1347 "Feature Request: Member Management Feature through mobile app"
**Is your feature request related to a problem? Please describe.**
Add feature for accepting and declining membership request from the app.

**Describe the solution you'd like**
Having a screen which is only visible to admin to where they can see pending requests and then accept and decline it.

[2022-08-21 17:13] guptapriyanshu7 commented on #1243
@palisadoes Please assign this to me.

[2022-08-21 17:13] guptapriyanshu7 commented on #1239
@palisadoes Please assign this to me.

[2022-08-21 17:13] guptapriyanshu7 commented on #1240
@palisadoes Please assign this to me.

[2022-09-07 13:56] vedantkulkarni commented on #1294
Hi can I work on this one?

[2022-09-11 15:09] #1341 closed

[2022-09-11 15:09] #1239 closed

[2022-09-11 15:11] #1243 closed

[2022-09-19 19:06] #1240 closed

[2022-09-19 19:07] #1337 closed

[2022-10-18 22:47] #1346 closed

[2022-11-12 02:41] DevChoganwala commented on #1242
@palisadoes If this issue still needs help, I can help!